<h1 class="news-heading">Campus Life</h1>

<p class="drop-down-nav">
  As an undergraduate student at the University of Wisconsin Oshkosh, college life goes far beyond the classroom.
</p>

<p class="drop-down-nav">
  Whether you play on an athletic team, attend plays and concerts, or take advantage of service learning and career-building activities, it's easy to get involved.
</p>

<p class="drop-down-nav">
  If you live on campus, your residence hall will become your home away from home, and you will make friends with people from all over the world.
</p>

<p class="drop-down-nav">
  If you commute to campus, make <a href="http://reeve.uwosh.edu/">Reeve Memorial Union</a> your gathering spot. Grab a cup of coffee or a smoothie from <a href="http://reeve.uwosh.edu/places-reeve/mitaza-coffeehouse">Mi Taza</a> or stake a claim on a comfortable couch in the commuter lounge or the <a href="http://reeve.uwosh.edu/places-reeve/titan-underground">Titan Underground</a>.
</p>

<p class="drop-down-nav">
  At UW&nbsp;Oshkosh, you can:
  <ul class="custom-bullets">
    <li>Join the University's nationally recognized <a href="http://www.uwosh.edu/model_UN/">Model United Nations</a> team.</li>
    <li>Participate in <a href="http://www.uwosh.edu/sustainability">sustainable practices</a>, alongside the University's efforts.</li>
    <li>Write for UW&nbsp;Oshkosh's award-winning student paper, the <a href="http://www.advancetitan.com/"><em>Advance-Titan</em></a>.</li>
    <li>Attend a Titan sporting event at the <a href="http://www.uwoshkoshtitans.com">Oshkosh Sports Complex</a>.</li>
    <li>Join a <a href="https://uwosh.collegiatelink.net/">student organization</a>.</li>
    <li>Become a member of a <a href="http://reeve.uwosh.edu/involvement/greek-life">fraternity or sorority</a>.</li>
    <li>Play for an <a href="http://recreation.uwosh.edu/intramural-sports">intramural</a> or <a href="http://www.uwoshkoshtitans.com/">Division III</a> athletic team.</li>
    <li>Attend a campus wide concert or <a href="http://www.uwosh.edu/today/events">event</a>.</li>
    <li>Help your community by taking part in Titan Volunteer.</li>
    <li>Take part in countless other opportunities.</li>
  </ul>
</p>
