<h3 class="news-heading">Classroom Research</h3>

<h4>College of Business</h4>
<p class="drop-down-nav">
  Coming soon.
</p>

<h4>College of Education and Human Services</h4>
<p class="drop-down-nav">
  Coming soon.
</p>

<h4>College of Letters and Science</h4>
<p class="drop-down-nav">
  Coming soon.
</p>

<h4>College of Nursing</h4>
<p class="drop-down-nav">
  For more information, <a href="../../con/college-of-nursing-research-center/research-center">visit the College of Nursing Research Center website</a>.
</p>

<h4>Main Contact:</h4>
<p class="drop-down-nav">
  <ul><li>Jaya Jambunathan<br />Research &amp; Evaluation Director<br />Assistant Dean<br />Phone: (920) 424-1274&nbsp;<br />Email: <a class="external-link" href="mailto:jambu@uwosh.edu">jambu@uwosh.edu</a></li></ul>
</p>
