/* Custom Variables */
/* Custom Styles */
/* line 22, ../_sass/custom.scss */
body {
  background-image: url("../img/parts/gradientyellow.png");
  background-repeat: repeat-x;
  background-position-y: 56px;
  font-size: 13px;
  color: #444444;
  font-family: "Open Sans", arial, sans-serif;
}

/* line 31, ../_sass/custom.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", arial, sans-serif;
}

/* line 35, ../_sass/custom.scss */
.university-nav .navbar-nav > li > a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

/* line 41, ../_sass/custom.scss */
.wordmark {
  margin-left: -18px;
  margin-top: -14px;
}

/* line 47, ../_sass/custom.scss */
.audience-nav a {
  color: #444444;
}

/* line 52, ../_sass/custom.scss */
.event-calendar {
  border: 1px solid #b0b0b0;
  box-shadow: 1px 1px 5px #999;
}

/* line 56, ../_sass/custom.scss */
.event-month {
  width: 64px;
  height: 24px;
  background-color: #0077ad;
  color: #fff;
  text-align: center;
}

/* line 63, ../_sass/custom.scss */
.event-day {
  width: 64px;
  height: 40px;
  color: #444444;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

/* line 72, ../_sass/custom.scss */
.category {
  font-size: 13px;
  color: #b0b0b0;
  font-weight: 600;
}

/* line 78, ../_sass/custom.scss */
.news-heading {
  font-size: 18px;
  color: #444444;
  font-weight: 600;
}

/* line 84, ../_sass/custom.scss */
.panel {
  height: 410px;
  box-shadow: 1px 1px 5px #999;
  border-top: 3px solid;
  background: #fff;
}

/* line 90, ../_sass/custom.scss */
.panel-image {
  height: 189px;
}

/* line 99, ../_sass/custom.scss */
.panel.campus-news {
  border-top-color: #d79a27;
}

/* line 102, ../_sass/custom.scss */
.panel.research-news {
  border-top-color: #5a9664;
}

/* line 105, ../_sass/custom.scss */
.panel.powering-community {
  border-top-color: #69bad9;
}

/* line 108, ../_sass/custom.scss */
.panel.uwotw {
  border-top-color: #0077ad;
}

/* line 111, ../_sass/custom.scss */
.panel.meet-uwo {
  border-top-color: #c05600;
}

/* line 114, ../_sass/custom.scss */
.panel.twif {
  border-top-color: #fec425;
}

/* line 118, ../_sass/custom.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}

/* line 124, ../_sass/custom.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 132, ../_sass/custom.scss */
.visit-uwot {
  height: 32px;
  background-color: #69bad9;
  text-align: center;
  padding-top: 7px;
  color: #fff;
}

/* line 140, ../_sass/custom.scss */
.social-container {
  height: 320px;
  padding-top: 15px;
  background-color: #ededed;
}

/* line 145, ../_sass/custom.scss */
.social-icon {
  height: 24px;
}

/* line 149, ../_sass/custom.scss */
.tagline {
  height: 32px;
  font-size: emCalc(16);
  background-color: #444444;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
}

/* line 158, ../_sass/custom.scss */
.footer-container {
  height: 208px;
  background-color: #b0b0b0;
  color: #666666;
}
/* line 162, ../_sass/custom.scss */
.footer-container a {
  color: #666666;
}

/* line 166, ../_sass/custom.scss */
.app-icon {
  width: 32px;
  height: 32px;
}

/* line 170, ../_sass/custom.scss */
.wismap {
  width: 124px;
}
