/* Custom Variables */
/* Custom Styles */
/* line 22, ../_sass/custom.scss */
body {
  background-image: url("../img/parts/gradientyellow.png");
  background-repeat: repeat-x;
  background-position-y: 56px;
  font-size: 13px;
  color: #444444;
  font-family: "Open Sans", arial, sans-serif;
}

/* line 31, ../_sass/custom.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", arial, sans-serif;
}

/* line 35, ../_sass/custom.scss */
.university-nav .navbar-nav > li > a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

/* line 41, ../_sass/custom.scss */
.wordmark {
  margin-left: -18px;
  margin-top: -14px;
}

/* line 47, ../_sass/custom.scss */
.audience-row a {
  color: #444444;
}

/* line 52, ../_sass/custom.scss */
.audience-nav {
  margin-top: 62px;
}

/* line 56, ../_sass/custom.scss */
.uwo-search {
  margin-top: 18px;
}

/* line 60, ../_sass/custom.scss */
.cta {
  height: 48px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  padding-top: 3px;
  padding-left: 10px;
}

/* line 68, ../_sass/custom.scss */
.cta-visit {
  background-color: #69bad9;
}

/* line 71, ../_sass/custom.scss */
.cta-tour {
  background-color: #e68600;
}

/* line 74, ../_sass/custom.scss */
.cta-apply {
  background-color: #c05600;
}

/* line 78, ../_sass/custom.scss */
.event-calendar {
  border: 1px solid #b0b0b0;
  box-shadow: 1px 1px 5px #999;
}

/* line 82, ../_sass/custom.scss */
.event-month {
  width: 64px;
  height: 24px;
  background-color: #0077ad;
  color: #fff;
  text-align: center;
}

/* line 89, ../_sass/custom.scss */
.event-day {
  width: 64px;
  height: 40px;
  color: #444444;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

/* line 98, ../_sass/custom.scss */
.category {
  font-size: 13px;
  color: #b0b0b0;
  font-weight: 600;
}

/* line 104, ../_sass/custom.scss */
.news-heading {
  font-size: 18px;
  color: #444444;
  font-weight: 600;
}

/* line 110, ../_sass/custom.scss */
.panel {
  height: 410px;
  box-shadow: 1px 1px 5px #999;
  border-top: 3px solid;
  background: #fff;
}

/* line 116, ../_sass/custom.scss */
.panel-image {
  height: 189px;
}

/* line 125, ../_sass/custom.scss */
.panel.campus-news {
  border-top-color: #d79a27;
}

/* line 128, ../_sass/custom.scss */
.panel.research-news {
  border-top-color: #5a9664;
}

/* line 131, ../_sass/custom.scss */
.panel.powering-community {
  border-top-color: #69bad9;
}

/* line 134, ../_sass/custom.scss */
.panel.uwotw {
  border-top-color: #0077ad;
}

/* line 137, ../_sass/custom.scss */
.panel.meet-uwo {
  border-top-color: #c05600;
}

/* line 140, ../_sass/custom.scss */
.panel.twif {
  border-top-color: #fec425;
}

/* line 143, ../_sass/custom.scss */
.posted-date {
  font-size: 11px;
  color: #b0b0b0;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 150, ../_sass/custom.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
  text-align: center;
}

/* line 157, ../_sass/custom.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 165, ../_sass/custom.scss */
.visit-uwot {
  height: 32px;
  background-color: #69bad9;
  text-align: center;
  padding-top: 7px;
  color: #fff;
}

/* line 173, ../_sass/custom.scss */
.social-container {
  height: 320px;
  padding-top: 15px;
  background-color: #ededed;
}

/* line 178, ../_sass/custom.scss */
.social-icon {
  height: 24px;
}

/* line 182, ../_sass/custom.scss */
.tagline {
  height: 32px;
  font-size: emCalc(16);
  background-color: #444444;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
}

/* line 191, ../_sass/custom.scss */
.footer-container {
  height: 208px;
  background-color: #b0b0b0;
  color: #666666;
}
/* line 195, ../_sass/custom.scss */
.footer-container a {
  color: #666666;
}

/* line 199, ../_sass/custom.scss */
.app-icon {
  width: 32px;
  height: 32px;
}

/* line 203, ../_sass/custom.scss */
.wismap {
  width: 124px;
}

/******************************************************************
BESPOKE SLIDER STYLES
******************************************************************/
/* line 210, ../_sass/custom.scss */
#deck-container {
  position: relative;
}

/* line 211, ../_sass/custom.scss */
deck {
  position: relative;
}

/* line 212, ../_sass/custom.scss */
slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 218, ../_sass/custom.scss */
slide.bespoke-slide {
  -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
  transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

/* line 225, ../_sass/custom.scss */
slide.bespoke-active {
  opacity: 1;
  z-index: 1;
}

/* Classic Theme */
/* line 230, ../_sass/custom.scss */
.social-article {
  width: 288px;
}

/* line 234, ../_sass/custom.scss */
slide.bespoke-before {
  -webkit-transform: translate3d(-1920px, 0, 0);
  -moz-transform: translate3d(-1920px, 0, 0);
  -ms-transform: translate3d(-1920px, 0, 0);
  -o-transform: translate3d(-1920px, 0, 0);
  transform: translate3d(-1920px, 0, 0);
}

/* line 241, ../_sass/custom.scss */
slide.bespoke-before-2 {
  -webkit-transform: translate3d(-1280px, 0, 0);
  -moz-transform: translate3d(-1280px, 0, 0);
  -ms-transform: translate3d(-1280px, 0, 0);
  -o-transform: translate3d(-1280px, 0, 0);
  transform: translate3d(-1280px, 0, 0);
  opacity: 0.1;
}

/* line 249, ../_sass/custom.scss */
slide.bespoke-before-1 {
  -webkit-transform: translate3d(-640px, 0, 0);
  -moz-transform: translate3d(-640px, 0, 0);
  -ms-transform: translate3d(-640px, 0, 0);
  -o-transform: translate3d(-640px, 0, 0);
  transform: translate3d(-640px, 0, 0);
  opacity: 0.3;
}

/* line 257, ../_sass/custom.scss */
slide.bespoke-after {
  -webkit-transform: translate3d(1920px, 0, 0);
  -moz-transform: translate3d(1920px, 0, 0);
  -ms-transform: translate3d(1920px, 0, 0);
  -o-transform: translate3d(1920px, 0, 0);
  transform: translate3d(1920px, 0, 0);
}

/* line 264, ../_sass/custom.scss */
slide.bespoke-after-2 {
  -webkit-transform: translate3d(576px, 0, 0);
  -moz-transform: translate3d(576px, 0, 0);
  -ms-transform: translate3d(576px, 0, 0);
  -o-transform: translate3d(576px, 0, 0);
  transform: translate3d(576px, 0, 0);
  opacity: 0.4;
}

/* line 272, ../_sass/custom.scss */
slide.bespoke-after-1 {
  -webkit-transform: translate3d(288px, 0, 0);
  -moz-transform: translate3d(288px, 0, 0);
  -ms-transform: translate3d(288px, 0, 0);
  -o-transform: translate3d(288px, 0, 0);
  transform: translate3d(288px, 0, 0);
  opacity: 1.0;
}

/******************************************************************
END BESPOKE SLIDER STYLES
******************************************************************/
