<h1 class="news-heading">Learning Assistance Services</h1>

<ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-2 learn-grid">
  <li><a href="http://car.uwosh.edu/"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/CAR.png" alt="Center for Academic Resources" /></a></li>
  <li><a href="http://www.uwosh.edu/readingstudycenter"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/ReadingStudySkills.png" alt="Reading and Study Skills Center" /></a></li>
  <li><a href="http://writingcenter.uwosh.edu/"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/WritingCenter.png" alt="Writing Center" /></a></li>
  <li><a href="http://www.uwosh.edu/oie/iss/english-language-tutoring"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/EnglishTutoringLab.png" alt="English Language Tutoring" /></a></li>
  <li><a href="http://www.uwosh.edu/mathematics/resources/tutor-labs"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/MathLab.png" alt="Math Lab" /></a></li>
  <li><a href="http://www.uwosh.edu/mathematics/developmental-mathematics"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/DevMathLab.png" alt="Developmental Math Lab" /></a></li>
  <li class="hide-for-small"></li>
  <li><a href="{{ site.baseurl }}/academics/connect.html"><img src="{{ site.baseurl }}/img/academics/learning-assistance-services/AskAQuestion.png" alt="Ask a Question" /></a></li>
  <li></li>
  <li>
    <a href="http://www.uwosh.edu/car">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/CAR.png" alt="Center for Academic Resources" />
    </a>
  </li>
  <li>
    <a href="http://www.uwosh.edu/readingstudycenter">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/ReadingStudySkills.png" alt="Reading and Study Skills Center" />
    </a>
  </li>
  <li>
    <a href="http://www.uwosh.edu/wcenter">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/WritingCenter.png" alt="Writing Center" />
    </a>
  </li>
  <li>
    <a href="http://www.uwosh.edu/car/campus-recources">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/EnglishTutoringLab.png" alt="English Language Tutoring" />
    </a>
  </li>
  <li>
    <a href="http://www.uwosh.edu/mathematics/resources/tutor-labs">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/MathLab.png" alt="Math Lab" />
    </a>
  </li>
  <li>
    <a href="http://www.uwosh.edu/mathematics/developmental-mathematics">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/DevMathLab.png" alt="Developmental Math Lab" />
    </a>
  </li>
  <li>
    <a href="http://it.uwosh.edu/student-technology-center/">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/StudentTechnologyCenter.png" alt="Student Technology Center" />
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/academics/connect.html">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/AskAQuestion.png" alt="Ask a Question" />
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/oie/iss/english-language-tutoring">
      <img src="{{ site.baseurl }}/img/academics/learning-assistance-services/EnglishLanguageTutoring.png" alt="English Language Tutoring" />
    </a>
  </li>
</ul>
