<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/forward"><img src="{{ site.baseurl }}/img/audience-banners-global/audience-banner--forward.jpg" class="img-responsive audience-banner" alt="Photo of campus from above with the caption: Help us move UW Oshkosh Forward. Share your ideas at uwosh.edu/forward."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/today/37936/winter-2015-engage-magazine-intelligence-in-todays-society/"><img src="{{ site.baseurl }}/img/community-and-visitors/audience-banners/engage-winter-2015.jpg" class="img-responsive audience-banner" alt="Get more engaged with Engage. Download the free UW Oshkosh Magazines app today."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://uwosh.edu/theatre"><img src="{{ site.baseurl }}/img/community-and-visitors/audience-banners/boy-inside.jpg" class="img-responsive audience-banner" alt="The Boy Inside, February 18-22. Order tickets now."></a>
</div>
