<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/commencement/spring"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/commencement-may2014.jpg" class="img-responsive audience-banner" alt="Image of students in cap and gown."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwpowerswi.com"><img src="{{ site.baseurl }}/img/community-and-visitors/audience-banners/knowledge-powers-ad.jpg" class="img-responsive" alt="Knowledge Powers Wisconsin Workforce. Get involved and support UW."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/today/knowledge-powers-community/"><img src="{{ site.baseurl }}/img/community-and-visitors/audience-banners/uwot-ad.jpg" class="img-responsive" alt="Read UW Oshkosh today and sign up for our weekly e-newsletter."></a>
</div>
