<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/forward"><img src="{{ site.baseurl }}/img/audience-banners-global/audience-banner--forward.jpg" class="img-responsive audience-banner" alt="Photo of campus from above with the caption: Help us move UW Oshkosh Forward. Share your ideas at uwosh.edu/forward."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/theatre"><img src="{{ site.baseurl }}/img/community-and-visitors/audience-banners/winter-fringe-banner.jpg" class="img-responsive audience-banner" alt="2014-2015 Theatre Season. Winter Fringe. March 12-14. Order tickets now."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/career/students/events-workshops/career-fairs"><img src="{{ site.baseurl }}/img/current-students/audience-banners/cf_s15_university_banner-03.jpg" class="img-responsive audience-banner" alt="Career Fair on the Fox. March 3, 1-3 p.m."></a>
</div>
