<h3 class="news-heading intro-text">Community and Visitors</h3>

<p class="drop-down-nav intro-text">
  UW Oshkosh serves the community and surrounding region through a multitude of programs, services and partnerships. As an active leader in the community and economic development throughout Wisconsin, we welcome you to explore our innovative cultural, educational and inspirational offers. UW&nbsp;Oshkosh is impacting economic growth (<a href="http://www.uwpowerswi.com/">http://www.uwpowerswi.com/</a>), providing student volunteers (<a href="http://reeve.uwosh.edu/involvement/volunteerism">http://reeve.uwosh.edu/involvement/volunteerism</a>) and more.
</p>
