<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelAttendACampusEvent"><h3 class="panel__title">Attend a Campus Event</h3>
      <img src="{{ site.baseurl }}/img/communities-and-visitors/attend-a-campus-event.jpg" class="img-responsive panel__image"></a>
			<span class="panel__image__caption">Discover the vast array of activities and events at UW Oshkosh.</span>
      <div id="panelAttendACampusEvent" class="content panel__content">
        <ul>
          <li><a href="http://www.uwoshkoshtitans.com/landing/index">Athletics</a></li>
          <li><a href="http://www.uwosh.edu/fapa">Fine and Performing Arts</a></li>
          <li><a href="http://www.uwosh.edu/fallfest">Fall Fest on the Fox</a></li>
					<li><a href="http://www.uwosh.edu/homecoming">Homecoming</a></li>
          <li><a href="http://www.uwosh.edu/science_outreach/buckstaff-planetarium">Planetarium Shows</a></li>
          <li><a href="http://reeve.uwosh.edu/involvement/speaker-series">University Speaker Series</a></li>
					<li><a href="http://www.calendar.uwosh.edu/webevent.cgi?cmd=calmonth&ncmd=startup&cal=cal7">Calendar of Events</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>