<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelConferenceCateringServices"><h3 class="panel__title panel__title--small title-gradient">Utilize Facilities, Conference and Catering Services <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/conference-and-catering-services.jpg" class="img-responsive panel__image" alt=""></a>
			<p class="panel__image__caption body-content panel__teaser">Learn about facilities and technologies available for rent and how to reserve them.</p>
      <div id="panelConferenceCateringServices" class="content panel__content">
				<strong>Conference Facilities</strong><br>
				(Ballrooms, Break-Out/Meeting Rooms and Dining)
        <ul class="custom-bullets">
          <li><a href="http://reeve.uwosh.edu/reservations">Reeve Memorial Union</a></li>
          <li><a href="http://gcc.housing.uwosh.edu/">Gruenhagen Conference Center</a></li>
          <li><a href="http://www.uwosh.edu/home/community-and-visitors/community-and-visitors/campus-growth/welcome-and-conference-center">Alumni Welcome and Conference Center</a> (coming soon)</li>
					<li><a href="http://www.oshkoshwaterfronthotel.com/">Best Western Premier Waterfront Hotel &amp; Convention Center</a></li>
        </ul>
				<strong>Specialty Facilities</strong><br>
				(Please Note: Reservation requests must come from UW&nbsp;Oshkosh faculty or staff.)
				<ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/cob/community/sage-hall-meeting-rooms">Focus group rooms</a></li>
          <li><a href="http://www.uwosh.edu/lt/learning-spaces-support/directory-of-classrooms/show-all-classrooms">Classrooms and labs</a></li>
          <li><a href="http://www.uwosh.edu/lt/learning-spaces-support/classroom-technology-services">Classroom technology</a></li>
        </ul>
				<strong>Services</strong>
				<ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/llce/conted/conference-and-business-services">Conference and business planning services</a></li>
          <li><a href="http://reeve.uwosh.edu/reservations/catering">Catering services</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
