<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelHireATitan"><h3 class="panel__title title-gradient">Hire a Titan!</h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/hire-a-titan.jpg" class="img-responsive panel__image"></a>
			<span class="panel__image__caption">Hire UW Oshkosh students or alumni for your internship, part-time, full-time and volunteer opportunities.</span>
      <div id="panelHireATitan" class="content panel__content">
        <ul>
          <li>Looking for a student intern? <a href="http://www.uwosh.edu/career/employers">Hire a Titan!</a></li>
          <li>Looking for a part-time or full-time employee? <a href="http://www.uwosh.edu/career/employers">Hire a Titan!</a></li>
          <li>Need <a href="http://reeve.uwosh.edu/involvement/volunteerism/volunteerism-registration">Volunteers</a>?</li>
					<li><a href="http://www.uwosh.edu/career/employers/events-and-workshops/on-campus-interviewing">Recruit on campus</a>, or attend a <a href="http://www.uwosh.edu/career/students/events-workshops/career-fairs">Career Fair</a>.</li>
          <li><a href="http://www.uwosh.edu/bsc/for-businesses/internships">Student Placement Services</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>