<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelSolveAProblemWithResearch"><h3 class="panel__title panel__title--small title-gradient">Solve a Problem with Research <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/solve-a-problem-with-research.jpg" class="img-responsive panel__image"></a>
			<p class="panel__image__caption body-content panel__teaser">Experts in nearly all disciplines at UW Oshkosh are here to help with your research needs.</p>
      <div id="panelSolveAProblemWithResearch" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/bsc/for-businesses/market-insights/">Market Research</a></li>
          <li><a href="http://www.uwosh.edu/eric/water-testing">Water Testing</a></li>
          <li><a href="http://www.uwosh.edu/cob/sbdc/resources/2-Researching%20and%20Writing%20a%20Business%20Plan%20-%20Financial%20Assessment.pdf">Financial Analysis</a></li>
					<li><a href="http://www.uwosh.edu/bsc/survey-success-center/management-and-analysis/">Management Research</a></li>
          <li><a href="http://www.uwosh.edu/eric/request-services/request-services">Materials Testing</a></li>
          <li><a href="http://www.uwosh.edu/eric/biogas-testing/customized-research">Biological Research</a></li>
					<li><a href="{{ site.baseurl }}/community-and-visitors/classroom-research.html">Class research projects</a></li>
					<li><a href="http://www.uwosh.edu/imc/media-relations/newsroom/experts">Faculty and staff expertise</a></li>
					<li><a href="http://www.uwosh.edu/library/research">Library research</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
