<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelExploreEducationalOpportunities"><h3 class="panel__title">Explore Educational Opportunities</h3>
      <img src="{{ site.baseurl }}/img/communities-and-visitors/explore-educational-opportunities.jpg" class="img-responsive panel__image"></a>
			<span class="panel__image__caption">Take advantage of educational opportunities from youth programs through retirement at UW Oshkosh.</span>
      <div id="panelExploreEducationalOpportunities" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics">Academic degree programs</a></li>
          <li><a href="http://www.uwosh.edu/coehs/Grants">For teachers</a></li>
          <li><a href="http://www.uwosh.edu/con/college-of-nursing-research-center/research-center/">For nurses</a></li>
					<li><a href="http://www.uwosh.edu/llce/conted/pdp">Personal development</a></li>
          <li><a href="http://www.uwosh.edu/llce/cnl/programs/certificates">Certificate programs</a></li>
          <li><a href="http://wfbf.uwosh.edu/Assets/basics.php">Family business education</a></li>
					<li><a href="http://www.uwosh.edu/cob/graduate/professional-development-series">MBA professional development courses</a></li>
          <li><a href="http://www.uwosh.edu/bsc/training-classes/Mobile%20App%20Development/Design%20Basics%20for%20Business">Mobile app development courses</a></li>
        </ul>
				<strong>Youth programs</strong>
				<ul>
          <li><a href="http://www.uwosh.edu/llce/conted/youth/act-test-prep/act-test-prep-course-2009">ACT Prep Course</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted/youth/fire-science-camps/2009-fire-science-camps">Fire Science Camps</a></li>
          <li><a href="http://www.uwosh.edu/precollege">Precollege programs</a></li>
					<li><a href="http://www.uwoshkoshsportscamps.com/">Sports Camps</a></li>
          <li><a href="http://www.uwosh.edu/coehs/fvwp/fox-valley-writing-project/">Writing programs</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted/wisconsin-youth-leadership-academy">Wisconsin Youth Leadership Academy</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>