<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelHireATitan"><h3 class="panel__title panel__title--small title-gradient">Hire a Titan! <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/hire-a-titan.jpg" class="img-responsive panel__image" alt=""></a>
			<p class="panel__image__caption body-content panel__teaser">Hire UWO students, alumni for internship, part-/full-time and volunteer opportunities.</p>
      <div id="panelHireATitan" class="content panel__content">
        <ul class="custom-bullets">
          <li>Looking for a student intern? <a href="http://www.uwosh.edu/career/employers">Hire a Titan!</a></li>
          <li>Looking for a part-time or full-time employee? <a href="http://www.uwosh.edu/career/employers">Hire a Titan!</a></li>
          <li>Need <a href="http://reeve.uwosh.edu/involvement/volunteerism/volunteerism-registration">Volunteers</a>?</li>
					<li><a href="http://www.uwosh.edu/career/employers/events-and-workshops/on-campus-interviewing">Recruit on campus</a>, or attend a <a href="http://www.uwosh.edu/career/students/events-workshops/career-fairs">Career Fair</a>.</li>
          <li><a href="http://www.uwosh.edu/bsc/for-businesses/internships">Student placement services</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
