<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelStartABusiness"><h3 class="panel__title">Start a Business</h3>
      <img src="{{ site.baseurl }}/img/communities-and-visitors/start-a-business.jpg" class="img-responsive panel__image"></a>
			<span class="panel__image__caption">If you are thinking about starting a business and are seeking assistance, UW Oshkosh has several programs to help you.</span>
      <div id="panelStartABusiness" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/cob/sbdc/resources">Learn about starting a business</a></li>
          <li><a href="http://www.uwosh.edu/bsc/for-businesses/market-insights">Market research</a></li>
          <li><a href="http://www.uwosh.edu/bsc/for-businesses/training-and-development">Customized training</a></li>
					<li><a href="http://www.uwosh.edu/cob/sbdc/resources">New product assessment</a></li>
          <li><a href="http://www.uwosh.edu/cob/sbdc">Management counseling, financing and entrepreneurship</a></li>
          <li><a href="http://wfbf.uwosh.edu/">Family business assistance</a></li>
					<li><a href="http://www.aeroinnovate.org/about_us/">Aeroinnovate</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>