<div class="panel">
  <dl>
    <dd>
      <a href="{{ site.baseurl }}/community-and-visitors/explore-educational-opportunities.html"><h3 class="panel__title panel__title--small title-gradient">Explore Educational Opportunities <i class="fa fa-arrow-right right clickable"></i></h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/explore-educational-opportunities.jpg" class="img-responsive panel__image"></a>
			<p class="panel__image__caption body-content panel__teaser">Take advantage of educational opportunities from youth programs through retirement.</p>
      <div id="panelExploreEducationalOpportunities" class="content panel__content">
      </div>
    </dd>
  </dl>
</div>
