<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelSupportAndResources"><h3 class="panel__title panel__title--small title-gradient">Support and Resources for Your Organization/Business</h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/support-and-resources.jpg" class="img-responsive"></a>
			<p class="panel__image__caption body-content panel__teaser">We can help with customized training for staff, consulting about organization issues and more.</p>
      <div id="panelSupportAndResources" class="content panel__content">
        <ul>
          <li><a href="http://wfbf.uwosh.edu/">Family business assistance</a></li>
          <li><a href="http://www.uwosh.edu/bsc/for-businesses">Applied research, surveys and consultation</a></li>
          <li><a href="http://www.uwosh.edu/cob/sbdc">Management counseling, financing and entrepreneurship</a></li>
					<li><a href="http://www.uwosh.edu/ccdet">Quality assurance, case and project management</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted/conference-and-business-services">Conference and business planning services</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted/pdp">Professional development for individual business professionals</a></li>
					<li><a href="http://www.uwosh.edu/ccdet/our%20_services/training-2">Professional development for businesses seeking development for employees</a></li>
					<li><a href="http://www.uwosh.edu/bsc/for-businesses/training-and-development">Training and development</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
