<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelAttendACampusEvent"><h3 class="panel__title panel__title--small title-gradient">Attend a Campus Event <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/attend-a-campus-event.jpg" class="img-responsive panel__image"></a>
			<p class="panel__image__caption body-content panel__teaser">Discover the vast array of activities and events open to the community at UW&nbsp;Oshkosh</p>
      <div id="panelAttendACampusEvent" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwoshkoshtitans.com/landing/index">Athletics</a></li>
          <li><a href="http://www.uwosh.edu/fapa">Fine and Performing Arts</a></li>
          <li><a href="http://www.uwosh.edu/fallfest">Fall Fest on the Fox</a></li>
					<li><a href="http://www.uwosh.edu/homecoming">Homecoming</a></li>
          <li><a href="http://www.uwosh.edu/science_outreach/buckstaff-planetarium">Planetarium Shows</a></li>
          <li><a href="http://reeve.uwosh.edu/involvement/speaker-series">University Speaker Series</a></li>
					<li><a href="http://www.uwosh.edu/today/events/">Calendar of Events</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
