<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelConferenceCateringServices"><h3 class="panel__title">Utilize Facilities and Conference and Catering Services</h3>
      <img src="{{ site.baseurl }}/img/communities-and-visitors/conference-and-catering-services.jpg" class="img-responsive panel__image"></a>
			<span class="panel__image__caption">Learn about facilities and technologies available for rent and how to reserve them.</span>
      <div id="panelConferenceCateringServices" class="content panel__content">
				<strong>Conference Facilities</strong><br>
				(Ballrooms, Break-Out/Meeting Rooms and Dining)
        <ul>
          <li><a href="http://reeve.uwosh.edu/reservations">Reeve Memorial Union</a></li>
          <li><a href="http://gcc.housing.uwosh.edu/">Gruenhagen Conference Center</a></li>
          <li><a href="http://www.uwosh.edu/home/community-and-visitors/community-and-visitors/campus-growth/welcome-and-conference-center">Alumni Welcome and Conference Center</a> (coming soon)</li>
					<li><a href="http://www.oshkoshwaterfronthotel.com/">Oshkosh Premier Waterfront Hotel and Convention Center</a></li>
        </ul>
				<strong>Specialty Facilities</strong><br>
				(Please Note: Reservation requests must come from UW Oshkosh faculty or staff.)
				<ul>
          <li><a href="mailto:wildp@uwosh.edu">Focus group rooom</a></li>
          <li><a href="mailto:rmsched@uwosh.edu">Classrooms and labs</a></li>
          <li><a href="http://www.uwosh.edu/home/community-and-visitors/lt/learning-spaces-support/directory-of-classrooms">Classroom technology</a></li>
        </ul>
				<strong>Services</strong>
				<ul>
          <li><a href="http://www.uwosh.edu/llce/conted/conference-and-business-services">Conference and business planning services</a></li>
          <li><a href="http://reeve.uwosh.edu/reservations/catering">Catering services</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>