<ul class="side-nav">
	<li>Explore and Visit Campus</li>
	<li><a href="{{ site.baseurl/about-uw-oshkosh">About UW Oshkosh</a></li>
	<li><a href="http://www.uwosh.edu/today"><em>UW Oshkosh Today</em></a></li>
	<li><a href="http://www.uwosh.edu/map/main/">Virtual Campus Tour</a></li>
	<li><a href="http://www.uwosh.edu/map">Maps and Directions</a></li>
	<li><a href="http://www.uwosh.edu/parking">Parking Services</a></li>
	<li><a href="http://www.hotels-rates.com/hotels/locations/Oshkosh/WI/usa/1753/#vip&notus=UW%2520Oshkosh">Accommodations</a></li>
</ul>