<h2 class="news-heading">Additional Move-in Weekend Information</h1>

<p class="drop-down-nav"><b>Parking</b></p>
<p class="drop-down-nav">There are designated parking lots for cars and trucks to go to after unloading a student’s belongings. Any vehicle that is left unattended in the loading zone will be towed. There will be directions to parking lots for vehicles to go to after unloading given from designated officials.</p>

<p class="drop-down-nav"><b>Move in dates</b></p>
<p class="drop-down-nav">New Students: Residence halls open at 9 a.m. on (move-in date) and please come at your designated time as scheduled to maintain a stress-free and smooth move-in day.</p>

<p class="drop-down-nav">Returning Students can move in before Sept. 1 by filling out this early move-in request. All residence halls open at 9 a.m. on (move-in date).</p>

<h2 class="news-heading" id="what-to-bring">What to Bring</h2>
<ul>
  <li>Bath supplies
    <ul>
      <li>Shower bucket</li>
      <li>Toiletries</li>
      <li>Towel</li>
      <li>Robe</li>
      <li>Shower shoes</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Bed supplies
    <ul>
      <li>Twin extra long bed sheets</li>
      <li>Pillows</li>
      <li>Blankets</li>
      <li>Mattress pad</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Miscellaneous Supplies
    <ul>
      <li>Alarm clock</li>
      <li>Storage space savers (i.e. crates)</li>
      <li>Iron / ironing board</li>
      <li>Vacuums</li>
      <li>Rent a Loft (available at <a href="www.collegeproducts.com/uwosh">collegeproducts.com/uwosh</a>)</li>
      <li>Futon / Lounging Furniture (available at <a href="www.collegeproducts.com/uwosh">collegeproducts.com/uwosh</a>)</li>
      <li>Electronics</li>
      <li>Computer</li>
      <li>Stereo</li>
      <li>TV</li>
      <li>DVD / Blu-ray player</li>
      <li>Gaming console</li>
      <li>Cable cord</li>
      <li>Ethernet cord</li>
      <li>Power strips that have a surge protector</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Laundry items
    <ul>
      <li>Hamper / Basket</li>
      <li>Detergent</li>
      <li>Hangers</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Kitchen items
    <ul>
      <li>Dishes (bowls, plates, ect.)</li>
      <li>Utensils (forks, spoons, ect.)</li>
      <li>Dish soap</li>
      <li>Dish towel</li>
    </ul>
  </li>
</ul>



<h2 class="news-heading">What to Leave at Home</h2>
<ul>
  <li>Alcohol</li>
  <li>Animals other than fish</li>
  <li>Octopus Plug and extension cords (We recommend power strips that have a surge protector.)</li>
  <li>Candles and Incense</li>
  <li>Halogen lamps</li>
  <li>Nails</li>
  <li>Tape or sticky tack to hang posters</li>
  <li>Pressurized lofts: only free-standing lofts that are easily movable are allowed for maintenance purposes</li>

  <li><b>No homemade lofts are allowed in:</b>
    <ul>
      <li>Fletcher Hall</li>
      <li>North Scott</li>
      <li>South Scott</li>
      <li>South Gruenhagen</li>
      <li>Taylor Hall</li>
    </ul>
  </li>

  <li><b>Various appliances</b>
    <ul>
      <li>Any appliance with open coils</li>
      <li>toasters</li>
      <li>George Foreman grills</li>
      <li>pizza ovens</li>
    </ul>
  </li>
</ul>
