<h1 class="news-heading">Move-in Weekend</h1>

<h4></h4>
<p class="drop-down-nav">
</p>

<h1 class="news-heading intro-text">Welcome to the University of Wisconsin Oshkosh!</h1>

<p class="drop-down-nav intro-text">
  We are here to help make your Move-in Day be safe and stress-free.
</p>

<p class="drop-down-nav intro-text">
  Here’s what you can expect to find here: 
</p>
<ul>
<li><a>Updates at uwosh.edu:</a> Whether you are a new or returning student, our <a href="http://www.uwosh.edu">University homepage</a> will feature easy-to-spot Move-In links to help get you up-to-date information from our <a href="http://www.housing.uwosh.edu/">Department of Residence Life</a>.</li>
<li><a>Online maps:</a> There are recommended routes developed to help get you safely and smoothly from home to your residence hall’s front door.</li>
<li><a>Facebook posts:</a> Be sure to “Like” our UW Oshkosh Facebook page and stay up to speed on tips and suggestions from the University and the hundreds of other students, parents, faculty, staff and alumni who, likewise, like us.</li>
<li><a>Live Twitter updates:<a/> Follow us @uwoshkosh for real-time traffic, parking and Move-In Day information. We are already starting the conversation, sharing useful links and helpful tips with our followers. We have even set up a special Move-In Day hashtag — #uwomove.</li>

<p class="drop-down-nav intro-text">
  Travel safely. We look forward to seeing you at UW Oshkosh this semester!
</p>



 
<ul id="footerLinks" class="no-bullet">
               
                  <li><a href="http://www.uwosh.edu/career/" class="footerCareer">Career Services</a></li>
                  <li><a href="http://uwosh.edu/go/directions" target="_blank" class="footerDirections">Get Directions</a></li>
                  <li><a href="http://www.uwosh.edu/foundation/support-uw-oshkosh" class="footerGive">Give to UW Oshkosh</a></li>
                  <li><a href="http://www.uwosh.edu/imc/media-relations" class="footerMedia">Media Relations</a></li>
                  <li><a href="http://www.uwosh.edu/usp" class="footerUSP">University Studies Program</a></li>
                  <li><a href="http://www.uwosh.edu/hr/why-work-at-uwo" class="footerWork">Work at UW Oshkosh</a></li>
                </ul>



