<h1 class="news-heading">Move-in Weekend</h1>

<h1 class="news-heading intro-text">Welcome to the University of Wisconsin Oshkosh!</h1>

<p>
  We are here to help make your Move-in Day be safe and stress-free.
</p>

<p>
  <b>Here’s what you can expect to find here: </b>
</p>
<ul>
<li><b>Updates at uwosh.edu:</b> Whether you are a new or returning student, our <a href="http://www.uwosh.edu">University homepage</a> will feature easy-to-spot Move-In links to help get you up-to-date information from our <a href="http://www.housing.uwosh.edu/">Department of Residence Life</a>.</li>
<li><b>Online maps:</b> There are recommended routes developed to help get you safely and smoothly from home to your residence hall’s front door.</li>
<li><b>Facebook posts:</b> Be sure to “Like” our <a href="https://www.facebook.com/uwoshkosh">UW Oshkosh Facebook page</a> and stay up to speed on tips and suggestions from the University and the hundreds of other students, parents, faculty, staff and alumni who, likewise, like us.</li>
<li><b>Live Twitter updates:</b> Follow us <a href="https://twitter.com/uwoshkosh">@uwoshkosh</a> for real-time traffic, parking and Move-In Day information. We are already starting the conversation, sharing useful links and helpful tips with our followers. We have even set up a special Move-In Day hashtag — #uwomove.</li>

<p>
  Travel safely. We look forward to seeing you at UW Oshkosh this semester!
</p>