<h1 class="news-heading">Stewart Hall</h1>

<h1 class="news-heading intro-text">Move-in Day Unloading Pass</h1>

<p>Every student will be mailed one unloading pass that corresponds to their residence hall in mid August. This unloading pass needs to be displayed on your rear view mirror as you enter the unloading zone for your building. We will have staff available to help you unload your vehicle. Once your vehicle is unloaded you will need to move it to a permanent parking space. Any cars left unattended in the loading zone will be towed!
</p>
<p>
  <b>Move-in Day Schedule</b>
</p>
<p>The residence halls will open at 9 a.m. When you arrive on campus, go directly to your assigned hall and follow the signs to the check-in area. Please look at the maps to the right for parking and move-in routes. Check-in day is a little hectic with traffic, parking, luggage and people. To relieve some congestion, we need you to arrive on campus using the following schedule:</p>
<ul>
<li><b>9 - 10:30 a.m.: 4th floor</li>
<li><b>10:30 a.m. - Noon: 3rd floor</li>
<li><b>Noon - 1:30 p.m.:  2nd floor</li>
<li><b>1:30 - 3 p.m.: 1st floor</li>
<p>
  We encourage parents to say goodbye and start heading home by 4 p.m. so that new students can get ready for orientation activities, beginning with their first floor meeting.
</p>