<h2 class="news-heading">Where to Check-in</h1>

<h3 class="news-heading">Checking-in on Move-in Day</h1>

<p class="drop-down-nav">The residence halls will open at 9 a.m. When you arrive on campus, go directly to your assigned hall and follow the signs to the check-in area. Please look at the maps to the right for parking and move-in routes. Check-in day is a little hectic with traffic, parking, luggage and people. View the Move-in Day schedule for your residence hall:</p>
<ul>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/donner-hall.html">Donner Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/evans-hall.html">Evans Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/fletcher-hall.html">Fletcher Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/horizon-village.html">Horizon Village</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/north-scott-hall.html">North Scott Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/south-gruenhagen-hall.html">South Gruenhagen Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/south-scott-hall.html">South Scott Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/stewart-hall.html">Stewart Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/taylor-hall.html">Taylor Hall</a></li>
<li><a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/webster-hall.html">Webster Hall</a></li>
</ul>
