<h3 class="news-heading">Explore Educational Opportunities</h3>
<p class="drop-down-nav"><strong>Educational opportunities at UW Oshkosh go beyond degree programs. </strong></p>
<p class="drop-down-nav">Take advantage of educational opportunities for youth, working professionals and community members.</p>
<h4>Conferences and Workshops</h4>
<p class="drop-down-nav">UW Oshkosh offers a variety of conferences and workshops for developing hard and soft skills.</p>
<ul><li><a class="external-link" href="../../../llce/conted/pdp">Personal development</a></li><li><a class="external-link" href="../../../bsc/training-classes/Mobile%20App%20Development/Design%20Basics%20for%20Business">Mobile app development classes</a></li><li><a class="external-link" href="../../../bsc/training-classes/design-basics-for-business">Design Basics for Businesses</a><br /></li></ul>
<h4>Continuing Education for Professionals</h4>
<p class="drop-down-nav">Remain current in your field through continuing education and professional development opportunities at UW Oshkosh.</p>
<ul><li><a class="external-link" href="http://wfbf.uwosh.edu/Assets/basics.php">Family business education</a></li><li><a class="external-link" href="../../../cob/graduate/professional-development-series">MBA professional development courses</a></li><li><a class="external-link" href="../../../coehs/Grants">For teachers</a></li><li><a class="external-link" href="../../../con/college-of-nursing-research-center/research-center/">For nurses</a></li></ul>
<div>
<h4>Credit and Noncredit Certificates</h4>
</div>
<p class="drop-down-nav">Credit and noncredit certificates are available at UW Oshkosh for individuals or cohort groups.</p>
<ul><li><a class="external-link" href="../../../llce/cnl/programs/certificates">Academic Certificate Programs</a></li><li><a class="external-link" href="../../../gradstudies/certificate-and-degree-programs">Graduate Certificate Programs</a></li><li><a class="external-link" href="../../../llce/conted/certificate-programs">Professional Skills Certificate Programs</a></li><li><a class="external-link" href="http://wfbf.uwosh.edu/Assets/FBE.php">Family Business Education Certificate</a><br /></li></ul>
<div>
<h4>Customized Training</h4>
</div>
<p class="drop-down-nav">Use UW Oshkosh to help you solve your organization training needs. Customized training programs are available in credit and noncredit options.</p>
<ul><li><a class="external-link" href="../../../ccdet/our-services/training">Customized training</a></li><li><a class="external-link" href="../../../bsc/for-businesses/training-and-development">Customized training by topic</a><br /></li></ul>
<h4>Youth programs and camps</h4>
<p class="drop-down-nav">UW Oshkosh offers youth programs across several academic and career disciplines.</p>
<ul><li><a class="external-link" href="../../../llce/conted/youth/act-test-prep/act-test-prep-course-2009">ACT Prep Course</a></li><li><a class="external-link" href="../../../llce/conted/youth/fire-science-camps/2009-fire-science-camps">Fire Science Camps</a></li><li><a class="external-link" href="../../../precollege">Precollege programs</a></li><li><a class="external-link" href="http://www.uwoshkoshsportscamps.com/">Sports Camps</a></li><li><a class="external-link" href="../../../coehs/fvwp/fox-valley-writing-project/">Writing programs</a></li><li><a class="external-link" href="../../../llce/conted/wisconsin-youth-leadership-academy">Wisconsin Youth Leadership Academy</a></li><li><a class="external-link" href="../../../science_outreach/">Science Programs&nbsp; </a></li></ul>
