---
layout: default
title: Mission, Vision and Core Values
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
		<li><a href="http://www.uwosh.edu/foundation/news-and-announcements/support-uw-oshkosh/online-giving">Donate</a></li>
    <li class="off-canvas__label">About UW&nbsp;Oshkosh</li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/history-of-uw-oshkosh.html">History of UW Oshkosh</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/fast-facts.html">Fast Facts</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/points-of-pride.html">Points of Pride</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/mission-vision-and-core-values.html">Mission, Vision and Core Values</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/collaboration-and-partnerships.html">Collaboration and Partnerships</a></li>
    <li><a href="http://www.uwosh.edu/strategicplan/">Annual Report</a></li>
    <li><a href="http://www.uwosh.edu/map/main">Campus Tour</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/contact-uw-oshkosh.html">Contact UW Oshkosh</a></li>
    <li class="off-canvas__label">Related Links</li>
    <li><a href="http://www.uwosh.edu/resources">Resources</a></li>
    <li><a href="http://www.uwosh.edu/maps">Maps/Directions</a></li>
    <li><a href="http://www.uwosh.edu/admissions/visit">Visit Campus</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">

    <a href="{{ site.baseurl }}/about-uw-oshkosh">
      <div class="page-banner page-banner--orange">
        <h2 class="page-banner__title">About UW&nbsp;Oshkosh</h2>
      </div>
    </a>

  </div>
</div>

<div class="row content">

  <div class="large-5 columns right-rule padding-right-0 show-for-large-up">
    {% include about-uw-oshkosh/side-nav.html %}
    {% include social-icons.html %}
    {% include news-announcements-cta.html %}
  </div>

  <div class="large-14 columns">
    <nav class="breadcrumbs breadcrumbs--internal breadcrumbs--about">
      <a href="{{site.baseurl}}">Home</a>
      <a href="{{site.baseurl}}/about-uw-oshkosh">About UW&nbsp;Oshkosh</a>
      <a href="#" class="current">{{ page.title }}</a>
    </nav>
    {% include about-uw-oshkosh/mission-vision-and-core-values/lead-content.html %}
  </div>

  <div class="large-5 columns">
    <a href="{{ site.baseurl }}/about-uw-oshkosh/accreditation.html">
      <div class="cta cta--dark-green">
        <img src="{{ site.baseurl }}/img/icons/icon-award-ribbon.png" class="cta__icon cta__icon-award-ribbon"> <span class="cta__text">Accreditation</span>
      </div>
    </a>
    <a href="{{ site.baseurl }}/about-uw-oshkosh/fast-facts.html">
      <div class="cta cta--orange">
        <img src="{{ site.baseurl }}/img/icons/icon-graph.png" class="cta__icon cta__icon-graph"> <span class="cta__text">Fast Facts</span>
      </div>
    </a>
    <a href="{{ site.baseurl }}/about-uw-oshkosh/points-of-pride.html">
      <div class="cta cta--yellow">
        <img src="{{ site.baseurl }}/img/icons/icon-pointer-star.png" class="cta__icon cta__icon-pointer-star"> <span class="cta__text">Points of Pride</span>
      </div>
    </a>
    <a href="http://www.uwosh.edu/strategicplan">
      <div class="cta cta--blue">
        <img src="{{ site.baseurl }}/img/icons/icon-pencil-w-notebook.png" class="cta__icon cta__icon-pencil-w-notebook"> <span class="cta__text">Strategic Plan</span>
      </div>
    </a>
  </div>

</div>
