---
layout: default
title: Points of Pride
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
		<li><a href="http://www.uwosh.edu/foundation/news-and-announcements/support-uw-oshkosh/online-giving">Donate</a></li>
    <li class="off-canvas__label">About UW&nbsp;Oshkosh</li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/history-of-uw-oshkosh.html">History of UW Oshkosh</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/fast-facts.html">Fast Facts</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/points-of-pride.html">Points of Pride</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/mission-vision-and-core-values.html">Mission, Vision and Core Values</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/collaboration-and-partnerships.html">Collaboration and Partnerships</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/the-college-portrait.html">The College Portrait</a></li>
    <li><a href="http://www.uwosh.edu/strategicplan/">Annual Report</a></li>
    <li><a href="http://www.uwosh.edu/map/main">Campus Tour</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/contact-uw-oshkosh.html">Contact UW Oshkosh</a></li>
    <li class="off-canvas__label">Related Links</li>
    <li><a href="http://www.uwosh.edu/resources">Resources</a></li>
    <li><a href="http://www.uwosh.edu/maps">Maps/Directions</a></li>
    <li><a href="http://www.uwosh.edu/admissions/visit">Visit Campus</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">

    <a href="{{ site.baseurl }}/about-uw-oshkosh">
      <div class="page-banner page-banner--orange">
        <h2 class="page-banner__title">About UW&nbsp;Oshkosh</h2>
      </div>
    </a>

  </div>
</div>

<div class="row content">

  <div class="large-5 columns right-rule padding-right-0 show-for-large-up">
    {% include about-uw-oshkosh/side-nav.html %}
    {% include social-icons.html %}
    {% include news-announcements-cta.html %}
  </div>

  <div class="large-14 columns">
    <nav class="breadcrumbs breadcrumbs--internal breadcrumbs--about">
      <a href="{{site.baseurl}}">Home</a>
      <a href="{{site.baseurl}}/about-uw-oshkosh">About UW&nbsp;Oshkosh</a>
      <a href="#" class="current">{{ page.title }}</a>
    </nav>
    {% include points-of-pride.html %}
  </div>

  <div class="large-5 columns">
    <a href="http://www.uwosh.edu/admissions/visit">
      <div class="cta cta--orange">
        <span class="cta__text">Student Policies</span>
      </div>
    </a>
    <a href="http://www.uwosh.edu/admissions/visit">
      <div class="cta cta--dark-orange">
        <span class="cta__text">General Education</span>
      </div>
    </a>
    {% include my-uwo.html %}
    <br>
    <br>
    {% include titan-alert.html %}
  </div>

</div>
