---
layout: default
title: Administration
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
		
  </ul>
</aside>
'
---

<div class="row">
  <div class="small-24 columns">
    <div class="content">
      <div class="row">

        <div class="small-24 columns">
          <a class="btn btn--full btn--large-text btn--blue-dark btn--page-banner"href="{{ site.baseurl }}/administration">
            Administration
          </a>
        </div>

        <div class="large-16 columns">
          <nav class="breadcrumbs">
            <a href="{{site.baseurl}}">Home</a>
            <a href="#" class="current">Administration</a>
          </nav>
          <h1 class="news-heading intro-text">Administration</h1>
          <p class="drop-down-nav intro-text">
            Led by <a href="http://www.uwosh.edu/chancellor/about-the-chancellor">Chancellor Andrew Leavitt</a>, the University of Wisconsin Oshkosh&rsquo;s administration continues to deliver on its mission to provide high-quality, affordable and comprehensive education to the students and community.
          </p>

          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
            <li>{% include administration/panel-chancellor.html %}</li>
            <li>{% include administration/panel-university-advancement.html %}</li>
            <li>{% include administration/panel-academic-affairs.html %}</li>
            <li>{% include administration/panel-student-affairs.html %}</li>
            <li>{% include administration/panel-administrative-services.html %}</li>
            <!-- <li>{% include administration/panel-colleges.html %}</li> -->
            <li>{% include administration/panel-information-technology.html %}</li>
            <li>{% include administration/panel-llce.html %}</li>
            <li>{% include administration/panel-leadership-council.html %}</li>
            <!-- <li>{% include administration/panel-imc.html %}</li> -->
          </ul>
        </div>

        <div class="large-8 columns">
          <div class="row">
            <div class="large-24 columns">
              <a class="btn btn--full btn--medium-text btn--orange-light" href="http://www.uwosh.edu/stuaff/policies-procedures">
                Student Policies
              </a>
              <a class="btn btn--full btn--medium-text btn--orange-dark" href="http://www.uwosh.edu/usp">
                General Education
              </a>
            </div>
          </div>
          <div class="row">
            <div class="large-24 columns">
              {% include social-icons.html %}
              <ul class="no-bullet">
                <li>{% include titan-alert.html %}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
