<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/forward"><img src="{{ site.baseurl }}/img/audience-banners-global/audience-banner--forward.jpg" class="img-responsive audience-banner" alt="Photo of campus from above with the caption: Help us move UW Oshkosh Forward. Share your ideas at uwosh.edu/forward."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/usp"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/USP-banner.jpg" class="img-responsive audience-banner" alt="University Studies Program. Question. Explore. Connect. Learn more about revolutionary General Education at UW Oshkosh."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/theatre"><img src="{{ site.baseurl }}/img/audience-banners-global/tslab.jpg" class="img-responsive audience-banner" alt="Theatre production of These Shining Lives"></a>
</div>
