<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/forward"><img src="{{ site.baseurl }}/img/audience-banners-global/audience-banner--forward.jpg" class="img-responsive audience-banner" alt="Photo of campus from above with the caption: Help us move UW Oshkosh Forward. Share your ideas at uwosh.edu/forward."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/summer"><img src="{{ site.baseurl }}/img/audience-banners-global/summersession.jpg" class="img-responsive audience-banner" alt="Accelerate your degree with summer session options."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://theatre.uwosh.edu/"><img src="{{ site.baseurl }}/img/audience-banners-global/trifles-banner.jpg" class="img-responsive audience-banner" alt="Theatre production of Trifles"></a>
</div>
