<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelBuildingBetterCommunities"><h3 class="panel__title panel__title--small title-gradient">How We Are Building Better Communities <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{ site.baseurl }}/img/community-and-visitors/building-better-communities.jpg" class="img-responsive panel__image" alt=""></a>
			<p class="panel__image__caption body-content panel__teaser">UW&nbsp;Oshkosh is impacting economic growth, providing student volunteers and more.</p>
      <div id="panelBuildingBetterCommunities" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwpowerswi.com/">UW Powering Economic Growth</a></li>
          <li><a href="http://reeve.uwosh.edu/involvement/volunteerism">Student Volunteerism</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
