<div class="panel">
  <a href="{{ site.baseurl }}/community-and-visitors/access-support-and-resources-for-your-organization.html"><h3 class="panel__title panel__title--small title-gradient">Support and Resources for your Organization/Business <i class="fa fa-arrow-right right clickable"></i></h3>
  <img src="{{ site.baseurl }}/img/community-and-visitors/support-and-resources.jpg" class="img-responsive panel__image" alt=""></a>
  <p class="panel__image__caption body-content panel__teaser">We can help with customized training for staff, consulting about organization issues and more.</p>
</div>
