---
layout: default
title: Faculty and Staff
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up">
  <ul class="off-canvas-list">
    <li><label>Audience Nav</label></li>
    <li><a href="http://www.uwosh.edu/beta/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/beta/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/beta/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/community-and-visitors">Community and Visitors</a></li>
  </ul>
</aside>
'
---

<div class="content">
  <div class="row">
    <div class="large-24 columns">
      <div class="page-banner page-banner--dark-orange">
        <h2 class="page-banner__title">Faculty and Staff</h2>
      </div>
      <br>
    </div>
    <div class="large-16 columns">
      <img src="{{site.baseurl}}/img/faculty-and-staff/top-banner.jpg" class="img-responsive">
    </div>
    <div class="large-8 columns">
      <div class="row">
        <div class="large-24 small-12 columns">
          <a href="http://www.uwosh.edu/hr/employment/">
            <div class="cta cta--blue">
              <img src="{{ site.baseurl }}/img/icons/icon-file-folder.png" class="cta__icon cta__icon--file-folder"> <span class="cta__text">Current Openings</span>
            </div>
          </a>
        </div>
        <div class="large-24 small-12 columns">
          <a href="http://www.uwosh.edu/directory">
            <div class="cta cta--dark-green">
              <img src="{{ site.baseurl }}/img/icons/icon-directory.png" class="cta__icon cta__icon--directory"> <span class="cta__text">Campus Directory</span>
            </div>
          </a>
        </div>
      </div>
      <div class="row show-for-large-up">
        <div class="large-24 columns">
          <a href="http://emergency.uwosh.edu/?page_id=239"><img src="{{site.baseurl}}/img/titan-alert.jpg" alt="Sign up for TitanAlert." class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-16 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="#" class="current">Faculty and Staff</a>
      </nav>

      {% include faculty-and-staff/lead-content.html %}

      <div class="row">
        <div class="small-24 columns">
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            <li>{% include faculty-and-staff/panel-prospective-faculty-and-staff.html %}</li>
            <li>{% include faculty-and-staff/panel-campus-amenities.html %}</li>
            <li>{% include faculty-and-staff/panel-academics-and-research.html %}</li>
            <li>{% include faculty-and-staff/panel-about-uw-oshkosh.html %}</li>
            <li>{% include faculty-and-staff/panel-activities-and-events.html %}</li>
            <li>{% include faculty-and-staff/panel-stay-connected-to-uw-oshkosh.html %}</li>
            <li>{% include faculty-and-staff/panel-governance.html %}</li>
            <li>{% include faculty-and-staff/panel-tools-and-services.html %}</li>
            <li>{% include faculty-and-staff/panel-working-at-uw-oshkosh.html %}</li>
            <li>{% include faculty-and-staff/panel-health-and-wellness-programs.html %}</li>
            <li>{% include faculty-and-staff/panel-technology.html %}</li>
            <li>{% include faculty-and-staff/panel-campus-safety.html %}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="large-8 columns">
      <div class="row">
        <div class="large-24 columns">
          <br>
          {% include social-icons.html %}
        </div>
        {% include faculty-and-staff/audience-banners.html %}
      </div>
    </div>
  </div>
</div>
