---
layout: default
title: Study at UW Oshkosh
meta-description: Achieve your goals with a UW Oshkosh degree.
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">
    <div class="page-banner page-banner--blue">
      <h2 class="page-banner__title">Study at UW Oshkosh</h2>
    </div>
    <br>
  </div>
  <div class="medium-16 small-24 columns">
    <img src="{{site.baseurl}}/img/study-at-uw-oshkosh/meet-my-uwo-banner-image.jpg" class="img-responsive" alt="Girl wearing a tshirt that says Where Human Services and Culture Meet.">
  </div>
  <div class="medium-8 small-24 columns">
    <div class="row">
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/goto/admissions/requestform.html">
          <div class="cta cta--dark-green">
            <img src="{{ site.baseurl }}/img/icons/icon-question.png" class="cta__icon" alt="Ask a question icon"> <span class="cta__text">Request More Information</span>
          </div>
        </a>
      </div>
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/admissions/visit">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-pointer-star.png" class="cta__icon cta__icon--pointer-star"> <span class="cta__text">Visit Campus</span>
          </div>
        </a>
        <div class="cta cta--dark-blue cta--contact-us">
          <div class="media">
            <a class="media__img">
              <img src="{{site.baseurl}}/img/icons/icon-directory.png" class="cta__icon" alt="Contact Us icon">
            </a>
            <div class="media__body">
              <span class="cta__text">Contact Us</span><br><br>
              Dempsey Hall, Room 135<br>
              Phone: <a href="tel:9204243164">(920) 424-3164</a><br>
              Email: <a href="mailto:admissions@uwosh.edu">admissions@uwosh.edu</a>
            </div>
          </div>
        </div>
        {% include social-icons.html %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-16 columns">
    <nav class="breadcrumbs">
      <a href="{{site.baseurl}}">Home</a>
      <a href="#" class="current">Study at UW Oshkosh</a>
    </nav>
    <h1 class="news-heading intro-text">Study at UW Oshkosh</h1>
    <p class="drop-down-nav intro-text">
      Achieve your goals with a UW&nbsp;Oshkosh degree. Here, your passions can be explored through student organizations, internships, graduate assistantships and student-faculty collaborations. UW&nbsp;Oshkosh has resources for traditional and nontraditional students, graduate and international students.
    </p>

    <div class="row content">
      <div class="small-24 columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
          <li>{% include study-at-uw-oshkosh/panel-undergraduate.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-graduate.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-accelerated-adult-programs.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-online-degree-programs.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-transfer-admissions.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-international-admissions.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-international-graduate-admissions.html %}</li>
          <li>{% include study-at-uw-oshkosh/panel-pre-college-programs.html %}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="medium-8 columns">
    <div class="row">

    </div>
    <div class="row">
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/gradstudies/gradschool-fest/gradschool-fest"><img class="img-responsive study-banner" src="{{site.baseurl}}/img/study-at-uw-oshkosh/audience-banners/Grad-School-Fest-Banner.jpg" alt="Grad School Fest - Find out more."></a>
        <span class="news-heading">Related Links</span>
        <ul class="no-bullet drop-down-nav">
          <li><a href="http://www.uwosh.edu/admissions/application-status-checker/?searchterm=application%20status">Application Status</a></li>
          <li><a href="https://apply.wisconsin.edu/">Apply Online</a></li>
          <li><a href="http://www.collegeportraits.org/WI/UW-Oshkosh">College Portrait</a></li>
          <li><a href="http://www.uwosh.edu/fin_aid/costs">Costs and Tuition</a></li>
          <li><a href="http://www.uwosh.edu/fin_aid/types-of-financial-aid">Financial Aid &amp; Scholarships</a></li>
          <li><a href="http://www.housing.uwosh.edu/">Housing and Residential Life</a></li>
          <li><a href="#">Undergraduate Certificates</a></li>
          <li><a href="http://www.uwosh.edu/gradstudies/certificate-and-degree-programs">Graduate Certificates</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted/certificate-programs">Non-credit Certificates</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
