---
layout: default
title: Administration
---

<div class="content">
  <div class="row">
    <div class="large-24 columns">
      <div class="page-banner page-banner--dark-blue">
        <h2 class="page-banner__title">Administration</h2>
      </div>
      <br>
    </div>
    <div class="large-16 columns">
      <img src="http://lorempixel.com/770/322/people" class="img-responsive">
    </div>
    <div class="large-8 columns">
      <p>
        <img src="http://lorempixel.com/162/72/business" class="pull-left img-responsive">
        Led by the dedicated and accomplished Chancellor Richard H. Wells, the University of Wisconsin Oshkosh&rsquo;s administration continues to deliver on its mission to provide high-quality, affordable and comprehensive education to the students and community.
      </p>
      <div class="row">
        <div class="large-8 columns"><button type="button" class="btn btn-default" style="width:100%">EMAIL</button></div>
        <div class="large-8 columns"><button type="button" class="btn btn-default" style="width:100%">D2L</button></div>
        <div class="large-8 columns"><button type="button" class="btn btn-default" style="width:100%">TITANWEB</button></div>
      </div><br>
      <div class="row">
        <div class="large-24 columns">
          <a href="http://www.uwosh.edu/map/main">
            <div class="cta cta--orange">
              <i class="icon-book-closed cta__icon"></i> <span class="cta__text">Student Policies</span>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="large-24 columns">
          <a href="http://www.uwosh.edu/today">
            <div class="cta cta--dark-orange">
              <i class="icon-pencil cta__icon"></i> <span class="cta__text">General Education</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-16 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="#" class="current">Administration</a>
      </nav>
      <h3>Administration</h3>
      <p>
        Led by the dedicated and accomplished Chancellor Richard H. Wells, the University of Wisconsin Oshkosh&rsquo;s administration continues to deliver on its mission to provide high-quality, affordable and comprehensive education to the students and community.
      </p>

      <div class="row">
        <div class="large-12 columns">
          {% include administration/panel-chancellor.html %}
          {% include administration/panel-academic-affairs.html %}
          {% include administration/panel-administrative-services.html %}
          {% include administration/panel-information-technology.html %}
          {% include administration/panel-university-advancement.html %}
        </div>

        <div class="large-12 columns">
          {% include administration/panel-student-affairs.html %}
          {% include administration/panel-colleges.html %}
          {% include administration/panel-llce.html %}
          {% include administration/panel-imc.html %}
        </div>
      </div>
    </div>

    <div class="large-8 columns">
      <div class="row">
        <div class="large-24 columns">
          {% include social-icons.html %}
          <ul class="no-bullet">
            <li>{% include titan-alert.html %}</li><br>
            <li><img src="http://placehold.it/368x288" class="img-responsive"></li><br>
            <li><img src="http://placehold.it/368x288" class="img-responsive"></li><br>
            <li><img src="http://placehold.it/368x288" class="img-responsive"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
