---
layout: default
title: University of Wisconsin Oshkosh
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up">
  <ul class="off-canvas-list">
    <li><label>Audience Nav</label></li>
    <li><a href="http://www.uwosh.edu/beta/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/beta/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/beta/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/community-and-visitors">Community and Visitors</a></li>
  </ul>
</aside>
'
---

<div>
  <div class="row">
    <div class="large-24 columns">
      {% include home/slider.html %}
    </div>
  </div>



  <div class="row">

    <!-- Call to Actions -->
    <div class="large-6 columns">
      <div class="row">
        <div class="small-24 medium-8 large-24 columns">
          <a href="http://www.uwosh.edu/admissions/visit">
            <div class="cta cta--home cta--blue">
              <span class="cta__text cta__text--home">Visit Campus</span>
            </div>
          </a>
        </div>
        <div class="small-24 medium-8 large-24 columns">
          <a href="http://www.uwosh.edu/map/main/">
            <div class="cta cta--home cta--orange">
              <span class="cta__text cta__text--home">Take a Virtual Tour</span>
            </div>
          </a>
        </div>
        <div class="small-24 medium-8 large-24 columns">
          <a href="https://apply.wisconsin.edu/">
            <div class="cta cta--home cta--dark-orange">
              <span class="cta__text cta__text--home">Apply Now</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End Call to Actions -->

    <!-- Events -->
    <div class="large-18 columns">
      {% include home/events.html %}
    </div>
    <!-- End Events -->

  </div>

  <div class="row">
  	{% include home/panel-campus-news.html %}
  	{% include home/panel-research-news.html %}
  	{% include home/panel-powering-community.html %}
    <div class="large-24 columns show-for-large-up">
      <a href="http://www.uwosh.edu/today">
        <div class="visit-uwot">
          Visit UW Oshkosh Today for more <i class="fa fa-arrow-right"></i>
        </div>
      </a><br><br>
    </div>
    {% include home/panel-uwotw.html %}
    {% include home/panel-admissions.html %}
    {% include home/panel-i-am-a-titan.html %}
    {% include home/panel-from-the-chancellor.html %}
    {% include home/panel-meet-uw-oshkosh.html %}
    {% include home/panel-this-week-in-focus.html %}
  </div>

  <div class="show-for-large-up">
    {% include social-feed.html %}
  </div>

</div>
