---
layout: default
title: University of Wisconsin Oshkosh
---

      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div id="pillar-carousel" class="carousel slide">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#pillar-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#pillar-carousel" data-slide-to="1"></li>
                <li data-target="#pillar-carousel" data-slide-to="2"></li>
                <li data-target="#pillar-carousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img class="pillar-image" src="{{site.baseurl}}/img/pillar1.jpg" alt="Pillar 1" />
                  <div class="carousel-caption">
                    <h2 class="title">University of Wisconsin Oshkosh</h2>
                    <h3 class="subtitle">WHERE EXCELLENCE AND OPPORTUNITY MEET.</h3>
                  </div>
                </div>

                <div class="item">
                  <img class="pillar-image lazy" data-original="{{site.baseurl}}/img/pillar2.jpg" alt="Pillar 2" src="{{site.baseurl}}/img/grey.gif" />
                  <div class="carousel-caption">
                    <h2 class="title">University of Wisconsin Oshkosh</h2>
                    <h3 class="subtitle">WHERE EXCELLENCE AND OPPORTUNITY MEET.</h3>
                  </div>
                </div>

                <div class="item">
                  <img class="pillar-image lazy" data-original="{{site.baseurl}}/img/pillar3.jpg" alt="Pillar 3" src="{{site.baseurl}}/img/grey.gif" />
                  <div class="carousel-caption">
                    <h2 class="title">University of Wisconsin Oshkosh</h2>
                    <h3 class="subtitle">WHERE EXCELLENCE AND OPPORTUNITY MEET.</h3>
                  </div>
                </div>

                <div class="item">
                  <img class="pillar-image lazy" data-original="{{site.baseurl}}/img/pillar4.jpg" alt="Pillar 4" src="{{site.baseurl}}/img/grey.gif" />
                  <div class="carousel-caption">
                    <h2 class="title">University of Wisconsin Oshkosh</h2>
                    <h3 class="subtitle">WHERE EXCELLENCE AND OPPORTUNITY MEET.</h3>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#pillar-carousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#pillar-carousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

            </div>

          </div>
        </div><br>



        <div class="row">

          <!-- Call to Actions -->
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-12 col-sm-4">
                <a href="http://www.uwosh.edu/today">
                  <div class="cta cta-visit">
                    Visit Campus
                  </div>
                </a>
              </div>
              <div class="col-lg-12 col-sm-4">
                <a href="http://www.uwosh.edu/today">
                  <div class="cta cta-tour">
                    Take a Virtual Tour
                  </div>
                </a>
              </div>
              <div class="col-lg-12 col-sm-4">
                <a href="http://www.uwosh.edu/today">
                  <div class="cta cta-apply">
                    Apply Now
                  </div>
                </a>
              </div>
            </div><br>
          </div>
          <!-- End Call to Actions -->

          <!-- Events -->
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-12">
                <h4>Events <small>View More Events -></small></h4>
              </div>
            </div>
            <div class="row">
            {% jsonball events from url http://feeds.uwosh.edu/api/v1/index.php/events/public %}
            {% for event in events.value.items limit: 3 %}
              <div class="col-lg-4 col-sm-4">
                <div class="media">
                  <a class="pull-left" href="#">
                    <div class="event-calendar">
                      <div class="media-object event-month">{{ event.pubDate | date: "%b"}}</div>
                      <div class="media-object event-day">{{ event.pubDate | date: "%d"}}</div>
                    </div>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">{{ event.title }}</h4>
                    <div class="event-time">{{ event.pubDate | date: "%B %d, %Y"}}</div>
                    <div class="event-location"><a href="{{ event.link }}">{{ event.link }}</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- End Events -->

        </div><br>

        <!-- News Feed -->
        <div class="row">

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/campus-news %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-default panel-home campus-news">
                <div class="panel-body">
                  <span class="category"><a href="http://www.uwosh.edu/today/campus-news/">Campus News <i class="fa fa-arrow-right"></i></a></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/research %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home research-news">
                <div class="panel-body">
                  <span class="category"><a href="http://www.uwosh.edu/today/research/">Research News <i class="fa fa-arrow-right"></i></a></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/community-2 %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home powering-community">
                <div class="panel-body">
                  <span class="category"><a href="http://www.uwosh.edu/today/knowledge-powers-community">Powering Community <i class="fa fa-arrow-right"></i></a></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div><br>
        <!-- End News Feed -->

        <div class="row">
          <div class="col-lg-12">
            <a href="http://www.uwosh.edu/today">
              <div class="visit-uwot">
                Visit UW Oshkosh Today for more <i class="fa fa-arrow-right"></i>
              </div>
            </a>
          </div>
        </div><br>

        <!-- Weekly Feed -->
        <div class="row">
          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/uwotw %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home uwotw">
                <div class="panel-body">
                  <span class="category"><a href="http://www.uwosh.edu/today/category/uwotw/">UW Oshkosh This Week <i class="fa fa-arrow-right"></i></a></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/sustainability %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home admissions">
                <div class="panel-body">
                  <span class="category"><a href="http://www.uwosh.edu/faces/2013/jerry-klein/">Admissions <i class="fa fa-arrow-right"></i></a></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.thumbnail_images.full.url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/snapshots %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home i-am-a-titan">
                <div class="panel-body">
                  <span class="category"><a href="http://www.uwosh.edu/today/category/this-week-in-focus/">I am a Titan <i class="fa fa-arrow-right"></i></a></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div><br>
        <!-- End Weekly Feed -->

        <!-- Chancellor Row -->
        <div class="row">

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/alumni-news %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home chancellor">
                <div class="panel-body">
                  <span class="category">From the Chancellor <i class="fa fa-arrow-right"></i></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/meet-uwo %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home meet-uwo">
                <div class="panel-body">
                  <span class="category">Meet UW Oshkosh <i class="fa fa-arrow-right"></i></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

          {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/this-week-in-focus %}
          {% for post in feed.posts %}
            <div class="col-lg-4 col-sm-4">
              <div class="panel panel-home twif">
                <div class="panel-body">
                  <span class="category">This Week in Focus <i class="fa fa-arrow-right"></i></span>
                  <h2 class="news-heading">{{ post.title }}</h2>
                  <div class="videoWrapper">
                    {% capture video %}{{ post.content | videophoto }}{% endcapture %}
                    {% if video != "" %}
                      <div class="youtube" id="{{video}}" style="height:189px;"></div>
                    {% else %}
                      <img data-original="{{ post.attachments[0].url }}" src="{{site.baseurl}}/img/grey.gif" class="panel-image lazy" />
                    {% endif %}
                  </div><br>
                  <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
                  <span class="posted-date"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
                </div>
              </div>
            </div>
          {% endfor %}

        </div><br>
        <!-- End Chancellor Row -->
      </div><!-- /.container -->

      <!-- Social Feed -->
      <div class="social-container">
        <div class="container container-overflow">
          <div class="row">
            <div class="col-lg-12">

              <ul class="nav nav-tabs pull-left" id="socialTabs">
                <li class="active"><a href="#twitter"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
                <li><a href="#facebook"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
                <li><a href="#youtube"><i class="fa fa-fw fa-youtube"></i> YouTube</a></li>
                <li><a href="#flickr"><i class="fa fa-fw fa-flickr"></i> Flickr</a></li>
              </ul>

              <script>
                $('#socialTabs a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                  $("img.lazy").show().lazyload();
                })
              </script>

              <div class="tab-content">
                <div class="tab-pane active" id="twitter">
                  {% jsonball twitter from url http://feeds.uwosh.edu/api/v1/index.php/twitter/uwoshkosh %}
                  <div class="deck-container">
                    <deck id="deck-twitter">
                      {% for tweet in twitter limit: 12 %}
                        <slide>
                          <div class="twitter-article social-article">
                            <div class="media">
                              <a class="pull-left" href="https://twitter.com/{{ tweet.user.screen_name }}"><img class="media-object" src="{{ tweet.user.profile_image_url_https }}"></a>
                              <div class="media-body">
                                <div class="media-heading">
                                  <span class="tweetprofilelink">
                                    <strong>{{ tweet.user.name }}</strong> <a href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a>
                                  </span><br>
                                  <span class="tweet-time">
                                    <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}"><i class="fa fa-clock-o datetime"></i> <time class="timeago datetime" datetime="{{ tweet.created_at}}">{{ tweet.created_at | date: "%B %d, %Y" }}</time></a>
                                  </span>
                                </div>
                                <p>{{ tweet.text }}</p>
                                <p class="twitter-intents">
                                  <a href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.id }}" target="_blank"><i class="fa fa-fw fa-reply"></i> Reply &nbsp;</a>
                                  <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet.id }}" target="_blank"><i class="fa fa-fw fa-retweet"></i> Retweet &nbsp;</a>
                                  <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet.id }}" target="_blank"><i class="fa fa-fw fa-star"></i> Favorite</a></p>
                              </div>
                            </div>
                          </div>
                        </slide>
                      {% endfor %}
                    </deck>
                  </div><!-- /.deck-container -->
                  <div class="social-controls">
                    <ul class="list-unstyled">
                      <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
                      <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
                    </ul>
                  </div>
                </div><!-- /#twitter -->
                <div class="tab-pane" id="facebook">
                  {% jsonball facebook from url http://feeds.uwosh.edu/api/v1/index.php/facebook/uwoshkosh %}
                  <div class="deck-container">
                    <deck id="deck-facebook">
                      {% for fbpost in facebook.data limit: 12 %}
                        <slide>
                          <div class="twitter-article social-article">
                            <p>{{ fbpost.message }}&hellip; <a href="{{ fbpost.link }}">Read more</a></p>
                            <span class="social-feed-date posted-date"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="{{ fbpost.updated_time}}">{{ fbpost.updated_time | date: "%B %d, %Y" }}</time>
                          </div>
                        </slide>
                      {% endfor %}
                    </deck>
                  </div><!-- /.deck-container -->
                  <div class="social-controls">
                    <ul class="list-unstyled">
                      <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
                      <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane" id="youtube">
                  {% jsonball youtube from url http://feeds.uwosh.edu/api/v1/index.php/youtube/uwosh %}
                  <div class="deck-container">
                    <deck id="deck-youtube">
                      {% for video in youtube.data.items limit: 12 %}
                        <slide>
                          <div class="twitter-article social-article">
                            <div class="youtube" id="{{video.id}}" style="height:160px;"></div>
                            <h5>{{ video.title }}</h5>
                            <span class="social-feed-date posted-date"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="{{ video.updated }}">{{ video.updated | date: "%B %d, %Y" }}</time></span>
                          </div>
                        </slide>
                      {% endfor %}
                    </deck>
                  </div><!-- /.deck-container -->
                  <div class="social-controls">
                    <ul class="list-unstyled">
                      <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
                      <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
                    </ul>
                    <script src="https://labnol.googlecode.com/files/youtube.js"></script>
                  </div>
                </div>
                <div class="tab-pane" id="flickr">
                  {% jsonball flickr from url http://feeds.uwosh.edu/api/v1/index.php/flickr/uwoshkosh %}
                  <div class="deck-container">
                    <deck id="deck-flickr">
                      {% for set in flickr.photosets.photoset limit: 12 %}
                        <slide>
                          <div class="twitter-article social-article">
                            <p><a href="http://www.flickr.com/photos/37901018@N05/sets/{{ set.id }}"><img data-original="http://farm{{ set.farm }}.static.flickr.com/{{ set.server }}/{{ set.primary }}_{{ set.secret }}_m.jpg" src="{{site.baseurl}}/img/grey.gif" class="social-feed-flickr-image lazy"></a></p>
                            <h5>{{ set.title._content }}</h5>
                            <span class="social-feed-date posted-date"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="{{ set.date_update }}">{{ set.date_update | date: "%B %d, %Y" }}</time></span>
                          </div>
                        </slide>
                      {% endfor %}
                    </deck>
                  </div><!-- /.deck-container -->
                  <div class="social-controls">
                    <ul class="list-unstyled">
                      <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
                      <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div><!-- /.col-lg-12 -->
          </div><br><!-- /.row -->

        </div><!-- /.container -->

      </div><!-- /.social-container -->
