<h1 class="news-heading">UW Oshkosh Online Programs</h1>

<p class="drop-down-nav">
  At the University of Wisconsin Oshkosh, students can take classes online, hybrid (which combines online and on-campus learning), in the evenings or on some weekends. View the <a href="https://www.uwosh.edu/provost/teaching-and-learning-resources/academic-program-delivery/OnlineandHybridCourseGuidelinesFINALOct2007.pdf">UW Oshkosh Online and Hybrid Course Guidelines PDF</a>
</p>

<h4>Undergraduate Online Programs</h4>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/aviation-management-1/aviation-management">Bachelor of Applied Studies in Aviation Management</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/bas-ferm">Bachelor of Applied Studies in Fire and Emergency Response Management (FERM)</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/bas-los">Bachelor of Applied Studies in Leadership and Organizational Studies</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/bls-ld">Bachelor of Liberal Studies in Leadership Development</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/bls">Bachelor of Liberal Studies in Liberal Studies</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/bls-oa">Bachleor of Liberal Studies in Organizational Administration</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/bs-hslo">Bachelor of Science in Human Services Leadership</a></li>
  <li><a href="https://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/accelerated-online-bachelors-to-bsn">Bachelor of Science in Nursing - Accelerated Program (hybrid)</a></li>
</ul>
<br>
<h4>Graduate Online Programs</h4>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/cob/mba">Master of Business Administration</a></li>
  <li><a href="https://www.uwosh.edu/con/college-of-nursing-programs/graduate/master-of-science-in-nursing">Masters of Science in Nursing - Nurse Educator</a></li>
  <li><a href="https://www.uwosh.edu/con/college-of-nursing-programs/graduate/master-of-science-in-nursing">Masters of Science in Nursing - Clinical Nurse Educator</a></li>
  <li><a href="http://www.uwosh.edu/sustain/masters-program">Master of Science in Sustainable Management</a></li>
  <li><a href="http://www.uwosh.edu/coehs/hsl/transnational">Master of Science in Transnational Human Services Leadership</a></li>
  <li><a href="https://www.uwosh.edu/con/college-of-nursing-programs/graduate/DNP">Doctor of Nursing Practice (first 4 semesters online, last 2 semesters hybrid)</a></li>
</ul>
