<h3 class="news-heading">Get informed. Stay connected. Help your student succeed.</h3>

<p class="drop-down-nav">
  Preparing for college is an exciting and challending transitional period for both students and their families. At the University of Wisconsin Oshkosh, we recognize the crucial role families play in the college experience and believe you are integral to your student's continued success.
</p>

<p class="drop-down-nav">
  We encourage you to remain informed and connected during your student's time on campus.
</p>