<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelParents"><div class="title-gradient side-nav__title"><div class="side-nav__title__contents">Parents <i class="fa fa-chevron-down right clickable"></i></div></div></a>
    <div id="panelParents" class="content active">
      <ul class="side-nav">
        <li><a href="{{ site.baseurl }}/parents-family-friends">Parents</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh">About UW&nbsp;Oshkosh</a></li>
        <li><a href="{{ site.baseurl }}/parents-family-friends/tips.html">Tips</a></li>
        <li><a href="{{ site.baseurl }}/parents-family-friends/recommended-reading.html">Recommended Reading</a></li>
        <li><a href="{{ site.baseurl }}/parents-family-friends/faqs.html">FAQs</a></li>
        <li><a href="http://www.uwosh.edu/fin_aid">Costs and Financial Aid</a></li>
        <li><a href="{{ site.baseurl }}/current-students/health-wellness-safety.html">Health and Wellness</a></li>
        <li><a href="{{ site.baseurl }}/current-students/health-wellness-safety.html">Campus Safety Resources</a></li>
      </ul>
    </div>
  </dd>
</dl>
