---
layout: default
title: Future Students
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up">
  <ul class="off-canvas-list">
    <li><label>UW Oshkosh</label></li>
    <li><a href="http://www.uwosh.edu/beta/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/beta/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/beta/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/community-and-visitors">Community and Visitors</a></li>
    <li><label>Related Links</label></li>
    <li><a href="http://www.uwosh.edu/admissions">Admissions</a></li>
    <li><a href="http://www.uwosh.edu/beta/academics">Academics</a></li>
    <li><a href="http://www.uwosh.edu/beta/current-students/campus-life.html">Campus Life</a></li>
    <li><a href="http://www.uwosh.edu/fin_aid">Costs and Financial Aid</a></li>
    <li><a href="#">Scholarships</a></li>
    <li><a href="#">Health and Wellness</a></li>
    <li><a href="http://www.titans.uwosh.edu/">Athletics</a></li>
    <li><a href="https://uwosh.collegiatelink.net/organizations">Student Organizations</a></li>
    <li><a href="http://www.uwosh.edu/admissions/guidelines/high-school-programs">High School Student Programs</a></li>
  </ul>
</aside>
'
---



<div class="row content">
  <div class="large-24 columns page-banner__column">
    <div class="page-banner page-banner--dark-green">
      <h2 class="page-banner__title">Future Students</h2>
    </div>
    <br>
  </div>
  <div class="large-16 columns">
    <nav class="breadcrumbs">
      <a href="{{site.baseurl}}">Home</a>
      <a href="#" class="current">Future Students</a>
    </nav>
    {% include future-students/lead-content.html %}
  </div>
  <div class="large-8 columns">
    <div class="row">
      <div class="small-24 medium-8 large-24 columns">
        <a href="http://apply.wisconsin.edu">
          <div class="cta cta--dark-orange">
            <img src="{{ site.baseurl }}/img/icons/icon-laptop-open.png" class="cta__icon cta__icon--laptop-open" alt="Apply Online icon"> <span class="cta__text">Apply Online</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small-24 medium-8 large-24 columns">
        <a href="http://www.uwosh.edu/map/main">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-pointer-star2.png" class="cta__icon cta__icon--pointer-star2" alt="Take an online tour icon"> <span class="cta__text">Take an Online Tour</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small-24 medium-8 large-24 columns">
        <a href="{{ site.baseurl }}/about-uw-oshkosh">
          <div class="cta cta--dark-blue">
            <img src="{{ site.baseurl }}/img/icons/icon-light-bulb.png" class="cta__icon cta__icon--light-bulb" alt="Learn more about UWO icon"> <span class="cta__text">Learn More about UWO</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small-24 medium-8 large-24 columns">
        <a href="{{ site.baseurl }}/academics/majors-minors-emphases.html">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-book-open.png" class="cta__icon cta__icon--book-open" alt="Open book"> <span class="cta__text">All Majors and Minors</span>
          </div>
        </a>
      </div>
    </div>
    {% include social-icons.html %}
  </div>
</div>

<div class="row">

  <div class="small-24 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <li>{% include future-students/panel-undergraduate.html %}</li>
      <li>{% include future-students/panel-graduate.html %}</li>
      <li>{% include future-students/panel-certificate-programs.html %}</li>
      <li>{% include future-students/panel-continuing-education.html %}</li>
      <li>{% include future-students/panel-youth-programs.html %}</li>
      <li>{% include future-students/panel-online-degree-programs.html %}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-8 columns show-for-large-up">
    {% include future-students/related-links.html %}
  </div>
  <div class="large-16 columns">
    {% include fast-facts.html %}
  </div>
</div>
