<h3 class="news-heading">Campus Extras</h3>

<p class="drop-down-nav">
  From a state-of-the-art Student Recreation and Wellness Center to a contemporary student union and bookstore, UW&nbsp;Oshkosh offers many conveniences and services to enhance your life on campus.
</p>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#banking"><i class="fa fa-chevron-down"></i> Banking</a>
    <div id="banking" class="content">
      <p>
        The <a href="http://uwocu.org/">UW&nbsp;Oshkosh Credit Union</a>, located in Reeve Union, provides full-service banking and four ATMS located throughout campus. Twelve banks and 11 credit unions in Oshkosh, with a number of branch locations, offer students additional options for banking.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#bookstore"><i class="fa fa-chevron-down"></i> Bookstore</a>
    <div id="bookstore" class="content">
      <p>
        The <a href="http://uwocu.org/">In addition to offering textbooks and school supplies, <a href="http://bookstore.uwosh.edu/">University Books &amp; More</a> sells a wide variety of UW&nbsp;Oshkosh apparel and accessories, magazines, DVDs and CDs. An authorized Apple reseller, students receive discounted rates on Macintosh computers and software.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#childCare"><i class="fa fa-chevron-down"></i> Child Care</a>
    <div id="childCare" class="content">
      <p>
        For students, faculty and staff with children, the <a href="http://www.uwosh.edu/childrens_center/">Children's Learning and Care Center</a> provides quality care at an affordable price. Care is available for children from two weeks to eight years old. The center also offers a four-year-old kindergarten program in partnership with the Oshkosh Area School District.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#copyCenter"><i class="fa fa-chevron-down"></i> Copy Center</a>
    <div id="copyCenter" class="content">
      <p>
        UW&nbsp;Oshkosh's <a href="http://reeve.uwosh.edu/places-reeve/copy-this">Copy This!</a> is a full-service copy center offering copying, faxing and laminating services. Conveniently located in Reeve Union, this center also offers UPS shipping service to destinations within the United States.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#cornerConvenienceStore"><i class="fa fa-chevron-down"></i> Corner Convenience Store</a>
    <div id="cornerConvenienceStore" class="content">
      <p>
        For quick groceries and snacks, small household items and personal items, students are able to shop on campus at the <a href="http://reeve.uwosh.edu/places-reeve/corner-convenience-store">Corner Convenience Store</a> in Reeve Union.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#dining"><i class="fa fa-chevron-down"></i> Dining</a>
    <div id="dining" class="content">
      <p>
        There are a number of <a href="http://reeve.uwosh.edu/dining">dining locations</a> on campus. Blackhawk Commons offers a variety of food items in an all-you-can-eat format. Another popular dining location is the Reeve Union Marketplace, which sells individually priced food items, such as burgers, pizza and pasta, stir-fry and sauté, subs, salads and fresh fruit. Other locations include Titan Underground, MiTaza Coffeehouses, Cyber Café, Scotty's in Scott Hall and the Crescent Café, which offers a weekly Taste of Nations luncheon every Wednesday.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#laundry"><i class="fa fa-chevron-down"></i> Dry Cleaning and Laundry Service</a>
    <div id="laundry" class="content">
      <p>
        UW&nbsp;Oshkosh offers pick-up and drop-off service for dry cleaning on campus. For basic laundry services, all residence halls have coin-operated washing machines and dryers for use by residents.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#library"><i class="fa fa-chevron-down"></i> Library</a>
    <div id="library" class="content">
      <p>
        In addition to cataloging more than 135,000 books and other library materials, UW&nbsp;Oshkosh's <a href="http://www.uwosh.edu/library/">Polk Library</a> provides the University community with access to a wide range of electronic information. The new Polk 101 offers students a study space that combines the best of a traditional reference room with a comfortable, technology-rich environment… and even a coffee cart.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#mail"><i class="fa fa-chevron-down"></i> Mail</a>
    <div id="mail" class="content">
      <p>
        For your convenience, UW&nbsp;Oshkosh's <a href="http://reeve.uwosh.edu/places-reeve/titan-central">Titan Central</a>, located in Reeve Union, is a full-service post office.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#sportsComplex"><i class="fa fa-chevron-down"></i> Oshkosh Sports Complex</a>
    <div id="sportsComplex" class="content">
      <p>
        Recent renovations have made the <a href="http://www.uwoshkoshtitans.com/">Oshkosh Sports Complex</a>, the premiere facility of its kind in the state. This exceptional facility is home to UW&nbsp;Oshkosh's football, softball, baseball, men and women's soccer, and men and women's track and field teams as well as local high school teams.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#transit"><i class="fa fa-chevron-down"></i> Oshkosh Transit and Titan Transit</a>
    <div id="transit" class="content">
      <p>
        Students can use the Oshkosh Transit (city buses) or <a href="http://www.uwosh.edu/stuaff/titan-transit">Titan Transit</a>, an extended-hours bus service, free of charge when presenting their Titan Card.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#salon"><i class="fa fa-chevron-down"></i> Salon</a>
    <div id="salon" class="content">
      <p>
        Located in Reeve Union, UW&nbsp;Oshkosh hosts its own on-campus salon, <a href="http://www.uwosh.edu/salon_shahnaz">Salon Shahnaz</a>, which uses and sells Aveda products. As a student, you receive a 5-percent discount on all salon services.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#legal"><i class="fa fa-chevron-down"></i> Student Legal Services</a>
    <div id="legal" class="content">
      <p>
        The Student Legal Services in Reeve Union provides an attorney to offer students confidential and affordable legal advice, at just $5 a visit.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#srwc"><i class="fa fa-chevron-down"></i> Student Recreation and Wellness Center (<abbr title="Student Recreation and Wellness Center">SRWC</abbr>)</a>
    <div id="srwc" class="content">
      <p>
        This state-of-the-art facility features multiple basketball and volleyball courts, an indoor soccer court, more than 80 cardio exercise machines, a jogging/walking track, climbing wall, aerobic studios, Cyber Café and many free-standing and machine weights. <a href="http://recreation.uwosh.edu/"><abbr title="Student Recreation and Wellness Center">SRWC</abbr></a> also offers group exercise classes, wellness programs, massage therapy and day or weekend trips. Due to segregated University fees, use of this facility is free to all students.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#technology"><i class="fa fa-chevron-down"></i> Technology Services</a>
    <div id="technology" class="content">
      <p>
        UW&nbsp;Oshkosh offers five general-access technology labs staffed by Academic Computing, in addition to departmental labs and labs in each residence hall. Also, the University offers free Wi-Fi-equipped laptop rentals.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#titanCard"><i class="fa fa-chevron-down"></i> Titan Card</a>
    <div id="titanCard" class="content">
      <p>
        Your form of identification on campus, the <a href="http://reeve.uwosh.edu/services/titan-card">Titan Card</a>, offers additional benefits to students. With your card, you receive free admission to regular-season home athletic events and have free access to Oshkosh Transit (city buses). The card also holds your meal plans and can be used as a debit card through U.S. Bank.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#titanUnderground"><i class="fa fa-chevron-down"></i> Titan Underground</a>
    <div id="titanUnderground" class="content">
      <p>
        <a href="http://reeve.uwosh.edu/places-reeve/titan-underground">Titan Underground</a> in Reeve Union provides students with nightly food and entertainment, including karaoke, dart and pool leagues, live music, plasma TVs, Nintendo Wii, and Packer and Monday Night Football games.
      </p>
    </div>
  </dd>
</dl>
