<ul class="no-bullet">
	<li>
		<a href="http://www.uwosh.edu/forward"><img src="{{ site.baseurl }}/img/audience-banners-global/audience-banner--forward.jpg" class="img-responsive audience-banner" alt="Photo of campus from above with the caption: Help us move UW Oshkosh Forward. Share your ideas at uwosh.edu/forward."></a>
	</li>
</ul>
<ul class="no-bullet">
	<li>
		<a href="http://www.uwosh.edu/theatre"><img src="{{ site.baseurl }}/img/img/audience-banners-global/tslab.jpg" class="img-responsive audience-banner" alt="Theatre production of These Shining Lights"></a>
	</li>
</ul>
