<div class="panel">
	<dl class="accordion" data-accordion>
		<dd class="accordion-navigation">
			<a href="#panelAdultNontraditionalStudents"><h3 class="panel__title title-gradient">Adult Nontraditional Students <i class="fa fa-chevron-down right clickable"></i></h3>
			<img src="{{ site.baseurl }}/img/current-students/adult-nontraditional-students.jpg" class="img-responsive panel__image" alt=""></a>
			<div id="panelAdultNontraditionalStudents" class="content panel__content">
				<ul class="custom-bullets">
					<li><a href="http://www.uwosh.edu/llce">Lifelong Learning and Community Engagement (<acronym title="Lifelong Learning and Community Engagement">LLCE</acronym>)</a></li>
					<li><a href="http://www.uwosh.edu/llce/ansr"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> adult student resources</a></li>
					<li><a href="http://oce.uwosh.edu/"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> online degree and certificate programs</a></li>
					<li><a href="http://oce.uwosh.edu/"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> program advising</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>
