<h3 class="news-heading intro-text">Access Support for your Organization</h3>
<p class="body-content intro-text">If you are looking for ways UW&nbsp;Oshkosh can help your existing business or organization, including customized training for your staff, consulting about organization issues, solving a problem with research or ensuring the family business survives and thrives, we have the expertise to help.</p>
<h4 class="intro-text">UWO expertise for your organization</h4>
<ul class="intro-text-list custom-bullets">
  <li><a class="external-link" href="http://www.uwosh.edu/bsc/for-businesses">Applied research, surveys and consultation</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/ccdet/our-services/case-management">Case Management</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/llce/conted/conference-and-business-services">Conference and business planning services</a>&nbsp;</li>
  <li><a class="external-link" href="http://wfbf.uwosh.edu">Family business assistance</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/cob/sbdc">Management counseling, financing and entrepreneurship</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/ccdet/our-services/project-management">Project management</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/ccdet/our-services/quality-assurance">Quality assurance</a>
  </li>
</ul>
<h4 class="intro-text">Training and Development &nbsp;</h4>
<p class="body-content intro-text">UW Oshkosh offers a broad range of training, executive education and professional development programs in business management, as well as in industry sectors such as healthcare, insurance, and others.</p>
<p class="body-content intro-text">
  <strong>For Individuals</strong>
</p>
<ul class="intro-text-list custom-bullets">
  <li><a class="external-link" href="http://www.uwosh.edu/llce/conted/pdp">Firefighters</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/llce/conted/pdp">Health Professionals</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/bsc/training-classes/hr-certificate-series/human-resources-certificate-series">Human Resource Professionals</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/cob/graduate/professional-development-series">Leadership Series</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/llce/conted/pdp">Legal Professionals</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/llce/conted/pdp">Social Worker and Professional Counselors</a>&nbsp;</li>
</ul>
<p class="body-content intro-text">
  <strong>For Business</strong>
</p>
<ul class="intro-text-list custom-bullets">
  <li><a class="external-link" href="http://www.uwosh.edu/bsc/for-businesses/training-and-development">Customized Training</a>
  </li>
  <li><a class="external-link" href="http://wfbf.uwosh.edu/Assets/basics.php">Family Business Education Certificate Program</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/ccdet/our-services/training">Professional development for businesses seeking development for employees</a>
  </li>
</ul>
<h4 class="intro-text">Access Knowledge</h4>
<p class="body-content intro-text">Experts in nearly all disciplines at UW Oshkosh are here to help with your research needs.&nbsp;</p>
<ul class="intro-text-list custom-bullets">
  <li><a class="external-link" href="http://www.uwosh.edu/eric/biogas-testing/customized-research">Biological Research</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/cob/sbdc/resources/2-Researching%20and%20Writing%20a%20Business%20Plan%20-%20Financial%20Assessment.pdf">Financial Analysis</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/bsc/for-businesses/science-and-industry">GIS Mapping</a>&nbsp;</li>
  <li><a class="external-link" href="http://www.uwosh.edu/library/community/alumni-and-visitors">Library research</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/bsc/survey-success-center/management-and-analysis">Management Research</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/bsc/for-businesses/market-insights">Market Research</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/eric/request-services/request-services">Materials Testing</a>
  </li>
  <li><a class="external-link" href="http://www.uwosh.edu/eric/water-testing">Water Testing</a>
  </li>
</ul>
<p class="body-content intro-text">
  <strong><a class="external-link" href="http://www.uwosh.edu/imc/media-relations/newsroom/experts">&nbsp;View a full list of experts here &gt;&gt;</a>
  </strong>
</p>
