<h3 class="news-heading">Traveling Around Campus</h3>

<h4>Walking</h4>
<p class="drop-down-nav">
  For the majority of students, the most convenient and cost-effective way to get to and from classes is by foot. Our campus is quite compact&mdash;it only takes about 10 minutes to walk from one end to the other.
</p>

<h4>Biking</h4>
<p class="drop-down-nav">
  Save gas and stay fit by riding your bike. This &ldquo;green&rdquo; mode of transportation is inexpensive and time-efficient. Bike racks are located throughout campus.
</p>

<h4><a href="http://zimride.uwosh.edu/">Ride Sharing</a></h4>
<p class="drop-down-nav">
  Through a partnership with Zimride, UW&nbsp;Oshkosh offers an online, eco-friendly ride sharing program. <a href="http://zimride.uwosh.edu/">UW&nbsp;Oshkosh Zimride</a> helps you offer or request rides for commutes, road trips and popular events. If you have a car, split costs by offering rides. If you don’t have a car, find rides where you need to go.
</p>

<h4><a href="http://www.ci.oshkosh.wi.us/Transit/">Oshkosh Transit</a></h4>
<p class="drop-down-nav">
  Current students and staff have free access to the <a href="http://www.ci.oshkosh.wi.us/Transit/">Oshkosh Transit</a> (city buses) when presenting their Titan Card. Several routes cover all of Oshkosh.
</p>

<h4><a href="http://www.uwosh.edu/stuaff/titan-transit">Titan Transit</a></h4>
<p class="drop-down-nav">
  <a href="http://www.uwosh.edu/stuaff/titan-transit">Titan Transit</a>, a student-led initiative, provides students and staff with an extended-hours bus service free of charge. Three routes are offered from 6-10 p.m. Monday through Saturday.
</p>
<p class="drop-down-nav">
  These routes are:
  <ul>
    <li>North Side Route: Stops include the transit station, campus, primary off-campus student housing area, North High School, Pick ‘n Save and downtown.</li>
    <li>West Side Route: Stops include the transit station, Sears Grand, West High School and Titan Stadium.</li>
    <li>Frontage Road Route: Stops include Target, Marcus Cinema Ten, Wal-Mart, Festival Foods and Sears Grand.</li>
  </ul>
</p>
<p class="drop-down-nav">
  Also part of Titan Transit is a late-night bus service, which runs Thursday, Friday and Saturday from 10 p.m. to 3 a.m. This service offers one route that runs continuously through the campus, north side off-campus housing and downtown.
</p>

<h4><a href="http://www.uwosh.edu/parking/">Parking</a></h4>
<p class="drop-down-nav">
  For commuter students and students who live away from campus, driving may be the best option. The <a href="http://www.uwosh.edu/parking/">Parking Office</a> offers several options for parking on campus.
</p>

<h4><a href="http://www.uwosh.edu/home/map">Campus Map</a></h4>
<p class="drop-down-nav">
  Detailed <a href="http://www.uwosh.edu/home/map">maps of campus</a> &mdash; static and interactive &mdash; are available, featuring academic buildings, residence halls and parking lots.
</p>

<h4><a href="http://www.uwosh.edu/go/directions">Directions</a></h4>
<p class="drop-down-nav">
  Located just two miles off of US-41 in Oshkosh, the UW Oshkosh campus is easy to access.
</p>
