<h3 class="news-heading">Centers and Programs</h3>

<p class="drop-down-nav text-justify">
  In addition to numerous highly accredited majors and degree programs, UW&nbsp;Oshkosh prides itself on providing students with quality academic centers and programs.
</p>

<p class="drop-down-nav text-justify">
  Designed to expand your knowledge and help you achieve academic success, the University offers these additional educational opportunities for students of all ages and aspirations.
</p>

<ul class="custom-bullets">
  <li><a href="http://www.uwosh.edu/llce/ansr"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> Adult Student Resources</a></li>
  <li><a href="http://www.uwosh.edu/car/">Center for Academic Resources (<acronym title="Center for Academic Resources">CAR</acronym>)</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> Online Degree and Certificate Programs</a></li>
  <li><a href="http://www.uwosh.edu/capp/">Cooperative Academic Partnership Program (<acronym title="Cooperative Academic Partnership Program">CAPP</acronym>)</a></li>
  <li><a href="http://www.uwosh.edu/filmandhistory/">Film and History</a></li>
  <li><a href="http://www.uwosh.edu/llce/graduationproject">Graduation Project</a></li>
  <li><a href="http://www.uwosh.edu/mathematics/resources/tutor-labs">Math Lab</a></li>
  <li><a href="http://www.uwosh.edu/mcnairscholars">McNair Scholars Program</a></li>
  <li><a href="http://www.uwosh.edu/oie/studyusa">National Student Exchange</a></li>
  <li><a href="http://www.uwosh.edu/oie">Office of International Education</a></li>
  <li><a href="http://www.uwosh.edu/success/">Project Success</a></li>
  <li><a href="http://www.uwosh.edu/readingstudycenter">Reading Study &amp; Skills Center</a></li>
  <li><a href="http://www.uwosh.edu/science_outreach/">Science Outreach</a></li>
  <li><a href="http://www.uwosh.edu/sss">Student Support Services</a></li>
  <li><a href="http://www.uwosh.edu/honors/">University Honors Program</a></li>
  <li><a href="http://www.uwosh.edu/wis/">Women &amp; Science Program</a></li>
  <li><a href="http://www.uwosh.edu/womenscenter">Women's Center</a></li>
  <li><a href="http://www.uwosh.edu/wcenter">Writing Center</a></li>
</ul>
