<h1 class="news-heading">Family Weekends</h1>

<h4>Family Weekend Opportunities</h4>
<p class="drop-down-nav">
  We also invite you to visit your student on campus at UW&nbsp;Oshkosh. In particular, parents often enjoy coming to Oshkosh each fall for the following campus and community-wide events:<br>
  <br>
</p>

<h4>Homecoming</h4>
<p class="drop-down-nav">
  This year's <a href="http://www.uwosh.edu/homecoming">Homecoming</a> festivities are on Saturday, October 22<br>
  UW Oshkosh’s annual homecoming festivities include a bike ride, pre-game celebration and Titans football game.
</p>

<p class="drop-down-nav">
  We hope to see you around campus!
</p>
