<h1 class="news-heading">Family Weekends</h1>

<h4>Family Weekend Opportunities</h4>
<p class="drop-down-nav">
  We also invite you to visit your student on campus at UW&nbsp;Oshkosh. In particular, parents often enjoy coming to Oshkosh each fall for the following campus and community-wide events:<br>
  <br>
</p>

<p class="drop-down-nav">
  Families are invited to join us on Friday, Sept. 18 as we formally welcome Chancellor Andrew J. Leavitt as the 11th chancellor of the University of Wisconsin Oshkosh through an installation ceremony. Learn more at <a href="http://www.uwosh.edu/installation">uwosh.edu/installation.</a> The fun continues with a southern barbecue and open house at our Student Recreation and Wellness Center and concludes with the <a href="http://www.uwosh.edu/dragonboat">Oshkosh Community Dragonboat Race and Festival</a> held at the Leach Amphitheater.
</p>

<h4>Homecoming</h4>
<p class="drop-down-nav">
  This year's <a href="http://www.uwosh.edu/homecoming">Homecoming</a> festivities are on Saturday, October 17<br>
  UW Oshkosh’s annual homecoming festivities include a bike ride, pre-game celebration and Titans football game.
</p>

<p class="drop-down-nav">
  We hope to see you around campus!
</p>
