<ul class="fast-facts" data-orbit data-options="bullets:false;timer:false;slide_number:false;">
  <li data-orbit-slide="campus">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Campus Fast Facts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav"><span class="fast-facts__number">52</span> buildings (including <span class="fast-facts__number">10</span> academic buildings and <span class="fast-facts__number">11</span> residence halls)</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><span class="fast-facts__number">173.5</span> acres</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><span class="fast-facts__number">470</span> general access computers</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><span class="fast-facts__number">47</span> computer labs</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Walk across campus: about <span class="fast-facts__number">10</span> minutes</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li data-orbit-slide="enrollment">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Enrollment Fast Facts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">Total enrollment: <span class="fast-facts__number">13,513</span></td>
        </tr>
        <tr>
          <td class="drop-down-nav">Undergraduate: <span class="fast-facts__number">12,273</span></td>
        </tr>
        <tr>
          <td class="drop-down-nav">Graduate: <span class="fast-facts__number">1,229</span></td>
        </tr>
        <tr>
          <td class="drop-down-nav">New first year: <span class="fast-facts__number">1,870</span></td>
        </tr>
        <tr>
          <td class="drop-down-nav">Transfer: <span class="fast-facts__number">1,116</span></td>
        </tr>
        <tr>
          <td class="drop-down-nav">Adults (age 25+): <span class="fast-facts__number">1,930</span></td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
