<!-- Footer -->
    <div class="tagline text-center">
      <span>The University of Wisconsin Oshkosh &mdash; Where Excellence and Opportunity Meet.</span>
    </div>
    <div class="footer-container">
      <div class="container">
        <footer class="row">

          <div class="large-4 columns">
            <img src="{{site.baseurl}}/img/parts/wismap.png" class="wismap pull-left" />
              &copy;2013 UW Oshkosh<br>
            {% include vcard.html %}
          </div>

          <div class="large-4 columns">
            <ul class="list-unstyled pull-left">
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Career Services</a></li>
              <li><a href="http://uwosh.edu/go/directions" target="_blank">Get Directions</a></li>
              <li><a href="#">Give to UW Oshkosh</a></li>
              <li><a href="#">Media Relations</a></li>
              <li><a href="#">Work at UW Oshkosh</a></li>
            </ul>
            <p>
              <img src="{{site.baseurl}}/img/parts/mobileapp.png" class="app-icon left">
              Download UW Oshkosh's Mobile App
            </p>
            <p>
              <img src="{{site.baseurl}}/img/parts/emergency.png" class="app-icon left">
              Emergency and Safety Information
            </p>
          </div>

          <div class="large-4 columns">
            <div class="row">
              <div class="small-2 columns social-icons"><a href="{{site.facebook}}"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" class="social-icon desaturate" /></a></div>
              <div class="small-2 columns social-icons"><a href="{{site.twitter}}"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" class="social-icon desaturate" /></a></div>
              <div class="small-2 columns social-icons"><a href="{{site.youtube}}"><img src="{{site.baseurl}}/img/icons/icon-youtube.png" class="social-icon desaturate" /></a></div>
              <div class="small-2 columns social-icons"><a href="{{site.google-plus}}"><img src="{{site.baseurl}}/img/icons/icon-google.png" class="social-icon desaturate" /></a></div>
              <div class="small-2 columns social-icons"><a href="{{site.pinterest}}"><img src="{{site.baseurl}}/img/icons/icon-pinterest.png" class="social-icon desaturate" /></a></div>
              <div class="small-2 columns social-icons"><a href="{{site.flickr}}"><img src="{{site.baseurl}}/img/parts/icons/icon-flickr.png" class="social-icon desaturate" /></a></div>
            </div><br>
            <img src="{{site.baseurl}}/img/parts/college-portrait.gif" class="left">
            <img src="{{site.baseurl}}/img/parts/hlc.png" class="left">
            <img src="{{site.baseurl}}/img/parts/uw-system.png" class="left">
          </div>

        </footer>
      </div><!-- /.container -->
    </div><!-- /.footer-container -->

    </section><!-- End off-canvas stuff -->

  <a class="exit-off-canvas hide-for-large-up"></a></section><!-- End off-canvas stuff -->

  </div><!-- End off-canvas stuff -->
</div><!-- End off-canvas stuff -->

    <script src="{{site.baseurl}}/bower_components/jquery/jquery.js"></script>
    <script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.baseurl}}/js/app.js"></script>

    <!-- Show/Hide plugin -->
    <script src="{{site.baseurl}}/js/showHide.js"></script>

    <!-- Lazy Load plugin -->
    <script src="{{site.baseurl}}/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $("img.lazy").lazyload({
          effect: "fadeIn"
        });
      });
    </script>

    <!-- Timeago Plugin -->
    <script src="{{site.baseurl}}/js/jquery.timeago.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('.timeago').timeago();
      });
    </script>

    <script src="{{site.baseurl}}/js/skycons.js"></script>

    <script>
      $(function() {
        var icon = '{{ weather.currently.icon }}';
        var skycons = new Skycons({'color': '#444'});
        switch(icon) {
          case 'clear-day':
            skycons.add('weather1', Skycons.CLEAR_DAY);
            break;
          case 'clear-night':
            skycons.add('weather1', Skycons.CLEAR_NIGHT);
            break;
          case 'partly-cloudy-day':
            skycons.add('weather1', Skycons.PARTLY_CLOUDY_DAY);
            break;
          case 'partly-cloudy-night':
            skycons.add('weather1', Skycons.PARTLY_CLOUDY_NIGHT);
            break;
          case 'cloudy':
            skycons.add('weather1', Skycons.CLOUDY);
            break;
          case 'rain':
            skycons.add('weather1', Skycons.RAIN);
            break;
          case 'sleet':
            skycons.add('weather1', Skycons.SLEET);
            break;
          case 'snow':
            skycons.add('weather1', Skycons.SNOW);
            break;
          case 'wind':
            skycons.add('weather1', Skycons.WIND);
            break;
          case 'fog':
            skycons.add('weather1', Skycons.FOG);
            break;
          default:
            skycons.add('weather1', Skycons.CLEAR_DAY);
        }
        skycons.play();
      });
    </script>

  </body>
</html>
