<!-- Footer -->
    <div class="tagline text-center">
      <span>The University of Wisconsin Oshkosh &mdash; Where Excellence and Opportunity Meet.</span>
    </div>
    <div class="footer-container">
      <div class="container">
        <footer class="row" role="contentinfo">

          <div class="medium-8 large-8 columns">
            <div class="row">
              <div class="small-8 medium-8 large-8 columns">
                <a href="http://www.uwosh.edu/go/directions" target="_blank" class="footerMap"><img src="{{site.baseurl}}/img/parts/wismap-color.png" class="wismap left desaturate" alt="Map of Wisconsin" /></a>
              </div>
              <div class="small-16 medium-16 large-16 columns">
                <span class="copyright">&copy;2014 UW Board of Regents</span>
                {% include vcard.html %}
              </div>
            </div>

          </div>

          <div class="medium-8 large-8 columns">
            <div class="row">
              <div class="medium-11 large-11 columns footer-links">
                <ul id="footerLinks" class="no-bullet">
                  <li><a href="http://www.uwosh.edu/resources/accessibility" class="footerAccessibility">Accessibility</a></li>
                  <li><a href="http://www.uwosh.edu/career/" class="footerCareer">Career Services</a></li>
                  <li><a href="http://uwosh.edu/go/directions" target="_blank" class="footerDirections">Get Directions</a></li>
                  <li><a href="http://www.uwosh.edu/foundation/support-uw-oshkosh" class="footerGive">Give to UW Oshkosh</a></li>
                  <li><a href="http://www.uwosh.edu/imc/media-relations" class="footerMedia">Media Relations</a></li>
                  <li><a href="http://www.uwosh.edu/usp" class="footerUSP">University Studies Program</a></li>
                  <li><a href="http://www.uwosh.edu/hr/why-work-at-uwo" class="footerWork">Work at UW Oshkosh</a></li>
                </ul>
              </div>
              <div class="medium-13 large-13 columns">
                <ul class="no-bullet">
                  <li class="app-icon--footer">
                    <a href="http://www.uwosh.edu/imc/web-new-media/mobile" class="footerMobile">
                      <img src="{{site.baseurl}}/img/parts/mobileapp-color.png" class="app-icon left desaturate" alt="UW Oshkosh mobile app icon"> Download UW&nbsp;Oshkosh's Mobile App
                    </a>
                  </li>
                  <li>
                    <a href="http://emergency.uwosh.edu/" class="footerEmergency">
                      <img src="{{site.baseurl}}/img/parts/emergency-color.png" class="app-icon left desaturate" alt="Emergency and Safety Information icon"> Emergency and Safety&nbsp;Information
                    </a>
                  </li>
                </ul>
              </div>
            </div>


          </div>

          <div class="medium-8 large-8 columns">
            <div class="row social-row">
              <ul id="footerSocialLinks" class="small-block-grid-7">
                <li><a href="{{site.facebook}}" target="_blank" class="footerFacebook"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" class="social-icon desaturate" alt="Facebook logo" /></a></li>
                <li><a href="{{site.twitter}}" target="_blank" class="footerTwitter"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" class="social-icon desaturate" alt="Twitter logo" /></a></li>
                <li><a href="{{site.instagram}}" target="_blank" class="footerInstagram"><img src="{{site.baseurl}}/img/icons/icon-instagram.png" class="social-icon desaturate" alt="Instagram logo" /></a></li>
                <li><a href="{{site.youtube}}" target="_blank" class="footerYouTube"><img src="{{site.baseurl}}/img/icons/icon-youtube.png" class="social-icon desaturate" alt="YouTube logo" /></a></li>
                <li><a href="{{site.linkedin}}" target="_blank" class="footerLinkedIn"><img src="{{site.baseurl}}/img/icons/icon-linkedin.png" class="social-icon desaturate" alt="LinkedIn logo" /></a></li>
                <li><a href="{{site.pinterest}}" target="_blank" class="footerPinterest"><img src="{{site.baseurl}}/img/icons/icon-pinterest.png" class="social-icon desaturate" alt="Pinterest logo" /></a></li>
                <li><a href="{{site.flickr}}" target="_blank" class="footerFlickr"><img src="{{site.baseurl}}/img/icons/icon-flickr.png" class="social-icon desaturate" alt="Flickr logo" /></a></li>
              </ul>
            <div class="row">
              <div class="small-9 columns">
                <a href="http://www.collegeportraits.org/WI/UW-Oshkosh" target="_blank" class="footerCollegePortrait"><img class="college-portrait-logo" src="{{site.baseurl}}/img/parts/college-portrait.png" alt="College Portrait logo" /></a>
              </div>
              <div class="small-7 columns">
                <a href="http://www.ncahlc.org/?option=com_directory&Action=ShowBasic&instid=2030" target="_blank" class="footerHLC"><img src="{{site.baseurl}}/img/parts/hlc.png" alt="Higher Learning Commission logo" /></a>
              </div>
              <div class="small-8 columns">
                <a href="http://www.wisconsin.edu/" target="_blank" class="footerUwSystem"><img src="{{site.baseurl}}/img/parts/uw-system.png" class="footer__icon--uw-system" alt="University of Wisconsin System logo" /></a>
              </div>
            </div>
          </div>

        </footer>
      </div><!-- /.container -->
    </div><!-- /.footer-container -->

    </section><!-- End off-canvas stuff -->

  <a class="exit-off-canvas hide-for-large-up"></a></section><!-- End off-canvas stuff -->

  </div><!-- End off-canvas stuff -->
</div><!-- End off-canvas stuff -->

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js'></script>

    <!--Production JS-->
    <script src="{{ site.baseurl }}/js/uwo.min.js"></script>

  </body>
</html>
