<!-- Footer -->
    <div class="tagline text-center">
      <span>The University of Wisconsin Oshkosh &mdash; Where Excellence and Opportunity Meet.</span>
    </div>
    <div class="footer-container">
      <div class="container">
        <footer class="row">

          <div class="col-lg-4">
            <img src="{{site.baseurl}}/img/parts/wismap.png" class="wismap pull-left" />
              &copy;2013 UW Oshkosh<br>
            <address class="vcard">
              <div class="fn">University of Wisconsin Oshkosh</div>
              <div class="adr">
                <div class="street-address">800 Algoma Blvd.</div>
                <span class="locality">Oshkosh</span>, <span class="region">WI</span> <span class="postal-code">54901</span>
              </div>
              <div class="tel">
                <a href="tel:9204241234">(920) 424-1234</a>
            </address>
          </div>

          <div class="col-lg-4">
            <ul class="list-unstyled pull-left">
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Career Services</a></li>
              <li><a href="http://uwosh.edu/go/directions" target="_blank">Get Directions</a></li>
              <li><a href="#">Give to UW Oshkosh</a></li>
              <li><a href="#">Media Relations</a></li>
              <li><a href="#">Work at UW Oshkosh</a></li>
            </ul>
            <p>
              <img src="{{site.baseurl}}/img/parts/mobileapp.png" class="app-icon left">
              Download UW Oshkosh's Mobile App
            </p>
            <p>
              <img src="{{site.baseurl}}/img/parts/emergency.png" class="app-icon left">
              Emergency and Safety Information
            </p>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-2"><a href="{{site.facebook}}"><i class="fa fa-2x fa-fw fa-facebook"></i></a></div>
              <div class="col-lg-2"><a href="{{site.twitter}}"><i class="fa fa-2x fa-fw fa-twitter"></i></a></div>
              <div class="col-lg-2"><a href="{{site.youtube}}"><i class="fa fa-2x fa-fw fa-youtube"></i></a></div>
              <div class="col-lg-2"><a href="{{site.google-plus}}"><i class="fa fa-2x fa-fw fa-google-plus"></i></a></div>
              <div class="col-lg-2"><a href="{{site.pinterest}}"><i class="fa fa-2x fa-fw fa-pinterest"></i></a></div>
              <div class="col-lg-2"><a href="{{site.flickr}}"><i class="fa fa-2x fa-fw fa-flickr"></i></a></div>
            </div><br>
            <img src="{{site.baseurl}}/img/parts/college-portrait.gif" class="left">
            <img src="{{site.baseurl}}/img/parts/hlc.png" class="left">
            <img src="{{site.baseurl}}/img/parts/uw-system.png" class="left">
          </div>

        </footer>
      </div><!-- /.container -->
    </div><!-- /.footer-container -->

    <script src="{{site.baseurl}}/js/foundation/foundation.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.abide.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.alerts.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.clearing.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.cookie.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.dropdown.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.forms.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.interchange.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.joyride.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.magellan.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.orbit.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.placeholder.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.reveal.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.section.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.tooltips.js"></script>

    <script src="{{site.baseurl}}/js/foundation/foundation.topbar.js"></script>


    <script>
      $(document).foundation();
    </script>

    <!-- Show/Hide plugin -->
    <script src="{{site.baseurl}}/js/showHide.js"></script>

    <!-- Lazy Load plugin -->
    <script src="{{site.baseurl}}/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $("img.lazy").lazyload({
          effect: "fadeIn"
        });
      });
    </script>

    <!-- Timeago Plugin -->
    <script src="{{site.baseurl}}/js/jquery.timeago.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('.timeago').timeago();
      });
    </script>

    <script src="{{site.baseurl}}/js/skycons.js"></script>
  </body>
</html>
