<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" ng-app="eosApp">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="T6mrhP0NJPhzTuNVPhVDwDfKz_Rs7bzY1xL23VP7iT0" />
    <title>{{ page.title }} | University of Wisconsin Oshkosh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/app.css">

    <script src="{{site.baseurl}}/js/modernizr.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link type="text/plain" rel="author" href="{{site.baseurl}}/humans.txt" />

    <!-- Google Universal Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6634319-1', 'uwosh.edu');
      ga('send', 'pageview');

    </script>

  </head>
  <body>

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav role="navigation" class="tab-bar hide-for-medium-up">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">

      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu hide-for-medium-up">
      <ul class="off-canvas-list">
        <li><label>UW Oshkosh</label></li>
        <li><a href="{{site.baseurl}}/about-uw-oshkosh">About</a></li>
        <li><a href="{{site.baseurl}}/academics">Academics</a></li>
        <li><a href="http://www.titans.uwosh.edu/">Athletics</a></li>
        <li><a href="http://www.uwosh.edu/alumni">Alumni</a></li>
        <li><a href="http://www.uwosh.edu/admissions">Admissions</a></li>
        <li><a href="{{site.baseurl}}/administration">Administration</a></li>
        <li><a href="{{site.baseurl}}/resources">Resources</a></li>
        <li><a href="{{site.baseurl}}/calendars">Calendars</a></li>
        <li class="has-dropdown"><a href="{{ site.baseurl }}/titan-services">Titan Services</a>
          <ul class="dropdown text-left">
            <li><a href="http://www.uwosh.edu/home/site-index/">Site Index</a></li>
            <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
            <li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
            <li><a href="http://www.uwosh.edu/titanapps">Titan Apps</a></li>
            <li><a href="http://titanadmin.uwosh.edu/">Titan Admin</a></li>
            <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
            <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn (D2L)</a></li>
            <li><a href="http://www.uwosh.edu/library/">Polk Library</a></li>
            <li><a href="http://www.uwosh.edu/myuwo/">MyUWO</a></li>
            <li><a href="https://uwosh.collegiatelink.net/">Student Clubs &amp; Orgs</a></li>
            <li><a href="https://www.myinterfase.com/uwosh/student/">Titan Jobs</a></li>
          </ul>
        </li>
        <li><label>Quicklinks</label></li>
        <li><a href="https://www.gmail.com" target="_blank">Email</a></li>
        <li><a href="http://www.uwosh.edu/library">Polk Library</a></li>
        <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
        <li><a href="http://www.uwosh.edu/d2l/">D2L</a></li>
        <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
        <!--<form>
          <div class="row collapse">
            <div class="large-20 columns">
              <input type="text" placeholder="Search UW Oshkosh">
            </div>
            <div class="large-4 columns">
              <a href="#" class="button postfix radius"><i class="fa fa-lg fa-search"></i></a>
            </div>
          </div>
        </form>-->
      </ul>
    </aside>

    {{page.responsive-nav}}

    <section class="main-section">
      <!-- content goes here -->


    <div class="show-for-medium-up">
      <nav class="top-bar" role="navigation" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="{{site.baseurl}}/about-uw-oshkosh" id="aboutToggle">About</a></li>
            <li><a href="{{site.baseurl}}/academics" id="academicsToggle">Academics</a></li>
            <li><a href="http://www.titans.uwosh.edu/" id="athleticsToggle">Athletics</a></li>
            <li><a href="http://www.uwosh.edu/alumni" id="alumniToggle">Alumni</a></li>
            <li><a href="http://www.uwosh.edu/admissions" id="admissionsToggle">Admissions</a></li>
            <li><a href="{{site.baseurl}}/administration" id="administrationToggle">Administration</a></li>
            <li><a href="{{site.baseurl}}/resources" id="resourcesToggle">Resources</a></li>
            <li><a href="{{site.baseurl}}/calendars" id="calendarsToggle">Calendars</a></li>
            <li class="has-dropdown"><a href="{{ site.baseurl }}/titan-services" id="titanServicesToggle">Titan Services</a>
              <ul class="dropdown text-left">
                <li><a href="http://www.uwosh.edu/home/site-index/">Site Index</a></li>
                <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
                <li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
                <li><a href="http://www.uwosh.edu/titanapps/">Titan Apps</a></li>
                <li><a href="http://titanadmin.uwosh.edu/">Titan Admin</a></li>
                <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
                <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn (D2L)</a></li>
                <li><a href="http://www.uwosh.edu/library/">Polk Library</a></li>
                <li><a href="http://www.uwosh.edu/myuwo/">MyUWO</a></li>
                <li><a href="https://uwosh.collegiatelink.net/">Student Clubs & Orgs</a></li>
                <li><a href="https://www.myinterfase.com/uwosh/student/">Titan Jobs</a></li>
              </ul>
            </li>
          </ul>
        </section><!-- /.top-bar-section -->
      </nav><!-- /.navbar -->
    </div>


    <div id="aboutDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="{{ site.baseurl }}/about-uw-oshkosh/welcome-from-the-chancellor.html">Welcome from Chancellor Wells</a></li>
              <li><a href="{{ site.baseurl }}/about-uw-oshkosh/fast-facts.html">Fast Facts</a></li>
              <li><a href="{{ site.baseurl }}/administration">Leadership</li>
              <li><a href="{{ site.baseurl }}/about-uw-oshkosh/mission-vision-and-core-values.html">Mission, Vision and Values</li>
              <li><a href="http://www.uwosh.edu/fapa">Arts and Culture</li>
              <li><a href="http://www.uwosh.edu/hr/employment">Employment</a></li>
              <li><a href="{{ site.baseurl }}/about-uw-oshkosh/contact-uw-oshkosh.html">Contact Information</a></li>
            </ul>
          </div>
          <div class="medium-8 columns">
            <p>Since 1871, the University of Wisconsin Oshkosh has been providing residents of northeastern Wisconsin with high-quality, affordable education through 60 undergraduate majors, 30 master&rsquo;s degree programs and one doctoral degree for our more than 13,500 students.</p>
            {% raw %}
            <div class="media" ng-controller="WeatherCtrl">
              <span class="media__img">
                <canvas id="weather1" width="40" height="40"></canvas> <span style="font-size:42px;">{{ weather.currently.temperature | number:0 }}&#176;</span>
              </span>
              <div class="media__body" style="margin-top:7px;">
                <span data-tooltip class="has-tip" title="Powered by Forecast">{{ weather.daily.data[0].summary }}<br>
                {{ weather.daily.summary }}</span>
              </div>
            </div>
            {% endraw %}
          </div>

          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-about-photo.jpg" alt="Reeve Union" >
          </div><br>
        </div>
      </div>
    </div>

    <div id="academicsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="{{ site.baseurl }}/academics/majors-minors-emphases.html">Majors and Minors</a></li>
              <li><a href="http://www.uwosh.edu/cob">College of Business</a></li>
              <li><a href="http://www.uwosh.edu/coehs">College of Education &amp; Human Services</a></li>
              <li><a href="http://www.uwosh.edu/cols">College of Letters &amp; Science</a></li>
              <li><a href="http://www.uwosh.edu/con">College of Nursing</a></li>
              <li><a href="http://www.uwosh.edu/gradstudies">Graduate Programs</a></li>
              <li><a href="{{ site.baseurl }}/academics/learning-assistance-services.html">Academic Support Resources</a></li>
              <li><a href="http://www.uwosh.edu/llce">Lifelong Learning and Community Engagement</a></li>
              <li><a href="http://www.uwosh.edu/summer">Summer Session</a></li>
            </ul>
          </div>
          <div class="medium-8 columns">
            <p>With nationally-accredited programs, award-winning faculty and quality support services, UW Oshkosh provides students with opportunities for on-campus and online learning, faculty-student collaboration and personal and professional growth with degrees in our four colleges.</p>
          </div>
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-academics-photo.jpg" alt="Students engaged in hands-on learning.">
          </div><br>
        </div>
      </div>
    </div>

    <div id="athleticsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="http://www.uwoshkoshtitans.com/">Division III Sports</a></li>
              <li><a href="http://recreation.uwosh.edu/sport-clubs">Club Sports</a></li>
              <li><a href="http://recreation.uwosh.edu/intramural-sports">Intramural Sports</a></li>
              <li><a href="http://recreation.uwosh.edu/">Student Recreation &amp; Wellness Center</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </div>
          <div class="medium-8 columns">
            <p>UW Oshkosh produces well-rounded student-athletes in 21 intercollegiate sports and  provides opportunities for students to participate in intramural and club sports, as well as maintaining a state-of-the-art workout facility.</p>
          </div>
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-athletics-photo.jpg" alt="Clash, cheerleaders and students supporting UW Oshkosh athletics.">
          </div><br>
        </div>
      </div>
    </div>

    <div id="alumniDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="http://www.uwosh.edu/alumni">Alumni Relations Office</a></li>
              <li><a href="http://www.uwosh.edu/alumni/documents/forms/alumni-update-form">Share Your News</a></li>
              <li><a href="http://www.uwosh.edu/alumni/get-involved">Get Involved</a></li>
              <li><a href="http://www.uwosh.edu/engage-online/">Engage Magazine</a></li>
              <li><a href="http://www.uwosh.edu/alumni/events">Upcoming Events</a></li>
              <li><a href="http://www.uwosh.edu/homecoming">Homecoming</a></li>
              <li><a href="http://www.uwosh.edu/usp/alumni-mentors/alumni-mentors">USP Alumni Mentors</a></li>
              <li><a href="http://www.uwosh.edu/foundation">Give to UWO</a></li>
            </ul>
          </div>
          <div class="medium-8 columns">
            <p>As University of Wisconsin Oshkosh alumni, you are part of our large and growing network. More than 83,000 people throughout the U.S. call UW Oshkosh their alma mater! Stay involved and watch the value of your degree continue to grow.</p>
          </div>
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-alumni-photo.jpg" alt="Alumni" >
          </div><br>
        </div>
      </div>
    </div>

    <div id="admissionsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="http://www.uwosh.edu/admissions">Undergraduate Admissions</a></li>
              <li><a href="http://www.uwosh.edu/gradstudies">Graduate Studies</a></li>
              <li><a href="http://www.uwosh.edu/llce/cnl">Accelerated Adult Programs</a></li>
              <li><a href="http://www.uwosh.edu/llce/ansr">Adult Student Support</a></li>
              <li><a href="http://www.uwosh.edu/fin_aid/">Financial Aid</a></li>
              <li><a href="http://www.uwosh.edu/admissions/guidelines/transfer">Transfer Admissions</a></li>
              <li><a href="http://www.uwosh.edu/precollege">Pre-College Programs</a></li>
              <li><a href="http://www.uwosh.edu/oie/iss/future-students">International Admissions</a></li>
            </ul>
          </div>
          <div class="medium-8 columns">
            <p>Achieve your goals with a UW Oshkosh degree. Here, your passions can be explored through student organizations, internships, graduate assistantships and student-faculty collaborations. UW Oshkosh has resources for traditional and nontraditional students, graduate and international students.</p>
          </div>
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-admissions-photo.jpg" alt="Sage Hall" >
          </div><br>
        </div>
      </div>
    </div>

    <div id="administrationDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-administration-photo.jpg" alt="Opening Day remarks from Chancellor Wells." >
          </div>
          <div class="medium-8 columns">
            <p>Led by the dedicated and accomplished Chancellor Richard H. Wells, the University of Wisconsin Oshkosh’s administration continues to provide a high-quality, affordable and comprehensive education to our students and community.</p>
          </div>
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="http://www.uwosh.edu/admin_serv">Administrative Services</a></li>
              <li><a href="http://www.uwosh.edu/foundation">Advancement Division</a></li>
              <li><a href="http://www.uwosh.edu/provost">Academic Affairs/Provost's Office</a></li>
              <li><a href="http://www.uwosh.edu/stuaff/">Student Affairs</a></li>
              <li><a href="http://www.uwosh.edu/it">Information Technology</a></li>
              <li><a href="http://www.uwosh.edu/imc">Integrated Marketing and Communications</a></li>
              <li><a href="http://www.uwosh.edu/alumni">Alumni Relations</a></li>
            </ul>
          </div><br>
        </div>
      </div>
    </div>

    <div id="resourcesDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-resources-photo.jpg" alt="Students working in computer lab.">
          </div>
          <div class="medium-8 columns">
            <p>UW Oshkosh&rsquo;s sustainable campus provides a safe place for a diverse community of students, faculty, staff, parents and visitors through our quality academic, technology, employment, financial and campus resources.</p>
          </div>
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="http://www.uwosh.edu/library/">Polk Library</a></li>
              <li><a href="http://bookstore.uwosh.edu/">University Books &amp; More</li>
              <li><a href="http://reeve.uwosh.edu/involvement/clubs-organizations">Student Organizations</li>
              <li><a href="http://www.uwosh.edu/myuwo">MyUWO</li>
              <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action">TitanFiles</li>
              <li><a href="http://www.uwosh.edu/home/titanalert">TitanAlert</a></li>
            </ul>
          </div><br>
        </div>
      </div>
    </div>

    <div id="calendarsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="medium-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-calendars-photo.jpg" alt="Students at an event.">
          </div>
          <div class="medium-8 columns">
            <p>The community is invited to attend events hosted by our students, faculty and staff on the UW Oshkosh campus. View the public events calendar, as well as important deadlines and academic schedules.</p>
          </div>
          <div class="medium-8 columns">
            <ul class="no-bullet">
              <li><a href="http://www.uwosh.edu/today/events/">Campus Events</a></li>
              <li><a href="http://www.uwosh.edu/provost/Main%20Highlight/calendars/academic-calendars">Academic Calendar</a></li>
              <li><a href="http://www.uwosh.edu/registrar/registration-calendar">Add/Drop Dates</a></li>
              <li><a href="http://www.uwoshkoshtitans.com/landing/index#tab_athletics_calendar">Athletic Events</a></li>
              <li><a href="http://uwoorgs.orgsync.com/Calendar">Student Organizations Calendar</a></li>
            </ul>
          </div><br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="audience-row">
        <div class="row">
          <div class="large-4 medium-4 small-24 small-centered medium-uncentered columns wordmark-wrapper">
            <a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/parts/wordmark.png" class="wordmark" alt="University of Wisconsin Oshkosh wordmark. Links to home page." /></a>
          </div>
          <div class="large-12 medium-19 medium-offset-1 large-offset-0 columns audience-nav show-for-medium-up">
            <ul class="inline-list">
              <li><a href="{{site.baseurl}}/future-students/">Future Students</a></li>
              <li><a href="{{site.baseurl}}/parents-family-friends/">Parents</a></li>
              <li><a href="{{site.baseurl}}/faculty-and-staff/">Faculty and Staff</a></li>
              <li><a href="{{site.baseurl}}/current-students/">Current Students</a></li>
              <li><a href="{{site.baseurl}}/community-and-visitors">Community and Visitors</a></li>
            </ul>
          </div>
          <div class="large-8 medium-19 medium-offset-1 large-offset-0 columns uwo-search show-for-medium-up">
            <ul class="inline-list">
              <li><a href="https://www.gmail.com" target="_blank">Email</a></li>
              <li><a href="http://www.uwosh.edu/library">Polk Library</a></li>
              <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
              <li><a href="http://www.uwosh.edu/d2l/">D2L</a></li>
              <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
            </ul>
            {% include search.html %}
          </div>
        </div><!-- /.row -->
      </div><!-- /.audience-row -->

    </div><br><!-- /.container -->
