{% include uwo-nav.html %}

<header role="banner">
  <div class="container">
    <div class="audience-row">
      <div class="row">
        <div class="large-4 medium-4 small-24 small-centered medium-uncentered columns wordmark-wrapper">
          <h1 class="school-title">{{page.title}}</h1>
          <a href="{{site.baseurl}}" id="wordmarkLink"><img src="{{site.baseurl}}/img/parts/wordmark.png" class="wordmark" alt="University of Wisconsin Oshkosh wordmark. Links to home page." /></a>
        </div>

        <div class="small-24 columns quicklinks text-right hide-top-bar">
          <div class="quicklinks-wrapper">
            <ul class="inline-list show-for-medium-up quicklinks">
              <li class="bump"><a href="https://www.gmail.com" target="_blank" class="quicklinksEmail">Email</a></li>
              <li class="bump"><a href="http://www.uwosh.edu/library" class="quicklinksLibrary">Polk Library</a></li>
              <li class="bump"><a href="http://www.uwosh.edu/directory" class="quicklinksDirectory">Directory</a></li>
              <li class="bump"><a href="http://www.uwosh.edu/d2l/" class="quicklinksD2L">D2L</a></li>
              <li class="bump"><a href="https://my.wisconsin.edu/" class="quicklinksMyUwSystem">My UW System</a></li>
              <li class="bump"><a href="http://emergency.uwosh.edu" class="quicklinksSafety">Safety</a></li>
              <li class="has-form">{% include search.html %}</li>
            </ul>
          </div>
        </div>

        <div class="small-24 columns audience-nav hide-top-bar">
          <ul id="audienceNavLinksDesktop" class="inline-list">
            <li><a href="{{site.baseurl}}/future-students/" class="audienceFutureStudents">Future Students</a></li>
            <li><a href="{{site.baseurl}}/parents-family-friends/" class="audienceParents">Parents</a></li>
            <li><a href="{{site.baseurl}}/faculty-and-staff/" class="audienceFaculty">Faculty and Staff</a></li>
            <li><a href="{{site.baseurl}}/current-students/" class="audienceCurrentStudents">Current Students</a></li>
            <li><a href="{{site.baseurl}}/community-and-visitors" class="audienceCommunity">Community and Visitors</a></li>
          </ul>
        </div>

      </div><!-- /.row -->
    </div><!-- /.audience-row -->

  </div><br><!-- /.container -->
</header>
