<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="T6mrhP0NJPhzTuNVPhVDwDfKz_Rs7bzY1xL23VP7iT0" />
    <title>{{ page.title }} | University of Wisconsin Oshkosh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/app.css">

    <script src="{{site.baseurl}}/bower_components/modernizr/modernizr.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link type="text/plain" rel="author" href="{{site.baseurl}}/humans.txt" />

    <!-- Google Universal Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6634319-1', 'uwosh.edu');
      ga('send', 'pageview');

    </script>

  </head>
  <body>

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar hide-for-large-up">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">UW Oshkosh</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu hide-for-large-up">
      <ul class="off-canvas-list">
        <li><label>University Nav</label></li>
        <li><a href="{{site.baseurl}}/about-uw-oshkosh">About</a></li>
        <li><a href="{{site.baseurl}}/academics">Academics</a></li>
        <li><a href="http://www.titans.uwosh.edu/">Athletics</a></li>
        <li><a href="http://www.uwosh.edu/alumni">Alumni</a></li>
        <li><a href="http://www.uwosh.edu/admissions">Admissions</a></li>
        <li><a href="{{site.baseurl}}/administration">Administration</a></li>
        <li><a href="{{site.baseurl}}/resources">Resources</a></li>
        <li><a href="http://www.uwosh.edu/today/events">Calendars</a></li>
        <li class="has-dropdown"><a href="#">Titan Services</a>
          <ul class="dropdown">
            <li><a href="http://www.uwosh.edu/home/site-index/">Site Index</a></li>
            <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
            <li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
            <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action">Titan Files</a></li>
            <li><a href="https://mail.google.com/">Titan Apps (email)</a></li>
            <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
            <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn (D2L)</a></li>
            <li><a href="http://www.uwosh.edu/library/">Polk Library</a></li>
            <li><a href="http://www.uwosh.edu/myuwo/">MyUWO</a></li>
            <li><a href="https://uwosh.collegiatelink.net/">Student Clubs & Orgs</a></li>
            <li><a href="https://www.myinterfase.com/uwosh/student/">Titan Jobs</a></li>
          </ul>
        </li>
        <li><label>Audience Nav</label></li>
        <li><a href="{{site.baseurl}}/future-students/">Future Students</a></li>
        <li><a href="{{site.baseurl}}/parents-family-friends/">Parents</a></li>
        <li><a href="{{site.baseurl}}/faculty-and-staff/">Faculty and Staff</a></li>
        <li><a href="{{site.baseurl}}/current-students/">Current Students</a></li>
        <li><a href="{{site.baseurl}}/community-and-visitors">Community and Visitors</a></li>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu hide-for-large-up">
      <ul class="off-canvas-list">
        <li><label>Quicklinks</label></li>
        <li><a href="http://www.uwosh.edu/titanapps">TitanApps</a></li>
        <li><a href="http://www.uwosh.edu/registrar/titanweb/">TitanWeb</a></li>
        <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
        <li><a href="http://www.uwosh.edu/d2l/">D2L</a></li>
        <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
        <form>
          <div class="row collapse">
            <div class="large-20 columns">
              <input type="text" placeholder="Search UW Oshkosh">
            </div>
            <div class="large-4 columns">
              <a href="#" class="button postfix radius"><i class="fa fa-lg fa-search"></i></a>
            </div>
          </div>
        </form>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->


    <div class="contain-to-grid show-for-large-up">
      <nav class="top-bar" role="navigation" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="{{site.baseurl}}/about-uw-oshkosh" id="aboutToggle">About</a></li>
            <li><a href="{{site.baseurl}}/academics" id="academicsToggle">Academics</a></li>
            <li><a href="http://www.titans.uwosh.edu/" id="athleticsToggle">Athletics</a></li>
            <li><a href="http://www.uwosh.edu/alumni" id="alumniToggle">Alumni</a></li>
            <li><a href="http://www.uwosh.edu/admissions" id="admissionsToggle">Admissions</a></li>
            <li><a href="{{site.baseurl}}/administration" id="administrationToggle">Administration</a></li>
            <li><a href="{{site.baseurl}}/" id="resourcesToggle">Resources</a></li>
            <li><a href="http://www.uwosh.edu/today/events" id="calendarsToggle">Calendars</a></li>
            <li class="has-dropdown"><a href="#">Titan Services</a>
              <ul class="dropdown">
                <li><a href="http://www.uwosh.edu/home/site-index/">Site Index</a></li>
                <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
                <li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
                <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action">Titan Files</a></li>
                <li><a href="https://mail.google.com/">Titan Apps (email)</a></li>
                <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
                <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn (D2L)</a></li>
                <li><a href="http://www.uwosh.edu/library/">Polk Library</a></li>
                <li><a href="http://www.uwosh.edu/myuwo/">MyUWO</a></li>
                <li><a href="https://uwosh.collegiatelink.net/">Student Clubs & Orgs</a></li>
                <li><a href="https://www.myinterfase.com/uwosh/student/">Titan Jobs</a></li>
              </ul>
            </li>
          </ul>
        </section><!-- /.top-bar-section -->
      </nav><!-- /.navbar -->
    </div>


    <div id="aboutDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Welcome from Chancellor Wells</li>
              <li>Fast Facts</li>
              <li>Leadership</li>
              <li>Mission, Vision and Values</li>
              <li>Arts and Culture</li>
              <li>Employment</li>
              <li>Contact Information</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>Since 1871, the University of Wisconsin Oshkosh has been providing residents of northeastern Wisconsin with high-quality, affordable education through 60 undergraduate majors, 30 master&rsquo;s degree programs and one doctoral degree for our more than 13,500 students.</p>
          </div>

          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-about-photo.jpg" >
          </div><br>
        </div>
      </div>
    </div>

    <div id="academicsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Majors and Minors</li>
              <li>College of Business</li>
              <li>College of Education &amp; Human Services</li>
              <li>College of Letters &amp; Science</li>
              <li>College of Nursing</li>
              <li>Graduate Programs</li>
              <li>Academic Support Resources</li>
              <li>Life Learning and Community Engagement</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>With nationally-accredited programs, award-winning faculty and quality support services, UW Oshkosh provides students with opportunities for on-campus and online learning, faculty-student collaboration and personal and professional growth with degrees in our four colleges.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-academics-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div id="athleticsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Division III Sports</li>
              <li>Club Sports</li>
              <li>Intramural Sports</li>
              <li>Student Recreation &amp; Wellness Center</li>
              <li>Community</li>
              <li>Videos</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>UW Oshkosh produces well-rounded student-athletes in 21 intercollegiate sports and  provides opportunities for students to participate in intramural and club sports, as well as maintaining a state-of-the-art workout facility.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-athletics-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div id="alumniDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Alumni Relations Office</li>
              <li>Share Your News</li>
              <li>Get Involved</li>
              <li>Engage Magazine</li>
              <li>Upcoming Events</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>As University of Wisconsin Oshkosh alumni, you are part of our large and growing network. More than 80,000 people throughout the U.S. call UW Oshkosh their alma mater! Stay involved and watch the value of your degree continue to grow.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-alumni-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div id="admissionsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Undergraduate Admissions</li>
              <li>Graduate Studies</li>
              <li>Accelerated Adult Programs</li>
              <li>Adult Student Support</li>
              <li>Financial Aid</li>
              <li>Transfer Admissions</li>
              <li>Pre-College Programs</li>
              <li>International Admissions</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>Achieve your goals with a UW Oshkosh degree. Here, your passions can be explored through student organizations, internships, graduate assistantships and student-faculty collaborations. UW Oshkosh has resources for traditional and nontraditional students, graduate and international students.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-admissions-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div id="administrationDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Administrative Services</li>
              <li>Advancement Division</li>
              <li>Academic Affairs</li>
              <li>Student Affairs</li>
              <li>Information Technology</li>
              <li>Integrated Marketing and Communications</li>
              <li>Alumni Relations</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>Led by the dedicated and accomplished Chancellor Richard H. Wells, the University of Wisconsin Oshkosh’s administration continues to provide a high-quality, affordable and comprehensive education to our students and community.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-administration-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div id="resourcesDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Polk Library</li>
              <li>University Books &amp; More</li>
              <li>Student Organizations</li>
              <li>MyUWO</li>
              <li>TitanFiles</li>
              <li>TitanAlert</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>UW Oshkosh&rsquo;s sustainable campus provides a safe place for a diverse community of students, faculty, staff, parents and visitors through our quality academic, technology, employment, financial and campus resources.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-resources-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div id="calendarsDrawer" class="nav-info">
      <div class="content">
        <div class="row drawer__row">
          <div class="large-8 columns">
            <ul class="no-bullet">
              <li>Campus Events</li>
              <li>Academic Calendar</li>
              <li>Add/Drop Dates</li>
              <li>Athletic Events</li>
              <li>Student Organizations Calendar</li>
            </ul>
          </div>
          <div class="large-8 columns">
            <p>The community is invited to attend events hosted by our students, faculty and staff on the UW Oshkosh campus. View the public events calendar, as well as important deadlines and academic schedules.</p>
          </div>
          <div class="large-8 columns">
            <img src="{{ site.baseurl }}/img/nav-drawers/drawer-calendars-photo.jpg">
          </div><br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="audience-row">
        <div class="row">
          <div class="large-4 columns">
            <a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/parts/wordmark.png" class="wordmark" /></a>
          </div>
          <div class="large-12 columns audience-nav show-for-large-up">
            <ul class="inline-list">
              <li><a href="{{site.baseurl}}/future-students/">Future Students</a></li>
              <li><a href="{{site.baseurl}}/parents-family-friends/">Parents</a></li>
              <li><a href="{{site.baseurl}}/faculty-and-staff/">Faculty and Staff</a></li>
              <li><a href="{{site.baseurl}}/current-students/">Current Students</a></li>
              <li><a href="{{site.baseurl}}/community-and-visitors">Community and Visitors</a></li>
            </ul>
          </div>
          <div class="large-8 columns uwo-search show-for-large-up">
            <ul class="inline-list">
              <li><a href="http://www.uwosh.edu/titanapps">TitanApps</a></li>
              <li><a href="http://www.uwosh.edu/registrar/titanweb">TitanWeb</a></li>
              <li><a href="http://www.uwosh.edu/directory">Directory</a></li>
              <li><a href="http://www.uwosh.edu/d2l/">D2L</a></li>
              <li><a href="https://my.wisconsin.edu/">My UW System</a></li>
            </ul>
            <form class="show-for-large-up">
              <div class="row collapse">
                <div class="large-20 columns">
                  <input type="text" placeholder="Search UW Oshkosh">
                </div>
                <div class="large-4 columns">
                  <a href="#" class="button postfix radius"><i class="fa fa-lg fa-search"></i></a>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.row -->
      </div><!-- /.audience-row -->

    </div><br><!-- /.container -->
