<ul class="points-of-pride" data-orbit data-options="bullets:false;timer:false;slide_number:false;">
  
  <li data-orbit-slide="student">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Student Points of Pride</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh has the most successful <a href="http://www.uwosh.edu/model_UN/">Model United Nations Program</a> in the world, receiving 25 consecutive Outstanding Delegation awards at international competitions.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Since 1999, the <a href="http://www.uwosh.edu/con">College of Nursing</a> graduate students' pass rate on the American Nurses Credentialing Center-Family Nurse Practitioner Exam has been above 99 percent.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The <a href="http://www.advancetitan.com/">Advance-Titan</a> has won the top national award for student newspapers five times.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">More than 215 UW Oshkosh graduates have gone on to receive the <a href="http://www.kohleducation.org/teachers/">Herb Kohl Teacher Fellowship of the Year</a> award for excellence and innovation in teaching</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Senior business majors at UW&nbsp;Oshkosh taking the Educational Testing Services business knowledge assessment test ranked in the top 5 percent nationwide, while MBA graduates ranked in the top 5 percent nationally on the MBA students' assessment exam.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh students who took the CPA exam placed the University in the top 10 of schools nationally.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Nearly 80,000 graduates from all four UW&nbsp;Oshkosh colleges make an impact daily across the globe through their exemplary professional and community services.</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><a href="http://www.uwosh.edu/cols">College of Letters and Science</a> graduates are coveted by the best graduate programs in the nation.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW Oshkosh has won 42 national championships, including 27 NCAA Division III and three NCAA Division II competitions.</td>
        </tr>
      </tbody>
    </table>
  </li>
  
  <li data-orbit-slide="campus">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Campus Points of Pride</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh has won more Regents' Teaching Excellence Awards than any other UW institution. Five individual faculty members and three departments have received this award.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">With well over 2,000 graduates, the 2008&ndash;2009 class was the single largest graduating class in the history of UW&nbsp;Oshkosh. The University's preliminary Fall 2010 enrollment of 13,414 is the largest in University history.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">College of Letters and Science faculty, staff and students serve as a cultural anchor to the region by contributing to the quality of life through theater productions, musical performances and art exhibits.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh is recognized as a national model for developing and highlighting exemplary campus-wide liberal education programs.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Beginning in Fall 2010, the College of Nursing will begin offering the University's first doctorate, the Doctor of Nursing Practice.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh became the nation's first Fair Trade University in 2008. The University also was one of the first to analyze its carbon footprint.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The total UW&nbsp;Oshkosh economic contribution to the state is more than $500 million. The campus is responsible for directly and indirectly creating more than 9,000 jobs, generating more than $37.5 million in tax revenue and giving more than $4 million in time and money to local charities.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The University's graduate school boasts 12,000 alumni and is the largest graduate school of the comprehensive universities in the UW System.</td>
        </tr>
      </tbody>
    </table>
  </li>
  
</ul>
