<ul class="points-of-pride" data-orbit data-options="bullets:false;timer:false;slide_number:false;">
  
  <li data-orbit-slide="student">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Student Points of Pride</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh has the most successful <a href="http://www.uwosh.edu/model_UN/">Model United Nations Program</a> in the world, receiving 25 consecutive Outstanding Delegation awards at international competitions.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Since 1999, the <a href="http://www.uwosh.edu/con">College of Nursing</a> graduate students' pass rate on the American Nurses Credentialing Center-Family Nurse Practitioner Exam has been above 99 percent.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The <a href="http://www.advancetitan.com/">Advance-Titan</a> has won the top national award for student newspapers five times.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">More than 215 UW Oshkosh graduates have gone on to receive the <a href="http://www.kohleducation.org/teachers/">Herb Kohl Teacher Fellowship of the Year</a> award for excellence and innovation in teaching</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Senior business majors at UW&nbsp;Oshkosh taking the Educational Testing Services business knowledge assessment test ranked in the top 5 percent nationwide, while MBA graduates ranked in the top 5 percent nationally on the MBA students' assessment exam.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh students who took the CPA exam placed the University in the top 10 of schools nationally.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Nearly 80,000 graduates from all four UW&nbsp;Oshkosh colleges make an impact daily across the globe through their exemplary professional and community services.</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><a href="http://www.uwosh.edu/cols">College of Letters and Science</a> graduates are coveted by the best graduate programs in the nation.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW Oshkosh has won 42 national championships, including 27 NCAA Division III and three NCAA Division II competitions.</td>
        </tr>
      </tbody>
    </table>
  </li>
  
  <li data-orbit-slide="campus">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Campus Points of Pride</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh has won more Regents' Teaching Excellence Awards than any other UW institution. Five individual faculty members and three departments have received this award.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">With well over 2,000 graduates, the 2008&ndash;2009 class was the single largest graduating class in the history of UW&nbsp;Oshkosh. The University's preliminary Fall 2010 enrollment of 13,414 is the largest in University history.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">College of Letters and Science faculty, staff and students serve as a cultural anchor to the region by contributing to the quality of life through theater productions, musical performances and art exhibits.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh is recognized as a national model for developing and highlighting exemplary campus-wide liberal education programs.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Beginning in Fall 2010, the College of Nursing will begin offering the University's first doctorate, the Doctor of Nursing Practice.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh became the nation's first Fair Trade University in 2008. The University also was one of the first to analyze its carbon footprint.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The total UW&nbsp;Oshkosh economic contribution to the state is more than $500 million. The campus is responsible for directly and indirectly creating more than 9,000 jobs, generating more than $37.5 million in tax revenue and giving more than $4 million in time and money to local charities.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The University's graduate school boasts 12,000 alumni and is the largest graduate school of the comprehensive universities in the UW System.</td>
        </tr>
      </tbody>
    </table>
  </li>
  
  <li data-orbit-slide="alumni">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Alumni Points of Pride</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">Nearly 80,000 people call UW&nbsp;Oshkosh their alma mater. Here is a sample of what our graduates have accomplished:</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Carla Altepeter (MBA '98) is president and CEO of Citizens First Credit Union.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Bradley Carr (BA, radio-TV-film '01) and Deborah (Nelson) Carr (BA, radio-TV-film '00) co-produced the documentary FEAT: 63 Marathons in 63 Days, which chronicles one man's coast-to-coast quest to raise awareness for ataxia telangiectasia.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Craig Culver (BS, biology '73) is co-founder and president of Culver Franchising Systems Inc.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Danae Davis (BS, political science '77) is executive director of PEARLS for Teen Girls Inc., a Milwaukee-based program committed to maximizing girls' self-development. She serves on the UW System Board of Regents.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Robert Fale (BSN '79) is president and CEO of Agnesian Healthcare in Fond du Lac.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Norbert Hill (BS sociology '69, MSE '71) is vice president of the College of Menominee Nation's Green Bay campus.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Megan Hoopman (BS, urban planning '00) has received regional recognition for her role in revitalizing Oshkosh's downtown and for her dedication to community service.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Robert Keller (BS, economics '69) is chairman and chief executive officer of J. J. Keller and Associates Inc., Neenah.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Gerald Kons (BA, mathematics '61) is a retired American Airlines pilot. He operates and flies for American Dream Flite, a service that provides round-trip airfare and a vacation at Walt Disney World with medical service pro bono for children with serious illnesses.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Leah Lechleiter-Luke (BSE, English '92) will represent Wisconsin in the 2009–2010 Teacher of the Year competition.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Trevy A. McDonald (BA, radio-TV-film '90), of Chapel Hill, N.C., is the principal and founder of Reyomi Global Media Group, a college professor and a motivational speaker. Her novel, Time Will Tell, made the cover of Publisher's Weekly.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Joye Moon (BFA '84) is a nationally recognized watercolor artist, instructor, exhibit judge and author. She has received more than 50 international, national and regional awards, and her paintings appear in public, private and corporate collections.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Jessica (Martin) Riley (BA, English and history '98), author of Driving Sideways, was one of eight finalists selected from more than 600 applicants in the James Jones First Novel Fellowship.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Todd Teske (BBA, accounting '87) is executive vice president and chief operating officer at Briggs &amp; Stratton Corporation in Milwaukee.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Jim VandeHei (BS, journalism '95) is co-founder and executive editor of Politico.com, an online and print publication focusing on U.S. politics.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Stephen Vander Ark (MS, industrial psychology '93) recruits astronauts for NASA.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Phil Whitebloom (BBA, marketing '80) is vice president of sales and marketing for Communications Engineering Inc.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Rubin L. Whitmore II (BA, radio-TV-film '07), owner and manager of Bliss Enterprises in Milwaukee, has received 17 certified gold, platinum and multi-platinum awards from the Recording Industry of America, and his productions have aired globally on networks, such as BET, MTV and VH1.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Peter Wick (BBA, accounting '05) scored in the top 10 of 40,000 people who recently took the Certified Public Accountants exam, earning him the Elijah Watt Sells Award from the American Institute of Certified Public Accountants.</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><a href="http://www.uwosh.edu/alumni/alumni-awards/award-recipients">Learn more about UW Oshkosh's Distinguished Alumni Award recipients throughout the years.</a></td>
        </tr>
      </tbody>
    </table>
  </li>
  
</ul>
