<ul class="points-of-pride" data-orbit data-options="bullets:false;timer:false;slide_number:false;">
  
  <li data-orbit-slide="student">
    <table>
      <thead>
        <tr>
          <th class="news-heading">Student Points of Pride</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh has the most successful <a href="http://www.uwosh.edu/model_UN/">Model United Nations Program</a> in the world, receiving 25 consecutive Outstanding Delegation awards at international competitions.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Since 1999, the <a href="http://www.uwosh.edu/con">College of Nursing</a> graduate students' pass rate on the American Nurses Credentialing Center-Family Nurse Practitioner Exam has been above 99 percent.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">The <a href="http://www.advancetitan.com/">Advance-Titan</a> has won the top national award for student newspapers five times.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">More than 215 UW Oshkosh graduates have gone on to receive the <a href="http://www.kohleducation.org/teachers/">Herb Kohl Teacher Fellowship of the Year</a> award for excellence and innovation in teaching</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Senior business majors at UW&nbsp;Oshkosh taking the Educational Testing Services business knowledge assessment test ranked in the top 5 percent nationwide, while MBA graduates ranked in the top 5 percent nationally on the MBA students' assessment exam.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW&nbsp;Oshkosh students who took the CPA exam placed the University in the top 10 of schools nationally.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">Nearly 80,000 graduates from all four UW&nbsp;Oshkosh colleges make an impact daily across the globe through their exemplary professional and community services.</td>
        </tr>
        <tr>
          <td class="drop-down-nav"><a href="http://www.uwosh.edu/cols">College of Letters and Science</a> graduates are coveted by the best graduate programs in the nation.</td>
        </tr>
        <tr>
          <td class="drop-down-nav">UW Oshkosh has won 42 national championships, including 27 NCAA Division III and three NCAA Division II competitions.</td>
        </tr>
      </tbody>
    </table>
  </li>
  
  
  
</ul>
