<!-- Social Feed -->
<div class="social-container">
  <div class="row">
    <div class="large-24 columns">

      <dl class="tabs vertical" id="socialTabs" data-tab>
        <dd class="active"><a href="#twitter"><i class="fa fa-lg fa-fw fa-twitter"></i> Twitter</a></dd>
        <dd><a href="#facebook"><i class="fa fa-lg fa-fw fa-facebook-square"></i> Facebook</a></dd>
        <dd><a href="#youtube"><i class="fa fa-lg fa-fw fa-youtube-square"></i> YouTube</a></dd>
        <dd><a href="#flickr"><i class="fa fa-lg fa-fw fa-flickr"></i> Flickr</a></dd>
      </dl>

      <div class="tabs-content vertical tabs-social-content">
        <div class="content active" id="twitter">
          <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
          <div class="deck-container">
            <deck id="deck-twitter" ng-controller="TwitterCtrl">
              {% raw %}
                <slide ng-repeat="tweet in tweets|limitTo:12">
                  <div class="twitter-article social-article">
                    <div class="media">
                      <a class="media__img" ng-href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank"><img class="media-object" ng-src="{{ tweet.user.profile_image_url_https }}" alt="UW Oshkosh Twitter profile image"></a>
                      <div class="media__body">
                        <div class="media-heading">
                          <span class="tweetprofilelink">
                            <strong>{{ tweet.user.name }}</strong> <a ng-href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank">@{{ tweet.user.screen_name }}</a>
                          </span><br>
                          <span class="tweet-time">
                            <a ng-href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" target="_blank"><i class="fa fa-clock-o datetime"></i> <time class="datetime" datetime="{{ tweet.created_at }}">{{ tweet.created_at | fromNow }}</time></a>
                          </span>
                        </div>
                        <p ng-bind-html="tweet.text | linky | tweetLinky:'_blank'"></p>
                        <p class="twitter-intents">
                          <a ng-href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.id_str }}" target="_blank"><i class="fa fa-fw fa-reply"></i> Reply &nbsp;</a>
                          <a ng-href="https://twitter.com/intent/retweet?tweet_id={{ tweet.id_str }}" target="_blank"><i class="fa fa-fw fa-retweet"></i> Retweet &nbsp;</a>
                          <a ng-href="https://twitter.com/intent/favorite?tweet_id={{ tweet.id_str }}" target="_blank"><i class="fa fa-fw fa-star"></i> Favorite</a></p>
                      </div>
                    </div>
                  </div>
                </slide>
              {% endraw %}
            </deck>
          </div><!-- /.deck-container -->
          <div class="social-controls">
            <ul class="no-bullet">
              <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
              <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
            </ul>
          </div>
        </div><!-- /#twitter -->
        <div class="content" id="facebook">
          <div class="deck-container">
            <deck id="deck-facebook" ng-controller="FacebookCtrl">
              {% raw %}
                <slide ng-repeat="fbpost in fbposts |limitTo:12 | filter:filterEmpties">
                  <div class="twitter-article facebook-article social-article">
                    <div class="media">
                      <a class="media__img" href="https://www.facebook.com/uwoshkosh">
                        <img src="http://www.uwosh.edu/img/facebook-wordmark.jpg" alt="UW Oshkosh wordmark">
                      </a>
                      <div class="media__body">
                        <strong>UW Oshkosh</strong>
                      </div>
                    </div>
                    <p>
                      <img ng-src="{{ fbpost.picture }}" class="right" alt=""><span ng-bind-html="fbpost.message | linky"></span>&hellip; <a ng-href="{{ fbpost.link }}" target="_blank" alt="" >Read more</a>
                    </p>
                    <div>
                      <span class="social-feed-date posted-date uppercase datetime"><i class="fa fa-clock-o"></i> <time class="datetime" datetime="{{ fbpost.updated_time}}">{{ fbpost.created_time | fromNow }}</time></span><span class="datetime social-feed-likes">{{ fbpost.likes.data.length }} people like this</span>
                    </div>
                  </div>
                </slide>
              {% endraw %}
            </deck>
          </div><!-- /.deck-container -->
          <div class="social-controls">
            <ul class="no-bullet">
              <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
              <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
            </ul>
          </div>
        </div>
        <div class="content" id="youtube">
          <div class="deck-container">
            <deck id="deck-youtube" ng-controller="YouTubeCtrl">
              {% raw %}
                <slide ng-repeat="video in videos|limitTo:12">
                  <div class="twitter-article social-article">
                    <div class="youtube" id="{{video.id}}" style="height:160px;"></div>
                    <p class="body-content">{{ video.title }}</p>
                    <span class="social-feed-date posted-date uppercase datetime"><i class="fa fa-clock-o"></i> <time class="datetime" datetime="{{ video.updated }}">{{ video.updated | fromNow }}</time></span>
                  </div>
                </slide>
              {% endraw %}
            </deck>
          </div><!-- /.deck-container -->
          <div class="social-controls">
            <ul class="no-bullet">
              <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
              <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
            </ul>
          </div>
        </div>
        <div class="content" id="flickr">
          <div class="deck-container">
            <deck id="deck-flickr" ng-controller="FlickrCtrl">
              {% raw %}
                <slide ng-repeat="photoset in photosets|limitTo:12">
                  <div class="twitter-article social-article">
                    <div class="text-center">
                      <a ng-href="http://www.flickr.com/photos/37901018@N05/sets/{{ photoset.id }}"><img ng-src="http://farm{{ photoset.farm }}.static.flickr.com/{{ photoset.server }}/{{ photoset.primary }}_{{ photoset.secret }}_m.jpg" class="social-feed-flickr-image" alt="{{ photoset.title._content }}" ></a>
                    </div>
                    <p class="body-content">{{ photoset.title._content }}</p>
                    <span class="social-feed-date posted-date uppercase datetime"><i class="fa fa-clock-o"></i> <time class="datetime" datetime="{{ photoset.date_update * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}">{{ photoset.date_update * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' | fromNow }}</time></span>
                  </div>
                </slide>
              {% endraw %}
            </deck>
          </div><!-- /.deck-container -->
          <div class="social-controls">
            <ul class="no-bullet">
              <li onClick="bespoke.prev()" class="previous"><i class="fa fa-lg fa-fw fa-arrow-left"></i></li>
              <li onClick="bespoke.next()" class="next"><i class="fa fa-lg fa-fw fa-arrow-right pull-right"></i></li>
            </ul>
          </div>
        </div>
      </div>

    </div><!-- /.col-lg-12 -->
  </div><br><!-- /.row -->

</div><!-- /.social-container -->
