<div class="row social-row text-center">
  <div class="small-4 columns social-icons"><a href="{{site.facebook}}"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" class="social-icon" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.twitter}}"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" class="social-icon" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.youtube}}"><img src="{{site.baseurl}}/img/icons/icon-youtube.png" class="social-icon" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.google-plus}}"><img src="{{site.baseurl}}/img/icons/icon-google.png" class="social-icon" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.pinterest}}"><img src="{{site.baseurl}}/img/icons/icon-pinterest.png" class="social-icon" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.flickr}}"><img src="{{site.baseurl}}/img/icons/icon-flickr.png" class="social-icon" /></a></div>
</div>
