<ul class="small-block-grid-7 text-center">
  <li><a href="{{site.facebook}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" class="social-icon" alt="Facebook logo" /></a></li>
  <li><a href="{{site.twitter}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" class="social-icon" alt="Twitter logo" /></a></li>
  <li><a href="{{site.instagram}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-instagram.png" class="social-icon" alt="Instagram logo" /></a></li>
  <li><a href="{{site.youtube}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-youtube.png" class="social-icon" alt="YouTube logo" /></a></li>
  <li><a href="{{site.linkedin}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-linkedin.png" class="social-icon" alt="LinkedIn logo" /></a></li>
  <li><a href="{{site.pinterest}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-pinterest.png" class="social-icon" alt="Pinterest logo" /></a></li>
  <li><a href="{{site.flickr}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-flickr.png" class="social-icon" alt="Flickr logo" /></a></li>
</ul>
