<h3 class="news-heading">The College Portrait</h3>

<p class="drop-down-nav">
  <a href="http://www.collegeportraits.org/WI/UW-Oshkosh">Visit the College Portrait Web site for UW Oshkosh information</a>.<br>
  The University of Wisconsin Oshkosh participates in the Voluntary System of Accountability, a partnership between the American Association of State Colleges and Universities and the National Association of State Universities and Land-Grant Colleges designed to provide consistent, comparable, and transparent information on the undergraduate student experience.
</p>

<p class="drop-down-nav">
  The PDF-based College Portrait provides information on the College to prospective students and their families, public policy-makers, legislators, campus faculty and staff, and other key higher education stake-holders.
</p>

<p class="drop-down-nav">
  A realistic spending plan should consider indirect expenses, plus tuition and fees - <a href="http://www.uwosh.edu/vsacalculator/financial-aid-award-estimator">Get a cost estimate with this great calculator</a>!
</p>
