<h1 class="news-heading intro-text">Budget Town Hall</h1>

<p class="drop-down-nav intro-text">
  <object width="640" height="360"> <param name="movie" value="http://live.uwosh.edu/html5Test/StrobeMediaPlayback.swf"></param><param name="flashvars" value="src=rtmp%3A%2F%2Fflash.idea.uwosh.edu%2Flivepkgr%2Fbudgetforum%2F&poster=URL+of+your+poster+image&streamType=live"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="direct"></param><embed src="http://live.uwosh.edu/html5Test/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="640" height="360" flashvars="src=rtmp%3A%2F%2Fflash.idea.uwosh.edu%2Flivepkgr%2Fbudgetforum%2F&poster=URL+of+your+poster+image&streamType=live"></embed></object>
</p>

<p class="drop-down-nav intro-text">
  This page requires Flash. If you do not have Flash installed, please visit <a href="{{site.baseurl}}/live-ios">http://{{site.baseurl}}/live-ios</a> to view this live stream.
</p>

<script>
  var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }

    };



  if ( isMobile.Android() ) {
    document.location.href = "{{site.baseurl}}/live-ios";
  }
  else if( isMobile.iOS() ) {
    document.location.href = "{{site.baseurl}}/live-ios";
  }
</script>
