---
layout: default
title: Colleges
---

<div class="content">

  <div class="row">
    <div class="small-24 columns">

      <a href="{{ site.baseurl }}/academics">
        <div class="page-banner page-banner--medium-dark-gray">
          <h2 class="page-banner__title">Academics</h2>
        </div>
      </a>

    </div>
  </div><br>

  <div class="row">

    <div class="large-5 columns">
      {% include academics/side-nav.html %}
      {% include social-icons.html %}
      {% include news-announcements-cta.html %}
    </div>

    <div class="large-19 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="{{site.baseurl}}/academics">Academics</a>
        <a href="#" class="current">{{ page.title }}</a>
      </nav>
      {% include academics/colleges/lead-content.html %}
    </div>

  </div>

</div>
