---
layout: default
title: Academics
---

<div class="content">
  
  <div class="row">
    <div class="small-24 columns">
      
      <div class="page-banner page-banner--medium-dark-gray">
        <h2 class="page-banner__title">Academics</h2>
      </div>
      
      <div class="large-16 columns">
        <nav class="breadcrumbs">
          <a href="{{site.baseurl}}">Home</a>
          <a href="#" class="current">Academics</a>
        </nav>
        {% include academics/lead-content.html %}
      </div>
      
      <div class="large-8 columns">
        <a href="http://www.uwosh.edu/map/main">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-book-open.png" class="cta__icon cta__icon--file-folder"> <span class="cta__text">All Majors and Minors</span>
          </div>
        </a>
        <form>
          <div class="row collapse">
            <div class="large-20 columns">
              <input type="text" placeholder="What do I want to study?">
            </div>
            <div class="large-4 columns">
              <a href="#" class="button postfix radius"><i class="fa fa-lg fa-search"></i></a>
            </div>
          </div>
        </form>
        {% include social-icons.html %}
      </div>
      
    </div>
  </div>
  
  <div class="row">
    <div class="large-5 columns">
      {% include academics/side-nav.html %}
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--blue">
          <span class="cta__text">Visit Campus</span>
        </div>
      </a>
      <a href="https://apply.wisconsin.edu/">
        <div class="cta cta--dark-orange">
          <span class="cta__text">Apply Now</span>
        </div>
      </a><br>
      <dl class="accordion" data-accordion>
        <dd>
          <a href="#panelRelatedLinks"><div class="title-gradient">Related Links</div></a>
          <div id="panelRelatedLinks" class="content">
            <ul class="side-nav">
              <li><a href="#">First-Year Experience</a></li>
              <li><a href="#">Titan Web (schedule classes)</a></li>
              <li><a href="#">Academic Calendar</a></li>
              <li><a href="#">Student Organizations</a></li>
              <li><a href="#">Greek Life</a></li>
              <li><a href="#">Student Recreation and Wellness Center</a></li>
              <li><a href="#">Reeve Memorial Union</a></li>
              <li><a href="#">UW Oshkosh Athletics</a></li>
              <li><a href="#">University Books &amp; More</a></li>
              <li><a href="#">Children's Learning and Care Center</a></li>
              <li><a href="#">Polk Library</a></li>
              <li><a href="#">Disability Services</a></li>
              <li><a href="#">Campus Safety Resources</a></li>
              <li><a href="#">Veterans Resource Center</a></li>
              <li><a href="#">UW Oshkosh Today (campus&nbsp;news)</a></li>
              <li><a href="#">Advance-Titan (student&nbsp;newspaper)</a></li>
              <li><a href="http://www.uwosh.edu/summer">Summer Sessions</a></li>
            </ul>
          </div>
        </dd>
      </dl>
    </div>
    
    <div class="large-19 columns">
      <div class="cta cta--dark-blue">
        <span class="cta__text">View free learning assistance opportunities available to UW&nbsp;Oshkosh students <i class="fa fa-caret-right"></i></span>
      </div>
      <div class="row academics-row">
        
        <div class="large-12 columns">
          {% include academics/panel-cob.html %}
          {% include academics/panel-cols.html %}
          {% include academics/panel-llce.html %}
          {% include academics/panel-undergraduate.html %}
        </div>
        
        <div class="large-12 columns">
          {% include academics/panel-coehs.html %}
          {% include academics/panel-con.html %}
          {% include academics/panel-continuing-education.html %}
          {% include academics/panel-graduate.html %}
        </div>
        
      </div>
    </div>
  </div>
  
</div>