<h2 class="news-heading">South Scott Hall</h2>

<h3 class="news-heading">Move-in Day Unloading Pass</h3>

<p class="drop-down-nav">Every student will be mailed one unloading pass that corresponds to their residence hall in mid August. This unloading pass needs to be displayed on your rear view mirror as you enter the unloading zone for your building. We will have staff available to help you unload your vehicle. Once your vehicle is unloaded you will need to move it to a permanent parking space. Any cars left unattended in the loading zone will be towed!
</p>
<p class="drop-down-nav">
  <b>Move-in Day Schedule</b>
</p>
<p class="drop-down-nav">The residence halls will open at 9 a.m. When you arrive on campus, go directly to your assigned hall and follow the signs to the check-in area. Please look at the maps to the right for parking and move-in routes. Check-in day is a little hectic with traffic, parking, luggage and people. To relieve some congestion, we need you to arrive on campus using the following schedule:</p>
<ul>
<li><b>9 - 10 a.m.: Odd numbered rooms 8th and 5th floor</li>
<li><b>10 - 11 a.m.: Odd numbered rooms 7th and 4th floor</li>
<li><b>11 a.m. – Noon: Odd numbered rooms 6th and 3rd floor</li>
<li><b>Noon – 1 p.m.: Even numbered rooms 8th and 5th floor</li>
<li><b>1 – 2 p.m.: Even numbered rooms 7th and 4th floor</li>
<li><b>2 – 3 p.m.: Even numbered rooms 6th and 3rd floor</li>
<li><b>3 - 4 p.m.: 2nd floor odd and even numbered rooms</li>
</ul>
<p class="drop-down-nav">
  We encourage parents to say goodbye and start heading home by 4 p.m. so that new students can get ready for orientation activities, beginning with their first floor meeting.
</p>
