@import "settings";
@import "foundation";
@import "partials/mixins";
/*
VARIABLES
---------------
Setting up variables. Bringing in Colors and Spacing.
--------------- */
@import "modules/bits";

/* Custom Styles */
.uppercase { text-transform: uppercase; }
.media {margin:10px;}
.media, .media__body {overflow:hidden; _overflow:visible; zoom:1;}
.media .media__img {float:left; margin-right: 10px;}
.media .media__img img{display:block;}
.media .media__img--ext{float:right; margin-left: 10px;}
.media--about-pillar {margin-right: 0;}
.img-responsive {
  width: 100%;
  height: auto;
}
.news-heading {
  color: $dark-gray;
  font-weight: $bold;
  font-size: 18px;
  line-height: 24px;
}
h3.news-heading {
  margin-bottom: 0;
}
.drop-down-nav {
  font-size: 16px;
  font-weight: $normal;
  line-height: 24px;
}
.banner-headline {
  font-size: 28px;
  font-weight: $semibold;
  color: #fff;
  line-height: 34px;
}
.body-content {
  font-size: 13px;
  line-height: 19px;
  color: $dark-gray;
}
.intro-text {
  padding-left: 16px;
}
.intro-text-list {
  padding-left: 38px;
}

.breadcrumbs {
  padding-top: 0;
  padding-left: 16px;
}
.breadcrumbs--internal {
  padding-left: 0;
}
.breadcrumbs>*:before {
  margin: 0 5px;
}

abbr, acronym {
  cursor: inherit;
}
.desaturate {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.desaturate:hover {
  //@include prefixed(filter, grayscale(0%));
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
.clickable {
  color: #b0b0b0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.clickable:hover {
  -webkit-animation: wobble .75s linear infinite;
  -moz-animation: wobble .75s linear infinite;
  -ms-animation: wobble .75s linear infinite;
  -o-animation: wobble .75s linear infinite;
  animation: wobble .75s linear infinite;
}
.title-gradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eef0f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eef0f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eef0f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eef0f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eef0f0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eef0f0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f0',GradientType=0 ); /* IE6-9 */
}
.right-rule {
  border-right: 1px solid $rule-gray;
}
.padding-right-0 {
  padding-right: 0;
}
.audience-banner {
  margin-bottom: 16px;
}
.row.social-row {
  margin-bottom: 16px;
}

body {
  background-image: url('../img/parts/gradientyellow.png');
  background-repeat: repeat-x;
  background-position: 0 38px;
  color: $dark-gray;
}
a {
  color: $dark-blue;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: $medium-gray;
}
.custom-bullets {
  list-style: none;
  padding:0;
  margin:0;
  margin-left: 3px;
  li {
    padding-left: 1em;
    text-indent: -.7em;
  }
  li:before {
    content: "• ";
    color: $dark-gray;
  }
}
.side-nav {
  li {
    a {
      color: $dark-gray;
    }
  }
}
.side-nav__title {
  padding-left: 7px;
  min-height: 36px;
  font-size: 13px;
  font-weight: $semibold;
  border-top: 1px solid $rule-gray;
  border-bottom: 1px solid $rule-gray;
}
.side-nav__title__contents {
  padding-top: 8px;
  padding-right: 5px;
}
abbr {
  text-transform: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
}
.vcard {
  border: none;
  font-style: normal;
  font-size: 13px;
  padding-left: 0;
}
.vcard .fn {
  font-size: 13px;
}

.content {
  background-color: #fff;
}



.top-bar-section>ul>li>a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}


.wordmark {
  margin-left: -15px;
  margin-top: 5px;
  width: 213px;
  max-width: 213px;
}

.audience-row {
  a {
    color: $dark-gray;
  }
}

.audience-nav {
  margin-top: 76px;
}
.audience-nav > ul > li > a {
  font-size: 12px;
}
.uwo-search {
  margin-top: 18px;
}
.uwo-search > ul > li > a {
  font-size: 12px;
}


.panel > dl > dd {
  border: none;
}
.accordion dd > a {
  padding: 0;
  background-color: transparent;
}
.accordion dd > a:hover {
  background-color: transparent;
}
.accordion dd {
  background-color: transparent;
}

.datetime {
  font-size: 11px;
  color: $medium-gray;
  font-weight: $semibold;
}



.visit-uwot {
  height: 32px;
  background-color: $blue;
  text-align: center;
  padding-top: 7px;
  color: #fff;
}

.social-container {
  height: 320px;
  padding-top: 15px;
  margin-bottom: -16px;
  background-color: $light-gray;
}
.social-icon {
  height: 24px;
}
.twitter-intents {
  position: absolute;
  bottom: 5px;
  a {
    color: $medium-gray;
  }
}
.social-feed-image {
  height: 90px;
}
.social-feed-date {
  position: absolute;
  bottom: 5px;
}
.social-feed-likes {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.social-feed-flickr-image {
  height: 160px;
}

/******************************************************************
FOOTER
******************************************************************/
.tagline {
  min-height: 32px;
  margin-top: 16px;
  font-size: 16px;
  background-color: $dark-gray;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
}
.footer-container {
  padding-top: 20px;
  background-color: $medium-gray;
  color: $medium-dark-gray;
  a {
    color: $medium-dark-gray;
  }
}
.vcard {
  line-height: 19px;
}
.footer__icon--uw-system {
  margin-left: -13px;
}
.app-icon {
  width: 32px;
  height: 32px;
}
.app-icon--footer {
  margin-bottom: 15px;
}
.wismap {
  width: 124px;
}
.college-portrait-logo {
  padding-top: 59px;
}
/******************************************************************
END FOOTER
******************************************************************/

/******************************************************************
ABOUT UW OSHKOSH STYLES
******************************************************************/
.where-you-meet {
  background-color: $dark-gray;
  font-size: 18px;
  height: 27px;
  padding-left: 10px;
  padding-top: 4px;
  span {
    color: $dark-yellow;
  }
}
.where-you-meet__container {
  margin-top: -6px;
}
.about-pillar {
  background-color: #fff;
  height: 54px;
  li {
    margin-left: 0;
  }
}
.about-pillar__container {
  height: 54px;
}
.about-pillar__title {
  font-size: 18px;
  font-weight: $semibold;
  text-transform: uppercase;
  height: 53px;
  padding-top: 13px;
}
.about-pillar--education {
  width: 210px;
  padding-left: 36px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--education.png");
}
.about-pillar--education:hover {
  background-position-y: 53px;
}
.about-pillar--leadership {
  width: 200px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--leadership.png");
}
.about-pillar--leadership:hover {
  background-position-y: 53px;
}
.about-pillar--responsiveness {
  width: 230px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--responsiveness.png");
}
.about-pillar--responsiveness:hover {
  background-position-y: 53px;
}
.about-pillar--service {
  width: 170px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--service.png");
}
.about-pillar--service:hover {
  background-position-y: 53px;
}
.about-pillar--sustainability {
  width: 220px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--sustainability.png");
}
.about-pillar--sustainability:hover {
  background-position-y: 53px;
}
.about-pillar__dropdown {
  color: #fff;
  border: none !important;
  display: none;
  position: absolute;
  top: 54px;
  left: 8px;
  z-index: 9999;
  max-width: 810px;
  padding-left: 90px;
  padding-top: 16px;
  h3 {
    color: #fff;
    font-weight: $semibold;
  }
}
.about-pillar__dropdown__figure--large {
  font-size: 36px;
}
.about-pillar__dropdown__figure--medium {
  font-size: 48px;
}
.about-pillar__dropdown__figure--small {
  font-size: 67px;
}
.about-pillar__dropdown--education {
  background-color: #3b5282;
  background-image: url('../img/about-uw-oshkosh/education-hover-corner.png');
  background-repeat: no-repeat;
}
.about-pillar__dropdown--education--zebra {
  background-color: #3a77b0;
}
.about-pillar__dropdown--leadership {
  background-color: #b95413;
  background-image: url('../img/about-uw-oshkosh/leadership-hover-corner.png');
  background-repeat: no-repeat;
}
.about-pillar__dropdown--leadership--zebra {
  background-color: #cb6300;
}
.about-pillar__dropdown--responsiveness {
  background-color: #de861c;
  background-image: url('../img/about-uw-oshkosh/responsiveness-hover-corner.png');
  background-repeat: no-repeat;
}
.about-pillar__dropdown--responsiveness--zebra {
  background-color: #ed980b;
}
.about-pillar__dropdown--service {
  background-color: #75bad8;
  background-image: url('../img/about-uw-oshkosh/service-hover-corner.png');
  background-repeat: no-repeat;
}
.about-pillar__dropdown--service--zebra {
  background-color: #49a5cf;
}
.about-pillar__dropdown--sustainability {
  background-color: #5f9865;
  background-image: url('../img/about-uw-oshkosh/sustainability-hover-corner.png');
  background-repeat: no-repeat;
}
.about-pillar__dropdown--sustainability--zebra {
  background-color: #7ab063;
}
.about-slider {
  .orbit-caption {
    width: auto !important;
    bottom: 30px !important;
    height: 65px;
    p {
      font-size: 28px;
    }
  }
  .caption--education {
    background-color: rgba(59, 82, 130, 0.8) !important;
  }
  .caption--leadership {
    background-color: rgba(185, 84, 19, 0.8) !important;
  }
  .caption--responsiveness {
    background-color: rgba(222, 134, 28, 0.8) !important;
  }
  .caption--service {
    background-color: rgba(117, 186, 216, 0.8) !important;
  }
  .caption--sustainability {
    background-color: rgba(95, 152, 101, 0.8) !important;
  }
}
/******************************************************************
END ABOUT UW OSHKOSH
******************************************************************/

/******************************************************************
ACADEMICS
******************************************************************/
.academics-row {
  padding-right: 32px;
  padding-left: 32px;
}
.learn-grid {
  text-align: center;
}
.learning-bottom-bar {
  background-color: #0093c6;
  color: #fff;
  margin-bottom: -33px;
  padding: 16px;
  a {
    color: #fff;
  }
}
/******************************************************************
END ACADEMICS
******************************************************************/

/******************************************************************
CURRENT STUDENTS
******************************************************************/
.my-uwo {
  padding-right: 10px;
}
.my-uwo-paragraph {
  margin-bottom: 8px;
}
/******************************************************************
END CURRENT STUDENTS
******************************************************************/

/******************************************************************
NAV DRAWERS
******************************************************************/
.nav-info {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

/******************************************************************
END NAV DRAWERS
******************************************************************/

/******************************************************************
HOME
******************************************************************/
.home-slider__caption {
  background-color: transparent !important;
  bottom: 10px !important;
  padding-left: 0 !important;
}
.home-slider__caption__content {
  background-color: rgba(230, 134, 0, 0.9);
  width: 50%;
  padding: 8px 10px 8px 10px;
}
.home-slider__caption__title {
  font-weight: $normal;
}
.home-slider__caption__excerpt {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 8px 40px 8px 10px;
  margin-left: -10px;
}
.home-slider__caption__read-more {
  background-color: $dark-orange;
  color: #fff;
  padding: 8px 10px 8px 10px;
}
/******************************************************************
END HOME
******************************************************************/

/******************************************************************
PANELS
******************************************************************/
.panel {
  box-shadow: 0 0 5px $medium-gray;
  background: #fff;
  padding: 0;
  position: relative;
  .clickable {
    position: absolute;
    top: 20px;
    right: 16px;
  }
}
.panel:hover {
  box-shadow: 0 0 5px $dark-gray;
}
.panel__category {
  margin-bottom: 15px;
  font-size: 13px;
  color: $medium-gray;
  font-weight: $semibold;
  a {
    color: $medium-gray;
  }
}
.panel__title {
  font-size: 18px;
  font-weight: $semibold;
  color: $dark-gray !important;
  height: 56px;
  padding: 8px 26px 0 16px;
  border-bottom: 1px solid $light-gray;
  margin-top: 0.2rem !important;
}
.panel h3 {
  margin-bottom: 0;
}
.panel__title--small {
  font-size: 13px;
  line-height: 19px !important;
}
.panel__news-heading {
  font-size: 18px;
  color: $dark-gray;
  font-weight: $semibold;
}
.panel__news-excerpt {

}
.panel__teaser {
  margin-bottom: 0;
  padding: 0 16px 16px 16px;
}
.panel__posted-date {
  font-size: 11px;
  color: $medium-gray;
  font-weight: $semibold;
  position: absolute;
  bottom: 15px;
}
.panel__image {
  padding: 16px;
}
.panel__image--non-accordion {
}
.panel__image__caption {
  padding: 0 16px 8px 16px;
}
.panel__image--home {
  // height: 189px;
}
.panel__content {
  //padding: 8px 16px 8px 16px;
  padding: 0;
}
.panel--home {
  height: 410px;
  border-top: 3px solid $medium-gray;
  border-radius: 2px;
  padding: 1.25rem;
}
.panel__video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  text-align: center;
}
.panel__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*.panel--green {
  border-top-color: $green;
}
.panel--dark-green {
  border-top-color: $dark-green;
}
.panel--blue {
  border-top-color: $blue;
}
.panel--dark-blue {
  border-top-color: $dark-blue;
}
.panel--orange {
  border-top-color: $orange;
}
.panel--dark-orange {
  border-top-color: $dark-orange;
}
.panel--yellow {
  border-top-color: $yellow;
}
.panel--dark-yellow {
  border-top-color: $dark-yellow;
}*/
/******************************************************************
END PANELS
******************************************************************/

/******************************************************************
PAGE BANNERS
******************************************************************/
.page-banner {
  min-height: 64px;
  padding-left: 16px;
  margin-top: 0;
  padding-top: 12px;
}
.page-banner__title {
  color: #fff;
  margin-top: 0;
  font-size: 28px;
  font-weight: 600;
}
.page-banner--blue {
  background-color: $blue;
}
.page-banner--dark-blue {
  background-color: $dark-blue;
}
.page-banner--orange {
  background-color: $orange;
}
.page-banner--dark-orange {
  background-color: $dark-orange;
}
.page-banner--dark-green {
  background-color: $dark-green;
}
.page-banner--medium-dark-gray {
  background-color: $medium-dark-gray;
}
.page-banner--dark-gray {
  background-color: $dark-gray;
}
/******************************************************************
END PAGE BANNERS
******************************************************************/

/******************************************************************
CTAs
******************************************************************/
.cta {
  min-height: 48px;
  padding-left: 10px;
  padding-top: 7px;
  margin-bottom: 16px;
}
.cta--home {
  padding-top: 10px;
}
.cta--internal {
  margin-bottom: 8px;
  padding-top: 14px;
}
.cta--no-icon {
  padding-top: 14px;
}
.cta--internal--last {
  margin-bottom: 32px;
}
.cta--my-uwo {
  margin-bottom: 8px;
}
.cta--news {
  min-height: 72px;
  padding-top: 14px;
}
.cta--parents {
  padding-top: 15px;
  margin-bottom: 16px;
  a {
    color: $dark-gray;
  }
  a:visited {
    color: $dark-gray;
  }
}
.cta--accreditation {
  width: 218px;
  margin-left: 0 !important;
}
.cta--fast-facts {
  width: 212px;
  margin-left: 0 !important;
}
.cta--points-of-pride {
  width: 242px;
  margin-left: 0 !important;
}
.cta--strategic-plan {
  width: 464px;
  margin-left: 0 !important;
}
.cta--my-uwo {
  padding-left: 0;
}
.cta--academics {
  min-height: 38px;
  padding-top: 12px;
}
.cta__icon {
  width: 40px;
  height: 40px;
  margin-top: -3px;
  margin-right: 8px;
}
.cta__icon--book-closed {
  width: 40px;
  height: 40px;
  margin-top: -3px;
}
.cta__icon--pencil {
  width: 26px;
  height: 40px;
  margin-top: -3px;
  margin-left: 7px;
  margin-right: 15px;
}
.cta__icon--light-bulb {
  width: 24px;
  margin-right: 14px;
  margin-left: 10px;
}
.cta__icon--pointer-star2 {
  width: 27px;
  margin-right: 14px;
  margin-left: 8px;
}
.cta__icon--laptop-open {
  width: 42px;
}
.cta__text {
  color: #fff;
  font-size: 18px;
  font-weight: $bold;
}
.cta--academics__text {
  font-size: 13px;
}
.cta__text--home {
  font-size: 28px;
  font-weight: $semibold;
}
.cta--light-gray {
  background-color: $light-gray;
  color: $medium-gray;
  font-size: 13px;
  font-weight: $semibold;
  padding-top: 18px;
  text-align: center;
}
.cta--blue {
  background-color: $blue;
}
.cta--dark-blue {
  background-color: $dark-blue;
}
.cta--orange {
  background-color: $orange;
}
.cta--dark-orange {
  background-color: $dark-orange;
}
.cta--dark-green {
  background-color: $dark-green;
}
.cta--light-yellow {
  background-color: $light-yellow;
}
.cta--yellow {
  background-color: $yellow;
}
/******************************************************************
END CTAs
******************************************************************/

/******************************************************************
EVENTS
******************************************************************/
.events__view-more {
  margin-left: 15px;
}
.event-item {

}
.events__row {
  @media #{$large-up} {
    margin-top: 12px !important;
  }
}
.event-item__title {
  margin-top: -4px;
  margin-bottom: 0;
  font-weight: $bold;
}
.event-item__time {

}
.event-item__location {

}
.event-item__calendar {
  border: 1px solid $medium-gray;
  box-shadow: 0 0 5px $medium-gray;
  width: 64px;
}
.event-item__calendar--month {
  height: 24px;
  background-color: $dark-blue;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
}
.event-item__calendar--day {
  height: 40px;
  color: $dark-gray;
  text-align: center;
  font-size: 28px;
  font-weight: $semibold;
  padding-top: 6px;
}
/******************************************************************
END EVENTS
******************************************************************/

/******************************************************************
CAMPUS FAST FACTS
******************************************************************/
.fast-facts table {
  border: none;
  width: 100%;
  .odd {
    background-color: $light-gray;
  }
}
.fast-facts__number {
  color: $dark-blue;
  font-weight: $bold;
}
.fast-facts th {
  border-top: 3px solid $yellow;
}
/******************************************************************
END CAMPUS FAST FACTS
******************************************************************/

/******************************************************************
UWO DRAWER STYLES
******************************************************************/
.drawer__row {
  padding-top: 16px;
  padding-bottom: 16px;
}
/******************************************************************
END DRAWER STYLES
******************************************************************/

/******************************************************************
BESPOKE SLIDER STYLES
******************************************************************/
.deck-container { position: relative; }
deck { position: relative; }
.container-overflow { overflow: hidden; }
#socialTabs {
  width: 144px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
  font-size: 1.2em;
  li {
    width: 100%;
  }
  .active {
    a {
      color: #fff;
      background-color: $dark-blue;
    }
  }
}
#socialTabs dd > a {
  font-size: 13px;
}
#socialTabs>li>a:hover {
  border: none;
  background-color: #fff;
}
#socialTabs>li {
  background-color: #fff;
  a {
    color: $medium-gray;
    border: none;
    border-radius: 0;
    margin-right: 0;
  }
}
#socialTabs>li.active>a {
  background-color: $dark-blue;
  color: #fff;
}

.social-controls {
  position: absolute;
  left: 1074px;
  width: 70px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
  ul {
    margin-top: 50px;
    margin-left: 0 !important;
  }
  li {
    color: #fff;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
  }
  .previous {
    background-color: $blue;
    margin-bottom: 5px;
  }
  .next {
    background-color: $dark-blue;
  }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
}
slide {
    position: absolute;
    top: 0;
    left: -1px;
    opacity: 0;
}
slide.bespoke-slide {
    -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
    transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
slide.bespoke-active {
    opacity: 1;
    z-index: 1;
}
/* Classic Theme */
.social-article {
  width: 309px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.facebook-article {
  .media {
    margin-bottom: 0;
  }
}

slide.bespoke-before {
    -webkit-transform: translate3d(-1920px, 0, 0);
    -moz-transform: translate3d(-1920px, 0, 0);
    -ms-transform: translate3d(-1920px, 0, 0);
    -o-transform: translate3d(-1920px, 0, 0);
    transform: translate3d(-1920px, 0, 0);
}
slide.bespoke-before-2 {
    -webkit-transform: translate3d(-1280px, 0, 0);
    -moz-transform: translate3d(-1280px, 0, 0);
    -ms-transform: translate3d(-1280px, 0, 0);
    -o-transform: translate3d(-1280px, 0, 0);
    transform: translate3d(-1280px, 0, 0);
    opacity: 0.1;
}
slide.bespoke-before-1 {
    -webkit-transform: translate3d(-640px, 0, 0);
    -moz-transform: translate3d(-640px, 0, 0);
    -ms-transform: translate3d(-640px, 0, 0);
    -o-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
    opacity: 0.3;
}
slide.bespoke-after {
    -webkit-transform: translate3d(1920px, 0, 0);
    -moz-transform: translate3d(1920px, 0, 0);
    -ms-transform: translate3d(1920px, 0, 0);
    -o-transform: translate3d(1920px, 0, 0);
    transform: translate3d(1920px, 0, 0);
}
slide.bespoke-after-2 {
    -webkit-transform: translate3d(615px, 0, 0);
    -moz-transform: translate3d(615px, 0, 0);
    -ms-transform: translate3d(615px, 0, 0);
    -o-transform: translate3d(615px, 0, 0);
    transform: translate3d(615px, 0, 0);
    opacity: 1.0;
}
slide.bespoke-after-1 {
    -webkit-transform: translate3d(308px, 0, 0);
    -moz-transform: translate3d(308px, 0, 0);
    -ms-transform: translate3d(308px, 0, 0);
    -o-transform: translate3d(308px, 0, 0);
    transform: translate3d(308px, 0, 0);
    opacity: 1.0;
}
/******************************************************************
END BESPOKE SLIDER STYLES
******************************************************************/

/******************************************************************
GOOGLE SEARCH STYLES
******************************************************************/
.cse .gsc-control-cse, .gsc-control-cse {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}
.gsc-input {
  padding: 0 !important;
  border-radius: 10px 0 0 10px !important;
  padding-left: 10px !important;
  input {
    background-position: 10% 50% !important;
  }
}
.gsc-search-box {
  background: transparent !important;
  margin: 0 !important;
}
.gsc-input {
    margin-top: 7px !important;
}
.gsc-search-button {
  border: none !important;
  border-radius: 0 10px 10px 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
input.gsc-search-button {
  background-color: #008CBA !important;
  color: #fff !important;
  height: 36px !important;
  margin-top: -10px !important;
  margin-left: -3px !important;
}
.gsc-clear-button {
  display: none !important;
}
.gsc-control-cse.gsc-control-cse-en {
  margin-left: -20px;
  margin-top: -8px;
}
/******************************************************************
END GOOGLE SEARCH STYLES
******************************************************************/


@media #{$small-only} {
  .wordmark {
    margin-top: 0;
  }
  .wordmark-wrapper {
    text-align: center;
  }
  .home-slider__caption {
    padding: 10px 0 10px 0 !important;
    position: relative !important;
    width: 100% !important;
  }
  .home-slider__caption__content {
    width: 100% !important;
  }
  .home-slider__caption__title {
    font-size: 16px;
  }
  .home-slider__caption__excerpt {
    padding: 0;
    color: #fff;
    background-color: transparent;
    margin-left: 0;
  }
  .home-slider__caption__read-more {
    padding: 0;
    color: #fff;
    background-color: transparent;
  }
}

@media #{$medium-only} {
  .audience-nav {
    margin-top: 15px;
  }
  .home-slider__caption__content {
    width: 65% !important;
  }
}

/******************************************************************
EFFECTS
******************************************************************/
.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}
.fade.in{
  opacity: 1;
}
@-webkit-keyframes wobble {
    0% { -webkit-transform: rotate(-2deg); }
    20% { -webkit-transform: rotate(4deg); }
    30% { -webkit-transform: rotate(1deg); }
    40% { -webkit-transform: rotate(3deg); }
    55% { -webkit-transform: rotate(0deg); }
    70% { -webkit-transform: rotate(-4deg); }
    80% { -webkit-transform: rotate(2deg); }
    90% { -webkit-transform: rotate(-2deg); }
    90% { -webkit-transform: rotate(3deg); }
}
@-moz-keyframes wobble {
    0% { -moz-transform: rotate(-2deg); }
    20% { -moz-transform: rotate(4deg); }
    30% { -moz-transform: rotate(1deg); }
    40% { -moz-transform: rotate(3deg); }
    55% { -moz-transform: rotate(0deg); }
    70% { -moz-transform: rotate(-4deg); }
    80% { -moz-transform: rotate(2deg); }
    90% { -moz-transform: rotate(-2deg); }
    90% { -moz-transform: rotate(3deg); }
}
@-ms-keyframes wobble {
    0% { -ms-transform: rotate(-2deg); }
    20% { -ms-transform: rotate(4deg); }
    30% { -ms-transform: rotate(1deg); }
    40% { -ms-transform: rotate(3deg); }
    55% { -ms-transform: rotate(0deg); }
    70% { -ms-transform: rotate(-4deg); }
    80% { -ms-transform: rotate(2deg); }
    90% { -ms-transform: rotate(-2deg); }
    90% { -ms-transform: rotate(3deg); }
}
@-o-keyframes wobble {
    0% { -o-transform: rotate(-2deg); }
    20% { -o-transform: rotate(4deg); }
    30% { -o-transform: rotate(1deg); }
    40% { -o-transform: rotate(3deg); }
    55% { -o-transform: rotate(0deg); }
    70% { -o-transform: rotate(-4deg); }
    80% { -o-transform: rotate(2deg); }
    90% { -o-transform: rotate(-2deg); }
    90% { -o-transform: rotate(3deg); }
}
@keyframes wobble {
    0% { transform: rotate(-2deg); }
    20% { transform: rotate(4deg); }
    30% { transform: rotate(1deg); }
    40% { transform: rotate(3deg); }
    55% { transform: rotate(0deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(2deg); }
    90% { transform: rotate(-2deg); }
    90% { transform: rotate(3deg); }
}
/******************************************************************
END EFFECTS
******************************************************************/

/******************************************************************
FIXES/HACKS
******************************************************************/
.slideshow-wrapper {
  margin-left: 1px;
}
.tabs-social-content.vertical {
  margin-left: -7px !important;
}
/******************************************************************
END FIXES/HACKS
******************************************************************/

/******************************************************************
MEDIA QUERIES
******************************************************************/
@media #{$small-only} {
  .wordmark {
    margin-top: 0;
  }
  .wordmark-wrapper {
    text-align: center;
  }
  .home-slider__caption {
    padding: 10px 0 10px 0 !important;
    position: relative !important;
    width: 100% !important;
  }
  .home-slider__caption__content {
    width: 100% !important;
  }
  .home-slider__caption__title {
    font-size: 16px;
  }
  .home-slider__caption__excerpt {
    padding: 0;
    color: #fff;
    background-color: transparent;
    margin-left: 0;
  }
  .home-slider__caption__read-more {
    padding: 0;
    color: #fff;
    background-color: transparent;
  }
}

@media #{$medium-only} {
  .audience-nav {
    margin-top: 15px;
  }
  .home-slider__caption__content {
    width: 65% !important;
  }
}
/******************************************************************
END MEDIA QUERIES
******************************************************************/
