@import "settings";
@import "foundation";
@import "partials/mixins";
/*
VARIABLES
---------------
Setting up variables. Bringing in Colors and Spacing.
--------------- */
@import "modules/bits";

/* Custom Styles */
.uppercase { text-transform: uppercase; }
.media {margin:10px;}
.media, .media__body {overflow:hidden; _overflow:visible; zoom:1;}
.media .media__img {float:left; margin-right: 10px;}
.media .media__img img{display:block;}
.media .media__img--ext{float:right; margin-left: 10px;}
.img-responsive {
  width: 100%;
  height: auto;
}
.news-heading {
  color: $dark-gray;
  font-weight: $bold;
  font-size: 18px;
  line-height: 24px;
}
.drop-down-nav {
  color: $dark-gray;
  font-size: 16px;
  font-weight: $normal;
  line-height: 24px;
}
.banner-headline {
  font-size: 28px;
  font-weight: $semibold;
  color: #fff;
  line-height: 34px;
}
.body-content {
  font-size: 13px;
  line-height: 19px;
  color: $dark-gray;
}
.desaturate {
  @include prefixed(filter, grayscale(100%));
}
.desaturate:hover {
  @include prefixed(filter, grayscale(0%));
}
.title-gradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eef0f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eef0f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eef0f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eef0f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eef0f0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eef0f0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f0',GradientType=0 ); /* IE6-9 */
}

body {
  background-image: url('../img/parts/gradientyellow.png');
  background-repeat: repeat-x;
  background-position-y: 38px;
  color: $dark-gray;
}
a {
  color: $dark-blue;
}
a:hover {
  text-decoration: none;
}
.side-nav {
  li {
    a {
      color: $dark-gray;
    }
  }
}
abbr {
  text-transform: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
}
.vcard {
  border: none;
  font-style: normal;
  font-size: 13px;
  padding-left: 0;
}
.vcard .fn {
  font-size: 13px;
}

.content {
  background-color: #fff;
}



.top-bar-section>ul>li>a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}


.wordmark {
  margin-left: -15px;
  margin-top: 6px;
  width: 213px;
  max-width: 213px;
}

.audience-row {
  a {
    color: $dark-gray;
  }
}

.audience-nav {
  margin-top: 62px;
}
.audience-nav > ul > li > a {
  font-size: 12px;
}
.uwo-search {
  margin-top: 18px;
}
.uwo-search > ul > li > a {
  font-size: 12px;
}


.panel > dl > dd {
  border: none;
}
.accordion dd > a {
  padding: 0;
  background-color: transparent;
}
.accordion dd > a:hover {
  background-color: transparent;
}
.accordion dd {
  background-color: transparent;
}

.datetime {
  font-size: 11px;
  color: $medium-gray;
  font-weight: $semibold;
}



.visit-uwot {
  height: 32px;
  background-color: $blue;
  text-align: center;
  padding-top: 7px;
  color: #fff;
}

.social-container {
  height: 320px;
  padding-top: 15px;
  background-color: $light-gray;
}
.social-icon {
  height: 24px;
}
.twitter-intents {
  position: absolute;
  bottom: 5px;
  a {
    color: $medium-gray;
  }
}
.social-feed-image {
  height: 90px;
}
.social-feed-date {
  position: absolute;
  bottom: 5px;
}
.social-feed-flickr-image {
  height: 160px;
}

/******************************************************************
FOOTER
******************************************************************/
.tagline {
  min-height: 32px;
  font-size: 16px;
  background-color: $dark-gray;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
}
.footer-container {
  padding-top: 20px;
  background-color: $medium-gray;
  color: $medium-dark-gray;
  a {
    color: $medium-dark-gray;
  }
}
.app-icon {
  width: 32px;
  height: 32px;
}
.app-icon--footer {
  margin-bottom: 15px;
}
.wismap {
  width: 124px;
}
/******************************************************************
END FOOTER
******************************************************************/

/******************************************************************
ABOUT UW OSHKOSH STYLES
******************************************************************/
.where-you-meet {
  background-color: $dark-gray;
  font-size: 18px;
  height: 27px;
  padding-left: 10px;
  padding-top: 4px;
  span {
    color: $dark-yellow;
  }
}
.where-you-meet__container {
  margin-top: -6px;
}
.about-pillar {
  background-color: #fff;
  height: 54px;
  li {
    margin-left: 0;
  }
}
.about-pillar__container {
  height: 54px;
}
.about-pillar__title {
  font-size: 18px;
  font-weight: $semibold;
  text-transform: uppercase;
  height: 53px;
  padding-top: 13px;
}
.about-pillar--education {
  width: 210px;
  padding-left: 36px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--education.png");
}
.about-pillar--education:hover {
  background-position-y: 53px;
}
.about-pillar--leadership {
  width: 200px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--leadership.png");
}
.about-pillar--leadership:hover {
  background-position-y: 53px;
}
.about-pillar--responsiveness {
  width: 230px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--responsiveness.png");
}
.about-pillar--responsiveness:hover {
  background-position-y: 53px;
}
.about-pillar--service {
  width: 170px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--service.png");
}
.about-pillar--service:hover {
  background-position-y: 53px;
}
.about-pillar--sustainability {
  width: 220px;
  padding-left: 11px;
  background-image: url("../img/about-uw-oshkosh/about-pillar--sustainability.png");
}
.about-pillar--sustainability:hover {
  background-position-y: 53px;
}
.about-pillar__dropdown {
  color: #fff;
  border: none !important;
  display: none;
  position: absolute;
  top: 54px;
  left: 8px;
  z-index: 9999;
  max-width: 810px;
  padding-left: 16px;
  h3 {
    color: #fff;
    font-weight: $semibold;
  }
}
.about-pillar__dropdown--education {
  background-color: $dark-blue !important;
}
.about-pillar__dropdown--leadership {
  background-color: $dark-orange !important;
}
.about-pillar__dropdown--responsiveness {
  background-color: $orange !important;
}
.about-pillar__dropdown--service {
  background-color: $blue !important;
}
.about-pillar__dropdown--sustainability {
  background-color: $dark-green !important;
}
/******************************************************************
END ABOUT UW OSHKOSH
******************************************************************/

/******************************************************************
ACADEMICS
******************************************************************/
.academics-row {
  padding-right: 32px;
  padding-left: 32px;
}
/******************************************************************
END ACADEMICS
******************************************************************/

/******************************************************************
CURRENT STUDENTS
******************************************************************/
.my-uwo {
  padding-right: 10px;
}
/******************************************************************
END CURRENT STUDENTS
******************************************************************/

/******************************************************************
NAV DRAWERS
******************************************************************/
.nav-info {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

/******************************************************************
END NAV DRAWERS
******************************************************************/

/******************************************************************
HOME
******************************************************************/
.home-slider__caption {
  background-color: transparent !important;
  bottom: 10px !important;
  padding-left: 0 !important;
}
.home-slider__caption__content {
  background-color: rgba(230, 134, 0, 0.9);
  width: 50%;
  padding: 8px 10px 8px 10px;
}
.home-slider__caption__title {
  font-weight: $normal;
}
.home-slider__caption__excerpt {
  background-color: #fff;
  padding: 8px 40px 8px 10px;
  margin-left: -10px;
}
.home-slider__caption__read-more {
  background-color: $dark-orange;
  color: #fff;
  padding: 8px 10px 8px 10px;
}
/******************************************************************
END HOME
******************************************************************/

/******************************************************************
PANELS
******************************************************************/
.panel {
  box-shadow: 0 0 5px $medium-gray;
  background: #fff;
  padding: 0;
}
.panel:hover {
  box-shadow: 0 0 5px $blue;
}
.panel__category {
  font-size: 13px;
  color: $medium-gray;
  font-weight: $semibold;
  a {
    color: $medium-gray;
  }
}
.panel__title {
  font-size: 18px;
  font-weight: $semibold;
  color: $dark-gray !important;
  height: 56px;
  padding: 8px 16px 0 16px;
  border-bottom: 1px solid $light-gray;
}
.panel__title--small {
  font-size: 13px;
  line-height: 19px;
}
.panel__news-heading {
  font-size: 18px;
  color: $dark-gray;
  font-weight: $semibold;
}
.panel__news-excerpt {

}
.panel__teaser {
  margin-bottom: 0;
}
.panel__posted-date {
  font-size: 11px;
  color: $medium-gray;
  font-weight: $semibold;
  position: absolute;
  bottom: 25px;
}
.panel__image {
  padding: 16px;
}
.panel__image--non-accordion {
  margin-bottom: 16px;
}
.panel__image__caption {
  padding: 0 16px 8px 16px;
}
.panel__image--home {
  height: 189px;
}
.panel__content {
  padding: 8px 16px 8px 16px;
}
.panel--home {
  height: 410px;
  border-top: 3px solid $dark-gray;
  padding: 1.25rem;
}
.panel__video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  text-align: center;
}
.panel__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*.panel--green {
  border-top-color: $green;
}
.panel--dark-green {
  border-top-color: $dark-green;
}
.panel--blue {
  border-top-color: $blue;
}
.panel--dark-blue {
  border-top-color: $dark-blue;
}
.panel--orange {
  border-top-color: $orange;
}
.panel--dark-orange {
  border-top-color: $dark-orange;
}
.panel--yellow {
  border-top-color: $yellow;
}
.panel--dark-yellow {
  border-top-color: $dark-yellow;
}*/
/******************************************************************
END PANELS
******************************************************************/

/******************************************************************
PAGE BANNERS
******************************************************************/
.page-banner {
  min-height: 64px;
  padding-left: 10px;
  margin-top: 0;
  padding-top: 10px;
}
.page-banner__title {
  color: #fff;
  margin-top: 0;
  font-size: 28px;
}
.page-banner--blue {
  background-color: $blue;
}
.page-banner--dark-blue {
  background-color: $dark-blue;
}
.page-banner--orange {
  background-color: $orange;
}
.page-banner--dark-orange {
  background-color: $dark-orange;
}
.page-banner--dark-green {
  background-color: $dark-green;
}
.page-banner--medium-dark-gray {
  background-color: $medium-dark-gray;
}
.page-banner--dark-gray {
  background-color: $dark-gray;
}
/******************************************************************
END PAGE BANNERS
******************************************************************/

/******************************************************************
CTAs
******************************************************************/
.cta {
  min-height: 48px;
  padding-left: 10px;
  padding-top: 7px;
  margin-bottom: 10px;
}
.cta--home {
  padding-top: 10px;
}
.cta--parents {
  padding-top: 15px;
  margin-bottom: 16px;
}
.cta__icon {
  width: 40px;
  height: 40px;
  margin-top: -3px;
  margin-right: 8px;
}
.cta__icon--book-closed {
  width: 40px;
  height: 40px;
  margin-top: -3px;
}
.cta__icon--pencil {
  width: 40px;
  height: 40px;
  margin-top: -3px;
}
.cta__text {
  color: #fff;
  font-size: 18px;
  font-weight: $normal;
}
.cta__text--home {
  font-size: 28px;
}
.cta--blue {
  background-color: $blue;
}
.cta--dark-blue {
  background-color: $dark-blue;
}
.cta--orange {
  background-color: $orange;
}
.cta--dark-orange {
  background-color: $dark-orange;
}
.cta--dark-green {
  background-color: $dark-green;
}
.cta--light-yellow {
  background-color: $light-yellow;
}
/******************************************************************
END CTAs
******************************************************************/

/******************************************************************
EVENTS
******************************************************************/
.event-item {

}
.event-item__title {
  margin-top: -5px;
}
.event-item__time {

}
.event-item__location {

}
.event-item__calendar {
  border: 1px solid $medium-gray;
  box-shadow: 1px 1px 5px #999;
  width: 64px;
}
.event-item__calendar--month {
  height: 24px;
  background-color: $dark-blue;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}
.event-item__calendar--day {
  height: 40px;
  color: $dark-gray;
  text-align: center;
  font-size: 28px;
  font-weight: $semibold;
  padding-top: 6px;
}
/******************************************************************
END EVENTS
******************************************************************/

/******************************************************************
CAMPUS FAST FACTS
******************************************************************/
.fast-facts table {
  border: none;
  border-top: $yellow 2px solid;
  width: 100%;
}
.fast-facts__number {
  color: $dark-blue;
}
/******************************************************************
END CAMPUS FAST FACTS
******************************************************************/

/******************************************************************
UWO DRAWER STYLES
******************************************************************/
.drawer__row {
  padding-top: 16px;
  padding-bottom: 16px;
}
/******************************************************************
END DRAWER STYLES
******************************************************************/

/******************************************************************
BESPOKE SLIDER STYLES
******************************************************************/
.deck-container { position: relative; }
deck { position: relative; }
.container-overflow { overflow: hidden; }
#socialTabs {
  width: 144px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
  font-size: 1.2em;
  li {
    width: 100%;
  }
}
#socialTabs dd > a {
  font-size: 13px;
}
#socialTabs>li>a:hover {
  border: none;
  background-color: #fff;
}
#socialTabs>li {
  background-color: #fff;
  a {
    color: $medium-gray;
    border: none;
    border-radius: 0;
    margin-right: 0;
  }
}
#socialTabs>li.active>a {
  background-color: $dark-blue;
  color: #fff;
}

.social-controls {
  position: absolute;
  left: 1074px;
  width: 70px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
  ul {
    margin-top: 50px;
  }
  li {
    color: #fff;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
  }
  .previous {
    background-color: $blue;
    margin-bottom: 5px;
  }
  .next {
    background-color: $dark-blue;
  }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
}
slide {
    position: absolute;
    top: 0;
    left: -1px;
    opacity: 0;
}
slide.bespoke-slide {
    -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
    transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
slide.bespoke-active {
    opacity: 1;
    z-index: 1;
}
/* Classic Theme */
.social-article {
  width: 309px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

slide.bespoke-before {
    -webkit-transform: translate3d(-1920px, 0, 0);
    -moz-transform: translate3d(-1920px, 0, 0);
    -ms-transform: translate3d(-1920px, 0, 0);
    -o-transform: translate3d(-1920px, 0, 0);
    transform: translate3d(-1920px, 0, 0);
}
slide.bespoke-before-2 {
    -webkit-transform: translate3d(-1280px, 0, 0);
    -moz-transform: translate3d(-1280px, 0, 0);
    -ms-transform: translate3d(-1280px, 0, 0);
    -o-transform: translate3d(-1280px, 0, 0);
    transform: translate3d(-1280px, 0, 0);
    opacity: 0.1;
}
slide.bespoke-before-1 {
    -webkit-transform: translate3d(-640px, 0, 0);
    -moz-transform: translate3d(-640px, 0, 0);
    -ms-transform: translate3d(-640px, 0, 0);
    -o-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
    opacity: 0.3;
}
slide.bespoke-after {
    -webkit-transform: translate3d(1920px, 0, 0);
    -moz-transform: translate3d(1920px, 0, 0);
    -ms-transform: translate3d(1920px, 0, 0);
    -o-transform: translate3d(1920px, 0, 0);
    transform: translate3d(1920px, 0, 0);
}
slide.bespoke-after-2 {
    -webkit-transform: translate3d(615px, 0, 0);
    -moz-transform: translate3d(615px, 0, 0);
    -ms-transform: translate3d(615px, 0, 0);
    -o-transform: translate3d(615px, 0, 0);
    transform: translate3d(615px, 0, 0);
    opacity: 1.0;
}
slide.bespoke-after-1 {
    -webkit-transform: translate3d(308px, 0, 0);
    -moz-transform: translate3d(308px, 0, 0);
    -ms-transform: translate3d(308px, 0, 0);
    -o-transform: translate3d(308px, 0, 0);
    transform: translate3d(308px, 0, 0);
    opacity: 1.0;
}
/******************************************************************
END BESPOKE SLIDER STYLES
******************************************************************/
