/* Custom Variables */
$yellow: #fec425;
$dark-yellow: #d79a27;
$light-gray: #ededed;
$medium-gray: #b0b0b0;
$medium-dark-gray: #666;
$dark-gray: #444;
$orange: #e68600;
$dark-orange: #c05600;
$blue: #69bad9;
$dark-blue: #0077ad;
$green: #aab464;
$dark-green: #5a9664;
$campus-news: #d19b31;
$research-news: #5f9864;
$powering-community: #75b8d8;
$uwotw: #2b75ae;
$meet-uwo: #b95414;
$twif: #f8c636;

/* Custom Styles */
body {
  background-image: url('../img/parts/gradientyellow.png');
  background-repeat: repeat-x;
  background-position-y: 38px;
  color: $dark-gray;
}

a:hover {
  text-decoration: none;
}

.social-icons {
  color: #666;
  a {
    color: #666;
  }
}
.content {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.page-title {
  margin-top: 0;
}

.university-nav .navbar-nav>li>a {
  color: #fff;
  text-transform: uppercase;
}
.nav-info {
  display: none;
  margin-top: -15px;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.wordmark {
  margin-left: -18px;
  margin-top: -15px;
}

.audience-row {
  a {
    color: $dark-gray;
  }
}

.audience-nav {
  margin-top: 62px;
}

.uwo-search {
  margin-top: 18px;
}

.page-title-row {
  height: 48px;
  color: #fff;
  padding-left: 10px;
  padding-top: 10px;
}
.page-title-current-students {
  background-color: $blue;
}
.page-title-faculty-and-staff {
  background-color: $dark-orange;
}
.page-title-parents {
  background-color: $dark-blue;
}

.cta {
  height: 48px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  padding-top: 3px;
  padding-left: 10px;
}
.cta-visit {
  background-color: $blue;
}
.cta-tour {
  background-color: $orange;
}
.cta-apply {
  background-color: $dark-orange;
}
.cta-openings {
  background-color: $blue;
}
.cta-directory {
  background-color: $dark-green;
}
.cta-directions {
  background-color: $orange;
}
.cta-resources {
  background-color: $blue;
}
.cta-faq {
  background-color: $dark-orange;
}

.event-calendar {
  border: 1px solid $medium-gray;
  box-shadow: 1px 1px 5px #999;
}
.event-month {
  width: 64px;
  height: 24px;
  background-color: $dark-blue;
  color: #fff;
  text-align: center;
}
.event-day {
  width: 64px;
  height: 40px;
  color: $dark-gray;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.category {
  font-size: 13px;
  color: $medium-gray;
  font-weight: 600;
  a {
    color: $medium-gray;
  }
}

.news-heading {
  font-size: 18px;
  color: $dark-gray;
  font-weight: 600;
}

.panel-home {
  height: 410px;
  box-shadow: 1px 1px 5px #999;
  border-top: 3px solid;
  background: #fff;
}
.panel-image {
  height: 189px;
}
.panel-news {
  //min-height: 500px;
}
.panel-weekly {
  //min-height: 475px;
}
.panel.campus-news {
  border-top-color: $dark-yellow;
}
.panel.research-news {
  border-top-color: $dark-green;
}
.panel.powering-community {
  border-top-color: $blue;
}
.panel.uwotw {
  border-top-color: $dark-blue;
}
.panel.meet-uwo {
  border-top-color: $dark-orange;
}
.panel.twif {
  border-top-color: $yellow;
}
.posted-date {
  font-size: 11px;
  color: $medium-gray;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  text-align: center;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visit-uwot {
  height: 32px;
  background-color: $blue;
  text-align: center;
  padding-top: 7px;
  color: #fff;
}

.social-container {
  height: 320px;
  padding-top: 15px;
  background-color: $light-gray;
}
.social-icon {
  height: 24px;
}

.tagline {
  height: 32px;
  font-size: emCalc(16);
  background-color: $dark-gray;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
}
.footer-container {
  height: 208px;
  background-color: $medium-gray;
  color: $medium-dark-gray;
  a {
    color: $medium-dark-gray;
  }
}
.app-icon {
  width: 32px;
  height: 32px;
}
.wismap {
  width: 124px;
}

/******************************************************************
BESPOKE SLIDER STYLES
******************************************************************/
.deck-container { position: relative; }
deck { position: relative; }
.container-overflow { overflow: hidden; }
#socialTabs {
  width: 184px;
  height: 238px;
  border: none;
  background-color: #fff;
}
.social-controls {
  position: absolute;
  left: 1065px;
  width: 118px;
  height: 238px;
  background-color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
}
slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
slide.bespoke-slide {
    -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
    -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
    transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
slide.bespoke-active {
    opacity: 1;
    z-index: 1;
}
/* Classic Theme */
.social-article {
  width: 288px;
  height: 238px;
  border: 1px solid $light-gray;
  background-color: #fff;
}

slide.bespoke-before {
    -webkit-transform: translate3d(-1920px, 0, 0);
    -moz-transform: translate3d(-1920px, 0, 0);
    -ms-transform: translate3d(-1920px, 0, 0);
    -o-transform: translate3d(-1920px, 0, 0);
    transform: translate3d(-1920px, 0, 0);
}
slide.bespoke-before-2 {
    -webkit-transform: translate3d(-1280px, 0, 0);
    -moz-transform: translate3d(-1280px, 0, 0);
    -ms-transform: translate3d(-1280px, 0, 0);
    -o-transform: translate3d(-1280px, 0, 0);
    transform: translate3d(-1280px, 0, 0);
    opacity: 0.1;
}
slide.bespoke-before-1 {
    -webkit-transform: translate3d(-640px, 0, 0);
    -moz-transform: translate3d(-640px, 0, 0);
    -ms-transform: translate3d(-640px, 0, 0);
    -o-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
    opacity: 0.3;
}
slide.bespoke-after {
    -webkit-transform: translate3d(1920px, 0, 0);
    -moz-transform: translate3d(1920px, 0, 0);
    -ms-transform: translate3d(1920px, 0, 0);
    -o-transform: translate3d(1920px, 0, 0);
    transform: translate3d(1920px, 0, 0);
}
slide.bespoke-after-2 {
    -webkit-transform: translate3d(576px, 0, 0);
    -moz-transform: translate3d(576px, 0, 0);
    -ms-transform: translate3d(576px, 0, 0);
    -o-transform: translate3d(576px, 0, 0);
    transform: translate3d(576px, 0, 0);
    opacity: 1.0;
}
slide.bespoke-after-1 {
    -webkit-transform: translate3d(288px, 0, 0);
    -moz-transform: translate3d(288px, 0, 0);
    -ms-transform: translate3d(288px, 0, 0);
    -o-transform: translate3d(288px, 0, 0);
    transform: translate3d(288px, 0, 0);
    opacity: 1.0;
}
/******************************************************************
END BESPOKE SLIDER STYLES
******************************************************************/
