---
layout: default
title: Programs
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
		<li><a href="http://www.uwosh.edu/foundation/news-and-announcements/support-uw-oshkosh/online-giving">Donate</a></li>
    <li class="off-canvas__label">Academics</li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
    <li><a href="http://www.uwosh.edu/academics/majors-minors-emphases.html">Majors, Minors and Emphases</a></li>
    <li><a href="http://www.uwosh.edu/academics/programs.html">Programs</a></li>
    <li><a href="http://www.uwosh.edu/academics/colleges.html">Colleges</a></li>
    <li><a href="http://www.uwosh.edu/academics/centers-and-programs.html">Centers and Programs</a></li>
    <li><a href="http://www.uwosh.edu/grants/students/research-opps">Undergraduate Research</a></li>
    <li><a href="http://www.uwosh.edu/academics/learning-assistance-services.html">Learning Assistance Services</a></li>
    <li><a href="http://www.uwosh.edu/oie">International Study</a></li>
    <li><a href="http://www.uwosh.edu/provost/Main%20Highlight/usp-program/essential-learning-outcomes">Liberal Education</a></li>
    <li><a href="http://www.uwosh.edu/gradstudies">Graduate Studies</a></li>
    
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">

    <a href="{{ site.baseurl }}/academics">
      <div class="page-banner page-banner--medium-dark-gray">
        <h2 class="page-banner__title">Academics</h2>
      </div>
    </a>

  </div>
</div>

<div class="row content">

  <div class="medium-6 large-5 show-for-medium-up columns right-rule padding-right-0">
    {% include academics/side-nav.html %}
    {% include social-icons.html %}
    {% include news-announcements-cta.html %}
  </div>

  <div class="medium-18 large-19 columns">
    <nav class="breadcrumbs breadcrumbs--internal">
      <a href="{{site.baseurl}}">Home</a>
      <a href="{{site.baseurl}}/academics">Academics</a>
      <a href="#" class="current">{{ page.title }}</a>
    </nav>
    {% include academics/programs/lead-content.html %}
  </div>

  <div class="small-24 columns hide-for-large-up">
    {% include social-icons.html %}
    {% include news-announcements-cta.html %}
  </div>

</div>
