<div class="intro-text">
  <h2 class="news-heading">Wireless Services at UW Oshkosh</h1>
    <p class="drop-down-nav">Welcome to the University of Wisconsin Oshkosh! To connect to WiFi and other wireless services at UW Oshkosh, please log-in with your NetID username and password.</p>
    <p>To access UW Oshkosh WiFi as a guest, please <a href="http://www.uwosh.edu/acs/services/wireless-services/guest-access-for-wireless">follow these instructions</a>.</p>
    <div></div>
    <h3>Resources for connecting to WiFi at UW Oshkosh</h3>
    <p>
      <strong><a href="http://www.uwosh.edu/acs/services/wireless-services/how-to-connect-to-campus-wireless">Detailed instructions for connecting to WiFi</a>
      </strong>
    </p>
    <p>
      <strong>How to connect to WiFi on Windows 8</strong>
    </p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/fr8tzot4Aoc?rel=0" frameborder="0" allowfullscreen></iframe>
    <div></div>
    <p>
      <strong>How to connect to WiFi on a Mac</strong>
    </p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/QCjScki8QAc?rel=0" frameborder="0" allowfullscreen></iframe>

    <h3>Additional wireless resources</h3>
    <ul class="custom-bullets">
      <li><a href="http://www.uwosh.edu/acs/services/wireless-services/what-we-offer">Wireless services at UW Oshkosh</a>
      </li>
      <li><a href="http://www.uwosh.edu/acs/services/wireless-services/what-can-i-connect-to-wireless">Connecting your device to wireless</a>
      </li>
      <li><a href="http://www.uwosh.edu/acs/services/wireless-services/what-can-i-connect-to-wireless">Printing to a lab printer from a wireless device</a>
      </li>
    </ul>

    <h3>Spring 2015 Wireless Changes</h3>
    <p>New wireless access points have been installed in Kolf Sports Center, Student Success Center, Swart Hall, Harrington Hall and Albee Hall.</p>
    <p>It is recommended that devices that connect to the campus wireless support 2.4 Ghz and 5 Ghz or '802.11a, g, n' standards at a minimum and '802.11ac' if available.</p>
    <p>Any laptops brought for use should support both bands.</p>

</div>
