<div class="panel">
	<a href="http://honors.uwosh.edu/"><h3 class="panel__title title-gradient">Honors College <i class="fa fa-arrow-right right clickable"></i></h3></a>
	<div class="panel__content">
		<a href="http://honors.uwosh.edu/"><img src="{{ site.baseurl }}/img/academics/honors-college.jpg" class="img-responsive panel__image panel__image--non-accordion" alt="College of Business"></a>
    <p class="body-content panel__teaser">The Honors College fosters a community in which high-achieving students experience the best educational practices and work closely with faculty. <a href="http://honors.uwosh.edu">Read more &hellip;</a></p>
	</div>
</div>
