<h3 class="news-heading">Programs</h3>

<p class="drop-down-nav">
  The majors listed here include academic planning sheets showing
  <strong>examples</strong> of how students might choose to fulfill program requirements within a period of four years.
</p>

<h4>College of Business</h4>
<table>
  <thead>
    <tr>
      <th>Major</th>
      <th>Sample 4-Year Course Sequences</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/accounting">Accounting</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Accounting_Major_10-11.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Accounting_Major_10-11.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/economics">Economics</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Economics_Major_10-11.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Economics_Major_10-11.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/finance">Finance</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Finance_Major_10-11.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Finance_Major_10-11.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/human-resource-mgmt">Human Resources Management</a>
        </p>
      </td>
      <td >
        <p>
          <a title="HRM_Major_10-11.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/HRM_Major_10-11.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/information-systems">Information Systems</a>
        </p>
      </td>
      <td >
        <p>
          <a title="MIS_Major_10-11.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/MIS_Major_10-11.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/interactive-web-management">Interactive Web Management</a>
        </p>
      </td>
      <td >
        <p>
          <a title="iwm-planningsheet-12-13.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/iwm-planningsheet-12-13.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/marketing">Marketing</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Marketing__Major_sample_4_yr.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Marketing__Major_sample_4_yr.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/supply-chain-operations-mangement">Supply Chain and Operations Management</a></p>
      </td>
      <td >
        <p>
          <a title="SCOM_10-11.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/SCOM_10-11.pdf">PDF</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h4>College of Education and Human Services</h4>
<table >
  <thead>
    <tr>
      <th >Major</th>
      <th>Sample 4-Year Course Sequences

      </th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/human-services-Leadership/Human_Services_Leadership">Human Services Leadership</a>
        </p>
      </td>
      <td >
        <p>
          <a title="College_of_Education_and_Human_Services_-_Human_Services_Leadership" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/College_of_Education_and_Human_Services_-_Human_Services_Leadership.pdf">PDF</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h4>College of Letters and Science</h4>
<table >
  <thead>
    <tr>
      <th >Major</th>
      <th>Sample 4-Year Course Sequences

      </th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/anthropology/">Anthropology</a>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <a  href="http://www.uwosh.edu/art">Art</a>
      </td>
      <td >
        <a title="fineart&amp;arts-4yearplan.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4YearPlans_FineArt-Art.pdf">PDF</a>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/kinesiology/academic-programs/majors/athletic-training">Athletic Training

          </a>
        </p>
      </td>
      <td >
        <p>
          <a title="athletic_training_4yr_plan.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/athletic_training_4yr_plan.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/biology">Biology</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Cell Molecular</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Biology_-_Cell_Molecular" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Biology_-_Cell_Molecular.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Ecology and Organismal</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Biology_-_Ecology_and_Organismal" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Biology_-_Ecology_and_Organismal.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Healthcare — Business</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Biology_-_Healthcare_Business" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Biology_-_Healthcare_Business.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Healthcare — Science</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Biology_-_Healthcare_Science" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Biology_-_Healthcare_Science.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Microbiology</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Biology_-_Microbiology" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Biology_-_Microbiology.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/chemistry/">Chemistry</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >
        <p>
          <a title="Chemistry" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_ProfessionalChemistry.12-2010.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>
            <p>Professional Biochemistry</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Chemistry-BioChemistry" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_ProfessionalBiochemistry.12-2010docx-1.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>
            <p>Professional Chemistry</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Chemistry" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_ProfessionalChemistry.12-2010.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>
            <p>Biomolecular Science</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Chemistry-BiomolecularScience" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_BiomolecularScience.12-2010docx.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/communication/">Communication</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Communication" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Communication.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/computer_science/">Computer Science</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >
        <p>
          <a title="COMPUTER SCIENCE.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/COMPUTER%20SCIENCE.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <span class="Apple-style-span">Software Engineering</span>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="CS-SOFTWARE ENGINEERING .pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/CS-SOFTWARE%20ENGINEERING%20.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <span class="Apple-style-span">Computer Information Systems</span>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="CS-COMPUTER INFORMATION SYSTEMS.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/CS-COMPUTER%20INFORMATION%20SYSTEMS.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/criminaljustice/">Criminal Justice</a>
        </p>
      </td>
      <td >
        <p>
          <a title="CJ_4_Year_Plan_Template.docxba.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/CJ_4_Year_Plan_Template.docxba.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.english.uwosh.edu/">English</a>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/biology">Environmental Health</a>   </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/es//">Environmental Studies</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Environmental Science (B.S. degree)</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Environmental_Studies_-_EPV-BS" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Environmental_Studies_-_EPV-BS.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Environmental Policy and Values (B.A. degree)</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Environmental_Studies-EPV-BA" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Environmental_Studies-EPV-BA.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Environmental Policy and Values (B.S. degree)</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Environmental_Studies_-_EPV-BS" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Environmental_Studies_-_EPV-BS.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/geography/">Geography</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Geography_BS_4_Year_Plan.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Geography_BS_4_Year_Plan.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/departments/geology/">Geology</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >


      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>
            <p>Professional</p>
          </li>
        </ul>
      </td>
      <td >
        <span class="Apple-style-span">
          <a title="4 Year Plan Template -Geology (Professional emphasis) sample.pdf" class="internal-link" href="four-year-degree-programs/documents/4%20Year%20Plan%20Template%20-Geology%20-Professional%20emphasis-%20sample.pdf">PDF</a>
        </span>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>ProfessionalHydrogeology</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="4 Year Plan Template -Geology (Hydrogeology) sample.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4%20Year%20Plan%20Template%20-Geology%20-Hydrogeology-%20sample.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Liberal Arts</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="4 Year Plan Template -Geology (Liberal Arts) sample.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4%20Year%20Plan%20Template%20-Geology%20-Liberal%20Arts-%20sample.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/history">History</a>
        </p>
      </td>
      <td >
        <p>
          <a title="History_4_year_Plan_-_Ann's_additions.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/History_4_year_Plan_-_Anns_additions.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>Interactive Web Management</td>
      <td >
        <a title="BA-BS-IWM-Planning.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/BA-BS-IWM-Planning.pdf">PDF</a>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/home_pages/departments/international/">International Studies</a>
          <em>

          </em>
        </p>
        <p>
          <em>Discipline emphasis in:</em>
        </p>
      </td>
      <td >
        <p>
          <a title="International_Studies_-_Discipline_Emphasis" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/International_Studies_-_Discipline_Emphasis.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/anthropology/">Anthropology</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstds_anthro.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstds_anthro.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/art">Art</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="fineart&amp;arts-4yearplan.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4YearPlans_FineArt-Art.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Economics</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstds_economics.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstds_economics.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/english">English</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstds_english.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstds_english.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/foreignlanguage/french">French</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstdts_french.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstdts_french.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/geography">Geography</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Geography_BA_4_Year_Plan.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Geography_BA_4_Year_Plan.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/foreignlanguage/german">German</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstds_german.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstds_german.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/history">History</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstds_history.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstds_history.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/political_science/">Political Science</a>
            </p>
          </li>
        </ul>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/anthropology">Religious Studies</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a  href="http://www.uwosh.edu/home_pages/departments/international/assets/Advising%20sheets/intstds_religiousstds.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/foreignlanguage/spanish">Spanish</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="intstds_spanish.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/intstds_spanish.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <em>Regional Studies emphasis in:</em>
        </p>
      </td>
      <td>

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>African Studies</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a  href="http://www.uwosh.edu/home_pages/departments/international/assets/Advising%20sheets/intstds_african.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Asian Studies</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a  href="http://www.uwosh.edu/home_pages/departments/international/assets/Advising%20sheets/intstds_asian.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>European Studies</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a  href="http://www.uwosh.edu/home_pages/departments/international/assets/Advising%20sheets/intstds_european.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Latin American Studies</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a  href="http://www.uwosh.edu/home_pages/departments/international/assets/Advising%20sheets/intstds_latinamerican.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <em>International Business emphasis</em>
        </p>
      </td>
      <td >
        <p>
          <a title="International_Studies_-_International_Business" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/International_Studies_-_International_Business.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <em>Global and National Security emphasis</em>
        </p>
      </td>
      <td >
        <p>
          <a title="International_Studies_-_Global_National_Security" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/International_Studies_-_Global_National_Security.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <em>International Development emphasis</em>
        </p>
      </td>
      <td >
        <p>
          <a title="International_Studies_-_International_Development" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/International_Studies_-_International_Development.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/journalism/">Journalism</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Advertising</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Journalism - Advertising course plan" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Journalism_-_Advertising.docx">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Media Studies</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Media Studies Emphasis" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Journalism_-_Media_Studies.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Public Relations</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Journalism_-_Public_Relations" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Journalism_-_Public_Relations.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Visual</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Journalism_-_Visual" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Journalism_-_Visual.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Writing &amp; Editing</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Journalism_-_Writing_Editing" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Journalism_-_Writing_Editing.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/kinesiology">Kinesiology</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Exercise and Fitness</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="kinesiology_exercise-fitness.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/kinesiology_exercise-fitness.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Healthcare</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="kinesiology_healthcare.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/kinesiology_healthcare.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Strength and Conditioning</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="kinesiology_strength-conditioning.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/kinesiology_strength-conditioning.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/mathematics">Mathematics</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Applied Mathematics</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Mathematics_-_Applied_Math" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Mathematics_-_Applied_Math.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Liberal Arts</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Mathematics_-_Liberal_Arts" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Mathematics_-_Liberal_Arts.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Statistics</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Mathematics_-_Statistics" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Mathematics_-_Statistics.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/med_tech">Medical Technology</a>
        </p>
      </td>
      <td >
        <p>
          <a  href="http://www.uwosh.edu/med_tech/internships-hopsital-affiliates/sample-program-yrs.-1-3">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/biology">Microbiology</a>
        </p>
      </td>
      <td>
        <p ></p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/departments/philosophy/">Philosophy</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Philosophy" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Philosophy.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/phys">Physics and Astronomy</a>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/political_science/">Political Science</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Political_Science_Four_Year_Plan.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Political_Science_Four_Year_Plan.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p >
          <a  href="http://www.uwosh.edu/departments/psychology/">Psychology</a>
        </p>
        <p >
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >
        <p>
          <a title="4_Year_Plan_psych_final[1].pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_psych_final-1.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Healthcare Business</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="4_Year_Plan_Psych_HCBusiness_final.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_Psych_HCBusiness_final.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Healthcare Science</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="4_Year_Plan_Psych_HCScience_final.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/4_Year_Plan_Psych_HCScience_final.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/rtf">Radio-TV-Film</a>
        </p>
      </td>
      <td >
        <p>
          <a title="radiotvfilm.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Radio_TV_Film.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/anthropology/religious-studies-program">Religious Studies</a>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/socialwork">Social Work</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Social_Work_4_year_plan" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Social_Work_4_year_plan_-_Anns_additions.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/sociology">Sociology</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Sociology" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Sociology.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/theatre">Theatre</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Acting</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Theatre_Arts_Major_acting.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Theatre_Arts_Major_acting.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Integrated</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Theatre_-_Integrated" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Theatre_-_Integrated.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>Technology</p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="Theatre_Arts_Major_Design_Technology_Emphasis_BA.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Theatre_Arts_Major_Design_Technology_Emphasis_BA.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/geography/">Urban Planning</a>
        </p>
      </td>
      <td >

      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/womens-studies/">Women's Studies</a>
        </p>
      </td>
      <td >
        <p>
          <a title="Women's_Studies" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/Womens_Studies.pdf">PDF</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h4>Center for New Learning</h4>
<table >
  <thead>
    <tr>
      <th >Major</th>
      <th>Sample 4-Year Course Sequences

      </th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/llce/cnl/programs/bas-ferm">Fire and Emergency Response Management</a>
        </p>
      </td>
      <td >
        <p>
          <a title="bas_fire_-_emergency_response.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/bas_fire_-_emergency_response.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/llce/cnl/programs/bas-los">Leadership and Organizational Studies</a>
        </p>
      </td>
      <td >
        <p>
          <a title="bas_leadership_-_org_studies.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/bas_leadership_-_org_studies.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <p>
          <a  href="http://www.uwosh.edu/llce/cnl/programs/bls">Liberal Studies</a>
        </p>
        <p>
          <em>Emphasis in:</em>
        </p>
      </td>
      <td >
        <p>
          <a title="bls_liberal_studies.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/bls_liberal_studies.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/llce/cnl/programs/bls-ld">Leadership Development</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="bls_liberal_studies-leadership_dev_emphasis.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/bls_liberal_studies-leadership_dev_emphasis.pdf">PDF</a>
        </p>
      </td>
    </tr>
    <tr >
      <td>
        <ul>
          <li>
            <p>
              <a  href="http://www.uwosh.edu/llce/cnl/programs/bls-oa">Organizational Administration</a>
            </p>
          </li>
        </ul>
      </td>
      <td >
        <p>
          <a title="bls_liberal_studies-org_admin_emphasis.pdf" class="internal-link" href="http://www.uwosh.edu/home/future-students/undergraduate/academics/documents/bls_liberal_studies-org_admin_emphasis.pdf">PDF</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

