---
layout: default
title: Ask a Question
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">
    <a href="{{ site.baseurl }}/community-and-visitors">
      <div class="page-banner page-banner--dark-gray">
        <h2 class="page-banner__title">Community and Visitors</h2>
      </div>
    </a>
    <br>
  </div>
  <div class="medium-16 small-24 columns">
    <img src="{{ site.baseurl }}/img/community-and-visitors/aerial-banner.jpg" class="img-responsive">
  </div>
  <div class="medium-8 small-24 columns">
    <div class="row">
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/go/directions/">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-pointer-p.png" class="cta__icon"> <span class="cta__text">Directions to Campus</span>
          </div>
        </a>
      </div>
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/directory">
          <div class="cta cta--dark-green">
            <img src="{{ site.baseurl }}/img/icons/icon-directory.png" class="cta__icon"> <span class="cta__text">Campus Directory</span>
          </div>
        </a>
      </div>
      <div class="small-24 columns">
        <a href="{{ site.baseurl }}/community-and-visitors/ask-us.html">
          <div class="cta cta--dark-orange">
            <img src="{{ site.baseurl }}/img/icons/icon-question.png" class="cta__icon"> <span class="cta__text">Ask a Question</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row content">
  <div class="medium-16 columns">
    <nav class="breadcrumbs">
      <a href="{{site.baseurl}}">Home</a>
      <a href="{{site.baseurl}}/community-and-visitors">Community and Visitors</a>
      <a href="#" class="current">Ask a Question</a>
    </nav>
    {% include community-and-visitors/ask-us/lead-content.html %}
  </div>

  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-24 columns">
        {% include social-icons.html %}
        {% include community-and-visitors/audience-banners.html %}
      </div>
    </div>
  </div>
</div>
