---
layout: default
title: Community and Visitors | University of Wisconsin Oshkosh
---

<div class="row">
	<div class="small-12 columns">
		<div class="page-banner page-banner--dark-gray">
    	<h2 class="page-banner__title">Community and Visitors</h2>
    </div>
    <img src="{{ site.baseurl }}/img/community-and-visitors/community-banner.jpg" class="img-responsive"><br><br>
		<div class="row">
			<div class="large-2 columns">
				{% include community-and-visitors/side-nav.html %}
        {% include titan-alert.html %}<br>
				{% include ads.html %}
			</div>
			<div class="large-10 columns">
				<div class="row">
					<div class="large-6 columns">
						{% include community-and-visitors/panel-building-better-communities.html %}
						{% include community-and-visitors/panel-attend-a-campus-event.html %}
						{% include community-and-visitors/panel-conference-and-catering-services.html %}
						{% include community-and-visitors/panel-explore-educational-opportunities.html %}
					</div>
					<div class="large-6 columns">
						{% include community-and-visitors/panel-hire-a-titan.html %}
						{% include community-and-visitors/panel-solve-a-problem-with-research.html %}
						{% include community-and-visitors/panel-support-and-resources.html %}
						{% include community-and-visitors/panel-start-a-business.html %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>