---
layout: default
title: Community and Visitors
---

<div class="content">
  <div class="row">
    <div class="large-24 columns">
      <div class="page-banner page-banner--dark-gray">
        <h2 class="page-banner__title">Community and Visitors</h2>
      </div>
      <br>
    </div>
    <div class="large-16 small-24 columns">
      <img src="{{ site.baseurl }}/img/community-and-visitors/community-banner.jpg" class="img-responsive">
    </div>
    <div class="large-8 small-24 columns">
      <div class="row">
        <div class="small-24 medium-8 large-24 columns">
          <a href="http://www.uwosh.edu/go/directions/">
            <div class="cta cta--orange">
              <img src="{{ site.baseurl }}/img/icons/icon-pointer-p.png" class="cta__icon"> <span class="cta__text">Directions to Campus/Parking</span>
            </div>
          </a>
        </div>
        <div class="small-24 medium-8 large-24 columns">
          <a href="http://www.uwosh.edu/directory">
            <div class="cta cta--dark-green">
              <img src="{{ site.baseurl }}/img/icons/icon-directory.png" class="cta__icon"> <span class="cta__text">Campus Directory</span>
            </div>
          </a>
        </div>
        <div class="small-24 medium-8 large-24 columns">
          <a href="http://www.uwosh.edu/directory">
            <div class="cta cta--dark-orange">
              <img src="{{ site.baseurl }}/img/icons/icon-question.png" class="cta__icon"> <span class="cta__text">Ask a Question</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-16 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="#" class="current">Community and Visitors</a>
      </nav>
      {% include community-and-visitors/lead-content.html %}

      <div class="row">
        <div class="large-8 medium-12 columns">
          {% include community-and-visitors/panel-building-better-communities.html %}
				  {% include community-and-visitors/panel-attend-a-campus-event.html %}
          {% include community-and-visitors/panel-support-and-resources.html %}
        </div>

        <div class="large-8 medium-12 columns">
          {% include community-and-visitors/panel-hire-a-titan.html %}
				  {% include community-and-visitors/panel-solve-a-problem-with-research.html %}
          {% include community-and-visitors/panel-start-a-business.html %}
        </div>

        <div class="large-8 medium-12 columns">
          {% include community-and-visitors/panel-conference-and-catering-services.html %}
				  {% include community-and-visitors/panel-explore-educational-opportunities.html %}
        </div>
      </div>
    </div>

    <div class="large-8 columns">
      <div class="row">
        <div class="large-24 columns">
          {% include social-icons.html %}<br>
          {% include ads.html %}
        </div>
      </div>
    </div>
  </div>
</div>
