---
layout: default
title: Community and Visitors
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">
    <div class="page-banner page-banner--dark-gray">
      <h2 class="page-banner__title">Community and Visitors</h2>
    </div>
    <br>
  </div>
  <div class="medium-16 small-24 columns">
    <img src="{{ site.baseurl }}/img/community-and-visitors/aerial-banner.jpg" class="img-responsive" alt="Arial view of UW Oshkosh campus">
  </div>
  <div class="medium-8 small-24 columns">
    <div class="row">
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/go/directions/">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-pointer-p.png" class="cta__icon" alt="Parking icon"> <span class="cta__text">Directions to Campus</span>
          </div>
        </a>
      </div>
      <div class="small-24 columns">
        <a href="http://www.uwosh.edu/directory">
          <div class="cta cta--dark-green">
            <img src="{{ site.baseurl }}/img/icons/icon-directory.png" class="cta__icon" alt="Campus directory icon"> <span class="cta__text">Campus Directory</span>
          </div>
        </a>
      </div>
      <div class="small-24 columns">
        <a href="{{ site.baseurl }}/community-and-visitors/ask-us.html">
          <div class="cta cta--dark-orange">
            <img src="{{ site.baseurl }}/img/icons/icon-question.png" class="cta__icon" alt="Ask a question icon"> <span class="cta__text">Ask a Question</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row content">
  <div class="medium-16 columns">
    <nav class="breadcrumbs">
      <a href="{{site.baseurl}}">Home</a>
      <a href="#" class="current">Community and Visitors</a>
    </nav>
    {% include community-and-visitors/lead-content.html %}

    <div class="row">
      <div class="small-24 columns">
        <ul class="small-block-grid-1 medium-block-grid-3">
			    <li>{% include community-and-visitors/panel-attend-a-campus-event.html %}</li>
          <li>{% include community-and-visitors/panel-hire-a-titan.html %}</li>
          <li>{% include community-and-visitors/panel-conference-and-catering-services.html %}</li>
          <li>{% include community-and-visitors/panel-explore-educational-opportunities.html %}</li>
          <li>{% include community-and-visitors/panel-support-and-resources.html %}</li>
          <li>{% include community-and-visitors/panel-start-a-business.html %}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-24 columns">
        {% include social-icons.html %}
        {% include community-and-visitors/audience-banners.html %}
      </div>
    </div>
  </div>
</div>
