---
layout: default
title: Parents, Family and Friends | University of Wisconsin Oshkosh
---

<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="page-banner page-banner--dark-blue">
        <h2 class="page-banner__title">Parents, Family and Friends</h2>
      </div>
      <br>
    </div>
    <div class="large-8 columns">
      {% include parents-family-friends/lead-content.html %}
    </div>
    <div class="large-4 columns">
      <div class="row">
        <div class="large-12 columns">
          <a href="http://www.uwosh.edu/go/directions">
            <div class="cta cta--orange">
              <i class="icon-pointer-p cta__icon"></i> <span class="cta__text">Directions to Campus/Parking</span>
            </div>
          </a>
        </div>
      </div><br>
      <div class="row">
        <div class="large-12 columns">
          <a href="#">
            <div class="cta cta--blue">
              <i class="icon-gear-person cta__icon"></i> <span class="cta__text">Resources</span>
            </div>
          </a>
        </div>
      </div><br>
      <div class="row">
        <div class="large-12 columns">
          <a href="#">
            <div class="cta cta--dark-orange">
              <i class="icon-question cta__icon"></i> <span class="cta__text">Frequently Asked Questions</span>
            </div>
          </a>
        </div>
      </div><br>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="inline-list no-bullet cta cta--parents cta--light-yellow">
        <li>Parents</li>
        <li>About UW Oshkosh</li>
        <li>Resources for Parents</li>
        <li>Tips</li>
        <li>Recommended Reading</li>
        <li>FAQs</li>
        <li>Costs and Financial Aid</li>
        <li>Health and Wellness</li>
        <li>Campus Safety Resources</li>
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="large-4 columns">
			{% include parents-family-friends/panel-parent-odyssey-orientation.html %}
    </div>

    <div class="large-4 columns">
      {% include parents-family-friends/panel-family-weekends.html %}
    </div>

    <div class="large-4 columns">
      {% include parents-family-friends/panel-move-in-weekend.html %}
    </div>
  </div>

</div>
