---
layout: default
title: Recommended Reading
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
    <li class="off-canvas__label">Parents</li>
    <li><a href="http://www.uwosh.edu/parents-family-friends">Parents</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh">About UW&nbsp;Oshkosh</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/tips.html">Tips</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/recommended-reading.html">Recommended Reading</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/faqs.html">FAQs</a></li>
    <li><a href="http://www.uwosh.edu/fin_aid">Costs and Financial Aid</a></li>
    <li><a href="http://www.uwosh.edu/current-students/health-wellness-safety.html">Health and Wellness</a></li>
    <li><a href="http://www.uwosh.edu/current-students/health-wellness-safety.html">Campus Safety Resources</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">

    <a href="{{ site.baseurl }}/parents-family-friends">
      <div class="page-banner page-banner--dark-blue">
        <h2 class="page-banner__title">Parents, Family and Friends</h2>
      </div>
    </a>

  </div>
</div>

<div class="row content">

  <div class="large-5 columns show-for-large-up right-rule padding-right-0">
    {% include parents-family-friends/side-nav.html %}
    {% include social-icons-internal.html %}
    {% include news-announcements-cta.html %}
  </div>

  <div class="large-19 columns">
    <nav class="breadcrumbs breadcrumbs--internal">
      <a href="{{site.baseurl}}">Home</a>
      <a href="{{site.baseurl}}/parents-family-friends">Parents, Family and Friends</a>
      <a href="#" class="current">{{ page.title }}</a>
    </nav>
    {% include parents-family-friends/recommended-reading/lead-content.html %}
  </div>

</div>
