---
layout: default
title: Contact UW Oshkosh
---

<div class="content">

  <div class="row">
    <div class="small-24 columns">

      <a href="{{ site.baseurl }}/about-uw-oshkosh">
        <div class="page-banner page-banner--orange">
          <h2 class="page-banner__title">About UW&nbsp;Oshkosh</h2>
        </div>
      </a>

    </div>
  </div><br>

  <div class="row">

    <div class="large-5 columns">
      {% include about-uw-oshkosh/side-nav.html %}
      {% include social-icons.html %}
      <br>
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--dark-green">
          <span class="cta__text">News and Announcements</span>
        </div>
      </a>
    </div>

    <div class="large-14 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="{{site.baseurl}}/about-uw-oshkosh">About UW&nbsp;Oshkosh</a>
        <a href="#" class="current">{{ page.title }}</a>
      </nav>
      <h3 class="news-heading">Contact UW&nbsp;Oshkosh</h3>
      <p class="drop-down-nav">
        General Contact Information
        {% include vcard.html %}
      </p>

      <p class="drop-down-nav">
        Admissions Information
        <address class="vcard">
          <div class="fn">Undergraduate Admissions</div>
          <div class="fn">Office of Undergraduate Admission</div>
          <div class="adr">
            <div class="street-address">P.O. Box 2423</div>
            <span class="locality">Oshkosh</span>, <span class="region">WI</span> <span class="postal-code">54903</span>
          </div>
          <div class="tel">
            Phone: <a href="tel:9204241234">(920) 424-3164</a>
          </div>
          <div class="tel">
            Fax: <a href="tel:9204241234">(920) 424-1207</a>
          </div>
          <div class="email">
            Email: <a href="mailto:admissions@uwosh.edu">admissions@uwosh.edu</a>
          </div>
          <div class="website">
            <a href="www.uwosh.edu/admissions">www.uwosh.edu/admissions</a>
          </div>
        </address><br>
        <a href="">Request Undergraduate Admissions Information</a>
      </p>

      <p class="drop-down-nav">
        Graduate Admissions
        <address class="vcard">
          <div class="fn">Graduate Admissions</div>
          <div class="adr">
            <div class="street-address">800 Algoma Blvd, Dempsey Hall 337</div>
            <span class="locality">Oshkosh</span>, <span class="region">WI</span> <span class="postal-code">54903</span>
          </div>
          <div class="tel">
            Phone: <a href="tel:9204241234">(920) 424-1223</a>
          </div>
          <div class="tel">
            Fax: <a href="tel:9204241234">(920) 424-0247</a>
          </div>
          <div class="email">
            Email: <a href="mailto:gradschool@uwosh.edu">gradschool@uwosh.edu</a>
          </div>
          <div class="website">
            <a href="www.uwosh.edu/gradstudies">www.uwosh.edu/gradstudies</a>
          </div>
        </address><br>
        <a href="">Request Graduate Studies Information</a>
      </p>

      <p class="drop-down-nav">
        Technology: Academic Computing
        <address class="vcard">
          <div class="fn">Academic Computing</div>
          <div class="tel">
            Phone: <a href="tel:9204241234">(920) 424-3020</a>
          </div>
          <div class="email">
            Email: <a href="mailto:acshelp@uwosh.edu">acshelp@uwosh.edu</a>
          </div>
          <div class="website">
            <a href="acs.uwosh.edu">acs.uwosh.edu</a>
          </div>
        </address><br>
        <a href="">View Frequently Asked Questions</a>
      </p>

      <p class="drop-down-nav">
        Media Contacts
        <address class="vcard">
          <div class="fn">Media Contacts</div>
          <div class="tel">
            Phone: <a href="tel:9204241234">(920) 424-2442</a>
          </div>
          <div class="website">
            <a href="www.uwosh.edu/imc/media-relations/newsroom">www.uwosh.edu/imc/media-relations/newsroom"</a>
          </div>
        </address>
      </p>

      <p class="drop-down-nav">
        Questions/Comments about the UW Oshkosh Website<br>
        <a href="">Send us your feedback!</a>
      </p>

    </div>

    <div class="large-5 columns">
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--orange">
          <span class="cta__text">Student Policies</span>
        </div>
      </a>
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--dark-orange">
          <span class="cta__text">General Education</span>
        </div>
      </a>
      {% include my-uwo.html %}
      <br>
      <br>
      {% include titan-alert.html %}
    </div>

  </div>

</div>
