---
layout: default
title: Fast Facts
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up">
  <ul class="off-canvas-list">
    <li><label>Audience Nav</label></li>
    <li><a href="http://www.uwosh.edu/beta/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/beta/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/beta/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/beta/community-and-visitors">Community and Visitors</a></li>
    <li><label>About UW&nbsp;Oshkosh</label></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/welcome-from-the-chancellor.html">Welcome from the Chancellor</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/fast-facts.html">Fast Facts</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/points-of-pride.html">Points of Pride</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/mission-vision-and-core-values.html">Mission, Vision and Core Values</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/collaboration-and-partnerships.html">Collaboration and Partnerships</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/the-college-portrait.html">The College Portrait</a></li>
    <li><a href="http://www.uwosh.edu/strategicplan/">Annual Report</a></li>
    <li><a href="http://www.uwosh.edu/map/main">Campus Tour</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/contact-uw-oshkosh.html">Contact UW Oshkosh</a></li>
    <li><label>Related Links</label></li>
    <li><a href="http://www.uwosh.edu/beta/resources">Resources</a></li>
    <li><a href="http://www.uwosh.edu/beta/maps">Maps/Directions</a></li>
    <li><a href="http://www.uwosh.edu/admissions/visit">Visit Campus</a></li>
  </ul>
</aside>
'
---

<div class="content">

  <div class="row">
    <div class="small-24 columns">

      <a href="{{ site.baseurl }}/about-uw-oshkosh">
        <div class="page-banner page-banner--orange">
          <h2 class="page-banner__title">About UW&nbsp;Oshkosh</h2>
        </div>
      </a>

    </div>
  </div><br>

  <div class="row">

    <div class="large-5 columns show-for-large-up">
      {% include about-uw-oshkosh/side-nav.html %}
      {% include social-icons.html %}
      {% include news-announcements-cta.html %}
    </div>

    <div class="large-14 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="{{site.baseurl}}/about-uw-oshkosh">About UW&nbsp;Oshkosh</a>
        <a href="#" class="current">{{ page.title }}</a>
      </nav>
      {% include fast-facts.html %}
    </div>

    <div class="large-5 columns">
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--orange">
          <span class="cta__text">Student Policies</span>
        </div>
      </a>
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--dark-orange">
          <span class="cta__text">General Education</span>
        </div>
      </a>
      {% include my-uwo.html %}
      <br>
      <br>
      {% include titan-alert.html %}
    </div>

  </div>

</div>
