---
layout: default
title: About UW Oshkosh
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up">
  <ul class="off-canvas-list">
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/welcome-from-the-chancellor.html">Welcome from the Chancellor</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/fast-facts.html">Fast Facts</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/points-of-pride.html">Points of Pride</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/mission-vision-and-core-values.html">Mission, Vision and Core Values</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/collaboration-and-partnerships.html">Collaboration and Partnerships</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/the-college-portrait.html">The College Portrait</a></li>
    <li><a href="http://www.uwosh.edu/strategicplan/">Annual Report</a></li>
    <li><a href="http://www.uwosh.edu/map/main">Campus Tour</a></li>
    <li><a href="http://www.uwosh.edu/beta/about-uw-oshkosh/contact-uw-oshkosh.html">Contact UW Oshkosh</a></li>
    <li><label>Related Links</label></li>
    <li><a href="http://www.uwosh.edu/home/resources">Resources</a></li>
    <li><a href="http://www.uwosh.edu/beta/maps">Maps/Directions</a></li>
    <li><a href="http://www.uwosh.edu/admissions/visit">Visit Campus</a></li>
  </ul>
</aside>
'
---

<div class="row">

  <div class="large-24 columns">
    <div class="page-banner page-banner--orange">
      <h2 class="page-banner__title">About UW Oshkosh | Where excellence and opportunity meet.</h2>
    </div>
  </div>

  <div class="large-24 columns where-you-meet__container">
    <div class="where-you-meet">
      <span>Where you meet &hellip;</span>
    </div>
  </div>

  <div class="large-24 columns about-pillar__container">

    <ul class="inline-list no-bullet about-pillar">
      <li class="about-pillar__title about-pillar--education"><a href="#" id="educationToggle">Education.</a></li>
      <li class="about-pillar__title about-pillar--leadership"><a href="#" id="leadershipToggle">Leadership.</a></li>
      <li class="about-pillar__title about-pillar--responsiveness"><a href="#" id="responsivenessToggle">Responsiveness.</a></li>
      <li class="about-pillar__title about-pillar--service"><a href="#" id="serviceToggle">Service.</a></li>
      <li class="about-pillar__title about-pillar--sustainability"><a href="#" id="sustainabilityToggle">Sustainability.</a></li>
    </ul>

    {% include about-uw-oshkosh/drawer-education.html %}
    {% include about-uw-oshkosh/drawer-leadership.html %}
    {% include about-uw-oshkosh/drawer-responsiveness.html %}
    {% include about-uw-oshkosh/drawer-service.html %}
    {% include about-uw-oshkosh/drawer-sustainability.html %}

  </div>

  <div class="small-24 columns">
    {% include about-uw-oshkosh/slider.html %}
  </div>

  <div class="large-24 columns">
    <ul class="inline-list no-bullet">
      <li class="cta--accreditation">
        <a href="{{ site.baseurl }}/about-uw-oshkosh/accreditation.html">
          <div class="cta cta--dark-green">
            <img src="{{ site.baseurl }}/img/icons/icon-award-ribbon.png" class="cta__icon cta__icon-award-ribbon"> <span class="cta__text">Accreditation</span>
          </div>
        </a>
      </li>
      <li class="cta--fast-facts">
        <a href="{{ site.baseurl }}/about-uw-oshkosh/fast-facts.html">
          <div class="cta cta--orange">
            <img src="{{ site.baseurl }}/img/icons/icon-graph.png" class="cta__icon cta__icon-graph"> <span class="cta__text">Fast Facts</span>
          </div>
        </a>
      </li>
      <li class="cta--points-of-pride">
        <a href="{{ site.baseurl }}/about-uw-oshkosh/points-of-pride.html">
          <div class="cta cta--yellow">
            <img src="{{ site.baseurl }}/img/icons/icon-pointer-star.png" class="cta__icon cta__icon-pointer-star"> <span class="cta__text">Points of Pride</span>
          </div>
        </a>
      </li>
      <li class="cta--strategic-plan">
        <a href="http://www.uwosh.edu/strategicplan">
          <div class="cta cta--blue">
            <img src="{{ site.baseurl }}/img/icons/icon-pencil-w-notebook.png" class="cta__icon cta__icon-pencil-w-notebook"> <span class="cta__text">Strategic Plan Update and Annual Report</span>
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="large-5 columns show-for-large-up">
    {% include about-uw-oshkosh/side-nav.html %}
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panelRelatedLinks"><div class="title-gradient">Related Links <i class="fa fa-chevron-down right clickable"></i></div></a>
        <div id="panelRelatedLinks" class="content">
          <ul class="side-nav">
            <li><a href="http://www.uwosh.edu/home/resources">Resources</a></li>
            <li><a href="{{ site.baseurl }}/maps">Maps/Directions</a></li>
            <li><a href="http://www.uwosh.edu/admissions/visit">Visit Campus</a></li>
          </ul>
        </div>
      </dd>
    </dl>
    <p>
      Campus Address
      {% include vcard.html %}
    </p>
  </div>
  <div class="large-19 columns">
    <nav class="breadcrumbs">
      <a href="{{site.baseurl}}">Home</a>
      <a href="#" class="current">About</a>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <div class="youtube" id="4rqxUXoGs04"></div>
        <div class="flex-video">
          <iframe width="640" height="390" src="//www.youtube.com/embed/4rqxUXoGs04" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="large-12 columns">
        {% include about-uw-oshkosh/lead-content.html %}
      </div>
    </div>
  </div>
</div>

