---
layout: default
title: Points of Pride
---

<div class="content">
  
  <div class="row">
    <div class="small-24 columns">
      
      <div class="page-banner page-banner--orange">
        <h2 class="page-banner__title">About UW&nbsp;Oshkosh</h2>
      </div>
      
    </div>
  </div><br>
  
  <div class="row">
    
    <div class="large-5 columns">
      {% include about-uw-oshkosh/side-nav.html %}
      {% include social-icons.html %}
      <br>
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--dark-green">
          <span class="cta__text">News and Announcements</span>
        </div>
      </a>
    </div>
    
    <div class="large-14 columns">
      <nav class="breadcrumbs">
        <a href="{{site.baseurl}}">Home</a>
        <a href="{{site.baseurl}}/about-uw-oshkosh">About UW&nbsp;Oshkosh</a>
        <a href="#" class="current">{{ page.title }}</a>
      </nav>
      {% include about-uw-oshkosh/welcome-from-the-chancellor/lead-content.html %}
    </div>
    
    <div class="large-5 columns">
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--orange">
          <span class="cta__text">Student Policies</span>
        </div>
      </a>
      <a href="http://www.uwosh.edu/admissions/visit">
        <div class="cta cta--dark-orange">
          <span class="cta__text">General Education</span>
        </div>
      </a>
      {% include my-uwo.html %}
      <br>
      <br>
      {% include titan-alert.html %}
    </div>
    
  </div>
  
</div>