<h3 class="news-heading">Maps and Directions</h3>

<p class="drop-down-nav">
  Campus Address: 800 Algoma Blvd., Oshkosh, WI 54901
</p>

<h4>UW Oshkosh Campus Maps</h4>
<h5>Interactive Maps</h5>
<a class="th" href="http://www.uwosh.edu/map/main">
  <img src="{{ site.baseurl }}/img/maps/interactive-map.jpg">
</a>
<a class="th" href="http://www.uwosh.edu/map/ppp/">
  <img src="{{ site.baseurl }}/img/maps/trees-shrubs.png">
</a>

<h5>Other Maps</h5>
<a class="th" href="http://www.uwosh.edu/facilities/campus-information/campus-maps-1">
  <img src="{{ site.baseurl }}/img/maps/printable-maps.jpg">
</a>
<a class="th" href="{{ site.baseurl }}/UWO-ParkingMap2013.pdf">
  <img src="{{ site.baseurl }}/img/maps/parking-map.jpg">
</a>
<a class="th" href="http://www.uwosh.edu/facilities/campus-information/campus-maps-1/documents/snow-removal-high-priority">
  <img src="{{ site.baseurl }}/img/maps/snow-removal.jpg">
</a>
