<h1 class="news-heading intro-text">Budget Town Hall</h1>

<p class="drop-down-nav intro-text">
  <object width="640" height="360"> <param name="movie" value="http://live.uwosh.edu/html5Test/StrobeMediaPlayback.swf"></param><param name="flashvars" value="src=rtmp%3A%2F%2Fflash.idea.uwosh.edu%2Flivepkgr%2Fbudgetforum%2F&poster=URL+of+your+poster+image&streamType=live"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="direct"></param><embed src="http://live.uwosh.edu/html5Test/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="640" height="360" flashvars="src=rtmp%3A%2F%2Fflash.idea.uwosh.edu%2Flivepkgr%2Fbudgetforum%2F&poster=URL+of+your+poster+image&streamType=live"></embed></object>
</p>

<p class="drop-down-nav intro-text">
  This live stream requires Flash. You can install Flash at <a href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a>.
</p>
