<h3 class="news-heading">Tips</h3>

<p class="body-content">
  Parents of first-time college students often have as many questions as their students do about the transition to college life. Here are some tips to assist you in helping to facilitate your student’s adjustment to campus and to become a partner in your student’s educational success at UW&nbsp;Oshkosh.
</p>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#orientationSessions"><i class="fa fa-chevron-down clickable"></i> Attend orientation sessions</a>
    <div id="orientationSessions" class="content">
      <p class="body-content">
        Attend orientation sessions to familiarize yourself and your student with the requirements, expectations, resources, programs and services available at UW&nbsp;Oshkosh. Involvement indicates your interest and provides emotional support as your student begins an exciting and challenging new life chapter.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#maintainCommunication"><i class="fa fa-chevron-down clickable"></i> Maintain open communication</a>
    <div id="maintainCommunication" class="content">
      <p class="body-content">
        Throughout the college years, the relationship with your student can grow into a gratifying experience, especially when open communication is maintained. You can remain a positive influence in your student's life, while encouraging independent thinking and decision-making.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#inform"><i class="fa fa-chevron-down clickable"></i> Inform your student about home matters</a>
    <div id="inform" class="content">
      <p class="body-content">
        While away at college, student may miss out on family gatherings and the latest news on the home front. Students usually want to remain informed about what is happening with their family and their community.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#support"><i class="fa fa-chevron-down clickable"></i> Support your student's new life</a>
    <div id="support" class="content">
      <p class="body-content">
        Your student may come to you with problems or concerns throughout the year; it is important to not be overly critical or immediately forthcoming with solutions. While students want their parents' support, they also want and need to define themselves, become independent decision-makers and learn from their own mistakes. Setting a tone of openness, interest and support can be most helpful to your student.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#problemSolving"><i class="fa fa-chevron-down clickable"></i> Try facilitative listening and problem solving</a>
    <div id="problemSolving" class="content">
      <p class="body-content">
        Facilitative listening helps students develop and gain confidence in their own problem-solving skills. You can be involved in your student's life without being overbearing or hindering your student's learning process. Listen carefully and encourage your student to use proper problem-solving techniques to determine the best possible solution.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#recommend"><i class="fa fa-chevron-down clickable"></i> Recommend that your student seeks assistance from campus resources</a>
    <div id="recommend" class="content">
      <p class="body-content">
        Make sure that your student is aware of what campus resources he/she can use for assistance at the University. Encourage students to speak with their professors about course issues, an academic adviser about course selections and registration concerns, a community assistant about residence hall concerns, or a career counselor in the Counseling Center about selecting or changing their major.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#balance"><i class="fa fa-chevron-down clickable"></i> Remind your student to maintain balance</a>
    <div id="balance" class="content">
      <p class="body-content">
        While it is important to continue attending classes regularly and keep up with assignments, it is especially important during stressful periods that your student maintains a balance in life, including exercise, relaxation, proper diet and sufficient sleep. Students may appreciate an occasional reminder from parents to keep college life in perspective.
      </p>
    </div>
  </dd>
</dl>
