<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelCampusAmenities"><h3 class="panel__title title-gradient">Campus Amenities <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/campus-amenities.jpg" class="img-responsive panel__image" alt=""></a>
      <div id="panelCampusAmenities" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="https://www.uwcu.org/" target="_blank">Banking</a></li>
          <li><a href="http://bookstore.uwosh.edu/home.aspx">Bookstore</a></li>
          <li><a href="http://www.uwosh.edu/childrens_center">Child Care</a></li>
          <li><a href="http://reeve.uwosh.edu/places-reeve/corner-convenience-store">Corner Convenience Store</a></li>
          <li><a href="http://reeve.uwosh.edu/dining">Dining</a></li>
          <li><a href="http://reeve.uwosh.edu/services/dry-cleaning">Dry Cleaning and Laundry Service</a></li>
          <li><a href="http://www.uwosh.edu/library">Library</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/postal-services">Mail</a></li>
          <li><a href="http://www.uwoshkoshtitans.com/insideathletics/reserve_facilities">Oshkosh Sports Complex</a></li>
          <li><a href="http://www.uwosh.edu/lt/learning-spaces-support/classroom-technology-services">Technology Services</a></li>
          <li><a href="http://reeve.uwosh.edu/titancard">TitanCard</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
