<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelTechnology"><h3 class="panel__title title-gradient">Technology <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/technology.jpg" class="img-responsive panel__image" alt=""></a>
      <div id="panelTechnology" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/acs">Academic Computing</a></li>
          <li><a href="http://it.uwosh.edu/campus-computer-standards/">Campus Computer Standards</a></li>
          <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn</a></li>
          <li><a href="http://www.uwosh.edu/assets/facstaff/homepages/">Faculty/Staff Home Pages</a></li>
          <li><a href="http://it.uwosh.edu/instructional-technology-center/">Instructional Technology Center</a></li>
          
          
          <li><a href="http://it.uwosh.edu/it-training/">IT Training</a></li>
          <li><a href="http://titanadmin.uwosh.edu/">Titan Admin</a></li>
          <li><a href="http://emergency.uwosh.edu/?page_id=239">Titan Alert &mdash; Cell Phone Alerts</a></li>
          <li><a href="http://www.uwosh.edu/titanapps">Titan Apps</a></li>
          <li><a href="https://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
