<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelStayConnectedToUwOshkosh"><h3 class="panel__title title-gradient">Stay Connected to UW&nbsp;Oshkosh <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/stay-connected-to-uw-oshkosh.jpg" class="img-responsive panel__image" alt=""></a>
      <div id="panelStayConnectedToUwOshkosh" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/today">Campus News and Announcements</a></li>
          <li><a href="http://umc.uwosh.edu/public-relations/submit-story-idea/">Submit a story idea</a></li>
          <li><a href="http://www.uwosh.edu/today/uwosocial/">Connect with <acronym title="University of Wisconsin Oshkosh">UWO</acronym> on social media</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
