<ul class="campus-fast-facts" data-orbit data-options="bullets:false;timer:false;slide_number:false;">
  <li data-orbit-slide="slide-1">
    <table>
      <thead>
        <tr>
          <th>Campus Fast Facts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>52 buildings (including 10 academic buildings and 11 residence halls)</td>
        </tr>
        <tr>
          <td>173.5 acres</td>
        </tr>
        <tr>
          <td>470 general access computers</td>
        </tr>
        <tr>
          <td>47 computer labs</td>
        </tr>
        <tr>
          <td>10 minute walk across campus</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li data-orbit-slide="slide-2">
    <table>
      <thead>
        <tr>
          <th>Campus Fast Facts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>52 buildings (including 10 academic buildings and 11 residence halls)</td>
        </tr>
        <tr>
          <td>173.5 acres</td>
        </tr>
        <tr>
          <td>470 general access computers</td>
        </tr>
        <tr>
          <td>47 computer labs</td>
        </tr>
        <tr>
          <td>10 minute walk across campus</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li data-orbit-slide="slide-3">
    <table>
      <thead>
        <tr>
          <th>Campus Fast Facts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>52 buildings (including 10 academic buildings and 11 residence halls)</td>
        </tr>
        <tr>
          <td>173.5 acres</td>
        </tr>
        <tr>
          <td>470 general access computers</td>
        </tr>
        <tr>
          <td>47 computer labs</td>
        </tr>
        <tr>
          <td>10 minute walk across campus</td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
