<h1 class="news-heading intro-text">Future Student Resources</h1>

<p class="drop-down-nav intro-text">
  As the third-largest institution in the University of Wisconsin System, University of Wisconsin Oshkosh students are taught by award-winning faculty with a nationally accredited curriculum.
</p>

<p class="drop-down-nav intro-text">
  Across four exceptional colleges, we offer 74 educational programs for students of all ages, lifestyles and ambitions.
</p>

<p class="drop-down-nav intro-text">
  Our graduates belong to a network of 82,000-plus alumni who actively contribute to the quality of life in their communities and demonstrate an ability to succeed in today’s progressive workforce.
</p>
