<h3 class="news-heading">Future Student Resources</h3>

<p class="drop-down-nav">
  Whether you have a clear vision for your future or you prefer to explore your options, the University of Wisconsin Oshkosh is the place where your aspirations and opportunities intersect. Across four exceptional colleges, we offer 74 educational programs for students of all ages, lifestyles and ambitions. As the third-largest institution in the University of Wisconsin System, you are taught by award-winning faculty with a noationally accredited curriculum.
</p>

<p class="drop-down-nav">
  Our graduates belong to a network of 80,000-plus alumni who actively contribute to the quality of life in their communities and demonstrate an ability to succeed in today's progressive workforce.
</p>
