<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelYouthPrograms"><h3 class="panel__title">Youth Programs</h3>
      <img src="http://lorempixel.com/336/128/business" class="img-responsive panel__image"></a>
      <div id="panelYouthPrograms" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/advising/">Academic Advising</a></li>
          <li><a href="http://www.uwosh.edu/acad-supp/">Academic Support and Diversity</a></li>
          <li><a href="http://www.uwosh.edu/car/">Center for Academic Resources (tutoring)</a></li>
          <li><a href="http://www.uwosh.edu/mathematics/resources/tutor-labs">Math Lab</a></li>
          <li><a href="http://www.uwosh.edu/success/">Project Success</a></li>
          <li><a href="http://www.uwosh.edu/readingstudycenter">Reading Study Center</a></li>
          <li><a href="http://www.english.uwosh.edu/wcenter">Writing Center</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
