<span class="news-heading">Related Links</span>
<ul class="no-bullet drop-down-nav">
  <li><a href="http://www.uwosh.edu/admissions">Admissions</a></li>
  <li><a href="{{ site.baseurl }}/academics">Academics</a></li>
  <li><a href="{{ site.baseurl }}/current-students/campus-life.html">Campus Life</a></li>
  <li><a href="#">Costs and Financial Aid</a></li>
  <li><a href="#">Scholarships</a></li>
  <li><a href="#">Health and Wellness</a></li>
  <li><a href="http://www.titans.uwosh.edu/">Athletics</a></li>
  <li><a href="https://uwosh.collegiatelink.net/organizations">Student Organizations</a></li>
  <li><a href="http://www.uwosh.edu/admissions/guidelines/high-school-programs">High School Student Programs</a></li>
</ul>
