---
layout: default
title: Future Students
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
		<li><a href="http://www.uwosh.edu/foundation/news-and-announcements/support-uw-oshkosh/online-giving">Donate</a></li>
    <li class="off-canvas__label">Related Links</li>
    <li><a href="http://www.uwosh.edu/admissions">Admissions</a></li>
    <li><a href="http://www.uwosh.edu/academics">Academics</a></li>
    <li><a href="http://www.uwosh.edu/current-students/campus-life.html">Campus Life</a></li>
    <li><a href="http://www.uwosh.edu/fin_aid">Costs and Financial Aid</a></li>
    <li><a href="#">Scholarships</a></li>
    <li><a href="#">Health and Wellness</a></li>
    <li><a href="http://www.titans.uwosh.edu/">Athletics</a></li>
    <li><a href="https://uwosh.collegiatelink.net/organizations">Student Organizations</a></li>
    <li><a href="http://www.uwosh.edu/admissions/guidelines/high-school-programs">High School Student Programs</a></li>
  </ul>
</aside>
'
---



<div class="row">
  <div class="small-24 columns">
    <div class="content">
      <div class="row">

        <div class="small-24 columns">
          <a class="btn btn--full btn--large-text btn--green-dark btn--page-banner"href="{{ site.baseurl }}/future-students">
            Future Students
          </a>
        </div>

        <div class="medium-16 columns">
          <nav class="breadcrumbs">
            <a href="{{site.baseurl}}">Home</a>
            <a href="#" class="current">Future Students</a>
          </nav>
          {% include future-students/lead-content.html %}
        </div>

        <div class="medium-8 columns">
          <div class="row">
            <div class="small-24 columns">

              <a class="btn btn--full btn--medium-text btn--orange-dark btn--with-icon" href="http://apply.wisconsin.edu">
                <i class="fa fa-lg fa-laptop fa-fw hide-for-medium"></i> Apply Online
              </a>

              <a class="btn btn--full btn--medium-text btn--orange-light btn--with-icon" href="http://www.uwosh.edu/map/main">
                <i class="fa fa-lg fa-map-marker fa-fw hide-for-medium"></i> Take an Online Tour
              </a>

              <a class="btn btn--full btn--medium-text btn--blue-dark btn--with-icon" href="{{ site.baseurl }}/about-uw-oshkosh">
                <i class="fa fa-lg fa-lightbulb-o fa-fw hide-for-medium"></i> Learn More about UWO
              </a>

              <a class="btn btn--full btn--medium-text btn--orange-light btn--with-icon" href="{{ site.baseurl }}/academics/majors-minors-emphases.html">
                <i class="fa fa-lg fa-institution fa-fw hide-for-medium"></i> All Majors and Minors
              </a>

            </div>
          </div>
          {% include social-icons.html %}
        </div>

        <div class="small-24 columns future-students">
          <ul class="small-block-grid-1 medium-block-grid-3">
            <li>{% include future-students/panel-undergraduate.html %}</li>
            <li>{% include future-students/panel-graduate.html %}</li>
            <li>{% include future-students/panel-certificate-programs.html %}</li>
            <li>{% include future-students/panel-continuing-education.html %}</li>
            <li>{% include future-students/panel-youth-programs.html %}</li>
            <li>{% include future-students/panel-online-degree-programs.html %}</li>
          </ul>
        </div>

        <div class="medium-8 columns show-for-medium-up">
          {% include future-students/related-links.html %}
        </div>

        <div class="medium-16 columns">
          {% include fast-facts.html %}
        </div>

      </div>
    </div>
  </div>
</div>
