<div class="small-24 columns audience-banner">
  <a href="https://www.vendini.com/ticket-software.html?t=tix&e=5ed57baf66d2bf8dc6c18344a5d146fb"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/antigone-banner.jpg" class="img-responsive audience-banner" alt="Antigone - Purchase your ticket."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/sustainability/what-you-can-do/events/earth-week"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/earth-week-2014.jpg" class="img-responsive" alt="Earth Week - seeking solutions for a sustainability transition."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/imc/media-relations/story-idea-submission-form"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/uwot-banner.jpg" class="img-responsive" alt="Submit a story idea to UW Oshkosh Today."></a>
</div>
