<div class="small-24 medium-8 large-24 columns">
  <a href="http://www.uwosh.edu/commencement/mid-year/faculty-and-staff"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/commencement-banner.jpg" class="img-responsive"></a>
</div>
<div class="small-24 medium-8 large-24 columns">
  <a href="http://www.uwosh.edu/usp/usp-teaching-resources"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/alumni-mentor-banner.jpg" class="img-responsive"></a>
</div>
<div class="small-24 medium-8 large-24 columns">
  <a href="http://www.uwosh.edu/imc/media-relations/story-idea-submission-form"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/uwot-banner.jpg" class="img-responsive"></a>
</div>
