<div class="small-24 columns audience-banner">
  <a href="https://www.vendini.com/ticket-software.html?t=tix&e=5ed57baf66d2bf8dc6c18344a5d146fb"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/antigone-banner.jpg" class="img-responsive audience-banner" alt="Antigone - Purchase your ticket."></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/usp"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/USP-banner.jpg" class="img-responsive" alt="University Studies Program - General Education for the 21st Century"></a>
</div>
<div class="small-24 columns audience-banner">
  <a href="http://www.uwosh.edu/imc/media-relations/story-idea-submission-form"><img src="{{ site.baseurl }}/img/faculty-and-staff/audience-banners/uwot-banner.jpg" class="img-responsive" alt="Submit a story idea to UW Oshkosh Today."></a>
</div>
