<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelAcademicsAndResearch"><h3 class="panel__title title-gradient">Academics and Research <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/academics-and-research.jpg" class="img-responsive panel__image" alt=""></a>
      <div id="panelAcademicsAndResearch" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/provost/Main%20Highlight/calendars/calendars">Academic Calendars</a></li>
          <li><a href="http://www.uwosh.edu/library">Polk Library</a></li>
          <li><a href="http://www.uwosh.edu/provost/teaching-and-learning-resources/sos">Course Evaluations (Student Opinion Surveys)</a></li>
          <li><a href="https://www.uwosh.edu/grants/faculty-staff-development">Grants and Faculty Development</a></li>
          <li><a href="http://www.uwosh.edu/oir/">Institutional Research</a></li>
          <li><a href="http://www.uwosh.edu/eric">Environmental Research and Innovation Center (<acronym title="Environmental Research and Innovation Center">ERIC</acronym>)</a></li>
          <li><a href="http://www.uwosh.edu/bsc">Business Success Center</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
