<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelWorkingAtUwOshkosh"><h3 class="panel__title title-gradient">Working at UW&nbsp;Oshkosh</h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/working-at-uw-oshkosh.jpg" class="img-responsive panel__image"></a>
      <div id="panelWorkingAtUwOshkosh" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/hr">Human Resources Website</a></li>
          <li><a href="">Payroll</a></li>
          <li><a href="">Fringe Benefits</a></li>
          <li><a href=""><abbr title="Academic and Classified Employee Support">ACES</abbr> Mentoring (Academic and Classified Employee Support)</a></li>
          <li><a href=""><abbr title="Americans with Disabilites Act">ADA</abbr> for Employees</a></li>
          <li><a href="">Affirmative Action Office</a></li>
          <li><a href="">My UW System</a></li>
          <li><a href="">Campus Safety Resources</a></li>
          <li><a href="">Parking</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
