<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelWorkingAtUwOshkosh"><h3 class="panel__title title-gradient">Working at UW&nbsp;Oshkosh <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/working-at-uw-oshkosh.jpg" class="img-responsive panel__image" alt=""></a>
      <div id="panelWorkingAtUwOshkosh" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/hr">Human Resources Website</a></li>
          <li><a href="http://www.uwosh.edu/hr/payroll">Payroll</a></li>
          <li><a href="http://www.uwosh.edu/hr/benefits">Fringe Benefits</a></li>
          <li><a href="http://www.uwosh.edu/affirm-act/americans-with-disabilities-act"><acronym title="Americans with Disabilites Act">ADA</acronym> for Employees</a></li>
          <li><a href="http://www.uwosh.edu/affirm-act">Affirmative Action Office</a></li>
          <li><a href="https://wayf.wisconsin.edu/DS/WAYF?entityID=https%3A%2F%2Fmy.wisconsin.edu%2Fshibboleth&return=https%3A%2F%2Fmy.wisconsin.edu%2FShibboleth.sso%2FDS%3FSAMLDS%3D1%26target%3Dcookie%253Afb02ff1f">My UW System</a></li>
          <li><a href="http://www.uwosh.edu/safety">Campus Safety Resources</a></li>
          <li><a href="http://www.uwosh.edu/parking">Parking</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
