<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelTechnology"><h3 class="panel__title title-gradient">Technology <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/technology.jpg" class="img-responsive panel__image"></a>
      <div id="panelTechnology" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/acs">Academic Computing</a></li>
          <li><a href="http://www.uwosh.edu/acs/hardware-and-software/campus-computer-standards">Computer Hardware and Software Standards</a></li>
          <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn</a></li>
          <li><a href="http://www.uwosh.edu/assets/facstaff/homepages/">Faculty/Staff Home Pages</a></li>
          <li><a href="http://www.uwosh.edu/lt/e-learning-development/idea-lab"><acronym title="Instructional Development and Authoring">IDEA</acronym> Lab</a></li>
          <li><a href="http://www.uwosh.edu/lt">Learning Technologies</a></li>
          <li><a href="http://www.uwosh.edu/training">Technology Training</a></li>
          <li><a href="http://titanadmin.uwosh.edu/">Titan Admin</a></li>
          <li><a href="http://emergency.uwosh.edu/?page_id=239">Titan Alert &mdash; Cell Phone Alerts</a></li>
          <li><a href="http://www.uwosh.edu/titanapps">Titan Apps (email)</a></li>
          <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action">Titan Files</a></li>
          <li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
