<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelTechnology"><h3 class="panel__title">Technology</h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/technology.jpg" class="img-responsive panel__image"></a>
      <div id="panelTechnology" class="content panel__content">
        <ul>
          <li><a href="">Academic Computing</a></li>
          <li><a href="">Computer Hardware and Software Standards</a></li>
          <li><a href="">Desire2Learn</a></li>
          <li><a href="">Faculty/Staff Home Pages</a></li>
          <li><a href="">IDEA Lab</a></li>
          <li><a href="http://www.uwosh.edu/lt">The Learning Technologies</a></li>
          <li><a href="">Technology Training</a></li>
          <li><a href="">Titan Admin</a></li>
          <li><a href="">Titan Alert &mdash; Cell Phone Alerts</a></li>
          <li><a href="">Titan Apps (email)</a></li>
          <li><a href="">Titan Files</a></li>
          <li><a href="">Titan Web</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
