<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelGovernance"><h3 class="panel__title title-gradient">Governance</h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/governance.jpg" class="img-responsive"></a>
      <div id="panelGovernance" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/faculty_senate">Faculty Senate</a></li>
          <li><a href="http://www.uwosh.edu/acadstaff_senate">Senate of Academic Staff</a></li>
          <li><a href="http://www.uwosh.edu/csac/">University Staff Council (formerly Classified Staff Advisory Council)</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
