<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelToolsAndServices"><h3 class="panel__title title-gradient">Tools and Services</h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/tools-and-services.jpg" class="img-responsive panel__image"></a>
      <div id="panelToolsAndServices" class="content panel__content">
        <ul>
          <li><a href="//www.uwosh.edu/gradstudies">Administrative Services</a></li>
          <li><a href="">Adult Nontraditional Student Resource Office</a></li>
          <li><a href="">Business Success Center</a></li>
          <li><a href="">Center for Excellence in Teaching and Learning</a></li>
          <li><a href="">Central Stores (Supplies)</a></li>
          <li><a href="http://www.uwosh.edu/directory">Campus Directory</a></li>
          <li><a href="">Counseling Center</a></li>
          <li><a href="">Disability Services</a></li>
          <li><a href="http://www.uwosh.edu/eap">Employee Assistance Program</a></li>
          <li><a href="">Information Technology</a></li>
          <li><a href="http://www.uwosh.edu/imc">Integrated Marketing and Communications</a></li>
          <li><a href="">Gender Equity Council</a></li>
          <li><a href="">Records Management</a></li>
          <li><a href="">Testing Services</a></li>
          <li><a href="">Travel Regulations</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
