<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelCampusSafety"><h3 class="panel__title title-gradient">Campus Safety <i class="fa fa-chevron-down right clickable"></i></h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/campus-safety.jpg" class="img-responsive"></a>
      <div id="panelCampusSafety" class="content panel__content">
        <ul>
          <li><a href="http://emergency.uwosh.edu">Emergency Information</a></li>
          <li><a href="http://www.uwosh.edu/home/titanalert">Titan Alert</a></li>
          <li><a href="http://www.uwosh.edu/up/safewalk">Safewalk Program</a></li>
          <li><a href="http://www.uwosh.edu/safety/health-safety-committee">Safety Committee</a></li>
          <li><a href="http://www.uwosh.edu/up">University Police</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
