<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelAcademicsAndResearch"><h3 class="panel__title title-gradient">Academics and Research</h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/academics-and-research.jpg" class="img-responsive panel__image"></a>
      <div id="panelAcademicsAndResearch" class="content panel__content">
        <ul>
          <li><a href="">Academic Calendars</a></li>
          <li><a href="http://www.uwosh.edu/library">Polk Library</a></li>
          <li><a href="">Course Evaluations (Student Opinion Surveys)</a></li>
          <li><a href="">Grants and Faculty Development</a></li>
          <li><a href="">Institutional Research</a></li>
          <li><a href="">Environmental Research and Innovation Center (<abbr title="Environmental Research and Innovation Center">ERIC</abbr>)</a></li>
          <li><a href="http://www.uwosh.edu/bsc">Business Success Center</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
