<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelProspectiveFacultyAndStaff"><h3 class="panel__title title-gradient">Prospective Faculty&nbsp;and&nbsp;Staff</h3>
      <img src="{{site.baseurl}}/img/faculty-and-staff/prospective-faculty-and-staff.jpg" class="img-responsive panel__image"></a>
      <div id="panelProspectiveFacultyAndStaff" class="content panel__content">
        <ul>
          <li><a href="http://www.uwosh.edu/hr/employment">Current Job Openings</a></li>
          <li><a href="http://www.uwosh.edu/map/main/">Virtual Campus Tour</a></li>
          <li><a href="{{site.baseurl}}/about-uw-oshkosh">About UW Oshkosh</a></li>
          <li><a href="http://www.uwosh.edu/ada-employees/"><abbr title="Americans with Disabilites Act">ADA</abbr> for Employees</a></li>
          <li><a href="http://www.uwosh.edu/affirm-act/">Affirmative Action Office</a></li>
          <li><a href="http://www.uwosh.edu/childrens_center">Child Care</a></li>
          <li><a href="http://www.uwosh.edu/parking/">Parking</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
