<h3 class="news-heading">Collaboration and Partnerships</h3>

<p class="body-content">
  UW&nbsp;Oshkosh's impact on the region extends far beyond its brick-and-mortar boundaries. The institution's economic contribution to the state totals more than $500 million annually. As an incubator of creativity, knowledge and innovation, the University extends faculty expertise through collaborations with schools, businesses and communities regionally as well as nationally and globally.
</p>

<h4>Education</h4>
<p class="body-content">
  Building on UW Oshkosh’s legacy of educating first-rate teachers, the University forges many key educational partnerships. From housing the state's largest Head Start program to collaborating with <acronym title="Northeast Wisconsin Educational Resource Alliance">NEW ERA</acronym> (Northeast Wisconsin Educational Resource Alliance) and the Association of American Colleges and Universities (AAC&amp;U) &mdash; the leading national association for quality, vitality and undergraduate liberals — these partnerships positively impact students of all educational levels.
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#educationImpact"><i class="fa fa-chevron-down clickable"></i> Because education plays a critical role in society's progress and success, UW&nbsp;Oshkosh has developed strategic collaborations with organizations and programs that impact students at all levels.</a>
      <div id="educationImpact" class="content">
        <ul class="custom-bullets">
          <li><acronym title="Association of American Colleges and Universities">AAC&amp;U</acronym> (Association of American Colleges and Universities) is committed to extending the advantage of a liberal education to all students, regardless of their academic specialization or intended career and helps individual colleges and universities keep the quality at the core of their work as they evolve to meet new economic and social challenges.</li>
          <li>American Democracy Project focuses on higher education's role in preparing the next generation of informed, engaged citizens.</li>
          <li>Black History Month at UW&nbsp;Oshkosh, sponsored by the Division of Academic Support, pays tribute to African Americans who have contributed collectively and individually to American history. Held every February, the University hosts several activities and events open to the public. In 2008, photographer Ernest Withers, who documented the civil rights movement, spoke on campus and exhibited his photographs in Reeve Memorial Union.</li>
          <li><acronym title="Cooperative Academic Partnership Program">CAPP</acronym> (Cooperative Academic Partnership Program) provides the opportunity for upper-level students to earn college credits while still in high school.</li>
          <li>The week-long Earth Charter Community Summit at UW Oshkosh, one of the world's largest, is dedicated to the building of a healthy, peaceful and sustainable future for all of the planet's inhabitants. In 2008, the event featured a variety of topics and guest speakers, including presentations on global climate change and human-animal interaction.</li>
          <li>Earth Week, a week-long annual celebration, educates citizens about their personal responsibility in creating a sustainable environment. In April 2008, UW Oshkosh participated in its third annual Earth Week event with a Fox River clean-up, tree planing, presentation by activists on political reform in Wisconsin and sessions on the potential for using biodiesel fuel and fresh food from local farmers.</li>
          <li>Fox Valley Writing Project brings teachers from area school districts together to share strategies for teaching writing, while improving their personal writing skills.</li>
          <li><acronym title="Greater Oshkosh Even Start">GOES</acronym> (Greater Oshkosh Even Start) offers family literacy programming.</li>
          <li>Liberal Education and America's Promise (<acronym title="Liberal Education and America's Promise">LEAP</acronym>) serves as the Association of American Colleges and Universities’ primary vehicle for advancing and communicating about the importance of undergraduate liberal education for all students.</li>
          <li>The National Student Exchange (<acronym title="National Student Exchange">NSE</acronym>) allows full-time UW&nbsp;Oshkosh undergraduates to trade places with students who attend another institution through a network of more than 170 universities and colleges.</li>
          <li>National Survey of Student Engagement obtains, on an annual basis, information from hundreds of four-year colleges and universities nationwide about student participation in programs and activities that institutions provide for learning and personal development.</li>
          <li>Northeast Wisconsin Educational Resource Alliance (NEW ERA) fosters regional partnerships among public colleges and universities in the New North to better serve the educational needs of the 1.2 million people of northeastern Wisconsin.</li>
          <li>Posters in the Rotunda: A Celebration of Undergraduate Research, held in the Wisconsin State Capitol Rotunda, showcased undergraduate research from UW students and faculty and included the work of 11 students and five faculty members from UW Oshkosh.</li>
          <li>UW&nbsp;Oshkosh Head Start is the largest Head Start program in the state.</li>
          <li>Voluntary System of Accountability: College Portrait provides consistent, comparable and transparent information about the undergraduate student experience through a partnership of the American Association of State Colleges and Universities and the National Association of State Universities and Land-Grant Colleges.</li>
          <li>Wisconsin Campus Compact works with a national network to build civic engagement into campus and academic life.</li>
          <li>Youth Options allows public high school juniors and seniors to take post-secondary courses at a UW institution, a Wisconsin technical college, one of the state’s participating private nonprofit institutions of higher education, or tribally controlled colleges.</li>
        </ul>
      </div>
    </dd>
  </dl>
</p>

<h4>Business</h4>
<p class="body-content">
  The University extends its expertise to the region’s business and industry sectors through the Business Success Center and involvement with the New North consortium, the Wisconsin Family Business Forum and other key initiatives, contributing to workforce development, economic growth and the overall quality of life in northeastern Wisconsin.
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#business"><i class="fa fa-chevron-down clickable"></i> UW&nbsp;Oshkosh contributes to economic growth and a vital business sector in northeastern Wisconsin through a number of collaborative efforts.</a>
      <div id="business" class="content">
        <ul class="custom-bullets">
          <li>Business Success Center (formerly Center for Community Partnerships) improves community access to UW Oshkosh resources and expertise by offering customized training, applied research and business consulting, and student internship programs to businesses in the region.</li>
          <li>New North is a consortium of business, civic and education in 18 northeastern Wisconsin counties working toward continued job growth and economic viability in the region.</li>
          <li>Small Business Development Center provides free consulting services and training programs to start-up and existing businesses in east-central Wisconsin, working in partnership with the U.S. Small Business Administration and the University of Wisconsin-Extension</li>
          <li>Wisconsin Family Business Forum fosters healthy family businesses through education and networking.</li>
        </ul>
      </div>
    </dd>
  </dl>
</p>

<h4>Community</h4>
<p class="body-content">
  As an economic engine and cultural anchor in northeastern Wisconsin, UW&nbsp;Oshkosh helps the region thrive through collaborations that range from providing critical healthcare services through the Living Healthy Community Clinic to events that build bridges between the campus and the community, such as Fall Fest on the Fox and the regional performing arts initiative, Shakespeare on the Fox.
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#community"><i class="fa fa-chevron-down clickable"></i> Beyond campus, UW&nbsp;Oshkosh increases quality of life in the region through community collaborations.</a>
      <div id="community" class="content">
        <ul class="custom-bullets">
          <li><acronym title="Center for Career Development and Employability Training">CCDET</acronym> (Center for Career Development and Employability Training) provides youth advocacy and adult career counseling outreach to individuals, organizations, agencies and communities throughout Wisconsin.</li>
          <li>Continuing Education and Extension affords people of all ages the opportunity to engage in a variety of professional development workshops and seminars, personal enrichment programs and youth camps.</li>
          <li>Learning in Retirement, a program of Continuing Education and Extension, offers members a variety of learning opportunities throughout the year.</li>
          <li>The Living Healthy Community Clinic serves Winnebago County's 16,000-plus uninsured residents with a new facility that hold seven, fully equipped exam rooms; a lab room; and teaching space.</li>
          <li>Oshkosh Sports Complex provides an exceptional community athletic venue with an Olympic-quality track for UW Oshkosh athletes as well as local high school and middle school teams.</li>
          <li>Since 2004, the beach monitoring project has involved more than 100 graduate and undergraduate students, monitored more than 100 Wisconsin beaches and operated five state-certified labs around Wisconsin for analysis of E.coli from beach water. In partnership with the state Department of Natural Resources (<acronym title="Department of Natural Resources">DNR</acronym>) and local governments and agencies, this project has grown to involve a variety of community-based projects, as well as outreach and environmental public health research.</li>
        </ul>
      </div>
    </dd>
  </dl>
</p>
