<ul class="no-bullet">
	<li>
		<a href="http://www.uwosh.edu/sustainability/what-you-can-do/events/earth-charter"><img src="{{ site.baseurl }}/img/current-students/audience-banners/earth-charter-banner.jpg" class="img-responsive audience-banner" alt="Earth Charter Community Summit. October 6-10."></a>
	</li>
	<li>
		<a href="http://www.uwosh.edu/go/tbtn"><img src="{{ site.baseurl }}/img/current-students/audience-banners/tbtn-2014.png" class="img-responsive audience-banner" alt="An illustration of the silhouettes of men and women. Fox Valley Take Back the Night, October 8."></a>
	</li>
	<li>
    <a href="http://www.uwosh.edu/homecoming"><img src="{{ site.baseurl }}/img/current-students/audience-banners/homecoming-2014-banner.jpg" class="img-responsive audience-banner" alt="A stylized drawing of golden slippers walking down a yellow road with the tagline There's No Place Like Homecoming."></a>
  </li>
</ul>
