<ul class="no-bullet">
	<li>
    <a href="http://www.uwosh.edu/homecoming"><img src="{{ site.baseurl }}/img/current-students/audience-banners/homecoming-2014-banner.jpg" class="img-responsive audience-banner" alt="A stylized drawing of golden slippers walking down a yellow road with the tagline There's No Place Like Homecoming."></a>
  </li>
	<li>
		<a href="http://www.uwosh.edu/career/students/events-workshops/career-fairs"><img src="{{ site.baseurl }}/img/community-and-visitors/audience-banners/cfof_university_banner_14-15.jpg" class="img-responsive audience-banner" alt="Career Fair On the Fox banner."></a>
	</li>
</ul>
