<ul class="no-bullet">
	<li>
    <a href="http://www.uwosh.edu/summer"><img src="{{ site.baseurl }}/img/current-students/audience-banners/summer-session-register.jpg" class="img-responsive audience-banner" alt="Summer Session - register now"></a>
  </li>
  <li>
    <a href="https://www.vendini.com/ticket-software.html?t=tix&e=3da86fb63a08ea5b65dee2c1b8a2617a"><img src="{{ site.baseurl }}/img/current-students/audience-banners/side-by-side.jpg" class="img-responsive audience-banner" alt="Side by Side - order tickets now"></a>
  </li>
  <li>
    <a href="http://recreation.uwosh.edu/news-box/2014-shamrock-shuffle-5k-run-walk"><img src="{{ site.baseurl }}/img/current-students/audience-banners/shamrock-shuffle.jpg" class="img-responsive audience-banner" alt="Shamrock Shuffle - register now"></a>
  </li>
</ul>
