<div class="panel">
	<dl class="accordion" data-accordion>
		<dd>
			<a href="#panelRegistrar"><h3 class="panel__title title-gradient">Registrar</h3>
			<img src="{{ site.baseurl }}/img/current-students/registrar.jpg" class="img-responsive panel__image"></a>
			<div id="panelRegistrar" class="content panel__content">
				<ul>
					<li><a href="http://www.uwosh.edu/registrar/">Registrar's Office</a></li>
					<li><a href="http://www.uwosh.edu/registrar/graduation">Graduation</a></li>
					<li><a href="http://www.uwosh.edu/registrar/registration_information">Registration</a></li>
					<li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
					<li><a href="http://www.uwosh.edu/registrar/transcripts/index.php">Transcripts</a></li>
					<li><a href="http://www.uwosh.edu/veterans">Veteran's Resource Center</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>