<div class="panel">
	<dl class="accordion" data-accordion>
		<dd>
			<a href="#panelAcademicSupport"><h3 class="panel__title title-gradient">Academic Support <i class="fa fa-chevron-down right clickable"></i></h3>
			<img src="{{ site.baseurl }}/img/current-students/academic-support.jpg" class="img-responsive"></a>
			<div id="panelAcademicSupport" class="content panel__content">
				<ul>
					<li><a href="http://www.uwosh.edu/advising/">Academic Advising</a></li>
					<li><a href="http://www.uwosh.edu/acad-supp/">Academic Support and Diversity</a></li>
					<li><a href="http://www.uwosh.edu/car/">Center for Academic Resources (tutoring)</a></li>
					<li><a href="http://www.uwosh.edu/mathematics/resources/tutor-labs">Math Lab</a></li>
					<li><a href="http://www.uwosh.edu/success/">Project Success</a></li>
					<li><a href="http://www.uwosh.edu/readingstudycenter">Reading Study Center</a></li>
					<li><a href="http://www.english.uwosh.edu/wcenter">Writing Center</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>
