<div class="panel">
	<dl class="accordion" data-accordion>
		<dd>
			<a href="#panelTechnology"><h3 class="panel__title title-gradient">Technology</h3>
			<img src="{{ site.baseurl }}/img/current-students/technology.jpg" class="img-responsive"></a>
			<div id="panelTechnology" class="content panel__content">
				<ul>
					<li><a href="http://www.acs.uwosh.edu/">Academic Computing</a></li>
					<li><a href="http://www.acs.uwosh.edu/policies-forms/acceptable-use-policy">Acceptable Use of Computing Resources Policy</a></li>
					<li><a href="http://www.acs.uwosh.edu/campus-computer-labs">Computer Labs</a></li>
					<li><a href="http://www.acs.uwosh.edu/departments-campus-hardware-software/hardware-and-software-standards">Computer Standards</a></li>
					<li><a href="http://www.uwosh.edu/d2lfaq/d2l-login/">Desire2Learn</a></li>
					<li><a href="https://my.wisconsin.edu/">My UW System</a></li>
					<li><a href="http://www.uwosh.edu/myuwo">MyUWO (Student Portal)</a></li>
					<li><a href="https://www.housing.uwosh.edu/new-students/computer-services/in-room-resnet">ResNet</a></li>
					<li><a href="http://www.students.uwosh.edu/">Student Home Pages</a></li>
					<li><a href="http://www.uwosh.edu/acs/student-technology-fee">Student Technology Fee</a></li>
					<li><a href="http://www.uwosh.edu/titanalert/">Titan Alert</a></li>
					<li><a href="https://gmail.com">Titan Mail</a></li>
					<li><a href="https://titanfiles.uwosh.edu/">Titan Files</a></li>
					<li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a></li>
					<li>Hardware</li>
					<li>Student/Faculty/Staff Personal Purchases</li>
					<ul>
						<li><a href="http://store.apple.com/us_edu_47016">Apple Store at UW Oshkosh</a></li>
						<li><a href="https://www.shopping.hp.com/webapp/shopping/register_app.do">HP/Compaq</a></li>
						<li><a href="http://shoplenovo.i2.com/SEUILibrary/controller/Lenovo:EnterStdAffinity?affinity=uwoshkosh&ConfigContext=StdAffinityPortal">IBM/Lenovo</a></li>
					</ul>
					<li>Software</li>
					<li>Students ONLY. Not available for employees.</li>
					<ul>
						<li><a href="http://wiscsoftware.wisc.edu/wisc/school.asp?institution=1023">Wisconsin Integrated Software Catalog</a></li>
						<li><a href="https://titanfiles.uwosh.edu/groups/ACS/index.html">Symantec/Norton Antivirus</a></li>
					</ul>
					<li><a href="http://www.acs.uwosh.edu/faq/viruses-and-spam-folder/how-do-i-avoid-viruses/">Information to help you avoid viruses</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>
