<div class="panel">
	<dl class="accordion" data-accordion>
		<dd>
			<a href="#panelFinancialAid"><h3 class="panel__title title-gradient">Financial Aid and Scholarships <i class="fa fa-chevron-down right clickable"></i></h3>
			<img src="{{ site.baseurl }}/img/current-students/financial-aid-scholarships.jpg" class="img-responsive panel__image" alt=""></a>
			<div id="panelFinancialAid" class="content panel__content">
				<ul class="custom-bullets">
					<li><a href="http://www.uwosh.edu/fin_aid/current-undergraduates">Financial Aid for Undergraduate Students</a></li>
					<li><a href="http://www.uwosh.edu/fin_aid/graduate-students">Financial Aid for Graduate Students</a></li>
					<li><a href="http://www.uwosh.edu/fin_aid/types-of-financial-aid/loans">Student Loans</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>
