<div class="panel">
	<dl class="accordion" data-accordion>
		<dd>
			<a href="#panelCampusLife"><h3 class="panel__title">Campus Life</h3>
			<img src="http://lorempixel.com/336/128/business" class="img-responsive panel__image"></a>
			<div id="panelCampusLife" class="content panel__content">
				<ul>
					<li><a href="http://reeve.uwosh.edu/involvement">Get Involved!</a></li>
					<li><a href="http://www.uwosh.edu/home/administration">Administrative Offices</a></li>
					<li><a href="http://www.advancetitan.com/">Advance-Titan</a></li>
					<li><a href="http://bookstore.uwosh.edu/home.aspx">Bookstore</a></li>
					<li><a href="http://www.uwosh.edu/home/current-students/safety">Campus Safety</a></li>
					<li><a href="http://www.uwosh.edu/student_financial/cashiers-office">Cashier's Office</a></li>
					<li><a href="http://www.uwosh.edu/childrens_center/">Children's Learning and Care Center</a></li>
					<li><a href="http://www.uwosh.edu/commencement/">Commencement</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>