<div class="panel">
	<dl class="accordion" data-accordion>
		<dd class="accordion-navigation">
			<a href="#panelHealthAndWellness"><h3 class="panel__title title-gradient">Health and Wellness <i class="fa fa-chevron-down right clickable"></i></h3>
			<img src="{{ site.baseurl }}/img/current-students/health-wellness.jpg" class="img-responsive panel__image" alt=""></a>
			<div id="panelHealthAndWellness" class="content panel__content">
				<ul class="custom-bullets">
					<li><a href="http://www.uwosh.edu/couns_center/">Counseling Center</a></li>
					<li><a href="http://www.uwosh.edu/health_center/">Health Center</a></li>
					<li><a href="http://recreation.uwosh.edu/">Student Recreation and Wellness Center</a></li>
					<li><a href="http://recreation.uwosh.edu/intramural-sports">Intramural Sports</a></li>
					<li><a href="http://www.uwosh.edu/cbl/programs-1">Pet Therapy</a></li>
				</ul>
			</div>
		</dd>
	</dl>
</div>
