<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelCurrentStudents"><div class="title-gradient side-nav__title"><div class="side-nav__title__contents">Current Students <i class="fa fa-minus right clickable"></i></div></div></a>
    <div id="panelCurrentStudents" class="content active">
      <ul class="side-nav side-nav--internal">
        <li><a href="{{ site.baseurl }}/current-students/campus-life.html">Campus Life</a></li>
        <li><a href="http://www.housing.uwosh.edu">Residence Life</a></li>
        <li><a href="http://reeve.uwosh.edu/dining">Dining</a></li>
        <li><a href="{{ site.baseurl }}/current-students/campus-extras.html">Campus Extras</a></li>
        <li><a href="https://www.housing.uwosh.edu/new-students/specialty-programs/life">Learning in a First-Year Environment</a></li>
        <li><a href="http://www.uwosh.edu/acs/">Computer Services</a></li>
        <li><a href="http://recreation.uwosh.edu/intramural-sports">Intramural Sports</a></li>
        <li><a href="{{ site.baseurl }}/current-students/traveling-around-campus.html">Traveling Around Campus</a></li>
      </ul>
    </div>
  </dd>
</dl>
