<h1 class="news-heading">Accreditation</h1>
<div style="float: right; width: 150px;">
  <a target="_blank" href="https://www.hlcommission.org/"><img src="http://uwosh.edu/img/about-uw-oshkosh/HLC-Logo.gif"></a>
  <div>The Higher Learning Commission will be on campus 05/21/2018 - 05/22/2018 to perform the comprehensive evaluation as part of the University's reaccreditation process.</div>
</div>
<p class="drop-down-nav">
  UW&nbsp;Oshkosh received unconditional <a href="http://www.uwosh.edu/nca_accreditation/">re-accreditation for the maximum period of 10 years (2007-2017)</a> by the Higher Learning Commission (HLC) of the North Central Association of Colleges and Schools (NCA) in recognition of its sustained improvement and the strength of its programs.
</p>
<p class="drop-down-nav">
  In addition, UW&nbsp;Oshkosh's <a href="http://www.uwosh.edu/cob">College of Business</a>, the only nationally accredited business school in the region. Fewer than 30 percent of the 1,500 U.S. business colleges earn and maintain this honor, according to the Association to Advance Collegiate Schools of Business (<acronym title="Association to Advance Collegiate Schools of Business">AACSB</acronym>). The education programs of the <a href="http://www.uwosh.edu/coehs">College of Education and Human Services</a> are approved by the WI Department of Public Instruction. The <a href="http://www.uwosh.edu/con">College of Nursing</a> is fully accredited into the next decade by the Commission on Collegiate Nursing Education at both the undergraduate and graduate levels.
</p>
<p class="drop-down-nav">
  For more information about accreditation and memberships UW&nbsp;Oshkosh holds, visit the <a href="http://www.uwosh.edu/provost/accountability/copy_of_accreditation-memberships">Provost's Academic&nbsp;Affairs website</a>.
</p>
<h4>Accredited by:</h4>
<ul>
  <li>AACSB International -- The Association to Advance Collegiate Schools of Business</li>
  <li>Accreditation Council on Education in Journalism and Mass Communication</li>
  <li>American Chemical Society</li>
  <li>Association for Assessment and Accreditation of Laboratory Animal Care [AAALAC]</li>
  <li>Commission for Collegiate Nursing Education [CCNE]</li>
  <li>Commission on Accreditation of Athletic Training Education [CAATE]</li>
  <li>Commission on Accreditation of Allied Health Education Programs, Committee on Accreditation for the Exercise Sciences [CAAHP/CoAES]</li>
  <li>Computing Accreditation Commission of the Accreditation Board for Engineering and Technology [CAC/ABET]</li>
  <li>Council for Accreditation of Counseling and Related Educational Programs [CACREP]</li>
  <li>Council for Standards in Human Service Education [CSHSE]</li>
  <li>Council on Social Work Education</li>
  <li>Higher Learning Commissions: A Commission of the North Central Association of Colleges and Schools</li>
  <li>International Fire Service Accreditation Congress (IFSAC)</li>
  <li>National Association of Concurrent Enrollment Programs [NACEP]</li>
  <li>National Association of Schools of Music [NASM]</li>
  <li>National Environmental Health Science and Protection Accreditation Council [EHAC]</li>
  <li>Wisconsin Department of Public Instruction</li>
  <li>Council on Accreditation [COA]</li>
</ul>
