<h3 class="news-heading">Accreditation</h3>

<p class="drop-down-nav text-justify">
  UW&nbsp;Oshkosh received unconditional <a href="http://www.uwosh.edu/nca_accreditation/">re-accreditation for the maximum period of 10 years (2007-2017)</a> by the Higher Learning Commission (HLC) of the North Central Association of Colleges and Schools (NCA) in recognition of its sustained improvement and the strength of its programs.
</p>

<p class="drop-down-nav text-justify">
  In addition, UW&nbsp;Oshkosh's <a href="http://www.uwosh.edu/cob">College of Business</a>, the only nationally accredited business school in the region, is in the top 15 percent of all business schools in the nation, according to the Association to Advance Collegiate Schools of Business (<abbr title="Association to Advance Collegiate Schools of Business">AACSB</abbr>). The <a href="http://www.uwosh.edu/coehs">College of Education and Human Services</a> was the first in the state to meet the new NCATE 2000 national accreditation standards, while the <a href="http://www.uwosh.edu/con">College of Nursing</a> is fully accredited into the next decade by the Commission on Collegiate Nursing Education at both the undergraduate and graduate levels.
</p>

<p class="drop-down-nav text-justify">
  For more information about accreditation and memberships UW&nbsp;Oshkosh holds, visit the <a href="http://www.uwosh.edu/provost/accountability/copy_of_accreditation-memberships">Provost's Academic&nbsp;Affairs website</a>.
</p>
