<h2 class="news-heading">New Student Resources</h1>


<p class="drop-down-nav">Welcome to the University of Wisconsin Oshkosh! Please use the resources below to get started on your journey at UW Oshkosh.</p>

<h3 class="news-heading">How to find your NetID username</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/YFdI0XBZ9Y4?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to connect to WiFi on Windows 8</h1>
<iframe width="420" height="315" src="//www.youtube.com/embed/fr8tzot4Aoc?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to connect to WiFi on a Mac</h1>
<iframe width="420" height="315" src="//www.youtube.com/embed/QCjScki8QAc?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to log-in to TitanWeb</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/SHb0h-rYWpk?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to log-in to D2L</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/zoByvBA3d6A?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to find additional technology help</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/62kTiDvIZ8k?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to log into a campus computer</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/0MznDseZ4rg?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to find food on campus</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/QBXee6U14FQ?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to stay fit at UW Oshkosh</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/Fi7OiNe2TnU?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to talk to a professor</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/sPmuK9rl7cQ?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to use a syllabus</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/-OC3U_5vbh8?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to talk to your professor about grades</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/ACCCixKFqGc?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to ask questions in class</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/60dULO_esU4?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How to ask your professor a question</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/7jGKLjODZZw?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">Communicating with your professors</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/8Dgt2cFiqH0?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">Professionalism in the classroom</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/infizo7ElJ4?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">What do I call a professor?</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/RkEAaIZumUA?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">Is there extra credit in college?</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/CB_thCCBY_k?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">How do I find the right time to talk to a professor?</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/aE1xQsk5kkc?rel=0" frameborder="0" allowfullscreen></iframe>
<div></div>
<h3 class="news-heading">What are office hours for?</h1>
<iframe width="560" height="315" src="//www.youtube.com/embed/pwWgcYG4wnc?rel=0" frameborder="0" allowfullscreen></iframe>
