<h1 class="news-heading">Maps and Directions</h1>

<p class="drop-down-nav">
  Campus Address: 800 Algoma Blvd., Oshkosh, WI 54901
</p>

<h4>UW Oshkosh Campus Maps</h4>
<h5>Interactive Maps</h5>
<a class="th" href="http://virtualtour.uwosh.edu">
  <img src="{{ site.baseurl }}/img/maps/interactive-map.jpg" alt="Interactive Map thumbnail">
</a>
<a class="th" href="http://www.uwosh.edu/map/ppp/">
  <img src="{{ site.baseurl }}/img/maps/trees-shrubs.png" alt="Trees and shrubs map thumbnail">
</a>

<h5>Other Maps</h5>
<a class="th" href="http://www.uwosh.edu/facilities/campus-information/campus-maps-1">
  <img src="{{ site.baseurl }}/img/maps/printable-maps.jpg" alt="Printable maps thumbnail">
</a>
<a class="th" href="{{ site.baseurl }}/UWO-ParkingMap2013.pdf">
  <img src="{{ site.baseurl }}/img/maps/parking-map.jpg" alt="Parking map thumbnail">
</a>
<a class="th" href="http://www.uwosh.edu/facilities/campus-information/campus-maps-1/documents/snow-removal-high-priority">
  <img src="{{ site.baseurl }}/img/maps/snow-removal.jpg" alt="Snow removal map thumbnail">
</a>

<p class="drop-down-nav">
  To locate hotels near campus, <a href="http://www.metrotravelguide.com/hotels_nearby/oshkosh/wi/usa/0/university_of_wisconsin_-_oshkosh/" target="_blank">click here</a>!<br>
  <br>
  <a href="www.uwosh.edu/go/directions" target="_blank">Get directions using Google Maps</a>.
</p>

<h4>Driving Directions</h4>
<h5>Construction and Detour Information</h5>
<p class="drop-down-nav">
  As you travel to UW Oshkosh, you may encounter detours. Updated detour information for local highway construction can be found at the <a href="http://www.us41wisconsin.gov/" target="_blank">DOT U.S. 41 Project</a> website.
</p>
<h5>From Appleton, Green Bay and Other Points North</h5>
<p class="drop-down-nav">
  Take Highway 41 South to Exit 124 (WI-76). Take a left off the exit ramp onto WI-76 S (Jackson Street) Continue and go straight through the roundabout at the intersection of Murdock and Jackson. Turn right onto Algoma Boulevard (a one-way street.)
</p>
<h5>From Fond Du Lac, Milwaukee and Other Points South</h5>
<p class="drop-down-nav">
  Take Highway 41 North to Exit 116 (South Park Avenue/WI-44/WI-91). Keep right and continue straight on South Park Avenue. Turn left onto Ohio Street. Continue straight. Ohio street will turn into Wisconsin Street over the bridge. Turn left onto Algoma Boulevard (a one-way street.)
</p>

<h4>Parking</h4>
<p class="drop-down-nav">
  Parking with a permit is permitted in any Staff/Commuter Student lot or in the Visitor lot (Lot 32). Lot 15, by Reeve Memorial Union and Blackhawk Commons, is easily accessible from Algoma Boulevard. Other parking lot locations on campus are listed on the <a href="http://www.uwosh.edu/parking">Parking Services</a> website.
</p>
<p class="drop-down-nav">
  Please display the parking permit in the driver's side window and do not park in a metered space, handicapped space or other restricted space.
</p>
