<h1 class="news-heading">Accessibility</h1>

<p class="drop-down-nav">
  We have undertaken to use our knowledge and understanding of the ways in which different people access the Internet, to develop a web site that is clear and simple for everybody to use.
</p>


<h4>Validation</h4>
<p class="drop-down-nav">
  We have used <acronym title="Hypertext Markup Language">HTML5</acronym> and <acronym title="Cascading Style Sheets">CSS3</acronym> that conforms to specification, as laid out by the W3C because we believe that usability and accessibility must have a solid foundation. If anything on this web site does not validate correctly, please contact the <a href="http://www.uwosh.edu/about-uw-oshkosh/feedback.html">Site Administration</a>.
</p>
<p class="drop-down-nav">
  We have also endeavoured to achieve AA accessibility as measured against version 1.0 of the <acronym title="Web Content Accessbility Guidelines">WCAG</acronym>. We are aware however, that a number of the checkpoints of the <acronym title="Web Content Accessbility Guidelines">WCAG</acronym> are subjective &mdash; and although we are sure that we have met them squarely, there may be instances where interpretation may vary.
</p>

