<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelChancellor"><h3 class="panel__title">Chancellor</h3>
      <img src="http://lorempixel.com/336/128/business" class="img-responsive"></a>
      <div id="panelChancellor" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/chancellor/communications">Chancellor's Communications</a></li>
          <li><a href="http://www.uwosh.edu/csac/">Classified Staff Advisory Council</a></li>
          <li><a href="http://www.uwosh.edu/affirm-act">Equity &amp; Affirmative Action</a></li>
          <li><a href="http://www.uwosh.edu/faculty_senate/">Faculty Senate</a></li>
          <li><a href="http://www.uwosh.edu/acadstaff_senate">Senate for Academic Staff</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>