<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelIMC"><h3 class="panel__title"><abbr title="Integrated Marketing and Communications">IMC</abbr></h3>
      <img src="http://lorempixel.com/336/128/technics" class="img-responsive"></a>
      <div id="panelIMC" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/imc">Integrated Marketing and Communications</a></li>
          <li><a href="http://www.uwosh.edu/imc/creative-services/the-process">Graphic Design</a></li>
          <li><a href="http://www.uwosh.edu/imc/creative-services/the-process">Marketing and Communications</a></li>
          <li><a href="http://www.uwosh.edu/imc/media-relations">Media Relations</a></li>
          <li><a href="http://www.uwosh.edu/imc/web-new-media">Web and New Media Services</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>