<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelLLCE"><h3 class="panel__title">LLCE</h3>
      <img src="http://lorempixel.com/336/128/technics" class="img-responsive"></a>
      <div id="panelLLCE" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/llce">Lifelong Learning and Community Engagement (LLCE)</a></li>
          <li><a href="http://www.uwosh.edu/llce/ansr">LLCE Adult Student Resources</a></li>
          <li><a href="http://www.uwosh.edu/newlearning/">Online Degree and Certificate Programs</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted">Personal and Professional Development Programs</a></li>
          <li><a href="http://www.uwosh.edu/home/administration/www.uwosh.edu/llce/cnl">LLCE Program Advising</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>