<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelInformationTechnology"><h3 class="panel__title">Information Technology</h3>
      <img src="http://lorempixel.com/336/128/technics" class="img-responsive"></a>
      <div id="panelInformationTechnology" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/it">Information Technology</a></li>
          <li><a href="http://www.acs.uwosh.edu/">Academic Computing</a></li>
          <li><a href="http://idea.uwosh.edu/media_services/home.html">Learning Technologies</a></li>
          <li><a href="http://www.uwosh.edu/training/">Technology Training</a></li>
          <li><a href="http://www.uwosh.edu/it/administrative-computing">Telecommunications, Networking and Administrative Computing</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>