<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelLLCE"><h3 class="panel__title title-gradient"><acronym title="Lifelong Learning and Community Engagement">Lifelong Learning and Community Engagement</acronym> <i class="fa fa-chevron-down right clickable"></i></h3></a>
      <div id="panelLLCE" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/llce">Lifelong Learning and Community Engagement (<acronym title="Lifelong Learning and Community Engagement">LLCE</acronym>)</a></li>
          <li><a href="http://www.uwosh.edu/llce/ansr"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> Adult Student Resources</a></li>
          <li><a href="http://www.uwosh.edu/llce/cnl">Online Degree and Certificate Programs</a></li>
          <li><a href="http://www.uwosh.edu/llce/conted">Personal and Professional Development Programs</a></li>
          <li><a href="http://www.uwosh.edu/llce/cnl"><acronym title="Lifelong Learning and Community Engagement">LLCE</acronym> Program Advising</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
