<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelColleges"><h3 class="panel__title">Colleges</h3>
      <img src="http://lorempixel.com/336/128/technics" class="img-responsive"></a>
      <div id="panelColleges" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/cob/">College of Business</a></li>
          <li><a href="http://www.uwosh.edu/coehs">College of Education and Human Services</a></li>
          <li><a href="http://www.uwosh.edu/cols">College of Letters and Science</a></li>
          <li><a href="http://www.uwosh.edu/con">College of Nursing</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>