<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelAdministrativeServices"><h3 class="panel__title">Administrative Services</h3>
      <img src="http://lorempixel.com/336/128/technics" class="img-responsive"></a>
      <div id="panelAdministrativeServices" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/admin_serv">Administrative Services</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/budget">Budgets</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/central-stores">Central Stores</a></li>
          <li><a href="http://www.uwosh.edu/ccdet/">Center for Career Development &mdash; Employability Training (CCDET)</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/document-services">Document Services</a></li>
          <li><a href="http://www.uwosh.edu/facilities">Facilities Management</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/Financial%20Services">Financial Services</a></li>
          <li><a href="http://www.uwosh.edu/hr">Human Resources</a></li>
          <li><a href="http://www.uwosh.edu/parking">Parking</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/postal-services">Postal Services</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/administrative-services-home">Purchasing</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/travel">Travel</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>