<div class="panel">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panelUniversityAdvancement"><h3 class="panel__title">University Advancement</h3>
      <img src="http://lorempixel.com/336/128/technics" class="img-responsive"></a>
      <div id="panelUniversityAdvancement" class="content">
        <ul>
          <li><a href="http://www.uwosh.edu/alumni">Alumni Relations</a></li>
          <li><a href="http://www.uwosh.edu/bsc">Business Success Center (formerly Center for Community Partnerships)</a></li>
          <li><a href="http://www.uwosh.edu/imc">Integrated Marketing and Communications</a></li>
          <li><a href="http://www.uwosh.edu/foundation">UW Oshkosh Foundation</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>