<h1 class="news-heading">Majors, Minors and Emphases</h1>

<p class="drop-down-nav">
  With 60 undergraduate majors and more than 100 emphases, minors and options spanning four exceptional colleges, UW&nbsp;Oshkosh offers a wealth of opportunities for personal enrichment, career growth and lifelong learning.
</p>

<p class="drop-down-nav">
  From the second-largest nursing program in the state to a highly respected business program, the University's affordable degree options provide students with nationally accredited programs, award-winning professors and an integrated liberal education that affords you the tools you need to thrive in our rapidly changing and increasing global society.
</p>

<table>
  <thead>
    <tr>
      <td>Programs</td>
      <td>Major</td>
      <td>Minor</td>
      <td>Emphases</td>
      <td>Master's</td>
      <td>Doctoral</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/areas-of-study">2-Dimensional Art</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">2-Dimensional Studio</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/areas-of-study">3-Dimensional Art</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">3-Dimensional Studio</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/accelerated-online-bachelors-to-bsn">Accelerated Nursing</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/accounting">Accounting</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre/courses/acting-track">Acting</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/advertising">Advertising</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/african_am/">African American Studies</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/anthropology/anthropology-program">Anthropology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/majors-and-minors/applied-physics-emphasis">Applied</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics/undergraduate-programs/minors">Applied Mathematics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art">Art</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/art-history">Art History</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/athletic-training">Athletic Training</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/llce/cnl/programs/aviation-management-1/aviation-management">Aviation Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Biochemistry</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology">Biology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/masters-program">Biology/Microbiology (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/chemistry-majors/biomolecular-requirements">Biomolecular Science</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/minors#business-administration">Business Administration</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/graduate/professional-mba">Business Administration</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/graduate/executive-mba">Business Administration (MBA) - Executive Path</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/canada/assets/general.html">Canada and U.S. Studies</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Cell/Molecular Professional</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/">Chemistry</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements">Civic Engagement</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn">Collaborative Nursing</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Communication and Human Relationships</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Communication and Organizations</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/communication/">Communication Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs/composition">Composition</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis">Computer Information Systems</a></td>
      <td></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis">Computer Science</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis">Computer Science</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#computer-science">Computer Science</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#cost-management">Cost Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/creative-writing">Creative Writing</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/criminaljustice/">Criminal Justice</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program">Curriculum and Instruction (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre/courses/design-track">Design</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">Design</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_disciplines.html">Discipline</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/DNP">Doctor of Nursing Practice (DNP)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual">Dual Education (Elementary and Special)</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual/early-childhood-regular-and-special-education">Early Childhood-Middle Childhood with Early Childhood Special Education</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ecology and Organismal</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/economics">Economics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/registrar/bulletins/bulletin/2007-2009/courses.php?subject=economics&title=Economics">Economics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership">Educational Leadership (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/elementary-education">Elementary Education</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english">English</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/graduate-program">English (MA)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program/esl">English as a Second Language</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Enterprise Resource Planning</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#entrepreneurship-small-business">Entrepreneurship and Small Business Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Health</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Policy and Values</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/es/">Environmental Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/exercise-fitness">Exercise and Fitness</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/finance">Finance</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#financial-services">Financial Services</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">Fine Arts</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/llce/cnl/programs/bas-ferm">Fire and Emergency Response Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/french">French</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>General</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geography">Geography</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/departments/geology/index.php">Geology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/german">German</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_globalnatl_security.html">Global and National Security</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/minors#global-business">Global Business</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/design">Graphic Design</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Business</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Business</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#healthcare-management">Healthcare Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/history">History</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/human-resource-mgmt">Human Resource Management</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/human-services-Leadership/Human_Services_Leadership">Human Services Leadership</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/departments/geology/index.php">Hydrogeology</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#information-management">Information Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/is">Information Systems</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Insurance</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Insurance and Financial Planning</td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre/courses/integrated-track">Theatre - Integrated Track</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/iwm">Interactive Web Management</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>International</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_intl_business.html">International Business</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_intl_development.html">International Development</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#international-management">International Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/">International Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/japanese">Japanese Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism">Journalism</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/academic-programs-1">Kinesiology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Language Arts</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#legal-studies">Legal Studies</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements">Legal Studies</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/llce/cnl/programs/bls">Liberal Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/linguistics">Linguistics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Literature</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/marketing">Marketing</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics">Mathematics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics/graduate-programs">Mathematics Education (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/media-studies">Media Studies</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/med_tech/">Medical Technology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Microbiology</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual/middle-childhood-through-early-adolescence-regular-and-special-education">Middle Childhood-Early Adolescence with Special Education Cross Categorical</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/military_science/">Military Science</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs">Music</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs/music-industry">Music Industry (Music Business, Recording Technology)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cols/academic-programs/undergraduate/neuro/">Neuroscience</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/master-of-science-in-nursing">Nursing (MSN &amp; DNP)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/traditional">Nursing-Traditional</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/minors#operations-research">Operations Research</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs/music-performance">Performance (Instrumental, Piano, Vocal)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/philosophy/">Philosophy</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/">Physics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/majors-and-minors/engineering-3-2-program">Physics/Engineering Dual</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science">Political Science</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements">Political Science</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/majors-and-minors/professional-emphasis">Professional</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/departments/geology/index.php">Professional</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/chemistry-majors/chemistry-requirements">Professional</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/professional-counseling">Professional Counseling (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/psychology/undergraduate-studies">Psychology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/psychology/graduate-studies">Psychology – Cognitive/Affective [formerly Experimental] (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/publicadministration/">Public Administration</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/publicadministration/master-of-public-administration-1">Public Administration (MPA)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/public-relations">Public Relations</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Quantitative</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/rtf">Radio-TV-Film</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Radiological Science</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Reading</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/litlang/programs/mse-in-reading-education">Reading Education (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#real-estate">Real Estate</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_regional.html">Regional Studies</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/anthropology/religious-studies-program">Religious Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/rhetoric">Rhetoric</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td>Rhetoric and Public Advocacy</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Sales</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/early-adolescence-through-adolescence">Secondary Education</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/social_justice/">Social Justice</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Social Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/socialwork/bsw">Social Work</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/socialwork/masters-program">Social Work (MSW)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sociology/">Sociology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis">Software Engineering</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/spanish">Spanish</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/department-of-special-education/undergraduate-program">Special Education</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/departments/department-of-special-education/graduate-program">Special Education (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics/undergraduate-programs/minors">Statistics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/strength-and-conditioning">Strength and Conditioning</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/supply-chain-operations-mangement">Supply Chain Management</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#production-and-operations-management">Supply Chain Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sustain">Sustainable Management</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sustain/masters-program">Sustainable Management (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#tax-planning">Tax Planning</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre">Theatre</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/hsl/transnational">Transnational Human Services Leadership (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geography/">Urban Planning</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/visual">Visual Journalism</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Web and Mobile Development</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#web">Web Presence Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/wags/">Women's Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/writing-editing">Writing/Editing</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
