<h3 class="news-heading">Majors, Minors and Emphases</h3>

<p class="drop-down-nav text-justify">
  With 60 undergraduate majors and more than 100 emphases, minors and options spanning four exceptional colleges, UW&nbsp;Oshkosh offers a wealth of opportunities for personal enrichment, career growth and lifelong learning.
</p>

<p class="drop-down-nav text-justify">
  From the second-largest nursing program in the state to a highly respected business program, the University's affordable degree options provide students with nationally accredited programs, award-winning professors and an integrated liberal education that affords you the tools you need to thrive in our rapidly changing and increasing global society.
</p>

<table>
  <thead>
    <tr>
      <td>Programs</td>
      <td>Major</td>
      <td>Minor</td>
      <td>Emphases</td>
      <td>Master's</td>
      <td>Doctoral</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2-Dimensional Art</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/areas-of-study/areas-of-study"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2-Dimensional Studio</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3-Dimensional Art</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/areas-of-study/areas-of-study"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3-Dimensional Studio</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Accelerated Nursing</td>
      <td class="text-center"><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/accelerated-online-bachelors-to-bsn"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Accounting</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/accounting"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Acting</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/theatre/courses/acting-track"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Advertising</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/journalism/major/advertising"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>African American Studies</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/african_am/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Anthropology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/anthropology/anthropology-program"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Applied</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/phys/majors-and-minors/applied-physics-emphasis"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Applied Mathematics</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/mathematics/undergraduate-programs/minors"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Art</td>
      <td class="text-center"><a href="http://www.uwosh.edu/art"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Art History</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/areas-of-study/art-history"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Athletic Training</td>
      <td class="text-center"><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/athletic-training"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Aviation Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/llce/cnl/programs/aviation-management-1/aviation-management"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Biochemistry</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Biology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/biology"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Biology/Microbiology (MS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/biology/masters-program"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Biomolecular Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/chemistry/chemistry-majors/biomolecular-requirements"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Business Administration</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/minors#business-administration"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Business Administration</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/graduate/professional-mba"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Business Administration (MBA) - Executive Path</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/graduate/executive-mba"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Canada and U.S. Studies</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/canada/assets/general.html"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Cell/Molecular Professional</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td class="text-center"><a href="http://www.uwosh.edu/chemistry/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Civic Engagement</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Collaborative Nursing</td>
      <td class="text-center"><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Communication and Human Relationships</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Communication and Organizations</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Communication Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/communication/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Composition</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/music/degree-programs/composition"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Information Systems</td>
      <td></td>
      <td></td>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis"><i class="fa fa-check"></i></a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Science</td>
      <td class="text-center"><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#computer-science"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Cost Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#cost-management"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Creative Writing</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/creative-writing"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Criminal Justice</td>
      <td class="text-center"><a href="http://www.uwosh.edu/criminaljustice/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Curriculum and Instruction (MSE)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Design</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/theatre/courses/design-track"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Design</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Discipline</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_disciplines.html"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Doctor of Nursing Practice (DNP)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/DNP"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td>Dual Education (Elementary and Special)</td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Early Childhood-Middle Childhood with Early Childhood Special Education</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual/early-childhood-regular-and-special-education"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ecology and Organismal</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Economics</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/economics"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Economics</td>
      <td class="text-center"><a href="http://www.uwosh.edu/registrar/bulletins/bulletin/2007-2009/courses.php?subject=economics&title=Economics"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Educational Leadership (MS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Elementary Education</td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/elementary-education"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>English</td>
      <td class="text-center"><a href="http://www.uwosh.edu/english"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>English (MA)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/english/graduate-program"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>English as a Second Language</td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program/esl"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Enterprise Resource Planning</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Entrepreneurship and Small Business Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#entrepreneurship-small-business"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Health</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Policy and Values</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Environmental Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/es/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Exercise and Fitness</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/exercise-fitness"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Finance</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/finance"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Financial Services</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#financial-services"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Fine Arts</td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Fire and Emergency Response Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/llce/cnl/programs/bas-ferm"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>French</td>
      <td class="text-center"><a href="http://www.uwosh.edu/foreignlanguage/french"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>General</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Geography</td>
      <td class="text-center"><a href="http://www.uwosh.edu/geography"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Geology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/departments/geology/index.php"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>German</td>
      <td class="text-center"><a href="http://www.uwosh.edu/foreignlanguage/german"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Global and National Security</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_globalnatl_security.html"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Global Business*</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/minors#global-business"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Graphic Design</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/art/programs/areas-of-study/design"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Business</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Business</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare – Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Healthcare Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#healthcare-management"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>History</td>
      <td class="text-center"><a href="http://www.uwosh.edu/history"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Human Resource Management</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/human-resource-mgmt"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Human Services Leadership</td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/human-services-Leadership/Human_Services_Leadership"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Hydrogeology</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/departments/geology/index.php"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Information Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#information-management"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Information Systems</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/is"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Insurance</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Insurance and Financial Planning</td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Integrated</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/theatre/courses/integrated-track"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Interactive Web Management</td>
      <td class="text-center"><a href="http://www.uwosh.edu/iwm"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>International</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>International Business</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_intl_business.html"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>International Development</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_intl_development.html"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>International Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#international-management"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>International Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/home_pages/departments/international/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Japanese Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/foreignlanguage/japanese"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Journalism</td>
      <td class="text-center"><a href="http://www.uwosh.edu/journalism"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Kinesiology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/kinesiology/academic-programs/academic-programs-1"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Language Arts</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Legal Studies</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#legal-studies"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Legal Studies</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Liberal Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/llce/cnl/programs/bls"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Linguistics</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/linguistics"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Literature</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Marketing</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/marketing"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mathematics</td>
      <td class="text-center"><a href="http://www.uwosh.edu/mathematics"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mathematics Education (MS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/mathematics/graduate-programs"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Media Studies</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/journalism/major/media-studies"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Medical Technology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/med_tech/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Microbiology</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Middle Childhood-Early Adolescence with Special Education Cross Categorical</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual/middle-childhood-through-early-adolescence-regular-and-special-education"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Military Science</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/military_science/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Music</td>
      <td class="text-center"><a href="http://www.uwosh.edu/music/degree-programs"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Music Industry (Music Business, Recording Technology)</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/music/degree-programs/music-industry"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Neuroscience</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cols/academic-programs/undergraduate/neuro/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Nursing (MSN &amp; DNP)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/master-of-science-in-nursing"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Nursing-Traditional</td>
      <td class="text-center"><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/traditional"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Operations Research</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/minors#operations-research"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Performance (Instrumental, Piano, Vocal)</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/music/degree-programs/music-performance"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Philosophy</td>
      <td class="text-center"><a href="http://www.uwosh.edu/philosophy/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Physics</td>
      <td class="text-center"><a href="http://www.uwosh.edu/phys/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Physics/Engineering Dual</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/phys/majors-and-minors/engineering-3-2-program"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Political Science</td>
      <td class="text-center"><a href="http://www.uwosh.edu/political_science"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Political Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Professional</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/phys/majors-and-minors/professional-emphasis"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Professional</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/departments/geology/index.php"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Professional</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/chemistry/chemistry-majors/chemistry-requirements"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Professional Counseling (MSE)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/professional-counseling"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Psychology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/psychology/undergraduate-studies"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Psychology – Cognitive/Affective [formerly Experimental] (MS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/psychology/graduate-studies"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Public Administration</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/publicadministration/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Public Administration (MPA)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/publicadministration/master-of-public-administration-1"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Public Relations</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/journalism/major/public-relations"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Quantitative</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Radio-TV-Film</td>
      <td class="text-center"><a href="http://www.uwosh.edu/rtf"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Radiological Science</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Reading</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Reading Education (MSE)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/litlang/programs/mse-in-reading-education"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Real Estate</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#real-estate"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Regional Studies</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/home_pages/departments/international/assets/html/emphasis_regional.html"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Religious Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/anthropology/religious-studies-program"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Rhetoric</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/rhetoric"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Rhetoric and Public Advocacy</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Sales</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Secondary Education</td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/early-adolescence-through-adolescence"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Social Justice</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/social_justice/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Social Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Social Work</td>
      <td class="text-center"><a href="http://www.uwosh.edu/socialwork/bsw"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Social Work (MSW)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/socialwork/masters-program"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Sociology</td>
      <td class="text-center"><a href="http://www.uwosh.edu/sociology/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Software Engineering</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Spanish</td>
      <td class="text-center"><a href="http://www.uwosh.edu/foreignlanguage/spanish"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Special Education</td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/departments/department-of-special-education/undergraduate-program"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Special Education (MSE)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/degrees-and-programs/departments/department-of-special-education/graduate-program"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Statistics</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/mathematics/undergraduate-programs/minors"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Strength and Conditioning</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/strength-and-conditioning"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Supply Chain Management</td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/supply-chain-operations-mangement"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Supply Chain Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#production-and-operations-management"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Sustainable Management</td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/sustain"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Sustainable Management (MS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/sustain/masters-program"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Tax Planning</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#tax-planning"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Theatre</td>
      <td class="text-center"><a href="http://www.uwosh.edu/theatre"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Transnational Human Services Leadership (MS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/coehs/hsl/transnational"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Urban Planning</td>
      <td class="text-center"><a href="http://www.uwosh.edu/geography/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Visual Journalism</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/journalism/major/visual"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Web and Mobile Development</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Web Presence Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/emphases-1#web"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Women's Studies</td>
      <td class="text-center"><a href="http://www.uwosh.edu/wags/"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Writing/Editing</td>
      <td></td>
      <td></td>
      <td class="text-center"><a href="http://www.uwosh.edu/journalism/major/writing-editing"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
