<h3 class="news-heading">Majors, Minors and Emphases</h3>

<p class="drop-down-nav">
  With 60 undergraduate majors and more than 100 emphases, minors and options spanning four exceptional colleges, UW&nbsp;Oshkosh offers a wealth of opportunities for personal enrichment, career growth and lifelong learning.
</p>

<p class="drop-down-nav">
  From the second-largest nursing program in the state to a highly respected business program, the University's affordable degree options provide students with nationally accredited programs, award-winning professors and an integrated liberal education that affords you the tools you need to thrive in our rapidly changing and increasing global society.
</p>

<table>
  <thead>
    <tr>
      <th>Majors</th>
      <th>Emphases</th>
      <th>Minors</th>
      <th>Master's degree</th>
      <th>Doctoral</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/accelerated-online-bachelors-to-bsn">Accelerated Nursing</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/accounting">Accounting</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/anthropology/anthropology-program">Anthropology</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art">Art</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/athletic-training">Athletic Training</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/llce/cnl/programs/aviation-management-1/aviation-management">Aviation Management</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology">Biology</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry">Chemistry</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn">Collaborative Nursing</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/communication/">Communication Studies</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis">Computer Science</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/criminaljustice/">Criminal Justice</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual">Dual Education (Elementary and Special)</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/economics">Economics</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/elementary-education">Elementary Education</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english">English</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program/esl">English as a Second Language</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Environmental Health</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/es">Environmental Studies</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/finance">Finance</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">Fine Arts</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/accelerated-online-bachelors-to-bsn">Fire and Emergency Response Management</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/french">French</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geography">Geography</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/departments/geology/index.php">Geology</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/german">German</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/history">History</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/human-resource-mgmt">Human Resource Management</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/human-services-Leadership/Human_Services_Leadership">Human Services Leadership</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/human-services-Leadership/Human_Services_Leadership">Human Services Leadership</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/is">Information Systems</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/iwm">Interactive Web Management</a></td>
      <td></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/home_pages/departments/international/">International Studies</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/japanese">Japanese Studies</a></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism">Journalism</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/academic-programs-1">Kinesiology</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/llce/cnl/programs/bls">Liberal Studies</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/marketing">Marketing</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics">Mathematics</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/med_tech">Medical Technology</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Microbiology</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs">Music</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/traditional">Nursing-Traditional</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/philosophy">Philosophy</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys">Physics</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science">Political Science</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/psychology/undergraduate-studies">Psychology</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/rtf">Radio-TV-Film</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Radiological Science</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/anthropology/religious-studies-program">Religious Studies</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/early-adolescence-through-adolescence">Secondary Education</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/socialwork/bsw">Social Work</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sociology">Sociology</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/spanish">Spanish</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/department-of-special-education/undergraduate-program">Special Education</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/majors/supply-chain-operations-mangement">Supply Chain Management</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre">Theatre</a></td>
      <td><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geography">Urban Planning</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/wags">Women's Studies</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
