---
layout: default
title: Current Students
responsive-nav: '
<aside class="right-off-canvas-menu hide-tab-bar" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
    <li class="off-canvas__label">Current Students</li>
    <li><a href="http://www.uwosh.edu/current-students/campus-life.html">Campus Life</a></li>
    <li><a href="http://www.housing.uwosh.edu">Residence Life</a></li>
    <li><a href="http://reeve.uwosh.edu">Reeve Union</a></li>
    <li><a href="http://reeve.uwosh.edu/dining">Dining</a></li>
    <li><a href="http://www.uwosh.edu/current-students/campus-extras.html">Campus Extras</a></li>
    <li><a href="https://www.housing.uwosh.edu/new-students/specialty-programs/life">Learning in a First-Year Environment</a></li>
    <li><a href="http://www.uwosh.edu/acs/">Computer Services</a></li>
    <li><a href="http://recreation.uwosh.edu/intramural-sports">Intramural Sports</a></li>
    <li><a href="http://www.uwosh.edu/current-students/traveling-around-campus.html">Traveling Around Campus</a></li>
  </ul>
</aside>
'
---


<div class="row content">
  <div class="small-24 columns page-banner__column">
    <div class="page-banner page-banner--blue">
      <h2 class="page-banner__title">Current Students</h2>
    </div>
  </div>
  <div class="medium-16 columns">
    <img src="{{ site.baseurl }}/img/current-students/main-image.jpg" class="img-responsive current-students__main-image" alt="Student in lab">
  </div>
  <div class="medium-8 columns">
    <p class="my-uwo-paragraph">
      <a href="http://www.uwosh.edu/myuwo/"><img src="{{ site.baseurl }}/img/current-students/my-uwo-portal.jpg" class="left my-uwo" alt="MyUWO Portal"></a>
      Discover what <a href="http://www.uwosh.edu/myuwo/">MyUWO</a> can do for you &mdash; everything from downloading the latest anti-virus to keeping up to date with road conditions &mdash; use your UW Oshkosh NetID to start getting involved in campus life!
    </p><br>
    <div class="row">
      <div class="medium-8 columns"><a href="https://www.gmail.com"><div class="cta cta--my-uwo cta--light-gray">EMAIL</div></a></div>
      <div class="medium-8 columns"><a href="http://www.uwosh.edu/d2l/"><div class="cta cta--my-uwo cta--light-gray"><abbr title="Desire 2 Learn">D2L</abbr></div></a></div>
      <div class="medium-8 columns"><a href="http://www.uwosh.edu/registrar/titanweb/"><div class="cta cta--my-uwo cta--light-gray">TITANWEB</div></a></div>
    </div>
    <div class="row">
      <div class="medium-24 columns">
        <a href="http://www.uwosh.edu/stuaff/policies-procedures">
          <div class="cta cta--orange cta--current-students--student-policies">
            <img src="{{ site.baseurl }}/img/icons/icon-book-closed.png" class="cta__icon cta__icon--book-closed" alt="Student policies icon"> <span class="cta__text">Student Policies</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="medium-24 columns">
        <a href="http://www.uwosh.edu/usp">
          <div class="cta cta--dark-orange">
            <img src="{{ site.baseurl }}/img/icons/icon-pencil.png" class="cta__icon cta__icon--pencil" alt="General education icon"> <span class="cta__text">General Education</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-16 columns">
    <nav class="breadcrumbs">
      <a href="{{site.baseurl}}">Home</a>
      <a href="#" class="current">Current Students</a>
    </nav>
		{% include current-students/lead-content.html %}

    <div class="row">
      <div class="small-24 columns current-students">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
					<li>{% include current-students/panel-academic-support.html %}</li>
          <li>{% include current-students/panel-health-and-wellness.html %}</li>
          <li>{% include current-students/panel-student-services.html %}</li>
          <li>{% include current-students/panel-financial-aid-and-scholarships.html %}</li>
          <li>{% include current-students/panel-registrar.html %}</li>
          <li>{% include current-students/panel-adult-nontraditional-students.html %}</li>
          <li>{% include current-students/panel-campus-life.html %}</li>
          <li>{% include current-students/panel-technology.html %}</li>
					<li>{% include current-students/panel-graduate-students.html %}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-24 columns">
        {% include social-icons.html %}
				{% include titan-alert.html %}
				{% include current-students/audience-banners.html %}
      </div>
    </div>
  </div>
</div>
