<h1 class="news-heading">Majors, Minors and Emphases</h1>

<p class="drop-down-nav">
  With 60 undergraduate majors and more than 100 emphases, minors and options spanning four exceptional colleges, UW&nbsp;Oshkosh offers a wealth of opportunities for personal enrichment, career growth and lifelong learning.
</p>

<p class="drop-down-nav">
  From the second-largest nursing program in the state to a highly respected business program, the University's affordable degree options provide students with nationally accredited programs, award-winning professors and an integrated liberal education that affords you the tools you need to thrive in our rapidly changing and increasing global society. <a href="{{ site.baseurl }}/academics/programs.html">View <em>examples</em> of how students might choose to fulfill program requirements within a period of four years.</a>
</p>

<table>
  <thead>
    <tr>
      <td>Programs</td>
      <td>Major</td>
      <td>Minor</td>
      <td>Emphasis</td>
      <td>Master's</td>
      <td>Doctoral</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/areas-of-study">2-Dimensional Art</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">2-Dimensional Studio</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/areas-of-study">3-Dimensional Art</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">3-Dimensional Studio</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/accelerated-online-bachelors-to-bsn">Accelerated Nursing</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/acct/academics/accounting">Accounting</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre/courses/acting-track">Acting</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/advertising">Advertising</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/african_am/">African American Studies</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/anthropology/anthropology-program">Anthropology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/majors-and-minors/applied-physics-emphasis">Applied Physics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art">Art</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/art-history">Art History</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/astronomy-minor">Astronomy</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://oce.uwosh.edu/online-degree-and-certificate-programs/aviation-management/">Aviation Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
     <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/chemistry-majors/biochemistry-requirements">Biochemistry</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology">Biology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/masters-program">Biology/Microbiology (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/chemistry-majors/biomolecular-requirements">Biomolecular Science</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/minors/business">Business (non-business majors only)</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/mba/pmba">Business Administration (MBA – Professional)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/mba/emba">Business Administration (MBA) - Executive Path</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
     <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/business-analytics">Business Analytics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/canada/assets/general.html">Canada and U.S. Studies</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/chemistry-majors/chemistry-requirements">Cell/Molecular Professional</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/">Chemistry</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science/information-for-students/degree-rquirements">Civic Engagement</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn">Collaborative Nursing</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/communication/majors-minors">Communication and Human Relationships</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/communication/majors-minors">Communication and Organizations</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/communication/">Communication Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs/composition">Composition</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis">Computer Science</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/computer-science">Computer Science (Business)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/cost-management">Cost Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/creative-writing">Creative Writing</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/criminaljustice/">Criminal Justice</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program">Curriculum and Instruction (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre/courses/design-track">Design (Theatre)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/international/international-studies-requirements/course-list-1">Disciplinary (International Studies)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/DNP">Doctor of Nursing Practice (DNP)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual">Dual Education (Elementary and Special)</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual/early-childhood-regular-and-special-education">Early Childhood-Middle Childhood with Early Childhood Special Education</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/undergraduate-program/majors-and-emphases/ecology-organismal-biology-emphasis">Ecology and Organismal</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/econ/academics">Economics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/Ed_Leadership/programs/ms">Educational Leadership (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
       <tr>
      <td><a href="http://www.uwosh.edu/engineeringtech/about-the-program/electrical-engineering-technology">Electrical Engineering Technology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/elementary-education">Elementary Education</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/engineeringtech">Engineering Technology Program</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english">English</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/graduate-program">English (MA)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program/esl">English as a Second Language</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/enterprise-system-erp-technology-management">Enterprise Systems (ERP) Technology Management</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/entrepreneurship-and-small-business-management">Entrepreneurship and Small Business Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
      <tr>
      <td><a href="http://www.uwosh.edu/engineeringtech/about-the-program/environmental-engineering-technology">Environmental Engineering Technology</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/undergraduate-program/majors-and-emphases/environmental-health">Environmental Health</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/es/advising/brief-overview/double-counting">Environmental Policy and Values</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/es/advising/brief-overview/double-counting">Environmental Science</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/es/">Environmental Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/exercise-fitness">Exercise and Fitness</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
     <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/fin/academics/finance">Finance</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/financial-services">Financial Services</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/degrees-offered/bfa">Fine Arts</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/french">French</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geography">Geography</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geology/">Geology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/german">German</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/international/international-studies-requirements/globalemphasis">Global and National Security</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/minors/global-business">Global Business</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/art/programs/areas-of-study/design">Graphic Design</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/undergraduate-program/majors-and-emphases">Healthcare – Business (Biology)</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/undergraduate-program/majors-and-emphases">Healthcare Science (Biology)</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology/academic-programs/majors/healthcare-science">Healthcare Science (Kinesiology)</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/healthcare-management">Healthcare Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/history">History</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/majors/human-resources">Human Resource Management</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/hr-emphasis">Human Resources</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/human-services-Leadership/Human_Services_Leadership">Human Services Leadership</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geology/about-the-program/professional-hydrogeology">Hydrogeology</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/information-management">Information Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/majors/information-systems-1">Information Systems</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/insurance-1">Insurance</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/minors/insurance-financial-planning">Insurance and Financial Planning</td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre/courses/integrated-track">Theatre - Integrated Track</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/iwm">Interactive Web Management</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/international/international-studies-requirements/international-business">International Business</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/international/international-studies-requirements/international-development">International Development</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/international-management">International Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/international/international-studies-major">International Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/japanese">Japanese Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism">Journalism</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/kinesiology">Kinesiology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program/courses/early-childhood-education/?searchterm=Language%20Arts%20">Language Arts (Early Childhood Education)</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science/major-minors-emphasis/major-minors-emphasis#law-and-policy-minor">Law and Policy</a></td>
      <td></td>
         <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/legal-studies-in-business">Legal Studies (Business)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/linguistics">Linguistics</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/litlang/programs/mse-in-reading-education">Literacy (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/literature">Literature</td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
     <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/majors/management-1">Management</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/majors/marketing">Marketing</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics/undergraduate-programs">Mathematics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics/graduate-programs">Mathematics Education (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
       <tr>
      <td><a href="http://www.uwosh.edu/engineeringtech/about-the-program/mechanical-engineering-technology-program">Mechanical Engineering Technology</a></td>
     <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/media-studies">Media Studies</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/med_tech/">Medical Technology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/undergraduate-program/majors-and-emphases">Microbiology</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/dual/middle-childhood-through-early-adolescence-regular-and-special-education">Middle Childhood-Early Adolescence with Special Education Cross Categorical</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/rotc/our-program/military-science-minor">Military Science</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs">Music</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs/music-industry">Music Industry (Music Business, Recording Technology)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cols/academic-programs/undergraduate/neuro/">Neurosciences</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/master-of-science-in-nursing">Nursing (MSN &amp; DNP)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/con/college-of-nursing-programs/undergraduate-bsn/traditional">Nursing-Traditional</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/minors/operations-research">Operations Research</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/music/degree-programs/music-performance">Performance (Instrumental, Piano, Vocal)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/philosophy/">Philosophy</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/">Physics</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/majors-and-minors/engineering-3-2-program">Physics/Engineering Dual</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/political_science">Political Science</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/phys/majors-and-minors/professional-emphasis">Professional Physics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geology/about-the-program/professional-geology">Professional Geology</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/chemistry/chemistry-majors/chemistry-requirements">Professional Chemistry</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/professional-counseling">Professional Counseling (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
       <tr>
      <td><a href="http://www.uwosh.edu/cob/mba/pmba/emphases">Project Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/psychology/undergraduate-studies">Psychology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/psychology/graduate-studies">Psychology – Cognitive/Affective [formerly Experimental] (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/publicadministration/curricula/pa-minor-curriculum-1">Public Administration</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/publicadministration/master-of-public-administration-1">Public Administration (MPA)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/public-relations">Public Relations</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/registrar/undergradbulletins/2013-2015/departments-and-majors/economics">Quantitative Economics</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/rtf">Radio-TV-Film</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/biology/undergraduate-program/majors-and-emphases/radiologic-science-major">Radiological Science</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/graduate-program/courses/early-childhood-education">Reading (Early Childhood Education)</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/real-estate">Real Estate</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/international/international-studies-requirements/course-list-2">Regional Studies</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/retail-management">Retail Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/anthropology/religious-studies-program">Religious Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/english/undergraduates/courses/full-course-catalogue/minoring-in-english/rhetoric">Rhetoric</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/communication/majors-minors">Rhetoric and Public Advocacy</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/sales">Sales</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
      <tr>
      <td><a href="http://www.uwosh.edu/go/coehs/departments/human-kinetics-health-education/programs/school-health-education">School Health Education</td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/elem%20ed">Science (Elementary Education)</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/early-adolescence-through-adolescence">Secondary Education</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/social_justice/">Social Justice</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/teacher-education/elem%20ed">Social Science (Elementary Education)</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/socialwork/">Social Work</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/socialwork/masters-program">Social Work (MSW)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sociology/">Sociology</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/computer_science/major-minor-emphasis/emphasis">Software Engineering</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/foreignlanguage/spanish">Spanish</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/department-of-special-education/undergraduate-program">Special Education</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/degrees-and-programs/departments/department-of-special-education/graduate-program">Special Education (MSE)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
      <tr>
      <td><a href="http://www.uwosh.edu/coehs/departments/curriculum-instruction-department/undergraduate-program/prospective-students/majors-and-minors/secondary-education/early-adolescence-through-adolescence-majors-1/speech-communication">Speech Communication</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/mathematics/undergraduate-programs">Statistics</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://www.uwosh.edu/kinesiology/kinesiology/empahses">Strength and Conditioning</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/majors/supply-chain-management">Supply Chain Management (Major)</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/supply-chain-management">Supply Chain Management (Emphasis)</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sustain">Sustainable Management</a></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/sustain/masters-program">Sustainable Management (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
     <thead>
      <tr>
        <td>Programs</td>
        <td>Major</td>
        <td>Minor</td>
        <td>Emphases</td>
        <td>Master's</td>
        <td>Doctoral</td>
      </tr>
    </thead>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/tax-planning">Tax Planning</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/theatre">Theatre</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/coehs/hsl/transnational">Transnational Human Services Leadership (MS)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/geography/classes/urban-planning">Urban Planning</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/visual">Visual Journalism</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/web-and-mobile-development">Web and Mobile Development</td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/cob/undergraduate/academic/emphases/web-presence-management">Web Presence Management</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/wags">Women's and Gender Studies</a></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://www.uwosh.edu/journalism/major/writing-editing">Writing/Editing</a></td>
      <td></td>
      <td></td>
      <td class="text-center"><i class="fa fa-check"></i></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
