<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelStudentAffairs"><h3 class="panel__title title-gradient">Student Affairs <i class="fa fa-chevron-down right clickable"></i></h3></a>
      <div id="panelStudentAffairs" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/stuaff/">Student Affairs</a></li>
          <li><a href="http://www.uwosh.edu/admissions">Admissions</a></li>
          <li><a href="http://www.uwosh.edu/career">Career Services</a></li>
          <li><a href="http://www.uwosh.edu/childrens_center">Children's Learning and Care Center</a></li>
          <li><a href="http://www.uwosh.edu/couns_center">Counseling Center</a></li>
          <li><a href="http://www.uwosh.edu/dean">Dean of Students</a></li>
          <li><a href="http://www.uwosh.edu/deanofstudents/disability-services">Accessibility Center</a></li>
          <li><a href="http://www.uwosh.edu/fin_aid">Financial Aid and Scholarships</a></li>
          <li><a href="http://gcc.housing.uwosh.edu/">Gruenhagen Conference Center</a></li>
          <li><a href="http://www.reeve.uwosh.edu/">Reeve Union and University Dining</a></li>
          <li><a href="http://www.housing.uwosh.edu/">Residence Life</a></li>
          <li><a href="http://www.uwosh.edu/health_center">Student Health Center</a></li>
          <li><a href="http://recreation.uwosh.edu">Student Recreation</a></li>
          <li><a href="http://www.uwosh.edu/bookstore">University Books &amp; More</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
