<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelAdministrativeServices"><h3 class="panel__title title-gradient">Administrative Services <i class="fa fa-chevron-down right clickable"></i></h3></a>
      <div id="panelAdministrativeServices" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://adminservices.uwosh.edu/">Administrative Services</a></li>
          <li><a href="http://adminservices.uwosh.edu/budget/">Budgets</a></li>
          <li><a href="http://adminservices.uwosh.edu/central-stores/">Central Stores</a></li>
          <li><a href="http://www.uwosh.edu/ccdet/">Center for Career Development &mdash; Employability Training (CCDET)</a></li>
          <li><a href="http://adminservices.uwosh.edu/document-services/">Document Services</a></li>
          <li><a href="http://www.uwosh.edu/facilities">Facilities Management</a></li>
          <li><a href="http://adminservices.uwosh.edu/financial-services/">Financial Services</a></li>
          <li><a href="http://www.uwosh.edu/hr">Human Resources</a></li>
          <li><a href="http://www.uwosh.edu/parking">Parking</a></li>
          <li><a href="http://adminservices.uwosh.edu/postal-services/">Postal Services</a></li>
          <li><a href="http://adminservices.uwosh.edu/financial-services/purchasing/">Purchasing</a></li>
          <li><a href="http://adminservices.uwosh.edu/financial-services/travel/">Travel</a></li>
          <li><a href="http://police.uwosh.edu/">University Police</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
