<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelLLCE"><h3 class="panel__title title-gradient">Online and Continuing Education <i class="fa fa-chevron-down right clickable"></i></h3></a>
      <div id="panelLLCE" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://oce.uwosh.edu/">Online and Continuing Education (<acronym title="Online and Continuing Education">LLCE</acronym>)</a></li>
          <li><a href="http://oce.uwosh.edu/online-degree-and-certificate-programs/">Online Degree and Certificate Programs</a></li>
          <li><a href="http://oce.uwosh.edu/personal-and-professional-development-programs/">Personal and Professional Development Programs</a></li>
          <li><a href="http://oce.uwosh.edu/current-students/current-student-advising/"><acronym title="Online and Continuing Education">LLCE</acronym> Program Advising</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
