<div class="panel">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panelAdministrativeServices"><h3 class="panel__title title-gradient">Administrative Services <i class="fa fa-chevron-down right clickable"></i></h3></a>
      <div id="panelAdministrativeServices" class="content panel__content">
        <ul class="custom-bullets">
          <li><a href="http://www.uwosh.edu/admin_serv">Administrative Services</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/budget">Budgets</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/central-stores">Central Stores</a></li>
          <li><a href="http://www.uwosh.edu/ccdet/">Center for Career Development &mdash; Employability Training (CCDET)</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/document-services">Document Services</a></li>
          <li><a href="http://www.uwosh.edu/facilities">Facilities Management</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/Financial%20Services">Financial Services</a></li>
          <li><a href="http://www.uwosh.edu/hr">Human Resources</a></li>
          <li><a href="http://www.uwosh.edu/it">Information Technology</a></li>
          <li><a href="http://www.uwosh.edu/parking">Parking</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/postal-services">Postal Services</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/administrative-services-home">Purchasing</a></li>
          <li><a href="http://www.uwosh.edu/admin_serv/travel">Travel</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</div>
