<h1 class="news-heading">Recommended Reading</h1>

<h4>Books</h4>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#sendMoney"><i class="fa fa-chevron-down clickable"></i> "Don't Tell Me What To Do, Just Send Money"</a>
    <div id="sendMoney" class="content">
      <p class="drop-down-nav">
        Written by Helen E. Johnson and Christine Schelhas-Miller<br>
        When children leave for college, many parents feel uncertain about their shifting roles. By emphasizing the importance of being a mentor to your college student, Don't Tell Me What To Do, Just Send Money shows parents how to influence their college student while still supporting their independence. The authors offer valuable insight into the minds of college students and provide parents with simple suggestions for improving communication with their children. Filled with humorous anecdotes and realistic dialogs between parents and students, this comprehensive guide covers a wide range of issues, including financial matters, academic concerns, social adjustment and postgraduate choices.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#emptyNest"><i class="fa fa-chevron-down clickable"></i> "Empty Nest &hellip; Full Heart: The Journey from Home to College"</a>
    <div id="emptyNest" class="content">
      <p class="drop-down-nav">
        Written by Andrea VanSteenhouse, Ph.D.<br>
        The author chronicles the tumultuous journey from the senior year of high school, through the challenging summer, to the first year of college for students. Featuring an emphasis on the freshman experience, Empty Nest &hellip; Full Heart offers a lighthearted yet savvy look at this turbulent time. The book's generous and compassionate scope makes it lively, humorous and emotionally resonant.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#helpSucceed"><i class="fa fa-chevron-down clickable"></i> "Helping Your First-Year College Student Succeed"</a>
    <div id="helpSucceed" class="content">
      <p class="drop-down-nav">
        Written by Richard H. Mullendore and Cathie Hatch of the National Orientation Director's Association<br>
        This informational pamphlet focuses on "letting go" as a long-term process that should never be completed. The authors encourage parents to renegotiate their relationship with their student as an adult. This concise guide features 10 sections about the major events and feelings parents and students will likely experience during the first year of college and offers suggestions for resolving issues.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#journeyBegin"><i class="fa fa-chevron-down clickable"></i> "Let the Journey Begin: A Parent's Monthly Guide to the College Experience"</a>
    <div id="journeyBegin" class="content">
      <p class="drop-down-nav">
        Written by Jacqueline Kiernan MacKay<br>
        As you and your first-year college student begin the school year, many questions may arise. Parent orientation will be one opportunity to get answers to your questions. Knowing what to ask will help you maximize the benefits of your orientation. Use the strategies in Let the Journey Begin to tackle problems and find solutions.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#lettingGo"><i class="fa fa-chevron-down clickable"></i> "Letting Go: A Parents' Guide to Understanding the College Years"</a>
    <div id="lettingGo" class="content">
      <p class="drop-down-nav">
        Written by Karen Levin Coburn and Madge Lawrence Treeger<br>
        Letting Go leads parents through the transition that their student experiences between the junior year of high school and college graduation. The authors explain how to distinguish normal developmental stages from problems that may require parental or professional intervention. The new edition explains the differences between college life today and the college life parents experienced 20 or 30 years ago. It features a completely new resource guide that introduces parents to campus technology, useful Web sites and other organizations that provide information about a wide range of topics.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#studySmart"><i class="fa fa-chevron-down clickable"></i> "Studying Smart: Time Management for College Students"</a>
    <div id="studySmart" class="content">
      <p class="drop-down-nav">
        Written by Diana Schart-Hunt and Pam Hait<br>
        An invaluable resource for college students, Studying Smart teaches a proven system for managing time to complete all of one's work successfully. The authors offer tips to estimate how long an assignment will take, how to take notes efficiently, how to achieve top grades and more.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#stillHere"><i class="fa fa-chevron-down clickable"></i> "You're on Your Own (But I'm Here if You Need Me): Mentoring Your Child During the College Years"</a>
    <div id="stillHere" class="content">
      <p class="drop-down-nav">
        Written by Marjorie Savage<br>
        This book helps to recognize the boundaries for a parent and student between necessary involvement and respect for independence. As a parent, Marjorie Savage empathizes with moms and dads. At the same time, as a professional working in student services, she understands the complexity of students’ issues.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#changingRelationships"><i class="fa fa-chevron-down clickable"></i> "When Kids Go to College: A Parents Guide to Changing Relationships"</a>
    <div id="changingRelationships" class="content">
      <p class="drop-down-nav">
        Written by Barbara M. Newman and Philip Newman<br>
        This practical guide will answer your questions and help you make the most of these exciting years. Topics covered include: identity formation, values development, career exploration, social relationships, sexuality, alcohol and drug abuse, romantic relationships, dorm life, personal freedom, depression, discrimination and college bureaucracy.
      </p>
    </div>
  </dd>
</dl>

<h4>Websites</h4>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#collegeParents"><i class="fa fa-chevron-down clickable"></i> College Parents of America</a>
    <div id="collegeParents" class="content">
      <p class="drop-down-nav">
        <a href="http://www.collegeparents.org" target="_blank">www.collegeparents.org</a><br>
        "College parents of America (<acronym title="College parents of America">CPA</acronym>) is the only national membership association dedicated to helping parents prepare and put their children through college easily, economically and safely. Today, college parents represent an estimated 12 million households. An additional 24 million households are currently saving and otherwise preparing children for college. <acronym title="College parents of America">CPA</acronym> is a resource, an adviser and an advocate working on behalf of these millions of families."
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#aodGuide"><i class="fa fa-chevron-down clickable"></i> Alcohol, Other Drugs and College: A Parent's Guide</a>
    <div id="aodGuide" class="content">
      <p class="drop-down-nav">
        <a href="http://www.edc.org/newsroom/articles/environmental_approach_campus_drinking" target="_blank">www.edc.org/newsroom/articles/environmental_approach_campus_drinking</a><br>
        This guide prepares parents by providing advice about communicating with their college student and important questions to ask of prospective colleges.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#pflag"><i class="fa fa-chevron-down clickable"></i> <acronym title="Parents, Families, Friends of Lesbians and Gays">PFLAG</acronym> (Parents, Families, Friends of Lesbians and Gays)</a>
    <div id="pflag" class="content">
      <p class="drop-down-nav">
        <a href="http://www.pflag.org" target="_blank">www.pflag.org</a><br>
        <acronym title="Parents, Families, Friends of Lesbians and Gays">PFLAG</acronym> is an excellent site offering general information about issues facing GLBT individuals and how their loved ones may assist and advocate for them.
      </p>
    </div>
  </dd>
</dl>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#parentConnection"><i class="fa fa-chevron-down clickable"></i> The Parent Connection</a>
    <div id="parentConnection" class="content">
      <p class="drop-down-nav">
        <a href="http://www.theparentconnection.org/wp-content/uploads/2013/09/10-Things-Parents-Don%E2%80%99t-Know-About-Drugs-and-Alcohol.pdf" target="_blank">www.theparentconnection.org/wp-content/uploads/2013/09/10-Things-Parents-Don%E2%80%99t-Know-About-Drugs-and-Alcohol.pdf</a><br>
        This site offers information for parents on alcohol and other drug prevention.
      </p>
    </div>
  </dd>
</dl>
