<h1 class="news-heading">Contact UW&nbsp;Oshkosh</h1>

{% include vcard.html %}
<p class="drop-down-nav">
  Admissions Information
  <address class="vcard">
    <div class="fn">Undergraduate Admissions</div>
    <div class="fn">Office of Undergraduate Admission</div>
    <div class="adr">
      <div class="street-address">P.O. Box 2423</div>
      <span class="locality">Oshkosh</span>, <span class="region">WI</span> <span class="postal-code">54903</span>
    </div>
    <div class="tel">
      Phone: <a href="tel:9204241234">(920) 424-3164</a>
    </div>
    <div class="tel">
      Fax: <a href="tel:9204241234">(920) 424-1207</a>
    </div>
    <div class="email">
      Email: <a href="mailto:admissions@uwosh.edu">admissions@uwosh.edu</a>
    </div>
    <div class="website">
      <a href="http://www.uwosh.edu/admissions">www.uwosh.edu/admissions</a>
    </div>
  </address><br>
  <a href="http://admissions.uwosh.edu/request-more-information/">Request Undergraduate Admissions Information</a>
</p>
<p class="drop-down-nav">
  Graduate Admissions
  <address class="vcard">
    <div class="fn">Graduate Admissions</div>
    <div class="adr">
      <div class="street-address">800 Algoma Blvd, Dempsey Hall 337</div>
      <span class="locality">Oshkosh</span>, <span class="region">WI</span> <span class="postal-code">54903</span>
    </div>
    <div class="tel">
      Phone: <a href="tel:9204241234">(920) 424-1223</a>
    </div>
    <div class="tel">
      Fax: <a href="tel:9204241234">(920) 424-0247</a>
    </div>
    <div class="email">
      Email: <a href="mailto:gradschool@uwosh.edu">gradschool@uwosh.edu</a>
    </div>
    <div class="website">
      <a href="http://www.uwosh.edu/gradstudies">www.uwosh.edu/gradstudies</a>
    </div>
  </address><br>
  <a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001RasWx_M1beuPu2deYDYdzKv1CqaWqNvgTPwmkoi_dflCY5AvmbxHP3p-FUVhmvv_ju4ac8UKRQ73BXJ4ariHE9JiuA4IE71yhQIE3yiuniU%3D">Request Graduate Studies Information</a>
</p>
<p class="drop-down-nav">
  Technology: Information Technology
  <address class="vcard">
    <div class="fn">Information Technology</div>
    <div class="tel">
      Phone: <a href="tel:9204241234">(920) 424-3020</a>
    </div>
    <div class="email">
      Email: <a href="mailto:helpdesk@uwosh.edu">helpdesk@uwosh.edu</a>
    </div>
    <div class="website">
      <a href="http://www.uwosh.edu/it">it.uwosh.edu</a>
    </div>
  </address><br>
  <a href="https://kb.uwosh.edu/">View Frequently Asked Questions/KnowledgeBase</a>
</p>
<p class="drop-down-nav">
  Media Contacts
  <address class="vcard">
    <div class="fn">Media Contacts</div>
    <div class="tel">
      Phone: <a href="tel:9204241234">(920) 424-2442</a>
    </div>
    <div class="website">
      <a href="http://umc.uwosh.edu/for-media/">umc.uwosh.edu/for-media/</a>
    </div>
  </address>
</p>
<p class="drop-down-nav">
  Questions/Comments about the UW Oshkosh Website<br>
  <a href="{{ site.baseurl }}/about-uw-oshkosh/feedback.html">Send us your feedback!</a>
</p>
