---
layout: default
title: Where to Check in
responsive-nav: '
<aside class="right-off-canvas-menu hide-for-medium-up" role="navigation">
  <ul class="off-canvas-list">
    <li class="off-canvas__label">UW Oshkosh</li>
    <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li>
    <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li>
    <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li>
    <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li>
    <li class="off-canvas__label">Parents</li>
    <li><a href="http://www.uwosh.edu/parents-family-friends">Parents</a></li>
    <li><a href="http://www.uwosh.edu/about-uw-oshkosh">About UW&nbsp;Oshkosh</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/tips.html">Tips</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/recommended-reading.html">Recommended Reading</a></li>
    <li><a href="http://www.uwosh.edu/parents-family-friends/faqs.html">FAQs</a></li>
    <li><a href="http://www.uwosh.edu/fin_aid">Costs and Financial Aid</a></li>
    <li><a href="http://www.uwosh.edu/current-students/health-wellness-safety.html">Health and Wellness</a></li>
    <li><a href="http://www.uwosh.edu/current-students/health-wellness-safety.html">Campus Safety Resources</a></li>
  </ul>
</aside>
'
---

<div class="row content">
  <div class="small-24 columns page-banner__column">

    <a href="{{ site.baseurl }}/parents-family-friends">
      <div class="page-banner page-banner--dark-blue">
        <h2 class="page-banner__title">Parents, Family and Friends</h2>
      </div>
    </a>

  </div>
</div>

<div class="row content">

  <div class="small-24 medium-16 columns">
    <img src="{{ site.baseurl }}/img/parents-family-friends/move-in-weekend/banner.jpg" alt="Students and their parents moving their belongings into the dorms.">
  </div>
  <div class="small-24 medium-8 columns">
    <a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/where-to-check-in.html"><img src="{{ site.baseurl }}/img/parents-family-friends/move-in-weekend/CheckInCTA.png" alt="Where to check in" style="margin-bottom: 16px;"></a>
    <a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/additional-information.html"><img src="{{ site.baseurl }}/img/parents-family-friends/move-in-weekend/ParkingCTA.png" alt="Parking" style="margin-bottom: 16px;"></a>
    <a href="http://www.housing.uwosh.edu/about-us/Move-in-Information/new-or-transfer-student-move-in-information/move-in-schedule-and-maps"><img src="{{ site.baseurl }}/img/parents-family-friends/move-in-weekend/DatesCTA.png" alt="Move-in dates" style="margin-bottom: 15px;"></a>
    <a href="{{site.baseurl}}/parents-family-friends/move-in-weekend/additional-information.html#what-to-bring"><img src="{{ site.baseurl }}/img/parents-family-friends/move-in-weekend/PackingCTA.png" alt="What to bring" style="margin-bottom: 16px;"></a>
  </div>

  <div class="medium-5 columns show-for-large-up right-rule padding-right-0">
    {% include parents-family-friends/side-nav.html %}
    {% include social-icons-internal.html %}
    {% include news-announcements-cta.html %}
  </div>

  <div class="medium-19 columns">
    <div class="banner--move-in-day-help">We are here to help make your Move-In Day be a safe and stress-free one.</div>
    <nav class="breadcrumbs breadcrumbs--internal">
      <a href="{{site.baseurl}}">Home</a>
      <a href="{{site.baseurl}}/parents-family-friends">Parents, Family and Friends</a>
      <a href="{{site.baseurl}}/parents-family-friends/move-in-weekend">Move-in Weekend</a>
      <a href="#" class="current">{{ page.title }}</a>
    </nav>
    {% include parents-family-friends/move-in-weekend/where-to-check-in.html %}
  </div>

</div>
