<h3 class="news-heading">Mission, Vision and Core Values</h3>

<h4>University of Wisconsin System Mission Statement</h4>
<p class="drop-down-nav">
  The mission of the University of Wisconsin System is to develop human resources, to discover and disseminate knowledge, to extend knowledge and its application beyond the boundaries of its campuses, and to serve and stimulate society by developing in students heightened intellectual, cultural, and humane sensitivities, scientific, professional and technological expertise, and a sense of purpose. Inherent in this broad mission are methods of instruction, research, extended training, and public service designed to educate people and improve the human condition. Basic to every purpose of the UW System is the search for truth.
</p>

<h4>The Core Mission of the University Cluster Institutions</h4>
<p class="drop-down-nav">
  As institutions in the University Cluster of the University of Wisconsin System, the University of Wisconsin-Eau Claire, the University of Wisconsin-Green Bay, the University of Wisconsin-La Crosse, the University of Wisconsin Oshkosh, the University of Wisconsin-Parkside, the University of Wisconsin-Platteville, the University of Wisconsin-River Falls, the University of Wisconsin-Stevens Point, the University of Wisconsin-Stout, the University of Wisconsin-Superior and the University of Wisconsin-Whitewater share the following core mission.
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#cluster"><i class="fa fa-chevron-down clickable"></i> Within the approved differentiation stated in their select missions, each university in the cluster shall:</a>
      <div id="cluster" class="content">
        <ol type="a">
          <li>Offer associate and baccalaureate degree level and selected graduate programs within the context of its approved mission statement.</li>
          <li>Offer an environment that emphasizes teaching excellence and meets the educational and personal needs of students through effective teaching, academic advising, counseling and through university-sponsored cultural, recreational and extra-curricular programs.</li>
          <li>Offer a core of liberal studies that supports university degrees in the arts, letters and sciences, as well as specialized professional/technical degrees at the associate and baccalaureate level.</li>
          <li>Offer a program of pre-professional curricular offerings consistent with the university's mission.</li>
          <li>Expect scholarly activity, including research, scholarship and creative endeavor, that supports its programs at the associate and baccalaureate degree level, its selected graduate programs and its approved mission statement.</li>
          <li>Promote the integration of the extension function, assist the University of Wisconsin-Extension in meeting its responsibility for statewide coordination, and encourage faculty and staff participation in outreach activity.</li>
          <li>Participate in inter-institutional relationships in order to maximize educational opportunity for the people of the state effectively and efficiently through the sharing of resources.</li>
          <li>Serve the needs of women, minority, disadvantaged, disabled and non-traditional students and seek racial and ethnic diversification of the student body and the professional faculty and staff.</li>
          <li>Support activities designed to promote the economic development of the state.</li>
        </ol>
      </div>
    </dd>
  </dl>
</p>

<h4>Revised Select Mission of the University of Wisconsin Oshkosh</h4>
<p class="drop-down-nav">
  The University of Wisconsin Oshkosh provides a wide array of quality educational opportunities to the people of northeastern Wisconsin and beyond through the discovery, synthesis, preservation and dissemination of knowledge. The interaction of our dedicated faculty, staff and students fosters an inclusive learning environment that prepares our graduates to meet the challenges of an increasingly global society.
</p>

<h4>The UW Oshkosh Student Learning Outcomes</h4>
<p class="drop-down-nav">
  UW Oshkosh prepares graduates who are talented, liberally educated, technically skilled global citizens and are fully engaged as leaders and participants in civic, economic, political and social life. The University fulfills its learning mission through a commitment to providing a 21st century liberal education that is grounded in a set of student learning outcomes unanimously adopted by the Faculty Senate on May 13, 2008.
</p>
<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#liberal"><i class="fa fa-chevron-down clickable"></i> The University embraces the following definition of liberal education:</a>
      <div id="liberal" class="content">
        Liberal education is a philosophy of education that empowers individuals with broad knowledge and transferable skills, and a strong sense of values, ethics, and civic engagement.  These broad goals have been enduring even as the courses and requirements that comprise a liberal education have changed over the years.  Characterized by challenging encounters with important and relevant issues today and throughout history, a liberal education prepares graduates both for socially valued work and for civic leadership in their society. It usually includes a general education curriculum that provides broad exposure to multiple disciplines and ways of knowing, along with more in-depth study in at least one field or area of concentration.<br>
        [Source: <a href="http://www.aacu.org/leap/What_is_liberal_education.cfm">Advocacy &ldquo;What is a liberal education?&rdquo;</a>]
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#humanCultures"><h4><i class="fa fa-chevron-down clickable"></i> Knowledge of Human Cultures and the Physical and Natural World</h4></a>
      <div id="humanCultures" class="content">
        <ul class="custom-bullets">
          <li>Through study in fine and performing arts, humanities, mathematics and science, and social science</li>
        </ul>
        Focused by engagement with big questions, both contemporary and enduring
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#skills"><h4><i class="fa fa-chevron-down clickable"></i> Skills, both Intellectual and Practical, including</h4></a>
      <div id="skills" class="content">
        <ul class="custom-bullets">
          <li>Identification and objective evaluation of theories and assumptions</li>
          <li>Critical and creative thinking</li>
          <li>Written and oral communication</li>
          <li>Quantitative literacy</li>
          <li>Technology and information literacy</li>
          <li>Teamwork, leadership, and problem solving</li>
        </ul>
        Practiced extensively, across the curriculum, in the context of progressively more challenging problems, projects, and standards for performance
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#responsibility"><h4><i class="fa fa-chevron-down clickable"></i> Responsibility, as Individuals and Communities, including</h4></a>
      <div id="responsibility" class="content">
        <ul class="custom-bullets">
          <li>Knowledge of sustainability and its applications</li>
          <li>Civic knowledge and engagement—local and global</li>
          <li>Intercultural knowledge and competence</li>
          <li>Ethical reasoning and action</li>
          <li>Foundations and skills for lifelong learning</li>
        </ul>
        Developed through real-world challenges and active involvement with diverse communities
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#learningIntegrated"><h4><i class="fa fa-chevron-down clickable"></i> Learning: Integrated, Synthesized, and Advanced, including</h4></a>
      <div id="learningIntegrated" class="content">
        <ul class="custom-bullets">
          <li>Synthesis and advanced accomplishment across general and specialized studies</li>
        </ul>
        Demonstrated through the application of knowledge, skills, and responsibilities to new settings and complex problems<br>
        [Note: Learning Outcomes are adapted from AAC&amp;U report, <a href="http://www.aacu.org/leap/documents/GlobalCentury_final.pdf">College Learning for the New Global Century</a>]
      </div>
    </dd>
  </dl>
</p>

<h4>Vision Statement</h4>
<p class="drop-down-nav">
  The University of Wisconsin Oshkosh will be a national model as a responsive, progressive, and scholarly public service community known for its accomplished record of engaging people and ideas for common good.
</p>
<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#admired"><i class="fa fa-chevron-down clickable"></i> It will be admired for:</a>
      <div id="admired" class="content">
        <ul class="custom-bullets">
          <li>Enrichment and Leadership that emphasizes intellectual, civic, ethical, and personal development for students, faculty, and staff.</li>
          <li>The Centrality of the Student-Faculty Relationship that is distinguished by active learning, mutual respect, and collaborative scholarship.</li>
          <li>Teaching Excellence that is characterized by diversity, discovery, engagement, innovation, dialogue, and dissemination.</li>
          <li>Scholarly Achievement that furthers new knowledge through diverse methods of inquiry and is     applicable to multiple audiences.</li>
          <li>Partnerships that mutually serve, stimulate, and shape the University and the broader public.</li>
        </ul>
      </div>
    </dd>
  </dl>
</p>

<h3 class="news-heading">Core Values</h3>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#knowledgeContinuousLearning"><h4><i class="fa fa-chevron-down clickable"></i> Knowledge and Continuous Learning</h4></a>
      <div id="knowledgeContinuousLearning" class="content">
        We believe that the pursuit of knowledge, understanding, meaning, and personal development should be encouraged across all stages of life.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#diversityInclusivity"><h4><i class="fa fa-chevron-down clickable"></i> Diversity and Inclusivity</h4></a>
      <div id="diversityInclusivity" class="content">
        We believe that a university community connects the perspectives and backgrounds of diverse social and academic groups of people. To meet this aim, a university community must be inclusive in its composition and support a civil atmosphere and a tolerant environment for learning.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#qualityAchievement"><h4><i class="fa fa-chevron-down clickable"></i> Quality and Achievement</h4></a>
      <div id="qualityAchievement" class="content">
        We believe that the university should provide a wide range of high-quality educational and scholarly opportunities that stimulate activity and recognize achievement by students, faculty, and staff.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#freedomAndResponsibility"><h4><i class="fa fa-chevron-down clickable"></i> Freedom and Responsibility</h4></a>
      <div id="freedomAndResponsibility" class="content">
        We believe that members of a university community must be free to pursue academic, artistic, and research agendas that are essential to the University Mission, while contributing to an open and collegial environment that promotes reasoned inquiry, intellectual honesty, scholarly competence, and the pursuit of new knowledge.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#engagementAndSupport"><h4><i class="fa fa-chevron-down clickable"></i> Engagement and Support</h4></a>
      <div id="engagementAndSupport" class="content">
        We believe the vitality of ideas is supported by mutually reinforcing relationships that involve students, faculty, staff, administrators, and the broader community. The student-faculty relationship is the most central relationship in the university. This spirit of engagement must also extend beyond the borders of our campus as we seek to stimulate, serve, and shape our society.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#socialAwareness"><h4><i class="fa fa-chevron-down clickable"></i> Social Awareness and Responsiveness</h4></a>
      <div id="socialAwareness" class="content">
        We believe that educators and students should explore and engage the challenges that confront regional, national, and global communities, using their intellectual and creative capabilities to understand, investigate, and solve problems. Social awareness will allow us to respond to domestic and international needs for equitable and sustainable societies.
      </div>
    </dd>
  </dl>
</p>

<h3 class="news-heading">Strategic Directions</h3>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#developDiverse"><h4><i class="fa fa-chevron-down clickable"></i> Develop a Diverse, Engaged Community of Lifelong Learners and Collaborative Scholars</h4></a>
      <div id="developDiverse" class="content">
        The University of Wisconsin Oshkosh will be regionally based and globally connected. We are a community of critical, creative, and constructive thinkers who approach academic and social issues in an informed and principled way. Our learning community is distinguished by a pervasive commitment to diversity and inclusivity, international perspectives, support for those with disabilities or special needs, and engaged community service.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#enhanceTeachingExcellence"><h4><i class="fa fa-chevron-down clickable"></i> Enhance Teaching Excellence, Active Learning and Dynamic Curricular Programs</h4></a>
      <div id="enhanceTeachingExcellence" class="content">
        The University of Wisconsin Oshkosh will enhance the scholarly and physical environment we provide for teaching excellence, active learning, and dynamic curricular programs. The university will encourage, support, and intensify efforts to engage students inside and outside of the classroom.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#fosterResearch"><h4><i class="fa fa-chevron-down clickable"></i> Foster Research, Intellectual Activity and Creative Expression</h4></a>
      <div id="fosterResearch" class="content">
        The University of Wisconsin Oshkosh will sustain, support, and enhance a vigorous scholarly environment for research, intellectual activity, and creative expression. We will encourage faculty, students, and staff to generate and maintain connections to professional communities and the people, institutions, and communities we serve. Faculty, staff, and students will seek opportunities to work together to discover, share, and apply knowledge.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#expandOutreach"><h4><i class="fa fa-chevron-down clickable"></i> Expand Regional Outreach and Domestic and International Partnerships</h4></a>
      <div id="expandOutreach" class="content">
        The University of Wisconsin Oshkosh will expand and support collaborative relationships that contribute to the development of knowledge and its application in new situations while maintaining its core values. We encourage principled and responsive relationships that draw on the ideas, ambitions, and talents of the university and its external partners.
      </div>
    </dd>
  </dl>
</p>

<p class="drop-down-nav">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#promoteLeadership"><h4><i class="fa fa-chevron-down clickable"></i> Promote Representative Leadership, Responsive Shared Governance and Flexible Resource Stewardship</h4></a>
      <div id="promoteLeadership" class="content">
        The University of Wisconsin Oshkosh will promote accessible, representative, and altruistic leadership, responsive shared governance, and flexible resource stewardship. We will be broad, open, and inclusive in governance processes and will align our human, physical, and financial resources to meet our established priorities.
      </div>
    </dd>
  </dl>
</p>
