<h1 class="news-heading">Colleges</h1>

<h4><a href="http://www.uwosh.edu/cob">College of Business</a></h4>
<p class="drop-down-nav">
  Innovation, excellence, quality and connections define UW&nbsp;Oshkosh's College of Business. The only nationally accredited business school in the region, the college is in the top 15 percent of all business schools in the U.S., according to the Association to Advance Collegiate Schools of Business (<acronym title="Association to Advance Collegiate Schools of Business">AACSB</acronym>). Whether your professional aspirations involve finance, marketing or management, seven undergraduate majors and four master's degree programs provide a wealth of transformative educational opportunities.
</p>

<h4><a href="http://www.uwosh.edu/coehs">College of Education and Human Services</a></h4>
<p class="drop-down-nav">
  UW&nbsp;Oshkosh's College of Education and Human Services is long recognized as a leader in education. Boasting 217 Herb Kohl Teacher of the Year recipients as alumni, the College prides itself on producing some of the best teachers in the state. Quality courses and hands-on experience play an integral role in preparing students to become leading educators, human services professionals and counselors. You can choose from six undergraduate majors and a variety of master's degree and licensure programs.
</p>

<h4><a href="http://www.uwosh.edu/cols">College of Letters and Science</a></h4>
<p class="drop-down-nav">
  The College of Letters and Science is the largest and most varied college at the University, with more than 325 faculty and staff members. You can choose from more than 35 undergraduate majors and six master's degree programs. Academic degrees span the sciences, arts, humanities and social sciences. Together, academic departments and faculty members have won eight Board of Regents Teaching Excellence Awards, more than any other UW&nbsp;System institution.
</p>

<h4><a href="http://www.uwosh.edu/con">College of Nursing</a></h4>
<p class="drop-down-nav">
  The College of Nursing provides undergraduate, graduate and doctorate nursing students with the expert knowledge, clinical practice skills and critical thinking ability required of today's healthcare industry. As the largest producer of baccalaureate nursing graduates in the state and the largest major on campus, the College is fully accredited by the Commission on Collegiate Nursing Education at both the undergraduate and graduate levels, ensuring you receive top-quality training and education. College of Nursing graduates consistently exceed the national pass rate for the National Licensure Examination for Registered Nurses (<acronym title="National Licensure Examination for Registered Nurses">NCLEX-RN</acronym>), a testament to the college's excellence.
</p>
