<h3 class="news-heading">Family Weekends</h3>

<h4>Family Weekend Opportunities</h4>
<p class="drop-down-nav text-justify">
  We also invite you to visit your student on campus at UW&nbsp;Oshkosh. In particular, parents often enjoy coming to Oshkosh each fall for the following campus and community-wide events:<br>
  <br>
  Fall Fest on the Fox<br>
  Join us on Friday, Sept. 19 and Saturday, Sept. 20!
</p>

<p class="drop-down-nav text-justify">
  Families are invited to a two-day festival of recreation and entertainment held annually in September. Activities include a fabulous <a href="http://www.uwosh.edu/fallfest/fish-fry-on-the-fox">Fish Fry on the Fox</a> with music and horse-drawn carriage tours of campus, a hearty <a href="http://www.uwosh.edu/fallfest/parents-breakfast">Breakfast with the Chancellor</a> and the <a href="http://www.uwosh.edu/fallfest/dragonboat-festival">Oshkosh Community Dragonboat Race and Festival</a> held at the Leach Amphitheater.
</p>

<h4>Homecoming</h4>
<p class="drop-down-nav text-justify">
  This year's <a href="http://www.uwosh.edu/homecoming">Homecoming</a> festivities are on Saturday, October 18<br>
  UW Oshkosh’s annual homecoming festivities include a bike ride, pre-game celebration and Titans football game.
</p>

<p class="drop-down-nav text-justify">
  We hope to see you around campus!
</p>
