<div id="sustainabilityDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--sustainability">
  <div class="row">
    
    <div class="large-24 columns">
      <h3>Meet SUSTAINABILITY.</h3>
    </div>
    
    <div class="large-12 columns">
      <p>Our more than 650 faculty and academic staff are dedicated to student success, by providing support services, opportunities for learning, collaboration and growth. Through the innovative University Studies Program general education reform, our more than 13,700 students gain knowledge in sustainability, civic learning and intercultural knowledge. UW&nbsp;Oshkosh is where your goals meet success.</p>
    </div>
    
    <div class="large-12 columns">
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            13,700
          </div>
        </div>
        <div class="media__body">
          Number of students pursuing an undergraduate or graduate degree at UW&nbsp;Oshkosh
        </div>
		  </div>
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            100+
          </div>
        </div>
        <div class="media__body">
          minors, emphases and options are offered at UW&nbsp;Oshkosh. 
        </div>
		  </div>
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            60
          </div>
        </div>
        <div class="media__body">
          UW&nbsp;Oshkosh is home to 60 undergraduate academic majors. 
        </div>
		  </div>
      
    </div>
    
  </div>
</div>