<div id="sustainabilityDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--sustainability">
  <div class="row">
    <div class="large-12 columns"><h3>Meet SUSTAINABILITY.</h3></div>
    <div class="large-6 columns">
      <p>Curabitur est gravida et libero vitae dictum. Quam temere in vitiis, legem sancimus haerentia. Curabitur est gravida et libero vitae dictum. Sed haec quis possit intrepidus aestimare tellus. Fictum,  deserunt mollit anim laborum astutumque! Inmensae subtilitatis, obscuris et malesuada fames.</p>
    </div>
    <div class="large-6 columns">
      <p>Curabitur est gravida et libero vitae dictum. Quam temere in vitiis, legem sancimus haerentia. Curabitur est gravida et libero vitae dictum. Sed haec quis possit intrepidus aestimare tellus. Fictum,  deserunt mollit anim laborum astutumque! Inmensae subtilitatis, obscuris et malesuada fames.</p>
    </div>
  </div>
</div>