<div id="leadershipDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--leadership">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet LEADERSHIP.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">Led by the dedicated and accomplished Chancellor Richard H. Wells, the University of Wisconsin Oshkosh's administration continues to drive Wisconsin forward by providing high-quality, affordable and comprehensive education to our students and community. Students, faculty, staff and the community are given numerous avenues at UW&nbsp;Oshkosh to contribute to the Wisconsin Idea, through research and volunteering.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--leadership--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--large">
            82,000
          </div>
        </div>
        <div class="media__body drop-down-nav">
          alumni's positive impact spreads throughout the country and truly defines Titan pride!
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            1,700
          </div>
        </div>
        <div class="media__body drop-down-nav">
          faculty and staff lead the University in a revolutionary general education reform
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--leadership--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--small">
            29
          </div>
        </div>
        <div class="media__body drop-down-nav">
          <acronym title="University of Wisconsin Oshkosh">UWO</acronym>'s rank in the Sierra Club's Cool Schools list for sustainability
        </div>
		  </div>

    </div>

  </div>
</div>
