<div id="sustainabilityDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--sustainability">
  <div class="row">
    
    <div class="large-24 columns">
      <h3>Meet SUSTAINABILITY.</h3>
    </div>
    
    <div class="large-12 columns">
      <p>From biodigesters converting food and yard waste into biogases burned as energy to the first university in the U.S. designated as a Fair Trade Campus, UW&nbsp;Oshkosh is committed to environmental stewardship. Students gain a basic understanding of sustainability through the University Studies Program by addressing the question, &ldquo;how do people understand and create a more sustainable world?&rdquo;</p>
    </div>
    
    <div class="large-12 columns">
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            3
          </div>
        </div>
        <div class="media__body">
          LEED Certified buildings meeting the U.S. Green Building Council Standards
        </div>
		  </div>
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            101,000
          </div>
        </div>
        <div class="media__body">
          number of rides on the GO Transit buses taken by UW Oshkosh community members 
        </div>
		  </div>
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            8
          </div>
        </div>
        <div class="media__body">
          percent of the University’s energy is produced by our on-campus biodigester 
        </div>
		  </div>
      
    </div>
    
  </div>
</div>