<div id="responsivenessDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--responsiveness">
  <div class="row">
    
    <div class="large-24 columns">
      <h3>Meet RESPONSIVENESS.</h3>
    </div>
    
    <div class="large-12 columns">
      <p>Stretching beyond campus, UW&nbsp;Oshkosh's responsiveness to our region's, state's and nation's economic and leadership demands is evident through our colloborations throughout the region. The University provides an array of services to small businesses, organizations, has the Oshkosh Sports Complex as an exceptional community athletic venue for high school and middle school teams and provides learning opportunities for retired community members.</p>
    </div>
    
    <div class="large-12 columns">
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            16,000+
          </div>
        </div>
        <div class="media__body">
          number of uninsured Winnebago County residents the Living Healthy Community Clinic serves
        </div>
		  </div>
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            9,000
          </div>
        </div>
        <div class="media__body">
          jobs created directly and indirectly by UW&nbsp;Oshkosh initiatives 
        </div>
		  </div>
      
      <div class="media">
        <div class="media__img" href="#">
          <div>
            100
          </div>
        </div>
        <div class="media__body">
          Wisconsin beaches monitored by UW&nbsp;Oshkosh students for E. coli analysis
        </div>
		  </div>
      
    </div>
    
  </div>
</div>