<h3 class="news-heading text-justify">The University of Wisconsin Oshkosh &#8212; Where Excellence and Opportunity Meet</h3>

<p class="drop-down-nav text-justify">
  With 60 undergraduate degrees, more than 100 minors, 15 graduate programs and a doctoral program, UW&nbsp;Oshkosh is your place to find your path, grow your world, learn to lead and succeed.
</p>

<p class="drop-down-nav text-justify">
  As the third largest university in the state with more than 13,700 students, UW&nbsp;Oshkosh provides opportunities to explore your interests and passions.
</p>

<p class="drop-down-nav text-justify">
  UW&nbsp;Oshkosh is where you meet education, leadership, responsiveness, service and sustainability.
</p>
