<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelAbout"><div class="title-gradient">{{ page.title }}</div></a>
    <div id="panelAbout" class="content active">
      <ul class="side-nav">
        <li><a href="#">Welcome from the Chancellor</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
        <li><a href="#">Fast Facts</a></li>
        <li><a href="#">Points of Pride</a></li>
        <li><a href="#">Four Pillars</a></li>
        <li><a href="#">Mission, Vision and Core Values</a></li>
        <li><a href="#">Collaboration and Partnerships</a></li>
        <li><a href="#">The College Portrait</a></li>
        <li><a href="#">Annual Report</a></li>
        <li><a href="#">Campus Tour</a></li>
        <li><a href="#">Contact UW Oshkosh</a></li>
      </ul>
    </div>
  </dd>
</dl>
