<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelAbout"><div class="title-gradient">About UW&nbsp;Oshkosh <i class="fa fa-chevron-down right clickable"></i></div></a>
    <div id="panelAbout" class="content active">
      <ul class="side-nav">
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/welcome-from-the-chancellor.html">Welcome from the Chancellor</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/fast-facts.html">Fast Facts</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/points-of-pride.html">Points of Pride</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/mission-vision-and-core-values.html">Mission, Vision and Core Values</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/collaboration-and-partnerships.html">Collaboration and Partnerships</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/the-college-portrait.html">The College Portrait</a></li>
        <li><a href="http://www.uwosh.edu/strategicplan/">Annual Report</a></li>
        <li><a href="http://www.uwosh.edu/map/main">Campus Tour</a></li>
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/contact-uw-oshkosh.html">Contact UW Oshkosh</a></li>
      </ul>
    </div>
  </dd>
</dl>
