<div class="slideshow-wrapper">
  <div class="preloader"></div>
  <ul class="about-slider" data-orbit data-options="slide_number:false;timer_speed:6000;resume_on_mouseout:true;animation:fade">
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/education-photo.jpg" alt="Education photo" />
      <div class="orbit-caption caption--education hide-for-small">
        <p>Meet EDUCATION.</p>
      </div>
    </li>
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/leadership-photo.jpg" alt="Leadership photo" />
      <div class="orbit-caption caption--leadership hide-for-small">
        <p>Meet LEADERSHIP.</p>
      </div>
    </li>
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/responsiveness-photo.jpg" alt="Responsiveness photo" />
      <div class="orbit-caption caption--responsiveness hide-for-small">
        <p>Meet RESPONSIVENESS.</p>
      </div>
    </li>
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/service-photo.jpg" alt="Service photo" />
      <div class="orbit-caption caption--service hide-for-small">
        <p>Meet SERVICE.</p>
      </div>
    </li>
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/sustainability-photo.jpg" alt="Sustainability photo" />
      <div class="orbit-caption caption--sustainability hide-for-small">
        <p>Meet SUSTAINABILITY.</p>
      </div>
    </li>
  </ul>
</div>
