<div class="slideshow-wrapper">
  <div class="preloader"></div>
  <ul data-orbit>
    <li>
      <img src="http://lorempixel.com/1152/420/city" alt="Pillar 1" />
      <div class="orbit-caption">
        <p>Meet EDUCATION.</p>
      </div>
    </li>
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/leadership-photo.jpg" alt="Leadership photo" />
      <div class="orbit-caption">
        <p>Meet LEADERSHIP.</p>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/1152/420/sports" alt="Pillar 3" />
      <div class="orbit-caption">
        <p>Meet RESPONSIVENESS.</p>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/1152/420/people" alt="Pillar 4" />
      <div class="orbit-caption">
        <p>Meet SERVICE.</p>
      </div>
    </li>
    <li>
      <img src="{{ site.baseurl }}/img/about-uw-oshkosh/sustainability-photo.jpg" alt="Sustainability photo" />
      <div class="orbit-caption">
        <p>Meet SUSTAINABILITY.</p>
      </div>
    </li>
  </ul>
</div>