<h3 class="news-heading">Titan Services and Campus Resources</h3>

<p class="body-content">
  The following resources are important tools that aid current students, faculty and staff in their everyday work/school endeavors.
</p>

<ul class="custom-bullets">
  <li><a title="Site Index" href="site-index">Site Index</a>
  </li>
  <li><a href="http://www.uwosh.edu/directory/">Directory</a>
  </li>
  <li><a href="http://www.gmail.com">Gmail</a>
  </li>
  <li><a href="http://www.uwosh.edu/registrar/titanweb/">Titan Web</a>
  </li>
  <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action">Titan Files</a>
  </li>
  <li><a href="https://my.wisconsin.edu/">My UW System</a>
  </li>
  <li><a href="http://www.uwosh.edu/d2l/">Desire2Learn (D2L)</a>
  </li>
  <li><a href="http://www.uwosh.edu/library/">Polk Library</a>
  </li>
  <li><a href="http://www.uwosh.edu/myuwo">MyUWO</a>
  </li>
</ul>

<h4>Other Campus Resources</h4>
<ul class="custom-bullets">
  <li><a href="http://www.uwosh.edu/titanapps">Titan Apps</a>
  </li>
  <li><a href="https://www.myinterfase.com/uwosh/Account/LogOn?ReturnUrl=%2fuwosh%2fstudent%2f">Titan Jobs</a>
  </li>
  <li><a href="http://uwoorgs.orgsync.com/">Student Clubs &amp; Organizations</a>
  </li>
  <li><a href="http://www.uwosh.edu/irc/">Instructional Resource Center (IRC)</a>
  </li>
</ul>
