<h1 class="news-heading">Certificate Programs</h1>

<p class="drop-down-nav">
  The University of Wisconsin Oshkosh offers a variety of certificate options for students and non-students. Choose from non-credit, credit and graduate-level certificate programs.
</p>

<h4>Non-credit Certificates</h4>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/cob/wfsi">Certified Financial Planner&trade; (CFP) Certification Courses</a></li>
  <li><a href="http://www.uwosh.edu/llce/conted/pdp/for-firefighters/wesa">Chief Officer Program</a></li>
  <li><a href="http://wfbf.uwosh.edu/Assets/basics.php">Family Business Education Certificate</a></li>
  <li><a href="http://www.uwosh.edu/llce/conted/certificate-programs/fundraising-and-resource-development-certificate/fundraising-and-resource-development">Fundraising and Resource Development Certificate</a></li>
  <li><a href="http://www.uwosh.edu/llce/conted/certificate-programs/nonprofit-leadership">Nonprofit Leadership Certificate</a></li>
  <li><a href="http://www.uwosh.edu/llce/conted/certificate-programs/paralegal">Paralegal Certificate</a></li>
 
</ul>
<br>
<h4>For Credit Certificates</h4>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/coehs/departments/human-kinetics-health-education/programs/adventure-and-outdoor-pursuits-certificate">Adventures and Outdoor Pursuits Certificate</a></li>
  <li><a href="http://www.uwosh.edu/coehs/departments/litlang/programs/bilingual-reading-teacher-certificate-program">Bilingual Reading Teacher Certificate</a></li>
  <li><a href="http://www.uwosh.edu/coehs/departments/human-kinetics-health-education/programs/coaching-certificate">Coaching Certificate</a></li>
  <li><a href="http://www.uwosh.edu/cob/future-students/undergraduate/academics/cpa-certificate">CPA Certificate</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/certificates/ferm-leadership-certificate">Fire and Emergency Response Management certificate</a></li>
  <li><a href="https://www.uwosh.edu/llce/cnl/programs/certificates">Leadership Development Certificate</a></li>
  <li><a href="https://www.uwosh.edu/llce/cnl/programs/certificates">Leadership and Organizational Studies Certificate</a></li>
  <li><a href="https://www.uwosh.edu/llce/cnl/programs/certificates">Organizational Administration Certificate</a></li>
  <li><a href="http://www.uwosh.edu/llce/cnl/programs/certificates/workplace-communication-1">Workplace Communication Certificate</a></li>
</ul>
<br>
<h4>Graduate-level Certificates</h4>

<h5>Business Administration</h5>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/cob/graduate/professional-mba/certificates">Business Foundations</a></li>
</ul>
<br>
<h5>Education Leadership</h5>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership/programs/athletic-exercise-leadership">Athletics Program Leadership</a></li>
  <li><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership/programs/educational-administration-elpa-program">Educational Administration for Principal Licensure</a></li>
  <li><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership/programs/social-justice-certificate">Leadership for Social Justice</a></li>
  <li><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership/programs/ptae-certificate-program">Leadership in Post-Secondary, Technical and Adult Education</a></li>
  <li><a href="http://www.uwosh.edu/coehs/departments/human-services-educational-leadership/Ed_Leadership/programs/library-media-licenses-902-initial-902-professional-91">Library Media Licensure</a></li>
</ul>
<br>
<h5>English</h5>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/gradstudies/certificate-and-degree-programs/creative-writing-certificate-english">Creative Writing</a></li>
  <li><a href="http://www.uwosh.edu/gradstudies/certificate-and-degree-programs/new-literatures-certificate-english">New Literatures</a></li>
</ul>
<br>
<h5>Nursing</h5>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/con/college-of-nursing-programs/graduate/graduate-certificate-programs">Clinical Nurse Leader (CNL)</a></li>
</ul>
<br>
<h5>Public Administration</h5>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/publicadministration/healthcare-management-certificate-1">Healthcare Management</a></li>
</ul>
<br>
<h5>Special Education</h5>
<ul class="drop-down-nav custom-bullets">
  <li><a href="http://www.uwosh.edu/coehs/degrees-and-programs/departments/department-of-special-education/autism-spectrum-disorder">Autism Spectrum Disorders</a></li>
</ul>
