<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Pure CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

  </head>
  <body>

    <div class="content">

      <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Academics</a></li>
            <li><a href="#">Admissions</a></li>
            <li><a href="#">Athletics</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Calendars</a></li>
            <li><a href="#">Titan Services</a></li>
          </ul>
        </div>
      </div>

      <div class="audience pure-g-r">
        <div class="pure-u-1-6">Wordmark</div>
        <div class="pure-u-1-2">
          <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
              <li><a href="#">Future Students</a></li>
              <li><a href="#">Parents</a></li>
              <li><a href="#">Faculty and Staff</a></li>
              <li><a href="#">Current Students</a></li>
              <li><a href="#">Community and Visitors</a></li>
            </ul>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
              <li><a href="#">TitanApps</a></li>
              <li><a href="#">TitanWeb</a></li>
              <li><a href="#">Directory</a></li>
              <li><a href="#">D2L</a></li>
              <li><a href="#">My UW System</a></li>
            </ul>
            <form class="pure-form">
              <input type="text" class="pure-input-rounded">
              <button type="submit" class="pure-button">Search</button>
            </form>
          </div>
        </div>
      </div>

      <div class="pillar">
        <img src="http://placehold.it/1136x400" alt="Pillar Image">
      </div>

      <div class="cta-events pure-g-r">
        <div class="pure-u-1-4">
          <img src="http://placehold.it/272x48/75b8d8/ffffff&text=Visit+Campus" alt="Visit Campus">
          <img src="http://placehold.it/272x48/e68600/ffffff&text=Take+a+Virtual+Tour" alt="Take a Virtual Tour">
          <img src="http://placehold.it/272x48/c05600/ffffff&text=Apply+Now" alt="Apply Now">
        </div>
        <div class="pure-u-3-4">
          <p>Events <a href="#">View More Events -></a></p>
          <div class="pure-g-r">
            <div class="pure-u-1-3">
              <p>Spring Commencement</p>
            </div>
            <div class="pure-u-1-3">
              <p>Admissions: Titan Preview</p>
            </div>
            <div class="pure-u-1-3">
              <p>Mobile App Development Class</p>
            </div>
          </div>
        </div>
      </div>

      <div class="news-feed pure-g-r">
        <div class="pure-u-1-3">
          <img src="http://placehold.it/368x416" alt="Campus News">
        </div>
        <div class="pure-u-1-3">
          <img src="http://placehold.it/368x416" alt="Research News">
        </div>
        <div class="pure-u-1-3">
          <img src="http://placehold.it/368x416" alt="Powering Community">
        </div>
      </div>

      <div class="view-more">
        <a href="#"><img src="http://placehold.it/1136x32" alt="View More"></a>
      </div>

    </div> <!-- /content -->

  </body>
</html>
