<div class="row">
	<div class="small-24 columns">
		<h4>Events <small>View More Events -></small></h4>
	</div>
</div>
<div class="row">
{% jsonball events from url http://feeds.uwosh.edu/api/v1/index.php/events/public %}
{% for event in events.value.items limit: 3 %}
	<div class="large-8 small-24 columns">
		<div class="media">
			<a class="media__img" href="#">
				<div class="event-item__calendar">
					<div class="event-item__calendar--month">{{ event['ev:tribe_event_meta']['ev:startdate'] | date: "%b"}}</div>
					<div class="event-item__calendar--day">{{ event['ev:tribe_event_meta']['ev:startdate'] | date: "%d"}}</div>
				</div>
			</a>
			<div class="media__body">
				<h4 class="event-item__title body-content">{{ event.title }}</h4>
				<div class="event-item__time body-content">{{ event['ev:tribe_event_meta']['ev:startdate'] | date: "%I:%M %p"}}</div>
				<div class="event-item__location body-content"><a href="{{ event.link }}">{{ event.link }}</a></div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
