<div class="row">
	<div class="small-24 columns">
		<h4>Events <a href="http://www.uwosh.edu/today/events"><small>View More Events <i class="fa fa-arrow-right"></i></small></a></h4>
	</div>
</div>
<!--<div class="row">
{% jsonball events from url http://feeds.uwosh.edu/api/v1/index.php/events/public %}
{% for event in events.value.items limit: 3 %}
	<div class="large-8 medium-8 small-24 columns">
		<div class="media">
			<a class="media__img" href="{{ event.link }}">
				<div class="event-item__calendar">
					<div class="event-item__calendar--month">{{ event['ev:tribe_event_meta']['ev:startdate'] | date: "%b"}}</div>
					<div class="event-item__calendar--day">{{ event['ev:tribe_event_meta']['ev:startdate'] | date: "%d"}}</div>
				</div>
			</a>
			<div class="media__body">
				<h4 class="event-item__title body-content">{{ event.title }}</h4>
				<div class="event-item__time body-content">{{ event['ev:tribe_event_meta']['ev:startdate'] | date: "%I:%M %p"}}-{{ event['ev:tribe_event_meta']['ev:enddate'] | date: "%I:%M %p"}}</div>
				<div class="event-item__location body-content"><a href="{{ event.link }}">View event <i class="fa fa-arrow-right"></i></a></div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>-->

{% raw %}
<div class="row fade" ng-class="{in:events.length}" ng-controller="EventsCtrl">
	<div class="large-8 medium-8 small-24 columns" ng-repeat="event in events|limitTo:3">
		<div class="media">
			<a class="media__img" href="{{ event.link }}">
				<div class="event-item__calendar">
					<div class="event-item__calendar--month">{{ event['ev:tribe_event_meta']['ev:startdate'] | cleanDate | date:'MMM' }}</div>
					<div class="event-item__calendar--day">{{ event['ev:tribe_event_meta']['ev:startdate'] | cleanDate | date:'dd' }}</div>
				</div>
			</a>
			<div class="media__body">
				<h4 class="event-item__title body-content">{{ event.title }}</h4>
				<div class="event-item__time body-content">{{ event['ev:tribe_event_meta']['ev:startdate'] | cleanDate | date: 'h a' }}-{{ event['ev:tribe_event_meta']['ev:enddate'] | cleanDate | date: 'h a' }}</div>
				<div class="event-item__location body-content"><a href="{{ event.link }}">View event <i class="fa fa-arrow-right"></i></a></div>
			</div>
		</div>
	</div>
</div>
{% endraw %}
