{% raw %}
<div class="fade" ng-class="{in:posts.length}" ng-controller="TitanPanelCtrl">
	<div class="large-8 medium-8 small-24 columns">
		<div id="iAmATitanPanel" class="panel panel--home panel--dark-yellow">
			<div class="panel__category uppercase"><a href="http://www.uwosh.edu/faces/category/i-am-a-titan/">I am a Titan <i class="fa fa-arrow-right"></i></a></div>
			<div class="panel__equalizer" data-equalizer-watch>
				<h2 class="panel__news-heading" ng-bind-html="post.title"></h2>
				<div ng-if="post.custom_fields.youtube_id[0]">
					<div id="iAmATitanVideo" class="panel__video-wrapper">
						<div class="youtube" id="{{post.custom_fields.youtube_id[0]}}" style="height:189px;"></div>
					</div><br>
				</div>
				<div ng-if="!post.custom_fields.youtube_id[0]">
					<div class="panel__video-wrapper">
						<img ng-src="{{ post.thumbnail_images.medium.url }}" class="panel__image--home" alt="{{ post.title }}" />
					</div><br>
				</div>
				<div class="panel__excerpt body-content">
					<span ng-bind-html="excerpt | characters:130"></span><span> <a href="{{ post.url }}" id="iAmATitanFullStory">Read the full story &hellip;</a></span>
				</div>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time datetime="{{ post.date }}"> {{ post.date | fromNow }}</time></span>
		</div>
	</div>
</div>
{% endraw %}
