<div class="fade fade--meet-uwo">
	<div class="large-8 medium-8 small-24 columns">
		<div id="meetUwOshkoshPanel" class="panel panel--home panel--dark-green">
			<div class="panel__category uppercase"><a href="http://www.uwosh.edu/faces" class="meetUwOshkoshCategory">Meet UW&nbsp;Oshkosh <i class="fa fa-arrow-right"></i></a></div>
			<div class="panel__equalizer" data-equalizer-watch>
				<div class="meet-uwo-media"></div>
				<a href="" class="meetUwOshkoshFullStory meet-uwo-url"><h2 class="panel__news-heading meet-uwo-title">Story Title</h2></a>
				<div class="panel__excerpt body-content">
					<span class="meet-uwo-excerpt"></span>
				</div>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time datetime="" class="meet-uwo-postdate"></time></span>
		</div>
	</div>
</div>
