<div class="fade fade--research-news">
	<div class="large-8 medium-8 small-24 columns">
		<div id="researchNewsPanel" class="panel panel--home panel--dark-green">
			<div class="panel__category uppercase"><a href="http://www.uwosh.edu/today/research/" class="researchNewsCategory">Research News <i class="fa fa-arrow-right"></i></a></div>
			<div class="panel__equalizer" data-equalizer-watch>
				<div class="research-news-media"></div>
				<a href="" class="researchNewsFullStory research-news-url"><h2 class="panel__news-heading research-news-title">Story Title</h2></a>
				<div class="panel__excerpt body-content">
					<span class="research-news-excerpt"></span>
				</div>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time datetime="" class="research-news-postdate"></time></span>
		</div>
	</div>
</div>
