<div class="fade fade--uwotw">
	<div class="large-8 medium-8 small-24 columns">
		<div id="uwotwPanel" class="panel panel--home panel--dark-green">
			<div class="panel__category uppercase"><a href="http://www.uwosh.edu/today/category/uwotw/" class="uwotwCategory">UW Oshkosh This Week <i class="fa fa-arrow-right"></i></a></div>
			<div class="panel__equalizer" data-equalizer-watch>
				<div class="uwotw-media"></div>
				<a href="" class="studyAtUwoFullStory uwotw-url"><h2 class="panel__news-heading uwotw-title">Story Title</h2></a>
				<div class="panel__excerpt body-content">
					<span class="uwotw-excerpt"></span>
				</div>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time datetime="" class="uwotw-postdate"></time></span>
		</div>
	</div>
</div>
