{% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/faculty-five %}
{% for post in feed.posts %}
	<div class="large-8 medium-12 small-24 columns">
		<div class="panel panel--home panel--yellow">
			<span class="panel__category uppercase">Faculty Five <i class="fa fa-arrow-right"></i></span>
			<h2 class="panel__news-heading">{{ post.title }}</h2>
			<div class="panel__video-wrapper">
				{% if post.custom_fields.youtube_id != "" %}
					<div class="youtube" id="{{post.custom_fields.youtube_id}}" style="height:189px;"></div>
				{% else %}
					<img data-original="{{ post.thumbnail_images.medium.url }}" src="{{site.baseurl}}/img/grey.gif" class="panel__image--home lazy" />
				{% endif %}
			</div><br>
			<div class="panel__excerpt">
				<p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
		</div>
	</div>
{% endfor %}
