<!--{% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/i-am-a-titan %}
{% for post in feed.posts limit:1 %}
	<div class="large-8 medium-12 small-24 columns">
		<div class="panel panel--home panel--dark-yellow">
			<span class="panel__category uppercase"><a href="http://www.uwosh.edu/today/category/this-week-in-focus/">I am a Titan <i class="fa fa-arrow-right"></i></a></span>
			<h2 class="panel__news-heading">{{ post.title }}</h2>
			<div class="panel__video-wrapper">
				{% capture video %}{{ post.content | videophoto }}{% endcapture %}
				{% if video != "" %}
					<div class="youtube" id="{{video}}" style="height:189px;"></div>
				{% else %}
					<img data-original="{{ post.thumbnail_images.medium.url }}" src="{{site.baseurl}}/img/grey.gif" class="panel__image--home lazy" />
				{% endif %}
			</div><br>
			<div class="panel__excerpt">
				<p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time class="timeago" datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time></span>
		</div>
	</div>
{% endfor %}-->

{% raw %}
<div class="fade" ng-class="{in:posts.length}" ng-controller="TitanPanelCtrl">
	<div class="large-8 medium-12 small-24 columns">
		<div class="panel panel--home panel--dark-yellow">
			<span class="panel__category uppercase"><a href="http://www.uwosh.edu/today/category/i-am-a-titan">I am a Titan <i class="fa fa-arrow-right"></i></a></span>
			<h2 class="panel__news-heading" ng-bind-html="post.title">{{ post.title }}</h2>
			<div class="panel__video-wrapper">
				<img ng-src="{{ post.thumbnail_images.medium.url }}" class="panel__image--home" />
			</div><br>
			<div class="panel__excerpt body-content">
				<span ng-bind-html="excerpt | characters:130"></span><span> <a href="{{ post.url }}">Read more &hellip;</a></span>
			</div>
			<span class="panel__posted-date uppercase"><i class="fa fa-clock-o datetime"></i> <time datetime="{{ post.date }}"> {{ post.date | fromNow }}</time></span>
		</div>
	</div>
</div>
{% endraw %}
