<div class="slideshow-wrapper">
<div class="preloader"></div>
  <ul data-orbit>
    {% jsonball feed from url http://feeds.uwosh.edu/api/v1/index.php/news/service-pillar %}
    {% for post in feed.posts %}
    <li>
      <img class="pillar-image" src="{{ post.custom_fields.pillar_image }}" alt="Service Pillar" />
      <div class="orbit-caption">
        <p>{{ post.title }}</p>
        <p>{{ post.excerpt | strip_html | truncate: 130 }} <a href="{{ post.url }}">Read more &hellip;</a></p>
      </div>
    </li>
    {% endfor %}
    <li>
      <img class="pillar-image" src="{{site.baseurl}}/img/pillar2.jpg" alt="Pillar 2" />
      <div class="orbit-caption">
        <p>University of Wisconsin Oshkosh</p>
        <p>WHERE EXCELLENCE AND OPPORTUNITY MEET.</p>
      </div>
    </li>
    <li>
      <img class="pillar-image" src="{{site.baseurl}}/img/pillar3.jpg" alt="Pillar 3" />
      <div class="orbit-caption">
        <p>University of Wisconsin Oshkosh</p>
        <p>WHERE EXCELLENCE AND OPPORTUNITY MEET.</p>
      </div>
    </li>
    <li>
      <img class="pillar-image" src="{{site.baseurl}}/img/pillar4.jpg" alt="Pillar 4" />
      <div class="orbit-caption">
        <p>University of Wisconsin Oshkosh</p>
        <p>WHERE EXCELLENCE AND OPPORTUNITY MEET.</p>
      </div>
    </li>
  </ul>
</div>