<!DOCTYPE html>
<!--[if IE 9 ]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--
,   `,  ,    ,  `, ,    `: ,,,,,  ,,,`   `++.  , .,,,,,`,,    ,
#   ,'  ##   +` .+ #,   #, #::::  #.,## `#``#  # .::#::` #   #,
#   ,'  ##,  #` .+ `#   #  #      #   # ';     #    #    ,# ,#    +### ###.
#   ,'  # #  #` .+  #  ,+  #      #  ,# `#.    #    #     #,#     #  +.#
#   ,'  # ,# #` .+  '; #   #####  ###'   .##+  #    #      #,    ,;  ,;###
#   ,'  #  #,#` .+   # #   #      # ;+      #  #    #      #      #  # #
#   #.  #   #+` .+   #',   #      #  #`     #  #    #      #      `##. #
,#+#+   #   .#` .+   .#    #####  #  `# '#+#+  #    #      #


;    ;,   `; ,;   :##;     '##;     '##;     ;,    ::   ;##:   ;  `;     ;`
#    ##   ++ :#  +#.,#.  .#+.,##  `##..##    ##    +'  ##.:#`  #  .##    #.
#;  :+#   #` :#  #       #,       #,    :#   #+#   +'  #       #  .##'   #.
.#  #.#.  #  :#  #:     '#       ;#      #:  # #,  +'  #.      #  .# #   #.
 #  # ,# :#  :#  ,##;   #'       #'      ++  # `#  +'  '##:    #  .# ;#  #.
 #..#  # #,  :#    ;##` #'       #+      ++  #  +# +'    '##   #  .#  #' #.
 ;+#:  # #   :#      #+ ;#       :#      #,  #   #:++      #;  #  .#   # #.
  ##   '+#   :#  `   #+  #,    :  #;    '#   #    #''  `   #;  #  .#   :##.
  ##    #'   :#  ##:+#    ##:;##   ##::##    #    '#' `#+:##   #  .#    ##.
  ,,    ,    .,   '#'      :++.     :++,     ,     ,,   '#;    ,  `,     ,`


     `:+#######################+';:,.`                                     .',
 ;######+';:,,....,,:;'+#########################++';:,,..`````.,,:'+###+,
.#+:`                                 `.,:;'++######################':.
.

    `.          .`                              ``         ``
  +#####:     #####.  +#     '#   #'    ##   .######     '#####   #      #.
 ##,   '#+   ##   #   +#     '#   #'   ##   ,##   `##   `#:  ::   #      #.
+#      :#`  #,       +#     '#   #'  ##    #+      ##  +#        #      #.
#+       ##  #+       +#     '#   #' ##    ;#       .#  ;#        #      #.
#`       +#  +##:     +#+++++##   #+##     ##        #,  ##+`     #++++++#.
#        '#   ,####   +########   #'##     ##        #:   ####`   ########.
#.       ##      +#'  +#     '#   #' ##    ##        #.     .##   #      #.
##       #+       ##  +#     '#   #'  ##   .#       '#       `#   #      #.
.#;     ##   `    ##  +#     '#   #'  `##   ##     `#'   `   ,#   #      #.
 '##,.;##`  .##,.##   +#     '#   #'   .##   ##'.,###   ##'.'##   #      #.
   ####+     .####    ##     '#   #+    ,##   ;####.     +###'    #      #.

-->

<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js {{page.page-class }}" lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main role="main" id="main">
      {{ content }}
    </main>

    {% include footer.html %}

    <!--Production JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/uwosh.min.js"></script>
    <script src="{{ site.baseurl }}/js/custom-collapsible-panel.js"></script>

  </body>
</html>
