<ul class="small-block-grid-3 text-center">
  <li><a href="{{site.facebook}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" class="social-icon" alt="Facebook logo" /></a></li>
  <li><a href="{{site.twitter}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" class="social-icon" alt="Twitter logo" /></a></li>
  <li><a href="{{site.instagram}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-instagram.png" class="social-icon" alt="Instagram logo" /></a></li>
  <li><a href="{{site.youtube}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-youtube.png" class="social-icon" alt="YouTube logo" /></a></li>
  <li><a href="{{site.linkedin}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-linkedin.png" class="social-icon" alt="LinkedIn logo" /></a></li>
  <li><a href="{{site.pinterest}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-pinterest.png" class="social-icon" alt="Pinterest logo" /></a></li>
  <li><a href="{{site.flickr}}" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-flickr.png" class="social-icon" alt="Flickr logo" /></a></li>
</ul>

<!--<div class="row social-row">
  <div class="small-4 columns social-icons"><a href="{{site.facebook}}"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" class="social-icon" alt="Facebook logo" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.twitter}}"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" class="social-icon" alt="Twitter logo" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.youtube}}"><img src="{{site.baseurl}}/img/icons/icon-youtube.png" class="social-icon" alt="YouTube logo" /></a></div>
  <div class="small-4 columns social-icons"></div>
  <div class="small-4 columns social-icons"></div>
  <div class="small-4 columns social-icons"></div>
</div>
<div class="row social-row">
  <div class="small-4 columns social-icons"><a href="{{site.linkedin}}"><img src="{{site.baseurl}}/img/icons/icon-google.png" class="social-icon" alt="LinkedIn logo" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.pinterest}}"><img src="{{site.baseurl}}/img/icons/icon-pinterest.png" class="social-icon" alt="Pinterest logo" /></a></div>
  <div class="small-4 columns social-icons"><a href="{{site.flickr}}"><img src="{{site.baseurl}}/img/icons/icon-flickr.png" class="social-icon" alt="Flickr logo" /></a></div>
  <div class="small-4 columns social-icons"></div>
  <div class="small-4 columns social-icons"></div>
  <div class="small-4 columns social-icons"></div>
</div>-->
