<div id="heartDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--heart">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet HEART.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">Students are at the heart of all that we do. UW Oshkosh provides a hands-on, collaborative academic experience, promoting discovery in a community that celebrates inclusive excellence, fuels imagination, and champions critical thinking and opportunity in a supportive and caring environment. With a campus big enough to provide opportunity but small enough to provide support, student success is at the heart of all we do.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--heart--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            22.4
          </div>
        </div>
        <div class="media__body drop-down-nav">
          average ACT Score
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            38%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          rank in top quarter of their High School class
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--heart--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            45%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          first generation college students
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            12%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          diversity on campus
        </div>
		  </div>

    </div>

  </div>
</div>
