<div id="researchDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--research">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet RESEARCH.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">UW Oshkosh delivers a student-centered education that is not commonly associated with regional comprehensive universities - providing a full range of undergraduate and graduate research opportunities. Faculty members have strong research and publishing credentials while keeping their teaching a top priority.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--research--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            $12-$14
          </div>
        </div>
        <div class="media__body drop-down-nav">
          million: amount UW Oshkosh receives annually for research
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            3rd
          </div>
        </div>
        <div class="media__body drop-down-nav">
          most research of any public university in WI
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--research--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            55-65%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          of grant requests are awarded
        </div>
		  </div>

    </div>

  </div>
</div>
