<div id="serviceDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--service">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet SERVICE.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">Our passion is serving residents of Wisconsin, as we strive to meet people in the heart of the Oshkosh community and beyond through our volunteer efforts, charity support, research services and community events. Our students learn social responsibility through our general education program, the University Studies Program, and apply it in the classroom, at an internship and in the workplace.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--service--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            1<sup>st</sup>
          </div>
        </div>
        <div class="media__body drop-down-nav">
          civic engagement academic program offered in Wisconsin started in 2010
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            200
          </div>
        </div>
        <div class="media__body drop-down-nav">
          number of students who volunteer in the community during Hands On Oshkosh
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--service--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            $4
          </div>
        </div>
        <div class="media__body drop-down-nav">
          million is given in time and money to local charities
        </div>
		  </div>

    </div>

  </div>
</div>
