<div id="sustainabilityDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--sustainability">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet SUSTAINABILITY.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">Be a part of something bigger than yourself. The University of Wisconsin Oshkosh is ranked third in the country for its work in sustainability. This foundational element for UW Oshkosh is infused in our curriculum, our daily lives and demonstrates internationally what a university can do to change the world.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--sustainability--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            101,000
          </div>
        </div>
        <div class="media__body drop-down-nav">
          <acronym title="University of Wisconsin Oshkosh">UWO</acronym> faculty, staff and students ride City of Oshkosh buses
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            3
          </div>
        </div>
        <div class="media__body drop-down-nav">
          <acronym title="University of Wisconsin Oshkosh">UWO</acronym> LEED-Certified buildings
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--sustainability--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            50%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          UW Oshkosh’s on-campus biodigester produces eight percent of the University’s energy. Combined, the University’s on- and off-campus biodigesters are capable of generating up to 50 percent of the electricity campus uses.
        </div>
		  </div>

    </div>

  </div>
</div>
