<div id="opportunityOfPlaceDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--opportunity-of-place">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet OPPORTUNITY OF PLACE.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">The University of Wisconsin Oshkosh has a unique advantage being located in the highly populated northeast Wisconsin region. The region provides limitless opportunities for internships, employment, community service and research for students. The city of Oshkosh provides an urban setting with many amenities, making it a great place to live, work and play.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--opportunity-of-place--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--large">
            90%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          percent of career outcomes
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            91%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          of students remain in WI after graduation
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--opportunity-of-place--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            86%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          of students participate in research, study abroad or service learning
        </div>
		  </div>

    </div>

  </div>
</div>
