<div id="educationDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--education">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet EDUCATION.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">The newly launched general education at UW Oshkosh provides students with an assessable, common intellectual experience that also embraces the traditional breadth of a liberal arts education to prepare them for the challenges of work, engaged citizenship and a meaningful and satisfying life.  The new University Studies Program is being looked at nationally as a new model for general education in this country.</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--education--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            11,000+
          </div>
        </div>
        <div class="media__body drop-down-nav">
          of community impact in one semester
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            77%
          </div>
        </div>
        <div class="media__body drop-down-nav">
          Contributes to a 77% retention rate for <acronym title="University of Wisconsin Oshkosh">UWO</acronym> students
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--education--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            3
          </div>
        </div>
        <div class="media__body drop-down-nav">
          signature questions that provide a broad exploration of knowledge and the development of essential skills
        </div>
		  </div>

    </div>

  </div>
</div>
