<div id="sustainabilityDrawer" class="about-pillar__dropdown__container about-pillar__dropdown about-pillar__dropdown--sustainability">
  <div class="row">

    <div class="large-24 columns">
      <h3 class="banner-headline">Meet SUSTAINABILITY.</h3>
    </div>

    <div class="large-12 columns">
      <p class="drop-down-nav about-pillar__main-text">From biodigesters converting food and yard waste into biogases burned as energy to the first university in the U.S. designated as a Fair Trade Campus, UW&nbsp;Oshkosh is committed to environmental stewardship. Students gain a basic understanding of sustainability through the University Studies Program by addressing the question, &ldquo;how do people understand and create a more sustainable world?&rdquo;</p>
    </div>

    <div class="large-12 columns">

      <div class="media media--about-pillar about-pillar__dropdown--sustainability--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            3
          </div>
        </div>
        <div class="media__body drop-down-nav">
          LEED Certified buildings meeting the U.S. Green Building Council Standards
        </div>
		  </div>

      <div class="media media--about-pillar">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--large">
            101,000
          </div>
        </div>
        <div class="media__body drop-down-nav">
          number of rides on the GO Transit buses taken by UW Oshkosh community members
        </div>
		  </div>

      <div class="media media--about-pillar about-pillar__dropdown--sustainability--zebra">
        <div class="media__img" href="#">
          <div class="about-pillar__dropdown__figure--medium">
            8
          </div>
        </div>
        <div class="media__body drop-down-nav">
          percent of the University’s energy is produced by our on-campus biodigester
        </div>
		  </div>

    </div>

  </div>
</div>
