<h1 class="news-heading">Nine Things To Do Before You Graduate</h1>


<h4>1. Study Abroad</h4>
<p class="drop-down-nav">
  Ask anyone who’s been through college and they will say one of two things: they loved studying abroad or they regret not studying abroad. College is the perfect time to travel around the world. This is a time in your life where you will actually have time to spend a semester out of the country. The best way to study another culture is to immerse yourself in it rather than reading about it in a book. Learn more about international education opportunities at: <a href="uwosh.edu/oie">uwosh.edu/oie</a>
</p>


<h4>2. Study Different Areas of Interest</h4>
<p class="drop-down-nav">
  Chances are that you will change your major at some point during your college experience. Don’t worry, according to the <a href="https://nces.ed.gov">National Center for Education Services</a>, almost 80% of students change their major at least once. Take your time finding out what you really love and want to do in the future. Take courses in different areas not only to broaden your horizon, but also to find your true area of interest. Your advisers are also great resources for helping you explore career paths.
</p>


<h4>3. Attend a Career Fair</h4>
<p class="drop-down-nav">
  A career fair is an excellent resource for students. At UW Oshkosh, there are two career fairs each year in which hundreds of employers attend. Whether you are searching for a part-time job, full-time job, internship or are just there to gain experience, a career fair is extremely helpful for students. It is never too early to begin networking and creating professional relationships.
</p>


<h4>4. Explore Oshkosh</h4>
<p class="drop-down-nav">
  While there is so much to do on-campus, get away from campus every once in a while to explore the city of Oshkosh. From downtown to parks to music festivals, you can discover new things to do all of the time. Oshkosh is the home of Country and Rock USA music festivals, EAA AirVenture fly-in and much more.
</p>


<h4>5. Attend a UW Oshkosh Athletics Game</h4>
<p class="drop-down-nav">
  With 21 intercollegiate sports teams in addition to club sports at UW Oshkosh, there’s always something going on during the year. Be sure to get involved while in college. Scream your lungs out and cheer on the Titans. You might not be as loud as “Superfan,” but you will definitely have a good time.
</p>


<h4>6. Get an Internship</h4>
<p class="drop-down-nav">
  It is extremely important to gain professional workplace experience. Most internships will give you valuable training and experience for working down the road. Having an internship under your belt also looks great on your resume, and some programs at UW Oshkosh require it.
</p>


<h4>7. Go Somewhere for Spring Break</h4>
<p class="drop-down-nav">
  After a long Wisconsin winter, traveling somewhere warm for spring break is a must. Take some time off to relax during this week and travel. Whether it’s to Florida, the West coast or even out of the country, take a trip. You deserve it! If you don’t have any plans, check out the <a href="http://www.housing.uwosh.edu/get-involved/volunteerism/alternative-spring-break">Alternative Spring Break</a> (ASB). Through the ASB program, students have the opportunity to engage in volunteerism. Past trips have been to New York City, Honduras, Guatemala and elsewhere.
</p>


<h4>8. Get Involved</h4>
<p class="drop-down-nav">
  Meet new people and build life-long friendships—join a UW Oshkosh student organization!

  There are more than 100 student organizations and clubs at UW Oshkosh ranging from DJ Club to Model United Nations. If there is something you're interested in, but you don't see an organization—you can <a href="http://www.uwosh.edu/osa/organizations%20and%20Clubs">create your own</a>.

  View student organizations at: <a href="uwosh.collegiatelink.net">uwosh.collegiatelink.net</a>
</p>


<h4>9. Pull an All-Nighter In Polk</h4>
<p class="drop-down-nav">
  Polk Library is open 24-hours a day during finals week. It’s good to spread out your studying so that you don’t have to cram before exams, but sometimes it happens that you procrastinate to the point where you have to spend the night in Polk. Get jacked up on caffeine, set up camp in Polk, leave once the sun is up and ace that exam. 
</p>
