<h3 class="news-heading">Study at UW&nbsp;Oshkosh</h3>

<p class="drop-down-nav text-justify">
  Whether you are an undergraduate, graduate or nontraditional student, UW&nbsp;Oshkosh offers an array of quality, accessible and convenient degree options to match your unique aspirations.
</p>

<p class="drop-down-nav text-justify">
  Choose from 60 undergraduate majors, 13 master's degree programs, one doctoral degree program and more than 100 minors, emphases and options through UW&nbsp;Oshkosh's four colleges and the Division of Lifelong Learning and Community Engagement.
</p>
