<h3 class="news-heading">Study at UW&nbsp;Oshkosh</h3>

<p class="drop-down-nav">
  Whether you are an undergraduate, graduate or nontraditional student, UW&nbsp;Oshkosh offers an array of quality, accessible and convenient degree options to match your unique aspirations. All students receive an exceptional education, with 60 undergraduate majors, 13 master's degree programs, one doctoral degree program and more than 100 minors, emphases and options through the Center for New Learning and four colleges.
</p>