<div class="panel">
	<h3 class="panel__title title-gradient">Lifelong Learning and Community Engagement</h3>
	<div class="panel__content">
		<img src="{{ site.baseurl }}/img/academics/llce.jpg" alt="Family Weekends" class="img-responsive">
    <span class="panel__image__caption">Innovation, excellence, quality and connections define UW Oshkosh’s College of Business. The only nationally accredited business school in the region &hellip; <a href="http://www.uwosh.edu/cob">Read more &hellip;</a></span>
	</div>
</div>