<div class="panel">
	<a href="http://www.uwosh.edu/llce/conted/continuing-education-and-extension"><h3 class="panel__title title-gradient">Continuing Education <i class="fa fa-arrow-right right clickable"></i></h3></a>
	<div class="panel__content">
		<a href="http://www.uwosh.edu/llce/conted/continuing-education-and-extension"><img src="{{ site.baseurl }}/img/academics/continuing-education.jpg" alt="Family Weekends" class="img-responsive panel__image--non-accordion"></a>
    <p class="body-content panel__teaser">Expand your knowledge, skills and abilities through conferences and workshops, professional development opportunities, youth programs and camps and the Learning in Retirement program. <a href="http://www.uwosh.edu/llce/conted/continuing-education-and-extension">Read more &hellip;</a></p>
	</div>
</div>
