<div class="panel">
	<a href="http://www.uwosh.edu/cob"><h3 class="panel__title title-gradient">College of Nursing <i class="fa fa-arrow-right right clickable"></i></h3></a>
	<div class="panel__content">
		<a href="http://www.uwosh.edu/cob"><img src="{{ site.baseurl }}/img/academics/con.jpg" alt="Family Weekends" class="img-responsive panel__image panel__image--non-accordion"></a>
    <p class="body-content panel__teaser">Students gain expert knowledge and gain clinical practice skills required in the healthcare industry and can earn an undergraduate or graduate degree in nursing. <a href="http://www.uwosh.edu/cob">Read more &hellip;</a></p>
	</div>
</div>
