<div class="panel">
	<a href="http://www.uwosh.edu/cob"><h3 class="panel__title title-gradient">College of Nursing <i class="fa fa-arrow-right right clickable"></i></h3></a>
	<div class="panel__content">
		<a href="http://www.uwosh.edu/cob"><img src="{{ site.baseurl }}/img/academics/con.jpg" alt="Family Weekends" class="img-responsive panel__image panel__image--non-accordion"></a>
    <p class="body-content panel__teaser">Nursing students at UW&nbsp;Oshkosh can earn an undergraduate, graduate or doctorate degree in nursing. Students gain expert knowledge, clinical practice skills and critical thinking ability required in today's healthcare industry. <a href="http://www.uwosh.edu/cob">Read more &hellip;</a></p>
	</div>
</div>
