<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelAcademics"><div class="title-gradient">{{page.title}}</div></a>
    <div id="panelAcademics" class="content active">
      <ul class="side-nav">
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/majors-minors-and-emphases">Majors, Minors and Emphases</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/four-year-degree-programs">Programs</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/colleges">Colleges</a></li>
        <li><a href="#">Departments</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/academic-centers-and-programs">Centers and Programs</a></li>
        <li><a href="#">Undergraduate Research</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/academic-support">Learning Assistance Services</a></li>
        <li><a href="http://www.uwosh.edu/oie/index.php">International Study</a></li>
        <li><a href="http://www.uwosh.edu/provost/ger">Liberal Education</a></li>
        <li><a href="http://www.uwosh.edu/gradstudies">Graduate Studies</a></li>
        <li><a href="http://www.uwosh.edu/llce/conted">Continuing Education</a></li>
      </ul>
    </div>
  </dd>
</dl>
