<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelAcademics"><div class="title-gradient side-nav__title"><div class="side-nav__title__contents">Academics <i class="fa fa-minus right clickable"></i></div></div></a>
    <div id="panelAcademics" class="content active">
      <ul class="side-nav">
        <li><a href="{{ site.baseurl }}/about-uw-oshkosh/accreditation.html">Accreditation</a></li>
        <li><a href="{{ site.baseurl }}/academics/majors-minors-emphases.html">Majors, Minors and Emphases</a></li>
        <li><a href="{{ site.baseurl }}/academics/programs.html">Programs</a></li>
        <li><a href="{{ site.baseurl }}/academics/colleges.html">Colleges</a></li>
        <li><a href="{{ site.baseurl }}/academics/centers-and-programs.html">Centers and Programs</a></li>
        <li><a href="http://www.uwosh.edu/grants/students/research-opps">Undergraduate Research</a></li>
        <li><a href="{{ site.baseurl }}/academics/learning-assistance-services.html">Learning Assistance Services</a></li>
        <li><a href="http://www.uwosh.edu/oie">International Study</a></li>
        <li><a href="http://www.uwosh.edu/provost/Main%20Highlight/usp-program/essential-learning-outcomes">Liberal Education</a></li>
        <li><a href="http://www.uwosh.edu/gradstudies">Graduate Studies</a></li>
        <li><a href="http://www.uwosh.edu/llce/conted">Continuing Education</a></li>
      </ul>
    </div>
  </dd>
</dl>
