<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelAcademics"><div class="title-gradient">Academics</div></a>
    <div id="panelAcademics" class="content active">
      <ul class="side-nav">
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/accreditation">Accreditation</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/majors-minors-and-emphases">Majors, Minors and Emphases</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/four-year-degree-programs">Programs</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/colleges">Colleges</a></li>
        <li><a href="#">Departments</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/academic-centers-and-programs">Centers and Programs</a></li>
        <li><a href="#">Undergraduate Research</a></li>
        <li><a href="http://www.uwosh.edu/home/future-students/undergraduate/academics/academic-support">Learning Assistance Services</a></li>
        <li><a href="http://www.uwosh.edu/oie/index.php">International Study</a></li>
        <li><a href="http://www.uwosh.edu/provost/ger">Liberal Education</a></li>
        <li><a href="http://www.uwosh.edu/gradstudies">Graduate Studies</a></li>
        <li><a href="http://www.uwosh.edu/llce/conted">Continuing Education</a></li>
      </ul>
    </div>
  </dd>
</dl>
<a href="http://www.uwosh.edu/admissions/visit">
  <div class="cta cta--blue">
    <span class="cta__text">Visit Campus</span>
  </div>
</a>
<a href="https://apply.wisconsin.edu/">
  <div class="cta cta--dark-orange">
    <span class="cta__text">Apply Now</span>
  </div>
</a><br>
<dl class="accordion" data-accordion>
  <dd>
    <a href="#panelRelatedLinks"><div class="title-gradient">Related Links</div></a>
    <div id="panelRelatedLinks" class="content">
      <ul class="side-nav">
        <li><a href="#">First-Year Experience</a></li>
        <li><a href="#">Titan Web (schedule classes)</a></li>
        <li><a href="#">Academic Calendar</a></li>
        <li><a href="#">Student Organizations</a></li>
        <li><a href="#">Greek Life</a></li>
        <li><a href="#">Student Recreation and Wellness Center</a></li>
        <li><a href="#">Reeve Memorial Union</a></li>
        <li><a href="#">UW Oshkosh Athletics</a></li>
        <li><a href="#">University Books &amp; More</a></li>
        <li><a href="#">Children's Learning and Care Center</a></li>
        <li><a href="#">Polk Library</a></li>
        <li><a href="#">Disability Services</a></li>
        <li><a href="#">Campus Safety Resources</a></li>
        <li><a href="#">Veterans Resource Center</a></li>
        <li><a href="#">UW Oshkosh Today (campus&nbsp;news)</a></li>
        <li><a href="#">Advance-Titan (student&nbsp;newspaper)</a></li>
        <li><a href="http://www.uwosh.edu/summer">Summer Sessions</a></li>
      </ul>
    </div>
  </dd>
</dl>