<h3 class="news-heading">Calendars</h3>

<p class="drop-down-nav">
  UW&nbsp;Oshkosh provides the following calendars for students, faculty, staff and community members to discover the vast range of activities and events that occur on campus, as well as to learn about important academic dates and key deadlines.
</p>

<ul>
  <li><a href="http://www.uwosh.edu/provost/Main%20Highlight/calendars/calendars">Academic Calendar</a></li>
  <li><a href="http://www.uwosh.edu/registrar/registration-calendar">Add/Drop Deadlines (Registration Calendar)</a></li>
  <li><a href="http://uwoshkoshtitans.com">Athletic Events</a></li>
  <li><a href="http://www.uwosh.edu/today/events">Calendar of Events</a></li>
  <li><a href="https://uwosh.collegiatelink.net">Student Organization Events</a></li>
</ul>

<p class="drop-down-nav">
  Do you have an upcoming public event? Complete a form to request that your public event be included in the listing of public events sent to local media and public events calendar in UW&nbsp;Oshkosh Today. <a href="http://www.uwosh.edu/today/events/submit">Learn more</a>.
</p>
