<h3 class="news-heading">Resources for Parents and Family</h3>

<p class="drop-down-nav text-justify">
  Preparing for college is a significant period of transition for the entire family. While you share in your student's excitement for new opportunities, you undoubtedly have questions of your own. UW&nbsp;Oshkosh offers resources and support for families:
</p>

<ul class="custom-bullets">
  <li><a href="{{ site.baseurl }}/parents-family-friends/tips.html">Tips for Parents of First-Time College Students</a></li>
  <li><a href="{{ site.baseurl }}/parents-family-friends/recommended-reading.html">Recommended Reading</li>
  <li><a href="{{ site.baseurl }}/parents-family-friends/faqs.html">Frequently Asked Questions (<acronym title"Frequently Asked Questions">FAQ</acronym>)</li>
  <li><a href="http://www.uwosh.edu/admissions/visit">Visiting UW&nbsp;Oshkosh</li>
  <li><a href="{{ site.baseurl }}/parents-family-friends/family-weekends.html">Family Weekend Opportunities</li>
  <li><a href="http://www.uwosh.edu/today">UW Oshkosh Today - Campus News</li>
</ul>
